[2020-12-08 19:30] #4059 closed

[2020-12-08 19:30] #4064 closed

[2020-12-08 21:14] tacryt-socryp opened #4101 "Running `make install` causes "attribute isPath missing" error"
<img width="754" alt="Screen Shot 2020-12-08 at 3 14 00 PM" src="https://user-images.githubusercontent.com/1377557/101542273-2a0fe980-3968-11eb-8ec3-31f561883558.png">

On Linux on GCP after making sure to be on the master branch.

[2020-12-08 21:15] #4089 closed

[2020-12-08 21:26] Sneagan opened #4102 "Landscape Crashes on Missing Default Background Color"
**Describe the bug**
Landscape crashes when the background is set to an image (I think. See Additional context section).

**To Reproduce**
Steps to reproduce the behavior:
1. Load Landscape with a background image set.
2. Wait a second after render during which time the interface is intractable.
3. Experience crash

**Expected behavior**
Rendered interface should continue working.

**Desktop (plea

[2020-12-08 21:28] matildepark commented on #4102
If it's happening there then it means we don't have `/~/default` in contacts.

[2020-12-08 21:30] matildepark commented on #4102
We could at least catch this with option chaining and an elvis operator to fall back but I'd be curious why your migration is missing a contact entry here. Possibly the ship saved no metadata for itself, so the migration script imported ... nothing and didn't instantiate that entry or something.

[2020-12-08 21:39] Sneagan commented on #4102
I can see invites to things in notifications before the UI crashes. Not sure if I won't just hit another but immediately, but I made #4103 in case.

[2020-12-08 21:40] matildepark commented on #4102
You can always run the dev environment against your ship fairly easily, see the CONTRIBUTING doc in pkg/interface.

[2020-12-08 21:40] Sneagan commented on #4102
Ah great idea. Thanks.

[2020-12-08 21:46] matildepark commented on #3477
This is fixed in #3604. @ixv Is this integrated for all cases? Can anyone import / export as they need to?

[2020-12-08 21:49] deploradude opened #4104 "flagday.sh network breach instructions yields "dawn: invalid ship specified with -w ~/home/sampel-palnet""
**Describe the bug**
I followed the flagday.sh instructions and got the following:

[code]

[2020-12-08 22:33] Sneagan commented on #4102
I used #4103 to skip this error and discovered what is probably the root issue. I am able to operate my ship normally, but my profile page does not render at all. [See here](https://imgz.org/i6eYBcKC/)

[2020-12-08 22:43] matildepark commented on #4102
Yes, that's why I'm hesitant to merge #4103. I think this is a FLAGDAY issue where it isn't migrating your default contact, your "root identity". That said, there are known issues around the breach, and we'll [be breaching again shortly](https://twitter.com/urbit/status/1336439173243228160?s=20), so I don't know the status here. @ixv @philipcmonk @Fang-

[2020-12-08 23:09] thunderrabbit commented on #4104
Is this why https://bootstrap.urbit.org/flagday.sh is giving AccessDenied now?

[2020-12-08 23:10] philipcmonk commented on #4104
It's giving access denied because we need to re-run the breach: https://twitter.com/urbit/status/1336439173243228160

[2020-12-08 23:12] philipcmonk commented on #4104
@deploradude Can you give the output of `libhut-samwes-backup-20201208-214316/.urb/put/our.txt`

[2020-12-08 23:29] ixv commented on #4102
@Sneagan can you run `:contact-store +dbug [%state '(~(has by rolodex) /~/default)']`

[2020-12-09 00:00] deploradude commented on #4104
[code]

[2020-12-09 00:10] philipcmonk commented on #4104
sorry i meant `libhut-samwes-backup-20201208-214316/.urb/put/our.txt`

[2020-12-09 00:34] joemfb commented on #4101
This error means you have to upgrade your nix installation.

[2020-12-09 02:23] Sneagan commented on #4102
@ixv I ran it twice. Here is the result:

[code]

Strange to me that `%.y` was output before the echo both times but maybe that's normal.

[2020-12-09 04:21] matildepark commented on #4102
Oh wait. If you’re going in and out of different ships perhaps window.ship is being cached from another session? Does shift + refresh clear any of this stuff up?

[2020-12-09 04:55] Sneagan commented on #4102
Hard refresh changes nothing, unfortunately. This issue persists in `a1ssv`, if that means anything. Should I make a separate bug for the missing data if the Landscape issue isn't properly considered a bug? If so, what exactly is missing? Please forgive my ignorance. Learning!

[2020-12-09 09:51] timlucmiptev opened #4107 "v1.0-rc1 binary: Verbose Mode Stays On"
**Description**
The `-v` flag puts the ship permanently into verbose mode, even when exiting the binary and restarting without `-v`.

**To Reproduce**
Steps to reproduce the behaviour:
1. Get the v1.0-rc1 binary
2. Run a fakeship with `-v`: `./urbit -F zod -v`
3. Exit the ship, and run without `-v`

**Expected behaviour**
The 2nd time running, verbosity should be off. Instead, it continues.

**Sys

[2020-12-09 11:08] deploradude commented on #4104
Still the same:

[code]

[2020-12-09 11:18] Sidfyl commented on #4062
I ended up breaching after some flagday trouble, so I can no longer troubleshoot this. should I close?

[2020-12-09 13:32] Fang- opened #4108 "lib push-hook: og app can't always be distinguished"
Just got this error trace. It's somewhat unexpected, but that's not the point of this issue.

[code]

That points here:

https://github.com/urbit/urbit/blob/f37bf826848625450819e6ab0848bab1a07c1404/pkg/arvo/lib/push-hook.hoon#L293-L296

But (outside of looking at what things contact-view sends pokes to) there's no way for me to tell what `og` application was actually running here. Might be nice to

[2020-12-09 13:34] Fang- commented on #4062
Guessing this might have been a case solved by #4105.

[2020-12-09 14:31] mike-cr opened #4109 "Weather: "Loading, please check again later...""
**Describe the bug**
weather app shows "Loading, please check again later..." despite lat/long being correctly set

**To Reproduce**
Steps to reproduce the behavior:
1. ???

**Expected behavior**
Weather app should show weather

**Screenshots**
![2020-12-10_03h29m25s](https://user-images.githubusercontent.com/32793870/101642515-f9c76880-3a97-11eb-9ad5-03383a5798df.png)

**Desktop (please complete

[2020-12-09 14:42] tylershuster commented on #4109
I got this too with a "malformed URL" (or similar) error in the dojo. I got around it by entering my location without any non-alphanumerics (just my city name), but I'll take a look.

[2020-12-09 15:12] Fang- opened #4110 "landscape: repeated clog on group-store subscription"
I'm getting `%e %clogged` printfs relatively frequently. Decided to pop open the debug dashboard and see what specific subscription this is. Took a little bit before I caught it in the act, but:

<img width="1270" alt="image" src="https://user-images.githubusercontent.com/3829764/101647005-85a9a800-3a38-11eb-87d1-e71a195f348d.png">

(Note the right-hand "unacked events" column.)

Hitting refresh r

[2020-12-09 15:34] Fang- opened #4111 "invites stick to top of notifications, but overlap"
So their content visually overlaps as you scroll down. Wouldn't be as bad if they had backgrounds, but we probably don't want to pin them to top if there's this many, anyway.

![ttttt](https://user-images.githubusercontent.com/3829764/101650427-35344980-3a3c-11eb-97e1-38c98f2320bd.gif)

[2020-12-09 17:56] litpub commented on #4104
@deploradude the user you're logged in with can't access the file because it's owned by someone else (likely root).

1) Which system user are you logged in as?

2) Which user owns the contents of `libhut-samwes-backup-20201208-214316`? You can use the comand `ls -s` on most systems. Did you run flagday with sudo, that may be why. We should be able to fix this with `chown`, but let's see if that's

[2020-12-09 18:11] deploradude commented on #4104
I *should* have root access on this user, but could also run as root if that will make it easier.  I tried running it not as sudo then as sudo; same result.

ls -s yields:

[code]

[2020-12-09 18:14] litpub commented on #4104
I was looking for something more like this, where the owner and group are listed:

<img width="394" alt="Screen Shot 2020-12-09 at 1 12 52 PM" src="https://user-images.githubusercontent.com/61065763/101669694-7eba6f80-3a0f-11eb-90a1-88a6a68edf01.png">

What is your system user name that you're logged in as? `libhut-samwes` correct?

[2020-12-09 18:15] deploradude commented on #4104
libhut-samwes, that's right.

[code]

[2020-12-09 18:18] litpub commented on #4104
Alright ok, so if you `cd libhut-samwes-backup-20201209-171045/.urb/put/` and then do the same `ls -s` - who owns the files in that directory?

[2020-12-09 18:23] botter-nidnul commented on #4104
just FYI, `ls -s` just lists size. I think you mean `ls -l`

[2020-12-09 18:26] deploradude commented on #4104
[code]

[2020-12-09 18:31] litpub commented on #4104
Thanks @botter-nidnul, keyboard reflexes :P

Ok, so that all seems fine permissions wise, uh, so you really can't `cat our.txt`?

[2020-12-09 18:32] deploradude commented on #4104
I get this:

[code]

[2020-12-09 18:35] litpub commented on #4104
Alright, so the `SHIP` assignment is correct (it does cat our.txt just like you did inside of flagday.sh)

Assignment of SHIP happens here:

[code]

But it seems like what's being passed to the `-w` flag in the last line of the script, here:

`eval "${URBIT}/urbit" -L -w $SHIP -G $KEYSTRING -i "${URBIT}/archive.jam" -c "${PIER}"`

is... `~/home/libhut-samwes` per the error message

[2020-12-09 18:35] deploradude commented on #4104
Right.

[2020-12-09 18:36] litpub commented on #4104
Is this maybe a directory traversal thing?

Are you running flagday.sh from ~/ or from ~/urbit-breach?

[2020-12-09 18:36] deploradude commented on #4104
From ~/urbit-breach

[2020-12-09 18:45] litpub commented on #4104
Reading this very closely, I don't see how this is possible (not particularly helpful, but maybe for other eyes...)

`SHIP` is echoed here:

`echo "FLAGDAY: booting ${SHIP} in the new era and importing data"`

and in your output we see that got evaluated to

`FLAGDAY: booting ~libhut-samwes in the new era and importing data`

so ~libhut-samwes is what should be getting passed here

`eval "${URBIT}

[2020-12-09 19:18] joemfb commented on #4107
Not a new bug, but a bug nonetheless. Easy to fix now, as the verbose event is not (just) a toggle.

[2020-12-09 19:20] timlucmiptev commented on #4111
Probably related, see screenshot attached.
<img width="1589" alt="Screen Shot 2020-12-09 at 9 18 53 PM" src="https://user-images.githubusercontent.com/65034141/101676769-48f3a600-3a64-11eb-96bd-f2547d54da54.png">

(Brave on Mac)

[2020-12-09 19:21] philipcmonk commented on #4104
I'm mystified for the same reason has @litpub , I have a feeling the error must be somewhere else in the command.  In the last line of `flagday.sh` can you change the `eval` to `echo` and run again so we can see exactly what command is being run?

[2020-12-09 19:37] litpub commented on #4104
Yes just be careful not to post the $KEYSTRING portion @deploradude

[2020-12-09 19:39] philipcmonk commented on #4104
Oh sorry yes!  Change the word after -G to XXX so you don't leak the key

[2020-12-09 19:43] litpub commented on #4104
You'll also need to modify the statement slightly so that it's all in a string. Recommend trying this to replace the last line in the file:

[code]

[2020-12-09 19:43] juaningan opened #4113 "king: ship boot stuck in "boat" after network breach"
I understand that `urbit-king` is not officially supported but works well for me during months. It's important for me because my infra depends of `--http-port` flag.

After breach I'm running upgraded binaries with a clean pier.  Now boot is stuck in `boat` message.

[2020-12-09 19:44] matildepark commented on #4113
There presently isn't a 1.0 king binary, so you're still running one circa 0.10.8.

[2020-12-09 19:45] juaningan commented on #4113
Can I found 1.0 in some other branch then?

[2020-12-09 19:46] joemfb commented on #4113
`urbit-king` was dropped from the 1.0 release due to lack of compatibility and scheduling issues. It will restored in a new release ASAP.

[2020-12-09 19:48] juaningan commented on #4113
I understand. I'm using unreleased `urbit-king` for months. Is there any public branch with in development version?

[2020-12-09 20:01] deploradude commented on #4104
[code]

[2020-12-09 20:05] philipcmonk commented on #4104
Ha!  You happen to have a linux username that's the same as your ship name, so it's parsing that as `~user -> /home/user`.  Change `-w ~libhut-samwes` to `-w libhut-samwes` and run that last line and it should work.

[2020-12-09 20:10] deploradude commented on #4104
OK.  What should the last line with eval be then?

[2020-12-09 20:12] philipcmonk commented on #4104
Run:

[code]

[2020-12-09 20:26] deploradude commented on #4104
OK.  I think good now, except not on the right base hash.  How can I get the right one (Sortug is in old era)?

[code]

[2020-12-09 20:32] philipcmonk commented on #4104
Great! You can `|ota ~binzod %kids` for now and just `|ota ~sortug %kids` later on

[2020-12-09 20:55] xiphiness opened #4114 "observe-hook: watch wire not unique"
This is happening quite a lot, not sure why or how to reproduce. Maybe it has to do with the fact I clicked accept invite to a bunch of things I was already in when I got it when others applied flag day? I think I was getting this pre-network breach though.

%watch-not-unique
! subscribe wire not unique
! %observe-hook
! /thread-result/0v1.589ek.phj27.r8esv.mgon5.97cua
! [p=~sarpen-laplux q=%spide

[2020-12-09 21:14] Fang- commented on #1570
Should be fixed as of ford fusion.

[2020-12-09 21:14] #1570 closed

[2020-12-09 21:15] Fang- commented on #2215
Can no longer reproduce.

[2020-12-09 21:15] #2215 closed

[2020-12-09 23:01] deploradude commented on #4104
Hmm ... stepped away and my ssh session broke.  Now I can't find the binaries.

[2020-12-09 23:04] deploradude commented on #4104
Never mind ...

What are best practices (if any) for setting up everything in new directories?

[2020-12-09 23:45] tacryt-socryp commented on #4114
Have a repro on @ixv's ship. Debugging tomorrow.

[2020-12-10 00:40] josh612 opened #4116 ""You need to receive the most recent OTA before migrating" error"
Get the following output when trying to run flagday:

/urbit-v0.10.8-linux64/.urb/put/base-hash.txt: No such file or directory
FLAGDAY: WARNING, your base hash is:
FLAGDAY: Expected: 0v1f.lbtqc.5o909.qqja6.17dgp.m8gde.bmiqc.fa97p.8jer8.msu43.5rf36
FLAGDAY: You need to receive the most recent OTA before migrating
FLAGDAY: It is possible to override this warning
FLAGDAY: Continue anyway? [y|n]

This

[2020-12-10 01:08] josh612 commented on #4116
Nevermind, saw my error.

[2020-12-10 01:08] #4116 closed

[2020-12-10 01:22] mikegogulski commented on #1268
+1 to this. I run multiple ships on a single machine, the startup order may not be deterministic, so I'd like to explicitly set the HTTP port for each of them. This will let me do things like bind a DNS name that points to the machine to an Nginx reverse-proxy that puts the HTTP port behind SSL and HTTP basic authentication.

FWIW, I agree that adding 4, 6, or more commandline options would be a b

[2020-12-10 02:36] matildepark commented on #4114
Possibly related: #2992? — #4044 is on livenet and yet I've left a few groups but can see them in Leap. Can't see my CLI backlog to confirm whether I saw that watch wire stuff.

[2020-12-10 02:46] philipcmonk commented on #4104
The files `./tmp-flagday/urbit` and `./tmp-flagday/urbit-worker` just need to be put wherever you want them to be.  Some people use just put them next to your pier

[2020-12-10 05:54] tylershuster commented on #4111
I can take this if other people have higher priorities

[2020-12-10 09:25] juaningan commented on #1268
We can not use it after breach #4113

[2020-12-10 10:41] timlucmiptev commented on #3977
Still seeing the issue (have to refresh to clear), even when I'm not referenced by @p.

[2020-12-10 15:59] vvisigoth commented on #3977
NooOooOooOo

On Thu, Dec 10, 2020 at 4:41 AM timlucmiptev <notifications@github.com>
wrote:

--
—
~poldec-tonteg
http://urbit.org

[2020-12-10 16:00] vvisigoth commented on #4116
A perfect issue

On Wed, Dec 9, 2020 at 7:09 PM josh612 <notifications@github.com> wrote:

--
—
~poldec-tonteg
http://urbit.org

[2020-12-10 16:01] ycl924 commented on #4050
Seems the breach fixed the issue. Thanks everyone.

[2020-12-10 16:02] matildepark commented on #3977
We need more information to actually replicate. What also complicates this is that Hark is essentially rewritten a third time in #4058 to supply unreads.

[2020-12-10 16:08] matildepark commented on #3977
It might be possible the change in #4038 hasn’t been performed to auto dismiss notifications in, say, notebook and collection comments. I have to look.

[2020-12-10 16:11] custom-jonathan commented on #4111
I'm experiencing the same thing that @Fang- and @timlucmiptev are. Mine is a dark overlay on top of notifications that prevent me from interacting with them.

![image](https://user-images.githubusercontent.com/51895363/101797726-f7810080-3acf-11eb-9d6e-d20124cc2848.png)

[2020-12-10 16:12] tylershuster commented on #4111
@custom-jonathan which browser?

[2020-12-10 16:20] custom-jonathan commented on #4111
Brave

[2020-12-10 16:26] botter-nidnul commented on #3932
This is happening now with the revised urbit-v1.0.pill (I didn't see this happen on a planet that was booted immediately after the network wide breach).

Initial `+trouble` output just after booting:
[code]

Output of `+trouble` after OTA:
[code]

Hash of `%scratch`:
[code]

The diff:
[code]

[2020-12-10 19:05] joemfb commented on #328
fixed in #3712

[2020-12-10 19:05] #328 closed

[2020-12-10 19:06] joemfb commented on #357
Fixed in #2285, finally released.

[2020-12-10 19:06] #357 closed

[2020-12-10 19:06] joemfb commented on #881
Obsolete, agents can only be run out of %home.

[2020-12-10 19:06] #881 closed

[2020-12-10 19:09] joemfb commented on #1473
Fixed in #3638

[2020-12-10 19:09] #1473 closed

[2020-12-10 19:15] vvisigoth commented on #1473
wow
—
~poldec-tonteg
http://urbit.org

On Thu, Dec 10, 2020 at 1:09 PM Joe Bryan <notifications@github.com> wrote:

[2020-12-10 19:19] joemfb commented on #2060
chat still calls `+ream` unvirtualized.

/cc @liam-fitzgerald, @tacryt-socryp

[2020-12-10 19:20] joemfb commented on #1923
@brendanhay, this is fixed by `fetch-github-lfs.nix`, right?

[2020-12-10 19:24] joemfb commented on #2124
Closing as obsolete (previous era, mechanisms in question have been replaced).

[2020-12-10 19:24] #2124 closed

[2020-12-10 19:25] joemfb commented on #2396
Finally released.

[2020-12-10 19:25] #2396 closed

[2020-12-10 19:26] joemfb commented on #2568
Closing as obsolete.

[2020-12-10 19:26] #2568 closed

[2020-12-10 19:27] joemfb commented on #2877
Fixed in #2990

[2020-12-10 19:27] #2877 closed

[2020-12-10 19:30] tacryt-socryp commented on #2992
Can't repro on my ship anymore since #4044. Tested just now.

[2020-12-10 19:30] matildepark commented on #4111
@timlucmiptev and @custom-jonathan issue is fixed in #4117. The original issue here is at large

[2020-12-10 19:33] brendanhay commented on #1923
Yeah, as fixed as we'll probably get with LFS. 😏

[2020-12-10 19:33] joemfb commented on #3095
Fix released.

[2020-12-10 19:33] #3095 closed

[2020-12-10 19:34] joemfb commented on #2952
@philipcmonk, this is obsolete?

[2020-12-10 19:34] ohAitch commented on #1923
%lull ascendant!

On Thu, Dec 10, 2020 at 12:33, Brendan Hay <notifications@github.com> wrote:

[2020-12-10 19:35] joemfb commented on #3194
@Fang-, obsolete?

[2020-12-10 19:36] joemfb commented on #3398
Closing as obsolete (previous era, ford-fusion OTA).

[2020-12-10 19:36] #3398 closed

[2020-12-10 19:36] joemfb commented on #3407
Fix released.

[2020-12-10 19:36] #3407 closed

[2020-12-10 19:36] tacryt-socryp commented on #2992
I have a new issue, though, which is that the observer-failed for some reason in the middle of the `%on-group-leave` thread. Investigating.

[2020-12-10 19:36] Fang- commented on #3194
No, I actually observed this earlier today.

[2020-12-10 19:37] joemfb commented on #3657
Fix released (memory leaks, not rust rewrite)

[2020-12-10 19:37] #3657 closed

[2020-12-10 19:38] joemfb commented on #4086
Fixed in #4088

[2020-12-10 19:38] #4086 closed

[2020-12-10 19:39] joemfb commented on #1971
#1888 has been forward-ported and released.

[2020-12-10 19:39] #1971 closed

[2020-12-10 19:40] joemfb commented on #1946
Closing as obsolete (webterm is a proof by construction)

[2020-12-10 19:40] #1946 closed

[2020-12-10 19:40] #1923 closed

[2020-12-10 19:42] vvisigoth commented on #4012
@liam-fitzgerald  this is still an issue on ~bitpyx which is up to date

[2020-12-10 20:23] joemfb commented on #1553
This was fixed by ford-fusion, which changed arvo to crash the event if compilation fails. And further refined in the latest release, which preserves while giving arvo full control of the upgrade in a single move.

[2020-12-10 20:23] #1553 closed

[2020-12-10 20:29] joemfb commented on #3778
The original issue has been fixed and released.

@ohAitch, I agree that the route you describe is desirable. We'll need to revisit this when %ames' routing is updated to take the load off galaxies.

[2020-12-10 20:29] #3778 closed

[2020-12-10 21:07] matildepark commented on #3640
This serendipitously works now on livenet for me (Safari 14); but it doesn't on lf/chat-graph in Chrome.

[2020-12-10 21:08] matildepark commented on #3640
It seems to depend on whether there's enough backlog to fill the page.

[2020-12-10 21:57] galenwp opened #4122 "'Writers must be in group' when I'm in the group"
**Describe the bug**
When trying to create a notebook in a group I'm a member in, I hit an error restricting writers

**To Reproduce**
Steps to reproduce the behavior:
1. Create a notebook in a group
2. Make yourself the only writer
4. See error

**Expected behavior**
Being able to create a notebook with myself as the sole writer.

**Screenshots**
<img width="420" alt="Screen Shot 2020-12-10 at 1

[2020-12-10 21:58] matildepark commented on #4122
This is a bug with ship search returning sig'd patps. I patched in #4117.

[2020-12-10 22:24] galenwp commented on #4122
thanks!

[2020-12-10 23:48] tylershuster commented on #3640
It does — it bases its calculations on distance from the top of the parent element, which is not always the top of the page

[2020-12-10 23:50] philipcmonk commented on #2952
Yes, this was mitigated by #2953 and ultimately fixed in #4085

[2020-12-10 23:50] #2952 closed

[2020-12-11 00:01] philipcmonk commented on #3932
I believe the js bundle was accidentally included in this pill, and when it merges with `%take-that` it doesn't delete it.  The fix is to make sure we push pills that don't have extra files.  For those who already have this pill, the issue is essentially cosmetic, but if you want your %home and %kids hashes to match up with your %base hash, you can run the following commands (note that if you have

[2020-12-11 00:08] tacryt-socryp commented on #1737
Fixed as of the breach.

[2020-12-11 00:08] #1737 closed

[2020-12-11 00:09] tacryt-socryp commented on #2100
No longer an issue since Ford's collapse into Clay.

[2020-12-11 00:09] #2100 closed

[2020-12-11 00:10] tacryt-socryp commented on #2669
No longer occurs.

[2020-12-11 00:10] #2669 closed

[2020-12-11 00:12] tacryt-socryp commented on #1511
No longer occurs.

[2020-12-11 00:12] #1511 closed

[2020-12-11 00:13] tacryt-socryp commented on #1527
No longer the case.

[2020-12-11 00:13] #1527 closed

[2020-12-11 00:14] tacryt-socryp commented on #1734
Finished as of the breach.

[2020-12-11 00:14] #1734 closed

[2020-12-11 00:14] Fang- commented on #1520
fascab no longer exists.

[2020-12-11 00:14] #1520 closed

[2020-12-11 00:16] tacryt-socryp commented on #2456
Should be fixed now.

[2020-12-11 00:16] #2456 closed

[2020-12-11 00:17] Fang- commented on #1567
Maybe resolved right now, but certainly resolved as of chat-cli changes in #4058 (which treats chat-cli as a _viewer_, not a _manager_ of chat subscriptions). Going ahead and closing, lest I forget.

[2020-12-11 00:17] #1567 closed

[2020-12-11 00:25] Fang- commented on #1625
Can no longer reproduce.

[2020-12-11 00:25] #1625 closed

[2020-12-11 00:31] Fang- commented on #1831
These now just crash the dojo, which makes this a duplicate of #1495.

[2020-12-11 00:31] #1831 closed

[2020-12-11 00:48] Fang- commented on #2126
`;` was removed as a glyph in #2434.

[2020-12-11 00:48] #2126 closed

[2020-12-11 00:53] Fang- commented on #353
Can no longer reproduce with `|mass`, or any of the previous variations. If anyone still has repro steps for this, happy to pick up as part of my terminal work. Otherwise, this should get closed soon.

[2020-12-11 00:59] Fang- commented on #1426
I suspect this got resolved in #3387. At the very least this specific printf is no longer present in eyre. Closing as such.

[2020-12-11 00:59] #1426 closed

[2020-12-11 00:59] Fang- commented on #2647
Closing as duplicate of #3196. (Actually, that one is a duplicate of this, but there's more discussion there.)

[2020-12-11 00:59] #2647 closed

[2020-12-11 01:01] matildepark commented on #4096
This appears to be the same issue as #4122 — double sig'd ships from #3998.

[2020-12-11 01:01] matildepark commented on #4122
Duplicate of #4096.

[2020-12-11 01:01] #4122 closed

[2020-12-11 02:37] xiphiness commented on #4114
oh my group metadata is all messed up, I've tried fixing it with commands you suggested before to no avail...

[2020-12-11 03:45] Sneagan commented on #4102
Any idea how to resolve this or how I can further debug it? It's preventing me from accessing landscape away from my desktop running the workaround. Not an emergency but I might be better off breaching if this is a sufficiently busted pier.

[2020-12-11 03:53] tacryt-socryp commented on #4102
`:contact-store &contact-action [%add /~/default our ['' '' '' '' '' *@ux ~]]`

[2020-12-11 06:36] #3992 closed

[2020-12-11 06:36] #4039 closed

[2020-12-11 06:36] #4073 closed

[2020-12-11 08:04] timlucmiptev opened #4126 "|code %reset doesn't reset code"
**Describe the bug**
Pasted a code in chat by accident. Ran `|code %reset`. Cookies were cleared, but the old code was not changed, and I could still log in with it.

This is obviously a huge security flaw, and I have my ship shut down until it's resolved.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `|code %reset`
2. `+code`
2. Observe that the code has in fact not been reset.

**Ex

[2020-12-11 08:05] matildepark commented on #4114
Fixed in #4119.

[2020-12-11 08:05] #4114 closed

[2020-12-11 08:05] matildepark commented on #4096
Fixed in #4117.

[2020-12-11 08:05] #4096 closed

[2020-12-11 08:05] #4063 closed

[2020-12-11 08:06] matildepark commented on #3967
Haven't seen this in a while, closing.

[2020-12-11 08:06] #3967 closed

[2020-12-11 08:07] matildepark commented on #3926
Fixed in #4058. If you delete a DM, you can now create a DM with the same participant.

[2020-12-11 08:07] #3926 closed

[2020-12-11 08:08] #3912 closed

[2020-12-11 08:08] #3939 closed

[2020-12-11 08:08] #3857 closed

[2020-12-11 08:08] matildepark commented on #3847
Fixed in #4058.

[2020-12-11 08:08] #3847 closed

[2020-12-11 08:10] #3447 closed

[2020-12-11 08:10] #3044 closed

[2020-12-11 08:11] matildepark commented on #2992
Fixed in #4044.

[2020-12-11 08:11] #2992 closed

[2020-12-11 08:12] matildepark commented on #3003
@ryjm Unsure how we could really replicate this much, but worth revisiting now that we have sequencing.

[2020-12-11 08:12] #2942 closed

[2020-12-11 08:14] matildepark commented on #1482
Still an issue @Fang-? I believe even if they come in out of order, we render them in order.

[2020-12-11 08:15] #1864 closed

[2020-12-11 08:16] matildepark commented on #2060
According to @liam-fitzgerald, fixed in #4058.

[2020-12-11 08:16] #2060 closed

[2020-12-11 08:18] matildepark commented on #2863
Fixed in #4058.

[2020-12-11 08:18] #2863 closed

[2020-12-11 08:18] matildepark commented on #2130
Obsolesced? @liam-fitzgerald @tacryt-socryp

[2020-12-11 08:21] #3227 closed

[2020-12-11 08:25] #3826 closed

[2020-12-11 08:28] matildepark commented on #4013
Might be fixed as of #4030? @liam-fitzgerald

[2020-12-11 08:29] matildepark commented on #3969
Should've been fixed in #4058 but still some odd behaviour. Need to investigate more and reproduce.

[2020-12-11 08:31] liam-fitzgerald commented on #2130
if this issue is about printf verbosity then sure

[2020-12-11 08:35] #2130 closed

[2020-12-11 09:06] timlucmiptev commented on #4126
This seems to be the PR where the feature was added, not sure what went wrong since:
https://github.com/urbit/urbit/pull/3217

[2020-12-11 10:19] Fang- opened #4127 "landscape: chat day/section separator timestamps always now"
This screenshot was taken at 11:17am. Coming back to this chat a couple minutes later, all the separator timestamps had updated to match the current time again.

<img width="242" alt="image" src="https://user-images.githubusercontent.com/3829764/101891589-8b230180-3ba2-11eb-9856-7df99925abbb.png">

(They're also not perfectly aligned with each other, but that's secondary.)

Vaguely remember someth

[2020-12-11 10:57] mike-cr opened #4128 "unread count too high"
**Describe the bug**
If like 1 new message comes in the unread count shows 8 or so and the new messages line creeps up past already read messages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a chat channel
2. Wait for new message
3. Observe unread count too high and new messages line is above already-read messages

**Expected behavior**
unread count should be accurate

**Desktop (pl

[2020-12-11 11:23] Fang- commented on #1482
Well they shouldn't come in out of order. (^: Chat-cli might still trip up if that happens. But considering the entire backend here has changed, seems less likely. Closing until evidence to the contrary arises.

[2020-12-11 11:23] #1482 closed

[2020-12-11 12:59] Fang- commented on #3932
Note that running that post-chat-migration will delete backup graph-update files from your home desk. Not sure how significant that is at the moment, given migration seems to have been successful.

[2020-12-11 14:18] matildepark commented on #4128
I suspect this is a duplicate of #4012 that is becoming more legible — both are addNode notifications

[2020-12-11 14:20] matildepark commented on #4127
Almost certainly just passing an undefined datestamp to moment.

[2020-12-11 16:12] Fang- opened #4130 "landscape: mentions don't respect nickname setting"
I have both nicknames and avatars disabled in my landscape UI. Yet mentions render as the nickname for the corresponding ship.

<img width="234" alt="image" src="https://user-images.githubusercontent.com/3829764/101926551-9b070980-3bd3-11eb-91d7-fa12c44793ee.png">

Interestingly, the nickname is included in the profile overview here (which is what I want, as per urbit/landscape#65), but isn't when

[2020-12-11 16:28] matildepark commented on #4130
Oooh ok easy catch.

—
~haddef-sigwen
https://urbit.org

[2020-12-11 16:48] matildepark commented on #4128
Duplicate of #4012 — we'll tackle this there in one place.

[2020-12-11 16:48] #4128 closed

[2020-12-11 16:51] matildepark commented on #4012
As per investigations with @liam-fitzgerald overnight as we watched the deploy go out, this appears to be an issue regarding the behaviour between hark-graph-hook and the graph-store itself.

Multiple addNode events may occur in graph-store, which no-ops; hark-graph-hook listens to graph-store for updates. The duplicate updates are not in the log, but they are in hark-graph-hook.

This has been a

[2020-12-11 17:43] matildepark opened #4131 "hark: updates from us should update 'last'"
Reproduction steps:

- Send a message, add a link, or write a note.

Expected behaviour:

- The channel pushes to the top in 'last updated' sorting.

Actual:

- It doesn't, until someone else sends a message, adds a link, or writes a note.

This is because we listen to hark for our unreads; however, we want hark to still update the `last` timestamp if we've received an update from *us*.

[2020-12-11 18:44] matildepark opened #4133 "hark: resources don't consistently update 'last' timestamp"
This one confused me because it works properly within a single Landscape session — if you refresh and `console.log()` hark updates as they come in, a lot of resources' `last` are `946684800000`, that is, 01/01/2000 at 00:00 UTC, even if we've gotten messages from them post-update?

This doesn't appear to be enforced as a default on front-end, so I can only assume we aren't updating `last` on back-

[2020-12-11 19:19] Fang- commented on #4110
I've caught hark-store and graph-store subscriptions showing the same behavior. Guessing these are showing themselves now because of the chat->graph-store migration, I wasn't subscribed to many super-active graph channels before.

<img width="1230" alt="image" src="https://user-images.githubusercontent.com/3829764/101945055-f2b26e80-3bed-11eb-92ea-71866dbac587.png">

[2020-12-11 19:22] matildepark commented on #4110
I'm sort of unsure why only some of them aren't sending acks. Isn't this channel.js level?

[2020-12-11 19:39] belisarius222 opened #4134 "kick: lost in cttp"
**Describe the bug**

https://pastebin.com/33zb0P3Q

**To Reproduce**
This seems to have started after the most recent OTA, base hash `im23k`.  It's happened several times as my ship adds backup clay files from what looks like old chats -- not sure if related.

**Expected behaviour**
That the runtime would understand every effect from Eyre.

**System (please supply the following information, if re

[2020-12-11 21:19] #4127 closed

[2020-12-11 21:19] #4130 closed

[2020-12-11 23:55] Fang- opened #4139 "Consider modernizing debug dashboard deployment"
Right now, debug dashboard (`/pkg/interface/debug`) is still built using `gulp` and deployed OTA as compiled js.

While it's nice that it's independent of glob, file-server and the likes (important precisely because it is a debug tool), this does come with the usual trade-offs: development workflow isn't as nice as landscape proper's, and changes to the dashboard bloat up clay history.

Debug dash

[2020-12-12 00:02] ixv opened #4140 "Duplicate channels appear in sidebar"
![image](https://user-images.githubusercontent.com/4741759/101965616-33988c00-3bca-11eb-805f-c668a3160f40.png)

[2020-12-12 00:04] matildepark commented on #4140
These are, notably, just chats that are duplicated.

[2020-12-12 00:36] urcades opened #4141 "S3 Credentials submission bug"
**Describe the bug**
The "Submit" button for S3 Credentials doesn't appear to provide any feedback when clicked

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Profile and Settings`
2. Go to `Ship Settings`
4. Input information or change a character in the fields under the "S3 Credentials" header
5. Attempt to save the information, and witness no feedback.

**Expected behavior**
The b

[2020-12-12 04:03] joemfb commented on #4134
That means `%iris` produced a request effect containing a URL that `+de-purl:html` couldn't handle. Which makes me think %iris should have a task that informs it of requests that cannot be made, and the runtime could inject that as a courtesy.

[2020-12-12 12:16] yourfavouriteuncle opened #4146 "Unable to join groups post-breach 2020.12"
I'm running urbit `1.0` with base hash `u8adu`. I wiped my pier and recreated it. I used the keyfile I used before the breach.

Whenever I try to join the `urbit-community` the Landscape UI stays on waiting forever. It never joins the group. I've tried this on different groups as well. Same result. I asked on Discord and I checked my connectivity to `~zod`, my star sponsor, and my galaxy sponsor.

[2020-12-12 12:21] yourfavouriteuncle commented on #4146
I can send DMs and asked group owners to invite me back, perhaps it will work in reverse.

[2020-12-12 12:38] yourfavouriteuncle commented on #4146
I ran a `|merge` on the suggestion of a person from Discord and it updated my `%home` hash to the `%base` hash. I still cannot join groups.

[2020-12-12 21:28] tacryt-socryp opened #4148 "~bolbex-fogdys `%hark-graph-hook` subscription close issue"
<img width="1536" alt="Screen Shot 2020-12-12 at 3 27 38 PM" src="https://user-images.githubusercontent.com/1377557/101995306-a66b3b00-3c8e-11eb-83a6-0899260ecbfd.png">

It's saying it received a 2nd watch-ack, unsure why. It's constantly spinning with this issue. Could this be a `%gall` level issue? Seems most likely...

What do you think @liam-fitzgerald ?

[2020-12-12 22:00] philipcmonk commented on #4148
Is ~bolbex subscribed to the bulletin board? Seems like it shouldn't be

On Sat, Dec 12, 2020, 13:28 L <notifications@github.com> wrote:

[2020-12-13 00:28] botter-nidnul opened #4150 "Deleting memory.bin with each checkpoint can cause write amplification"
On flash storage filesystems that don’t have aggressive defaults regarding TRIM (i.e. specifying the discard mount option in `/etc/fstab`) the frequency with which Urbit writes checkpoints can pretty quickly fill up the device with undiscarded unused blocks, causing write amplification, reduced write speed, and increased wear.

Memory.bin is created, then deleted, every two minutes. The size of me

[2020-12-13 01:50] Sneagan commented on #4102
Wow, awesome @tacryt-socryp. That did it! Thank you!!

[2020-12-13 01:50] #4102 closed

[2020-12-13 02:58] ohAitch commented on #4150
Presumably it deletes the memory.bin *after* writing the new one, to ensure durability? Which I'm not sure what an in-place alternative to would look like, presumably some manner of generational page table.

[2020-12-13 04:06] botter-nidnul commented on #4150
The lifespan of a memory.bin file is about 1/2 a second. [Looks to me](https://gist.githubusercontent.com/botter-nidnul/7fa98d305b1a88b41fcd46e946f71877/raw/8b14107583c3ab3e1771f3fc50fa20c67ecc31e7/inotify_output.txt) (warning, 1MB log) like it's created, patch is applied to north.bin, then it's deleted. Then the process is repeated ~119.5 seconds later.

[2020-12-13 05:11] #3085 closed

[2020-12-13 07:12] kennyrowe opened #4151 "Can't Apply OTA | fails to upgrade %group-hook"
I have a ship that is in the last era and was behind by several OTA's (dhk61). I've been trying to apply the OTA from ~fet to enter into the new era but the OTA will not apply. I've successfully been able to merge ~fet %kid desk to my %kid desk, and tried merging my %kid desk to %home, but that does not work either.

[code]

[2020-12-13 07:31] joemfb commented on #4150
The checkpoint system is conceptually a single memory image of a contiguous arena (the *loom*), implemented by way of four files with conceptually confusing names.

`north.bin` and `south.bin` (no relationship to north/south roads) are the low and high memory segments, respectively. They are created on boot (or restart, if missing), and only every modified by way of patch files. In a logical patch

[2020-12-13 10:06] mike-cr opened #4152 "Publish: read notes switch back to unread"
**Describe the bug**
A couple of notes in the smol bibliotheca notebook in ~dasfeb/smol-computers show as unread. I mark them read but some time later they again show as unread

**Expected behavior**
read notes should stay read

**Desktop (please complete the following information):**
 - OS: arch linux
 - Browser qutebrowser
 - Base hash o4o70

**Additional context**
Unsure how to reproduce

[2020-12-13 10:17] mike-cr commented on #4152
hmm this seems to occur after landscape says reconnecting and the terminal prints:

[code]

[2020-12-13 10:19] noops888 commented on #4146
I have the same problem as described above but also another issue that seems like it might be related.

I have groups that show 1 unread message even when there are none.  I tried to leave the channel "maker links" below which always shows **bold** as if it is the channel within the group has the unread message.  I tried to unsubscribe from the channel. This did not resolve it.  I tried to unsubsc

[2020-12-13 10:27] mike-cr commented on #4152
unsubscribing and resubscribing to the channel did not fix the problem, it eventually did the reconnecting thing, printed
[code]
and again marked them unread

[2020-12-13 13:27] noops888 opened #4153 "Posts do not save on a two way shared collection."
**Describe the bug**
Posts do not save on a two way shared collection, they just disappear after leaving the collection and revisiting it later.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DMs
2. Create a two person shared collection
3. Make a post
4. Leave the collection.
5. Revisit the collection.

**Expected behavior**
Posts should not disappear.

**Desktop (please complete the

[2020-12-13 13:35] noops888 commented on #4153
It seems like the creator of the collection can post, but the other participant cannot.

[2020-12-13 14:18] timlucmiptev commented on #3983
This behavior is still occurring; issue should be re-opened @matildepark

[2020-12-13 17:41] rabsef-bicrym opened #4154 "Base Hash Conflict - Unable to rejoin post network-breach as unable to get requisite hash for flagday"
**Describe the bug**
My current trouble state is:
[code]

I am at this state after running `|merge %home ~fet %kids, =gem %only-that`.  In working with @philipcmonk  and support@urbit.org, I tried running `:spider|kill` to see if it would then allow me to run that merge successfully.  When I run `:spider|kill`, I get:
[code]

In speaking with @philipcmonk, he requested that I update the handle-sto

[2020-12-13 20:25] rabsef-bicrym commented on #4154
Also and alternatively, if it's easier to just breach, can I just do that via azimuth and come back fresh?

[2020-12-13 20:44] rabsef-bicrym commented on #4154
Looks like I was misunderstanding my instructions - running merge now and will close if that's the case.  Should have been looking at this version of the function: [https://github.com/urbit/urbit/pull/3990/files#](url)

[2020-12-13 20:52] ohAitch commented on #4150
One off-the-wall idea I have had is splitting loom into 2MB(hugepage) chunks, dumping them into a gitlike two-level hash-named directory structure, and then the only thing you _really_ need to atomically commit is the index table - which at 32kb can go in as a shadow event log entry, probably a dedicated lmdb table acting as a circular buffer of the last e.g. 10. Gets you the north-south split for

[2020-12-14 01:10] liam-fitzgerald commented on #4013
Absolutely, this should be closed. There's still a bit of work to do to ensure bulletproof subscription integrity in the hook libraries, but we are very close and its not an issue on livenet rn

[2020-12-14 01:10] #4013 closed

[2020-12-14 01:13] liam-fitzgerald commented on #4152
should be fixed by #4149

[2020-12-14 12:07] Fang- opened #4160 "Channel deletion does not get pushed to members"
Created a channel in a group by mistake. Deleted it, and it disappeared from the sidebar on the host of the group & channel. But for members of the group, the channel remains in the sidebar.

[2020-12-14 15:09] rabsef-bicrym commented on #4154
Fully online!  Thanks all.

[2020-12-14 15:09] #4154 closed

[2020-12-14 16:08] vvisigoth commented on #4154
Nice!
—
~poldec-tonteg
http://urbit.org

On Mon, Dec 14, 2020 at 9:10 AM rabsef-bicrym <notifications@github.com>
wrote:

[2020-12-14 16:11] vvisigoth commented on #4151
Have you tried |merge %home ~fet %kids, =gem %only-that
—
~poldec-tonteg
http://urbit.org

On Sun, Dec 13, 2020 at 1:12 AM Kenny Rowe <notifications@github.com> wrote:

[2020-12-14 17:20] vvisigoth opened #4162 "hark: unreads don't clear on YT links in collections"
**Describe the bug**
Unreads don't clear when you click on a YT video post.

**To Reproduce**
Steps to reproduce the behavior:
1. See an unread post in collections with a YT embed
2. Go to comment/detail page
3. Navigate back to index page
4. Unread indicator still there

**Expected behavior**
Unread indicator clears when you click on post in index page OR you go to the detail page.

![Screen Shot

[2020-12-14 19:39] joemfb commented on #1531
This is obsolete as of static-gall.

[2020-12-14 19:39] #1531 closed

[2020-12-14 19:42] joemfb commented on #1555
All the old multi-homing wires appear to be gone, so this can be closed as obsolete.

[2020-12-14 19:42] #1555 closed

[2020-12-14 19:50] joemfb commented on #1723
Fixed in the breach.

[2020-12-14 19:50] #1723 closed

[2020-12-14 20:27] joemfb commented on #1841
@Fang-, obsolete?

[2020-12-14 20:27] joemfb commented on #1826
@Fang-, obsolete?

[2020-12-14 20:28] joemfb commented on #2065
@Fang-, obsolete?

[2020-12-14 20:32] tacryt-socryp commented on #2065
Yes, obsolete.

[2020-12-14 20:32] #2065 closed

[2020-12-14 20:32] tacryt-socryp commented on #1826
Yes, obsolete.

[2020-12-14 20:32] #1826 closed

[2020-12-14 22:47] Fang- commented on #1841
Considering `;join` isn't a thing in current chat-cli: Yes.

[2020-12-14 22:47] #1841 closed

[2020-12-15 00:12] #4111 closed

[2020-12-15 00:53] #4050 closed

[2020-12-15 02:05] mike-cr commented on #4152
I've received the update, and I tried marking everything read in the problem channels to test if fixed but found the channel name remained bold despite no notes showing as new. I attempted to unsubscribe and resubscribe, but the channels didn't seem to unsubscribe properly - they're still listed in bold and when I click on them it just spinners endlessly. If I try hitting unsubscribe again it does

[2020-12-15 03:16] mike-cr opened #4164 "hark: unread status and count aren't removed after unsubscribing"
**Describe the bug**
I previously had a bug where a couple of notebooks would keep switching certain notes back to unread (see #4152). After the recent OTA, I tried to unsub/resub said notebooks and they got stuck in a state where they show in landscape as subscribed and having unread messages, but nothing loads when I click on them - just endless spinner. When I try to click unsub again nothing h

[2020-12-15 03:48] tacryt-socryp commented on #4164
This crash is occurring due to an assertion that states "in order to remove the graph in question, it must exist". The graph you are trying to remove does not exist, as it has been removed already.

[2020-12-15 03:49] tacryt-socryp commented on #4164
I'm unsure of what the issue is here with the spinner and not letting you resubscribe... Will think on this.

[2020-12-15 04:12] mike-cr commented on #4164
I tried unsubscribing from General chat in UC while it had unread messages and the same thing happened. It seems if you unsub any channel while unread it causes this problem

[2020-12-15 07:50] mike-cr commented on #4152
ok I managed to resubscribe to the channels via the dojo, but unfortunately the OTA didn't fix the issue and the same notes are reverting to unread after being marked read

[2020-12-15 10:17] mike-cr commented on #4152
also, it seems that for one notebook, the unread count is 1 greater than the number of blue unread notes, and for the other it's 2 greater

[2020-12-15 14:54] custom-jonathan commented on #4134
I'm getting a whole bunch of weird stuff. Landscape won't load for either of my ships. This is what my star is currently doing: https://pastebin.com/15wK6dAu

[2020-12-15 17:38] Fang- opened #4169 "Trying to print a bad tank crashes the urbit"
Trying to evaluate the following expression in dojo (or including it in an app, lib, or elsewhere) crashes the urbit process:

[code]

[code]

I vaguely remember this resulting in a legible complaint before. Certainly haven't seen it crash like this before, but maybe I just never hit it?

[2020-12-15 17:51] joemfb commented on #4169
It's crashing in the king due to a bad `$tank (which we `+wash` without virtualization).

[2020-12-15 17:54] joemfb commented on #4169
Attaching a debugger, the bad tank is:

[code]

In `+open:ap`:

[code]

[2020-12-15 21:53] ritfed-tabryg opened #4172 "Trying to join a group from CLI: "dojo: app poke failed""
Someone on the urbit discord asked how to join a group from the command line. The intended command seems to be `:group-store|join ~bitbet-bolbel %urbit-community`, but this command doesn't work.

**To Reproduce**
In a ship's `dojo`, run the command `:group-store|join ~bitbet-bolbel %urbit-community` (or replace the ship and group name with any other valid group).

**Expected behavior**
The ship jo

[2020-12-15 22:24] yourfavouriteuncle opened #4174 "Logging to file dumps core"
using urbit `1.0` on nixos unstable with the base hash `u8adu`

[code]

[2020-12-15 22:25] yourfavouriteuncle commented on #4174
I found this while debugging #4146

[2020-12-15 23:03] joemfb commented on #4174
By default, urbit expects to run interactively (in a tty). You can disable that expectation with `-t`, which should solve the problem here.

There's a check for this condition in the terminal code, with a helpful error message associated (see #3905). But we're hitting a related assertion before we get to the check, which is a bug.

[2020-12-15 23:04] joemfb commented on #4146
/cc @tacryt-socryp, @liam-fitzgerald

[2020-12-15 23:27] ohAitch commented on #4174
(And the check aborting instead of just flipping on the flag is arguably also a bug)

[2020-12-15 23:40] joemfb commented on #4174
After some local testing, `-t` will indeed work around this problem. But redirecting output to a file is poorly supported: lots of things write to `stderr` (across two processes), and the cli options parser doesn't like `./build/urbit -t fake-zod 2>&1 log.out` (which is pretty bizarre).

The `isatty()` check from #3905 is not really relevant -- stdout is a tty, but it's being a piped in a manner t

[2020-12-15 23:58] kennyrowe commented on #4151
yes, getting the OTA is not the problem it's applying it. Also `%only-that` is not defined in this ship so technically `|merge %home ~fet %kids, =gem %that` doesn't work

[2020-12-16 00:24] pconroy commented on #4146
I’ve had the same problem too.
I’m running on a MacOS.

I tried Creating a Group, but that doesn’t work either.

[2020-12-16 00:42] liam-fitzgerald commented on #4146
can someone run `|verb` followed by `:contact-view &contact-view-action [%join [~host-of-group %group-name]]` and post output?

e.g. `:contact-view &contact-view-action [%join [~bitbet-bolbel %urbit-community]]`

[2020-12-16 00:47] pconroy opened #4175 "Unable to Join Group after initial setup of Planet."
When I try to join any group, the Join button just whirls forever, with no error on the webpage.

Here's my initial setup:
~
urbit 1.0
boot: home is /Users/pconroy/URBIT/urbit/tassyr-nimdeg
loom: mapped 2048MB
lite: arvo formula 79925cca
lite: core 59f6958
lite: final state 59f6958
loom: mapped 2048MB
boot: protected loom
live: loaded: MB/130.170.880
boot: installed 286 jets
vere: checking version

[2020-12-16 00:57] pconroy commented on #4146
I ran that command and got a huge amount of output:

  %give
  %behn
  %wake
    i
  / gall
    use
    spider
    0w2.0Bsue
    ~tassyr-nimdeg
    thread
    eth-watcher--0v1i4.gre7f.g96bp.v4d9v.9dq7f.kipvr.6qj9l.4r797.uk8l1.v5g98.f8nge.b3baa.mi609.9f388.95grq.adkef.fmr0p.bv08k.i3cje.ab5qv.vq57c
    wait
    ~2020.12.16..00.52.46..edaf
  t=~[/dill //term/1]
]
[ "||"
  %pass
  [%gall %i]
  [ %requ

[2020-12-16 01:43] philipcmonk commented on #4169
That should be `leaf+p.gen`, right?  Or else just a cord I suppose

[2020-12-16 07:45] yourfavouriteuncle commented on #4146
@pconroy you can use [triple backticks](https://daringfireball.net/projects/markdown/syntax#code) to format your output to look better

`|verb`

[code]

This seems to be the relevant output for `:contact-view &contact-view-action [%join [~bitbet-bolbel %urbit-community]]`

[code]

[2020-12-16 15:52] urcades opened #4177 "DMs: Post-network breach + personal breach, unable to send messages to previously-DMed ships, but can receive"
**Describe the bug**
Ship context: I am a hosted ship, and weathered the network breach roughly, and ended up needing to personal breach, which reset everything as expected.

I have been able to join old groups and channels with no issues, but when I have attempted to DM ships I had previously been in contact with, my messages don't appear to reach the other party. I have needed to ask them via a

[2020-12-16 15:55] vvisigoth commented on #4177
cc @tacryt-socryp @liam-fitzgerald not sure what the new logic inserted into dead DMs is, can you take a look at this and let's talk EOD at meeting.

[2020-12-16 17:34] ryjm commented on #4152
this is happening to me as well

[2020-12-16 17:59] ryjm commented on #4164
yeah, it looks like if you unsub while unread, the group pane doesn't update the resource link with the `join` prefix, and so when you click on it it looks for a non-existent graph.

[2020-12-16 22:24] vvisigoth commented on #4177
OK I tried this with Jared and it seems to happen when the original DM was
hosted on a ship which personal breached. If the party that breached has to
recreate the DM, it fails in the ways outlined here.

Here is what happened to me

1. ~nidsut-tomdun breached
2. ~nidsut-tomdun tried to reinvite ~poldec-tonteg to a DM (they previously
had one, hosted on ~nidsut-tomdun before breach)
3. An invite a

[2020-12-16 23:04] conradconrad commented on #4172
~tadwyt-mormus replicated this bug, also with basehash u8adu
~debug/apps output: https://pastebin.com/aq22SN5h

[2020-12-16 23:20] vvisigoth opened #4179 "hark: navigating to notifications lags visibly"
**Describe the bug**
Navigating to Updates from Leap takes noticeably longer than a normal page load.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a lot of unarchived notifications
2. Try to navigate there from any screen
3. The lag

**Expected behavior**
Page nav to updates shouldn't be noticeably different from other page nav

I do think that this is probably just fetching a lot mo

[2020-12-16 23:26] vvisigoth commented on #4162
Update this actually works if you click the header of the video, which opens it in a different page. This should clear on any interaction, IMO.

[2020-12-16 23:28] vvisigoth opened #4180 "Mobile notifications are too narrow"
Make it not like this

![image](https://user-images.githubusercontent.com/1609955/102418805-185fbf00-3fc4-11eb-84a4-5849640ecb67.jpeg)

[2020-12-17 00:08] vvisigoth commented on #4179
I just archived all these and it works fine, so problem is just rendering a huge backlog.

[2020-12-17 03:35] liam-fitzgerald commented on #4152
This will occur on notes that have been edited, a fix is on the way

[2020-12-17 05:10] liam-fitzgerald commented on #4177
ok have tracked down the cause: when we rewatch after a kick due to breach, this new watch will go out against the old life of the breached ship and thus will forever dangle, preventing us from cleaning up after the expected watch-nack. This actually works fine when the host deletes the chat but does not breach.

[2020-12-17 05:11] liam-fitzgerald commented on #4177
cc: @belisarius222 @philipcmonk

[2020-12-17 13:55] aliddell commented on #4172
~tadwyt-mormus here. I set that paste to expire after a day, so here it is for posterity
[aq22SN5h.txt](https://github.com/urbit/urbit/files/5709885/aq22SN5h.txt)
.

[2020-12-17 15:54] vvisigoth commented on #4177
wait wat
—
~poldec-tonteg
http://urbit.org

On Thu, Dec 17, 2020 at 9:54 AM Ted Blackman <notifications@github.com>
wrote:

[2020-12-17 16:02] vvisigoth commented on #4172
~tacryt-socryp is taking a look at this now!
—
~poldec-tonteg
http://urbit.org

On Thu, Dec 17, 2020 at 7:55 AM Alan Liddell <notifications@github.com>
wrote:

[2020-12-17 16:04] belisarius222 commented on #4177
Just read Gall's `+mo-breach` and `+ap-breach`.  Gall cancels incoming and outgoing `%watch` subscriptions, but it doesn't track un-acked `%poke`s or do anything about them when a peer breaches.  It seems to me that Gall should track outgoing foreign `%poke`s and auto-nack all of them on breach.

[2020-12-17 16:05] vvisigoth commented on #4177
Ah, OK can you just throw that info into another issue for gall?
—
~poldec-tonteg
http://urbit.org

On Thu, Dec 17, 2020 at 10:04 AM Ted Blackman <notifications@github.com>
wrote:

[2020-12-17 16:06] belisarius222 commented on #4177
Oh, no, I was wrong, you're talking about `%watch`es.  Well, Gall should cancel all of those when a peer breaches, both incoming and outgoing.  When the app retries the `%watch`, Ames should try that at the peer's new life -- unless there's a race condition where Gall is doing this before Ames hears about the breach.

[2020-12-17 17:00] belisarius222 commented on #4177
Ames and Gall both subscribe to Jael's `%public-keys` notifications for ships they're communicating with.  Those notifications aren't sent to any particular vane first; the gifts are given in mug order.  If Ames gets it first, it will clear its messaging state with the peer, then Gall will adjust the app's state and notify it of the kick, engendering a resubscribe, which Ames then correctly enqueu

[2020-12-17 17:14] belisarius222 commented on #4177
Sorry, didn't mean to click the "close" button.

[2020-12-17 19:40] joemfb opened #4182 "urbit runs out of memory (bail:meme)"
The urbit runtime (`u3`, `vere`) uses a fixed-size, contiguous memory arena (the *loom*), limited to 2GB. This arena is both the locus of persistent state and a working space for incremental computation, so running out of memory can be either conceptually transient (an event caused too much ephemeral allocation) or abiding (the persistent state is so large as to prevent incremental computation). C

[2020-12-17 19:43] joemfb commented on #4182
Further context:

- bail motes (runtime exceptions): https://github.com/urbit/urbit/issues/3263#issuecomment-670707729
- an older, longer writeup on the state of recovery tools: https://github.com/urbit/urbit/issues/3645#issuecomment-709631355
- implementation details of loom persistence: https://github.com/urbit/urbit/issues/4150#issuecomment-743967478

[2020-12-17 19:44] joemfb commented on #3117
This issue is obsolete; recovery tool have changed (and improved) significantly. Latest details and tracking at #4182.

[2020-12-17 19:44] #3117 closed

[2020-12-17 19:47] joemfb commented on #3645
Closing in favor of #4182.

[2020-12-17 19:47] #3645 closed

[2020-12-17 19:50] joemfb commented on #1629
Compiler memory usage was dramatically improved earlier this year (capped caches), and there's a well-established pattern of invoking the compiler in a new road. The larger issue of bail:meme is tracked at #4182.

[2020-12-17 19:50] #1629 closed

[2020-12-17 19:52] joemfb commented on #2677
bail:meme recovery tools have significantly improved since this was encountered, ongoing details are now tracked at #4182.

[2020-12-17 19:52] #2677 closed

[2020-12-17 19:53] joemfb commented on #2456
Closing in favor of #4182.

[2020-12-17 19:54] joemfb commented on #2283
Recovery tools have significantly improved, bail:meme details are now tracked at #4182.

[2020-12-17 19:54] #2283 closed

[2020-12-17 19:54] joemfb commented on #2108
Closing in favor of #4182

[2020-12-17 19:54] #2108 closed

[2020-12-17 19:55] joemfb commented on #3623
Closing in favor of #4182.

[2020-12-17 19:55] #3623 closed

[2020-12-17 19:56] joemfb commented on #3263
Closing in favor of #4182.

[2020-12-17 19:56] #3263 closed

[2020-12-17 19:56] joemfb commented on #3190
Closing in favor of #4182

[2020-12-17 19:56] #3190 closed

[2020-12-17 20:01] joemfb commented on #2896
The recovery tools in question have been entirely reimplemented. bail:meme and related details are now tracked in #4182.

[2020-12-17 20:01] #2896 closed

[2020-12-17 20:03] joemfb commented on #1908
@Fang-, do you think #4167 fixed this?

[2020-12-17 20:04] joemfb commented on #1790
@Fang-, #4167?

[2020-12-17 20:05] joemfb commented on #3116
Closing in favor of #4182.

[2020-12-17 20:05] #3116 closed

[2020-12-17 20:15] joemfb commented on #3900
Fixed in #3901.

[2020-12-17 20:15] #3900 closed

[2020-12-17 20:29] joemfb commented on #1767
Closing in favor of #4182

[2020-12-17 20:29] #1767 closed

[2020-12-17 20:30] JohnELester commented on #4164
I'm seeing this same error.

[2020-12-17 20:49] #4040 closed

[2020-12-17 20:50] tacryt-socryp commented on #3260
There is not a settings tab any longer. Closing.

[2020-12-17 20:50] #3260 closed

[2020-12-17 20:50] tacryt-socryp commented on #3765
Does this still occur?

[2020-12-17 20:53] tacryt-socryp commented on #3821
Given that `%chat-view` no longer exists, this bug can be closed, as the code path that may have been causing this issue no longer exists.

[2020-12-17 20:53] #3821 closed

[2020-12-17 20:53] tacryt-socryp commented on #3093
Does this still occur?

[2020-12-17 20:54] tacryt-socryp commented on #3704
We do currently hide the new channel button for non-admins. Do we have a concrete group role story, or is that being fleshed out by design for Q1?

[2020-12-17 20:55] tacryt-socryp commented on #4177
Is this a kernel-level bug?

[2020-12-17 21:00] belisarius222 commented on #4177
I think so, yes.

[2020-12-17 21:01] tacryt-socryp commented on #4146
@yourfavouriteuncle Could you post the output of all of the following?

[code]

[2020-12-17 21:04] tacryt-socryp commented on #4177
Okay. Am interested in learning more if you're free to talk today or tomorrow.

[2020-12-17 21:07] tacryt-socryp commented on #4146
@belisarius222 This may be a dupe of #4177, but I'm unsure until I get more info.

[2020-12-17 21:20] yourfavouriteuncle commented on #4146
@tacryt-socryp check your Discord DMs, I think that way it will go faster. Here's the output though:

[code]

[2020-12-17 21:33] joemfb commented on #4177
I agree that breach notifications should go through %ames to anything else that needs them.

[2020-12-17 21:50] JohnELester commented on #4164
I tried leaving the group and rejoining.  The stuck channel is still there.

[2020-12-17 21:51] dpc commented on #3093
At some point a combination of OTAs and me [tweaking nginx config that I put in front of my urbit](https://dpc.pw/nginx-proxy-for-urbit-in-nixos) helped.

[2020-12-17 21:51] #3093 closed

[2020-12-17 22:01] ryjm commented on #3765
i haven't seen it since, you can close

[2020-12-17 22:02] #3765 closed

[2020-12-17 22:03] ryjm commented on #4164
yeah there's a fix incoming - hark wasn't dismissing edit-notes properly i believe.

[2020-12-17 22:03] #1315 closed

[2020-12-17 22:04] tacryt-socryp commented on #2682
No longer occurs.

[2020-12-17 22:04] #2682 closed

[2020-12-17 22:04] ryjm commented on #4164
oh wait that was a different issue - i did hear this was one was fixed as well though.

[2020-12-17 22:04] #4101 closed

[2020-12-17 22:08] Fang- commented on #1790
Yes, this looks like the issue that fixed.

[2020-12-17 22:08] #1790 closed

[2020-12-17 22:09] Fang- commented on #1908
Considering this seems to be a duplicate of #1790, yes, I would think so!

[2020-12-17 22:09] #1908 closed

[2020-12-17 22:12] tacryt-socryp commented on #4146
@yourfavouriteuncle Can you join other groups and communicate with other ships?

[2020-12-17 22:13] yourfavouriteuncle commented on #4146
@tacryt-socryp I can't join any groups, but I can send DMs.

[2020-12-17 22:46] tylershuster opened #4183 "hark/interface: mentions not created when @ps followed by punctuation"
The problem here is that mentions don't get matched if followed by punctuation like:

~radbur-sivmus, blah blah
...I think that was ~radbur-sivmus.

This should probably be solved by allowing a handful of characters to be present at the end of the `@p`

[2020-12-17 23:07] philipcmonk commented on #4177
Heh, someone want to guess the problem:

https://github.com/urbit/urbit/blob/6499eb5fe0bd81c91f12d6f9ebcc6843b2ca7ac7/pkg/arvo/sys/vane/jael.hoon#L675-L684

This was super confusing to me because I *knew* we solved this problem a while back, until I remembered we solved it with that naughty trick of inspecting the wires...

While this should be properly solved eventually, for now we should just ma

[2020-12-17 23:10] vvisigoth commented on #4177
Any way we can get a fix into taht /sys OTA that is "about" to happen?
—
~poldec-tonteg
http://urbit.org

On Thu, Dec 17, 2020 at 5:07 PM Philip Monk <notifications@github.com>
wrote:

[2020-12-17 23:12] philipcmonk commented on #4177
Yeah, for sure.  I can write a quick fix.  @liam-fitzgerald or someone else, do you have a convenient way to test it?  Usually I would never touch this stuff without Aqua available, which is why we shouldn't try a more disruptive fix right now, but just restoring the previous behavior should be safe enough if we can verify it fixes this issue.

[2020-12-17 23:17] liam-fitzgerald commented on #4177
#4181 + the necessary pill shenanigans + cloning bridge and running npm run pilot + mapping the necessary galaxy domains in your /etc/hosts (zod.example.com, etc. ) is enough to get urbit working on a local eth chain

[2020-12-17 23:18] belisarius222 commented on #4177
inspecting ducts is definitely not Santa-approved

[2020-12-17 23:21] philipcmonk commented on #4177
If you've got an environment set up, can you give #4184 a quick whirl?  Otherwise I can give it a shot in a little bit

[2020-12-17 23:22] belisarius222 commented on #4177
Is it that we switched to whole vane names in wires, and `(lth %ames %gall)` is `%.n`?

[2020-12-17 23:23] philipcmonk commented on #4177
Yep, little endian strings...

[2020-12-17 23:40] joemfb commented on #1474
Due to the bytecode interpreter's use of the road stack, this kind of resource exhaustion will now always be a bail:meme (see #4182).

As for the object level issue, `:talk` is gone, and nothing archives to json anymore.

Closing as obsolete.

[2020-12-17 23:40] #1474 closed

[2020-12-17 23:54] joemfb opened #4185 "hoon: legacy $foo syntax still (partly) supported"
Legacy hoon %141 syntax was removed in #4033, but `$foo` syntax for constant molds is still, strangely, partly supported. While it was correctly removed from `$spec`, it had been duplicated in `$hoon` (the `%leaf` AST node), and that duplication was not removed.

This is not a big deal, as it requires some gymnastic to use in a syntactic context that requires a spec (`$;($foo)`), but it should be

[2020-12-18 03:13] joemfb commented on #4062
Thanks, @Sidfyl. Closing in favor of #4105 (which was likely the fix) and/or #4182, which tracks bail:meme in general.

[2020-12-18 03:13] #4062 closed

[2020-12-18 03:16] joemfb commented on #2810
@ixv, I expect this was made obsolete by ford-fusion. Have you seen it since?

[2020-12-18 03:49] ixv commented on #2810
I have not seen it since

[2020-12-18 03:49] #2810 closed

[2020-12-18 04:31] #4152 closed

[2020-12-18 04:31] #4133 closed

[2020-12-18 04:31] #4131 closed

[2020-12-18 04:32] #3969 closed

[2020-12-18 04:32] #3977 closed

[2020-12-18 04:32] #4012 closed

[2020-12-18 04:32] #4029 closed

[2020-12-18 05:30] tylershuster opened #4186 "chat: loading a channel with unread messages where the unread marker is visible should mark messages as read"
see title

[2020-12-18 17:11] galenwp opened #4187 "Unable to archive notifications"
**Describe the bug**
Archiving a notification fails on a js error. The urbit-side update seems to happen, but something breaks in the ui.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Notifications
2. Click on Archive
3. See error

**Expected behavior**
Clicking archive and it, uh, archiving

**Screenshots**
<img width="1083" alt="Screen Shot 2020-12-18 at 9 10 03 AM" src="https://us

[2020-12-18 17:14] vvisigoth commented on #4187
cc @tacryt-socryp can you take a look at this and fix if it's simple. don't know when ~hastuc will be back online.

[2020-12-18 17:16] galenwp opened #4188 "Blue dot persists despite empty inbox"
**Describe the bug**
My inbox is empty, my blue dot will not die

**To Reproduce**
Steps to reproduce the behavior:
1. Go to notifications
2. Archive everything
3. See blue dot

**Expected behavior**
When things are archived, I assume I'm also marking as read.

**Screenshots**
<img width="1230" alt="Screen Shot 2020-12-18 at 9 13 58 AM" src="https://user-images.githubusercontent.com/1467211/102641

[2020-12-18 17:16] galenwp commented on #4188
FWIW, a refresh will fix this.

[2020-12-18 17:18] tacryt-socryp commented on #4187
Sure, will take a look momentarily.

[2020-12-18 17:19] vvisigoth commented on #4188
FTR you archived "unread" notifs, right?
—
~poldec-tonteg
http://urbit.org

On Fri, Dec 18, 2020 at 11:17 AM Galen Wolfe-Pauly <notifications@github.com>
wrote:

[2020-12-18 17:23] galenwp commented on #4188
Yes

[2020-12-18 17:23] galenwp commented on #4187
Thanks!

[2020-12-18 17:25] galenwp commented on #4186
We were just talking about this, and I think I agree, but I'm curious about the details.

In a channel where there's a lot of unread backlog (i.e., it goes off the screen), should we mark as read when you land on the page? Or should we have you click the button? I kind of wonder whether the banner shouldn't also have an option to take you to the point that you left off (or should we do that by def

[2020-12-18 17:32] urcades commented on #4186
100% agree with this, this needs to be the default state.

I thought a lot about this back when we were encountering the bulk of baseline UX issues around scrolling and chat loading, and I think that regardless of the amount of back scroll, for performance reasons, we should effectively always initialize a channel's placement at the very most recent posts, for the pure purpose of performance and *

[2020-12-18 17:33] urcades commented on #4186
Related to the last statement made above about clicking the banner:

Another thing I think we could eliminate here, in terms of keeping/setting state would be to eliminate the need to click the banner to mark as read. I think this was an idealistic perspective when we first shipped this banner, but it seems to cause confusion more often than not.

I think this could be simplified by just changing

[2020-12-18 17:37] tacryt-socryp commented on #4146
@philipcmonk Is this a duplicate of #4177?

[2020-12-18 17:38] galenwp opened #4189 "Re-sort when a comment on a post is made"
**Describe the bug**
When I comment on a post in a notebook, that notebook doesn't re-sort in the sidebar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a notebook
2. Make a comment
3. See it remain in the same place on the sidebar

**Expected behavior**
If a comment doesn't cause an unread / re-sort on a notebook, I'll never know if any activity is happening in there.

[2020-12-18 17:40] #2058 closed

[2020-12-18 17:48] galenwp opened #4190 "Mentions should work in Notebook posts"
**Describe the bug**
When I mention someone in a notebook post, nothing happens.

[2020-12-18 17:48] galenwp commented on #4190
To repro: try just putting ~ravmel-ropdyl in a post. This works in comments — but not in posts themselves. Or at least not when you're editing them.

[2020-12-18 18:14] kennyrowe opened #4191 "Unread counts from link collection"
**Description:**
Landscape is showing a link collection as bold (unread message) as well as unread counts on the home screen, but there are no unread links in the collection.

[code]

**Reproduction:**
- Booted a moon and subscribed to the group and created test links. There were no issues.
- Unable to determine if other subscribed ships are experiencing the same error.

**Screenshots:**
![image](

[2020-12-18 18:29] tacryt-socryp commented on #4187
This is a reducer issue, figuring out how to resolve it and once we've verified it's fixed, will cut a new release.

[2020-12-18 18:31] vvisigoth commented on #4187
thanks
—
~poldec-tonteg
http://urbit.org

On Fri, Dec 18, 2020 at 12:30 PM L <notifications@github.com> wrote:

[2020-12-18 18:44] tacryt-socryp commented on #4187
I've fixed the issue. The issue was that the reducer had been partially updated to no longer handle the "archive" view, but not all the way, and the UI still expected "archivedNotifications" and an "archiveBox" to exist. By removing those lingering properties and removing the "archived" view in notifications, the UI now works as expected.

[2020-12-18 18:53] urcades commented on #3704
@tacryt-socryp designs are complete for this! They have yet to receive a round of critique, but structurally, I think the approach is rather solid.

See the following prototype:

https://www.figma.com/proto/ovD1mlsYDa0agyYTdvCmGr/Landscape?node-id=3405%3A0&viewport=398%2C13%2C0.22694168984889984&scaling=min-zoom

[2020-12-18 18:53] urcades commented on #3704
In the "Admins" version of the group, you should see in the "Channels" section the ability to set channel creation limitations.

[2020-12-18 18:56] tacryt-socryp commented on #625
Has this been resolved by the most recent round of Hoon changes? @joemfb @jtobin

[2020-12-18 18:57] tacryt-socryp commented on #711
Is this still an issue in current gall? @philipcmonk

[2020-12-18 18:58] tacryt-socryp commented on #1481
I strongly believe this issue has been resolved by Ford fusion. Let me know if I can close.

[2020-12-18 19:33] ohAitch commented on #625
Well, `raft.c` no longer exists, and `noun.c` is now a bytecode interpreter, so the patch certainly no longer reverts cleanly XD

@philipcmonk do you know if "the outer road doesn't have access to memoization" is still an accurate statement in the current system? I do vaguely remember seeing a PR about this.

[2020-12-18 19:57] joemfb commented on #625
Memoization is still disabled on the home road, and the memoization cache is still not promoted across roads. Enabling either is simple, having confidence in the correctness and/or righteousness of either is somewhat less so.

Note that the `~+` in question is most likely in `|us`, and that the relevant rendering to `$tank` takes place in the serf.

I tried virtualizing `$tank` printing in the kin

[2020-12-18 20:25] urcades commented on #3704
To be a bit more clear about the permissions 'story' @tacryt-socryp :

Currently the permissioning being pushed is a very simple model by which we (still) have "Admins" and "Members" only.

Channel creation is determined against these two roles, where the toggle is binary:

1. Only admins can create channels
2. All members can create channels

The included detail here is that at any time, the orig

[2020-12-18 20:26] urcades commented on #3704
Let me know if you have any questions here — the linked interface reflects the above description, but feel free to leave questions/comments directly in the figma prototype.

[2020-12-18 20:36] philipcmonk commented on #711
This is fixed

[2020-12-18 20:36] #711 closed

[2020-12-18 20:38] philipcmonk commented on #4146
Not if they didn't perform a personal breach

[2020-12-18 21:13] #4126 closed

[2020-12-18 21:13] #4177 closed

[2020-12-18 21:13] #4187 closed

[2020-12-18 22:15] gilletteonmeheleparim opened #4194 "graph-store: gall: poke-as cast fail"
When I'm poking graph-store with `graph-update` to add a graph to previously created graph (to an existing resource) or adding nodes, gall returns an error `poke-as cast fail`. See here: https://pastebin.com/B3pZ1qwL

Lines 1-3 is the PUT request body, where is the JSON payload to poke graph-store. I've checked the payloads mach with the current graph-store API, at least to me. Am I doing anything

[2020-12-19 00:30] JohnELester opened #4196 ""fmdae" OTA fails (not applied to home) for many ships"
The latest `fmdae` update is failing for many planets and stars (seeing this reported in Help and General channels in U-C).  This also happened to my ships ~naltyc-wornes and ~dasfeb.

The point where it goes wrong:
![1](https://user-images.githubusercontent.com/25461543/102675420-4c271a00-4167-11eb-8ea3-c04a37be9b32.png)

`+trouble` shows the OTA has been received in `sour` but was not applied.
!

[2020-12-19 00:36] yapishu commented on #4196
I had the same occur for me with `~sitful-hatred`, with the same messages as `~naltyc`. However, the OTA was applied successfully to `~matwet`, which is my sponsor.

[2020-12-19 00:37] Fang- commented on #4196
The team is already on it! I believe #3990 and/or #4195 will go out as fixes soon. Thank you for reporting regardless. (:

[2020-12-19 01:27] JohnELester commented on #4164
I'm still seeing this problem.  Channels that I unsubscribed from while urnead are still stuck, spinning forever when I click on them.   I'm on `74m9v` base hash.

![111](https://user-images.githubusercontent.com/25461543/102677196-58af7080-416f-11eb-8735-f5d93ac031bf.png)

![222](https://user-images.githubusercontent.com/25461543/102677200-5baa6100-416f-11eb-83e2-98ba13cde224.png)

[2020-12-19 01:50] ritfed-tabryg commented on #4196
This issue was fixed for me by #4195/`urbit-os-v2.11`/`74m9v`. Does this not work for anyone, or should this issue be closed?

[2020-12-20 01:56] ohAitch commented on #625
Can you confirm whether or not doing so causes a *subjective* change in the experience of typing `ut` in dojo? If the runtime difference is like under 20% I would count the original issue as solved by `|us` rewrite, since I remember it being much more dramatic; though reducing use(/memory footprint+nonlocality) of tapes everywhere in the system is certainly a related laudable goal.

[2020-12-20 02:23] tylershuster opened #4199 "groups: channel delete should need confirmation"
yikes

[2020-12-21 15:00] yourfavouriteuncle commented on #4175
same issue as #4146

[2020-12-22 00:55] lrettig commented on #4015
My ship has been stable since the network breach, so this can be closed if you like. I did see an error once when I hit CTRL-D to shut down. Also, I have an archive of my pier from before the breach/upgrade in case someone wanted to investigate further.

[2020-12-22 03:33] mike-cr opened #4200 "Chat: Read messages show as unread"
**Describe the bug**
Oftentimes, when a new message comes in, it'll mark several of the messages above it as unread also.

**To Reproduce**
Steps to reproduce the behavior:
1. ???

**Expected behavior**
Unread count should be accurate

**Desktop (please complete the following information):**
 - OS: arch linux
 - Browser qutebrowser
 - Base hash 74m9v

[2020-12-22 03:58] ryjm commented on #4200
I'm also seeing this in on nixos and brave.

(Sorry I know this is a bit off topic, but how is qutebrowser fairing for you? I've noticed a few people reporting bugs using it (or maybe it's just been you hah), wondering if it's useable now. Feel free to dm me at ~littel-wolfur)

On Mon, Dec 21, 2020 at 10:33 PM, mike-cr < notifications@github.com > wrote:

[2020-12-22 15:33] sigilante commented on #1680
I'm willing to port these now:  I have implementations for most of these already in Hoon and can write the jets very quickly.

[2020-12-22 15:47] sigilante commented on #1680
https://github.com/sigilante/lazytrig/blob/master/lib/lazytrig.hoon

I currently have:

[code]

These can be cleaned up quickly and the rest added.

[2020-12-22 16:24] timlucmiptev opened #4201 "hark: crash when clearing notifcations"
**Describe the bug**
In one particular channel, when I try to mark messages as unread, I get the following crash:
[code]

**To Reproduce**
Have not been able to repro in other channels. This happens regardless of hard refreshes, etc.

**Desktop (please complete the following information):**
 - OS: MacOS 11.1
 - Browser: Brave
 - Base hash: 74m9v

[2020-12-23 07:21] timlucmiptev commented on #4201
This is the line in question:
https://github.com/urbit/urbit/blob/master/pkg/arvo/app/hark-store.hoon#L392
`?>(!=(read read.n) n(read read))`

I'm not super-familiar with `hark`, but it seems that the store got itself into an inconsistent state wrt marking messages as read and now can't get out.

[2020-12-23 15:57] mike-cr opened #4202 "Chat: newlines are being turned into spaces again"
**Describe the bug**
if you compose a message like
[code]
it becomes `1 2 3` when you send

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chat
2. compose multi-line message
3. Send
4. Observe it's now one line

**Expected behavior**
newlines should be preserved

**Desktop (please complete the following information):**
 - OS: arch linux
 - Browser qutebrowser
 - Base hash 74m9v

[2020-12-27 17:53] tylershuster opened #4204 "Navigating to new note keeps scroll position"
Go to a notebook, click a note, scroll to the bottom and click to go to the next or previous note. The scroll position stays the same instead of going back to the top

[2020-12-28 17:50] ynx0 opened #4205 "Chat: Inline sigil viewer is hidden behind chat input"
**Describe the bug**
When trying to click on a user to view the expanded sigil menu, it is hidden behind the chat input box when it is close to the bottom of the screen. This is especially bad when accessing the menu from an inline mention.

The bug stops the user from being able to click the 'Send Message' button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any chat
2. Send a mess

[2020-12-29 09:14] mike-cr opened #4206 "Landscape frequently [Reconnecting] while dojo prints %missing-subscription-in-unsubscribe"
**Describe the bug**
My Landscape frequently shows the reconnecting spinner for a few seconds, and dojo spits out:
[code]
**To Reproduce**
Unsure
**Expected behavior**
Landscape should not keep having to reconnect

**Desktop (please complete the following information):**
 - OS: arch linux
 - Browser qutebrowser
 - Base hash 74m9v

[2020-12-31 18:15] tylershuster opened #4207 "publish: navigating to note via next/prev links fails to set unread status"
Possibly related to https://github.com/urbit/urbit/issues/4204

[2021-01-01 10:02] lycurgus opened #4208 "Space appended to chat message on mobile"
**Describe the bug**
Sending a chat message from a mobile browser appends a space character to the line. This is mostly a problem in conjunction with the auto-linking parser which fails to create a link to e.g. a group if there's any other content in the message. A space counts as content.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a chat channel (e.g. a DM) on a mobile browser
2.

[2021-01-01 21:13] ngzax commented on #4208
I have just observed this same behavior.

Device: iPhone 8
OS: iOS 14.2
Browser: DuckDuckGo
Base hash: 74m9v

[2021-01-02 07:26] ohAitch opened #4209 "Print `?(@t @)` as @t if (sane %t), @ otherwise"
**Problem**

This is generalization of "the `octs` problem": how do you type a datastructure which almost always contains printable text, but may on occasion be used for arbitrary bytes.
1) `@` or `@ux` is unsatisfying, because it makes it much more difficult to debug the common case
2) `@t` is impractical, as when you do run into "bad" bytes, whatever tries to print them will be unhappy

**Propos

[2021-01-02 20:54] dchem opened #4211 "graph-join thread retries too hard"
**Describe the bug**
`urbit-worker` is taking 99-100% of the CPU. This behavior started on its own three days ago.

As a consequence, landscape and group talks are either painfully slow or times out.

Running urbit with `urbit -v <shipname>` shows endless stream of:

[code]

**To Reproduce**
Not sure I am able to reproduce it.

**Expected behaviour**
`urbit-worker` should not be consuming all avai

[2021-01-02 22:56] dchem commented on #4211
Not sure if this is relevant. I got this output after a while.

[code]

[2021-01-03 15:28] dchem commented on #4211
CPU consumption still high, and response still slower than before, but seems mitigated by moving to a new VM host with bigger resources.

[2021-01-03 22:16] Fang- commented on #4211
I see the ames `packet failed` ones too, on rare occasion. Just means ames failed to decrypt a packet for some reason. Probably unrelated, we may or may not want to be a bit less verbose on those.

Hmm, wondering if you just have a thousand threads waiting/retrying for some reason.
Can you make sure you've run `|start %dbug`, then visit `/~debug/spider` on the web interface, and say ~how many thre

[2021-01-03 22:29] tylershuster commented on #4211
Possibly related that many people including myself report seeing floods of

~mister-todteg is not responding
~mister-todteg is ok

[2021-01-04 10:00] Fang- opened #4212 "Editing publish comment eats leading ~ for ship names"
Posting a comment that says "~zod is cool" will correctly highlight the `~zod` as a mention. But when clicking "update" on that comment, the text field will contain `zod is cool`, without the `~`.

[2021-01-04 16:05] matildepark commented on #4153
@liam-fitzgerald Seems like participants in unmanaged graphs have a resubscription quirk of some kind? Any idea about next troubleshooting step here?

[2021-01-04 16:08] matildepark commented on #4160
This is actually specifically a metadata-store issue — can you confirm this wasn't just delayed propagation? Is the channel still there for everyone?

[2021-01-04 16:47] matildepark commented on #4162
This isn't a hark issue, it's a FE issue in Publish and Links. But yes, clicking into any link should be treated as a read.

[2021-01-04 16:50] matildepark commented on #4179
Guess we're virtualising everything!

[2021-01-04 16:51] tylershuster commented on #4162
possibly dupes: https://github.com/urbit/urbit/issues/4207

[2021-01-04 16:53] matildepark commented on #4162
Possibly — I haven't looked at where we send 'read' actions post-hark. It used to send a read whenever we opened the note / link comments pages, and hark added it so that when you click on the rounded rectangle in the index it sends a read, but idk if that removed the previous behaviour.

[2021-01-04 17:49] matildepark commented on #4183
I believe this is an on-submit fix; we construct multi-content graph nodes in FE's submission flow and we're probably going off whitespace string logic.

[2021-01-04 17:56] Fang- commented on #4160
Can confirm it's still there.

[2021-01-04 17:56] matildepark commented on #4188
So basically "archiving should mark something as read first, then archive"

[2021-01-04 17:58] matildepark commented on #4186
Our last implementation in the VirtualScroller marked as read when you saw the blue line or scrolled to bottom, which was generally sane and worked as described in OP. Did that regress in graph rewrite?

[2021-01-04 18:00] matildepark commented on #4189
Are you sure you want to resort the sidebar based on any last updated child nodes of the graph, not just the parent nodes? That could get busy and confusing — you'll often see a channel jump to the top and have to go looking for the new comments down in the list indefinitely.

Comments really only matter when you're subscribed to the thread for notifications, IMO.

Tagging @urcades — a UX question

[2021-01-04 18:32] urcades commented on #4189
Yeah, I was evaluating this when it was first proposed and came to a similar conclusion — while the issue might not be "too much of an issue" these days, I optimistically imagine a future where comments on child elements in a channel are frequent and heavy, and the navigational leap from 'sidebar reorder' to 'some child element' can become quickly confusing as the interfaces currently stand.

I th

[2021-01-04 19:10] matildepark commented on #4189
So, not an issue — but a design consideration in a broader sense for later. Closing.

[2021-01-04 19:10] #4189 closed

[2021-01-04 19:15] matildepark commented on #4191
Phantom unreads seemingly happen predominantly with Links and Publish — is this because their structures both changed producing quirk behaviours? How could this be instigated, and how can we work around and avoid this later? @liam-fitzgerald

[2021-01-04 19:25] matildepark commented on #4164
Also can't leave Jobs + Gigs, also stuck forever.

[2021-01-04 19:25] matildepark commented on #4196
Closing this as of #3990, #4195.

[2021-01-04 19:25] #4196 closed

[2021-01-04 19:32] matildepark commented on #4200
You mean the blue line is a few messages above the latest one?

[2021-01-04 19:32] mike-cr opened #4213 "Publish: Make it possible to mark read without opening note"
**Problem**
there's seemingly no way to mark a note read without actually opening it
**Proposed Solution**
Add a button to mark a note read from the notebook index

**Possible Alternatives**
Maybe a slight ui redesign that makes a clear distinction between the note heading/listing/container thingy and its contents aka the note itself, so there's an obvious place to click that won't open the note.

[2021-01-04 19:33] matildepark commented on #4213
Related to #4162. We need parity and thorough behaviours for setting both notes and links as read.

[2021-01-04 19:46] matildepark commented on #4202
For anyone watching, note that the new lines are indeed preserved — they're just being flexboxed into one line on render. Annoying.

[2021-01-04 19:55] matildepark commented on #4205
Duplicate of #3640.

[2021-01-04 19:55] #4205 closed

[2021-01-04 21:27] dchem commented on #4211
@Fang- Thank you for a quick response!

Yes, indeed there are many threads, but about a few dozens (not thousands)

![Capture](https://user-images.githubusercontent.com/1108367/103581254-aafbcb80-4ea9-11eb-90a4-f0c9a1cab504.PNG)

[2021-01-04 21:44] Fang- commented on #4211
Thanks, this is useful. I noticed a bunch of (~20) threads on ~palfun as well, and killing them all with `:spider|kill` gave me no ill effects, so wondering if there's some cleanup step that's not behaving properly. Stale threads wouldn't explain your issue though, so, further questions:

In the `|verb` output you gave, is the thread-id (which I think you redacted from the wire) always the same? I

[2021-01-04 21:44] matildepark commented on #4164
@tacryt-socryp Can you take a look at this this week?

[2021-01-04 22:14] tacryt-socryp commented on #4164
Yes, happy to.

[2021-01-04 22:19] tacryt-socryp opened #4214 "Nix Build Fails on MacOS Big Sur"
I just upgraded to Big Sur, and have found that while Nix installs properly, Curl fails to build while building the Urbit binary. I believe @matildepark has seen the same issue. Has anyone figured out how to build binaries properly on Big Sur?

[code]

[2021-01-04 22:20] matildepark commented on #4214
You knew I was in hell and you *joined me*

[2021-01-04 22:21] matildepark commented on #4214
I think this is related but I have no idea how to apply the patch in the first comment if so: https://github.com/NixOS/nixpkgs/issues/104580

[2021-01-04 22:34] tacryt-socryp commented on #4164
@matildepark I can't reproduce this issue with Jobs + Gigs. Is there any way I can take a look at your ship to figure out the issue?

[2021-01-04 22:49] dchem commented on #4211
Here's an output:

[code]

[2021-01-04 22:53] liam-fitzgerald commented on #4191
can you run `:hark-store %foo` and post results?

[2021-01-04 23:00] kennyrowe commented on #4191
[code]

[2021-01-04 23:09] tacryt-socryp commented on #4160
Okay, sounds good. I believed that this was fixed, but I'll work on a repro.

[2021-01-04 23:20] tacryt-socryp commented on #4160
The normal flow is the following: group host sends a `%remove-group` action to their own ship's store, which causes a fact to be sent to the `%group-push-hook`. This fact runs through `+take-update` to send out side effects for various facts, where the side effects are sent out after the original update. The host ship sends out a `%remove-group` fact to all subscribers, and the card immediately af

[2021-01-04 23:26] tacryt-socryp commented on #4146
https://github.com/urbit/urbit/issues/4146#issuecomment-747708816

Based on the above output, I must say, I have no idea why `%group-push-hook` isn't properly watching the group. I can't imagine a reason why this would occur other than some sort of ames/gall issue that I've never seen before.

[2021-01-04 23:26] matildepark commented on #4200
Tagging @liam-fitzgerald because it's a hark issue. Wondering if our other quirky behaviours regarding #4166 are influencing this.

[2021-01-05 00:15] philipcmonk commented on #4211
I wish I knew what those threads were doing.  The only effects they're emitting is a timer for a little later (seems to be either 0.5 or 1 second later, but I didn't check them all).  However, those timers aren't firing immediately at the time they're set to, which suggests there's too many for it to keep up.

@tacryt-socryp @liam-fitzgerald I haven't kept up with all the threads you've added, do

[2021-01-05 00:16] tacryt-socryp commented on #4211
None of the ones I've added use behn timers. ☺️

[2021-01-05 00:26] philipcmonk commented on #4211
https://github.com/urbit/urbit/blob/598a46d1f7520ed3a2fa990d223b05139a2fe344/pkg/arvo/ted/graph/join.hoon#L26-L39

Could be this.  Unusual that we'd only get through five iterations of that per second, but maybe that scry is quite long.  If so, we should be able to see in app-specific verbs.

@dchem Can you run these and see if they start giving output.  It'd be useful to see examples of the outpu

[2021-01-05 00:41] dchem commented on #4211
@philipcmonk

[code]

[2021-01-05 00:54] philipcmonk commented on #4211
Looks like `+wait-for-md` later in that same thread.  That's the send-to-last thing it does while joining a graph.  I wonder if the other ship isn't responding, and the frontend is triggering this thread repeatedly as you navigate in landscape, and eventually it went over the threshold where it couldn't process them in the 0.5 seconds.

@dchem Could you add `~&  resource=resource` before line 49 i

[2021-01-05 02:16] yourfavouriteuncle commented on #4146
@tacryt-socryp is there something I can do to reset my state?

[2021-01-05 02:23] yourfavouriteuncle commented on #4146
Ah, here's something from the docs:

[code]

I've used the same key to recreate my pier multiple times with different binaries. I thought this would reset my state and I wouldn't have issues. I'll do a personal breach and report back.

[2021-01-05 02:26] yourfavouriteuncle commented on #4146
Holy shit breaches are expensive.

[2021-01-05 02:29] philipcmonk commented on #4146
Yes they are right now.  Gas prices are high, you might be able to spend less if you wait a day or two, but no guarantees.  You can check gas prices at https://ethgasstation.info/, I've been seeing them about 100-150 recently

[2021-01-05 02:32] tacryt-socryp commented on #4146
Booting the ship multiple times with the same key would fully explain this issue. I don't believe this is a bug in the groups backend. Let me know how the personal breach goes!

[2021-01-05 03:16] yourfavouriteuncle commented on #4146
Okay, things seem to be working after a personal breach and I can join groups again :tada: I got the updates applied to the `1.0` binary. Base hash is : `6pvj2]`

However I noticed two strange messages in case you want to have them in the backlog:

[code]

[2021-01-05 03:22] philipcmonk commented on #4146
Glad to hear!  Those warnings are harmless

[2021-01-05 03:25] #4146 closed

[2021-01-05 05:25] dchem commented on #4211
@philipcmonk Forgive my ignorance on the matter, so what I've done is to
[code]
then edit the hoon file to add `~& resource=resource` before line 49, indented correctly.
then unmount the sandbox.

[code]

I'm not sure what I should be watching out for in terms of what output.

[2021-01-05 06:15] dchem commented on #4211
@philipcmonk Forgive my ignorance here:

Mount:
[code]

Then modify the file above with `~& resource=resource` between lines 48 and 49:
[code]

Then commit:
[code]
I reloaded landscape, did stuff to groups, tried to join a new group, did a bunch of different stuff. I'm sorry, I'm not sure what I should be looking for.

[2021-01-05 06:31] dchem commented on #4211
What process should I be following?

1. Mount
2. Modify
3. Commit
4. <any verbose command I need to call?>

[2021-01-05 06:35] dchem commented on #4211
Unrelated observations:

`[%missing-subscription-in-unsubscribe '1609827853564-6c69cf' 15]`

^ I don't think this is result of adding that line into `join.hoon`

`ames: czar at dev.urbit.org: not found (b)`

^ is this meaningful?

[2021-01-05 07:53] dchem commented on #4211
oh god, rapidly increasing `ames: packet dropped`

[2021-01-05 10:46] Fang- commented on #4211
@dchem your process there looks good to me. To be clear: you're still seeing the `metadata-store: on-peek` printfs, but no `resource=` ones? That's rather unexpected.

(Though I think you want `~&  resource=rid` instead, @philipcmonk's suggestion will just print the type, I think?)

The `%missing-subscription-in-unsubscribe` are smelly but not necessarily related. The `ames:` printfs aren't partic

[2021-01-05 14:58] dchem commented on #4211
@Fang- Yes, no `resource=` output so far, and my ship is at `ames: packet dropped (74000 total)`

Will change to `~& resource=rid` and report findings.

[2021-01-05 15:05] dchem commented on #4211
Modified:
[code]
Committed:
[code]

[2021-01-05 15:14] dchem commented on #4211
I'm sorry I am not getting any `resource=` output but I am occasionally getting the following. I didn't notice it because they were only occasionally showing up in the sea of `%metadata-store: on-peek on path /y/group-indices` outputs:

[code]
and
[code]

@Fang- is there any other `+verb` I should be activating?

[2021-01-05 15:38] dchem commented on #4211
I can assist with live debugging via video if you guys want

[2021-01-05 15:58] matildepark commented on #4214
Possibly moving to staging might help? https://github.com/NixOS/nixpkgs/pull/107013

Don't know how myself, will look into this later today ...

[2021-01-05 17:15] yourfavouriteuncle opened #4215 "Starting an already running ship can corrupt the checkpoint"
Accidentally started my planet while it was already running. The terminal told me the old process was killed and a new one was started. I stopped the new one as well. After starting it again I'm getting an error:

[code]

I get the second assertion failure after pressing `Ctrl+C` once. I deleted and re-downloaded the v1 binary in an attempt to fix it. Still the same.

[2021-01-05 17:24] yourfavouriteuncle commented on #3570
I'm hitting this right now. @joemfb where can I find the command to remove the checkpoint and replay the log?

[2021-01-05 18:42] ritfed-tabryg commented on #3570
Either delete or archive `my-pier/.urb/chk`. It'll take anywhere from an hour to a couple days to replay your log depending on how long it is.

[2021-01-05 18:57] joemfb commented on #3570
That's right. The network is young (and therefore your ship is too), so it shouldn't take too long.

[2021-01-05 18:58] joemfb commented on #4215
This is definitely a bug -- we need to acquire the lockfile earlier in the startup process.

[2021-01-05 19:19] belisarius222 opened #4217 "hark-store nest-fail"
I've seen this at least twice now.  Not sure what triggered it, but I have also experienced difficulty accepting a DM request recently.  Coincidence?!?
[code]

[2021-01-05 20:29] yourfavouriteuncle commented on #4215
Found solution here #3570

[2021-01-05 20:54] ynx0 opened #4218 "Publish: edge case while trying to add writers to restrict when creating notebook"
**Describe the bug**
While creating a notebook and trying to restrict writers, one can make the UI fall into an invalid state where there are no entries in the writer field yet the form does not validate and erroneously stops the user from creating an unrestricted notebook.

**To Reproduce**
Steps to reproduce the behavior:
In a group you have permissions to create:
1. click new channel
2. select

[2021-01-05 21:09] matildepark commented on #4218
I can do, just some form validation stuff. It only validates on blur and it only submits the request with the candidates that are in the list — anything in the input box itself isn't submitted. But we could be clearer about how that works.

[2021-01-05 21:32] philipcmonk commented on #4217
What's your base hash

[2021-01-05 21:36] matildepark opened #4219 "chat: "new messages" banner uses oldest loaded timestamp, not last read"
Will see "4 messages since ~2020.11.5" when the newest messages are from today — seems to change per room, so I can only imagine it's pulling the top from the envelopes we have instead of the actual newest unread message.

(Did Hark change its unread order? Regardless, might not be too hard to fix...)

[2021-01-05 21:54] Fang- commented on #4211
Hmm, very very curious. There aren't any other threads (or even places in the codebase) right now that scry for `group-indices`, save for the bit we had you put the printf in (and some library function that never gets used). So why aren't we seeing that printf fire?

Been staring at this for a bit, and I'm puzzled. Wondering if there's some frontend code making scry requests and throwing us off, b

[2021-01-05 21:56] philipcmonk commented on #4211
The printfs are likely from already-running long-running threads.  Updating the thread doesn't affect already-running threads.   Long-running threads are an anti-pattern, and polling doesn't make much sense either.

[2021-01-05 21:59] Fang- commented on #4215
Thanks for diligently self-closing @yourfavouriteuncle, but unless I'm misunderstanding we'll want this to stay open to track the corruption bug. Reopening with updated title.

[2021-01-05 22:26] Fang- commented on #4211
Doh, that's exactly the obvious thing I was overlooking.

At this point, @dchem, why don't you try running `:spider|kill` in dojo, and see if that helps? Might be worth keeping an eye on that debug page, seeing if it actually removes a bunch of threads, or if they auto-respawn afterwards. Let us know how it goes!

[2021-01-05 22:36] vvisigoth commented on #4215
whoa good catch
—
~poldec-tonteg
http://urbit.org

On Tue, Jan 5, 2021 at 4:00 PM fang <notifications@github.com> wrote:

[2021-01-06 03:16] ixv opened #4228 "Unreads only go away when you scroll up and then down again to the bottom"
commit: c09ff8a

In cases where there isn't enough backlog to be able to scroll, they never go away. Observed on brave browser.

[2021-01-06 03:17] tylershuster commented on #4228
Not sure this *is* distinct from #4186...this is the behavior I experience.

[2021-01-06 03:19] matildepark commented on #4228
#4186 is that "seeing the blue line doesn't mark the channel as read", yeah? This is "if the channel is too smaller than a page, it cannot be marked as read". We want to mark the channel as read in such cases; and for 4186, we also want to restore the blue line case.

[2021-01-06 03:22] tylershuster commented on #4228
Well, fixing 4186 will fix this one. I guess technically it's not a duplicate symptom, but fixing one will fix the other

[2021-01-06 04:38] tylershuster commented on #4207
I can take this

[2021-01-06 04:38] tylershuster commented on #4204
I can take this

[2021-01-06 04:38] tylershuster commented on #4199
I can take this

[2021-01-06 05:28] ynx0 commented on #4218
Thanks.
I took a cursory glance at the code to see if I would be able to take it off your hands, and I think this is the relevant code, but I don't know enough about `Yup` to know why typing a space then removing it. If you want I could try to spend some time figuring it out.
https://github.com/urbit/urbit/blob/82851feaea21cdd04d326c80c4e456e9c4f9ca8e/pkg/interface/src/views/landscape/components/N

[2021-01-06 05:53] dchem commented on #4211
@Fang- @philipcmonk Thank you for your time. I'll call kills and see if that helps.

[2021-01-06 05:57] dchem commented on #4211
This is baffling, right before I was about to do this, I went to `/~debug/spider` page in landscape, and then the following started to show up:

[code]

[2021-01-06 14:26] galenwp opened #4231 "Deleted notebook remains in sidebar"
**Describe the bug**
I created a notebook, realized I didn't want it, and now it remains in my sidebar. I can try to join it, but it spins forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a notebook in a group
2. Delete it
4. See error

**Expected behavior**
To never see the notebook again

**Screenshots**
<img width="272" alt="Screen Shot 2021-01-06 at 6 24 21 AM" src="https:

[2021-01-06 15:01] Fang- commented on #4231
Looks like a duplicate of #4160.

[2021-01-06 15:24] matildepark commented on #4231
Duplicate of #4160.

[2021-01-06 15:24] #4231 closed

[2021-01-06 17:27] matildepark commented on #4217
@tacryt-socryp Able to look into this today?

[2021-01-06 18:06] tacryt-socryp commented on #4217
Sure, I'll look at it.

[2021-01-06 18:53] tacryt-socryp commented on #4160
I've fixed it. Simple issue with the `%graph-delete` thread.

[2021-01-06 18:57] belisarius222 commented on #4217
My base hash is 6pvj2.  I'm pretty sure I saw one of these traces before the latest OTA, too.

[2021-01-06 19:56] dchem commented on #4211
@Fang- running `:spider|kill` has reduced CPU load to single digits. Thank you. I will close the issue.

[code]

[2021-01-06 19:58] matildepark commented on #4211
I mean the root issue is still here...

[2021-01-06 20:01] matildepark opened #4235 "hark: direct messages are muted by default"
They should be unmuted by default.

[2021-01-06 20:06] gilletteonmeheleparim commented on #4194
seems like things magically work now
but another issue:
adding a node to graph that has mark `link` spits out a link that has a form `http://localhost:8080/~landscape/home/resource/link/ship/~zod/www.tere.ee` while it should be just `www.tere.ee`

[2021-01-06 20:25] matildepark commented on #4164
Changed title to reflect issue — the channel appears bold because on livenet we use hark as our source of truth for channel subscription status. But Hark doesn't clear unread counts when unsubscribing from a resource, so the channel "never unbolds", and Landscape's front-end thinks it's a valid resource, so it tries to render it instead of letting you join.

#4216 fixes the sidebar issue but shows

[2021-01-06 20:27] matildepark commented on #4194
Closing and opening a new issue for this specific issue, then.

[2021-01-06 20:27] #4194 closed

[2021-01-06 20:29] matildepark opened #4236 "graph: submitting / rendering link resources doesn't force URI schema"
from #4194:

We need on submit or on render to fall back to assuming `http://` if the link doesn't start with it.

[2021-01-06 21:50] tacryt-socryp commented on #3957
@urcades What are your thoughts on this? Should an admin have to be demoted from admin position to be removed? Can we ensure we don't get into a situation in which there are no admins?

[2021-01-06 21:52] tacryt-socryp commented on #3704
This sort of "permissioning toggle" seems like an appropriate item to place in `%metadata-store`. Would you like to chat sometime about moving this forward? I've let it lie fallow a bit too long.

[2021-01-06 22:06] urcades commented on #3957
I've actually been working on a "permissions and roles" matrix that I wanted to get cleaned up and attached to our current working 1.6 ticket about permissions — here's the current state:

https://docs.google.com/spreadsheets/d/149cAIT7dhFCGlex_5wEuXcOsQmTyIoMEkH5591S1AB8/edit?usp=sharing

tl;dr: the proposal I'm trying to come to bearing with is a distinction between a "Group Owner" (a superadmin

[2021-01-06 22:07] urcades commented on #3957
also, mentioning you so you know I responded to you in particular @tacryt-socryp !

Please lmk what you think about the above. I was going to get it reviewed by others as a sanity check.

[2021-01-06 22:08] urcades commented on #3704
@tacryt-socryp  Yeah, we should definitely schedule some time to chat, or even chat during midweek. I'm crystalizing a model around this, interfaces included, and it's worth giving it a look-over.

[2021-01-06 22:10] Fang- commented on #4211
Reopening as issue for `/ted/graph/join`, @dchem's last comment confirms it's (at least part of) the problem. It should back off, and probably stop trying at some point.

[2021-01-06 22:30] urcades commented on #4191
Ah, should have found this one, sorry for making the dupe @matildepark:

@liam-fitzgerald Something I and others have realized is that the "unread state" seem to be triggered via **explicit** clicking of the item in the collection's/notebook's index.

I can imagine a variety of cases where you've either traversed to the item in question via a link in a chat (when we support this more robustly), or

[2021-01-06 22:43] #4160 closed

[2021-01-07 02:09] ynx0 commented on #4218
@matildepark I was thinking about it and I think that taking inspiration from gmail could be one option.
The way they do it is to first allow invalid input but then highlight it as such. Then, when the submit button is clicked, it pops up with an error.

![urbit gmail example](https://user-images.githubusercontent.com/9275716/103842232-716ec000-5063-11eb-8cc7-5a4e663eb440.gif)

[2021-01-07 02:11] matildepark commented on #4218
Validation “on submit” as opposed to on blur is needed in a few areas I think, yes. Presumably just using Formik instead of FormikOnBlur might do this.

—
~haddef-sigwen
https://urbit.org

[2021-01-07 15:01] hamjeck opened #4240 "dojo not accepting more than 3 numeric characters in a row"
I'm trying to get started on Urbit but I can't launch landscape because dojo does not let me type 4 numeric characters in a row. I'm at the "using landscape" part of these instructions: https://urbit.org/using/install/

My comet boots with the following info.
ames: live on 55956
http: web interface live on http://localhost:8080
http: loopback live on http://localhost:12321
pier (5879): live

At th

[2021-01-07 15:21] tylershuster commented on #4240
You have to enter punctuation in European style so 100,000 would be written as 100.000. The dojo does syntax validation.

[2021-01-07 15:36] custom-jonathan opened #4241 "Still Can't Accept DMs"
**Describe the bug**
When I click "accept" on DMs, I get the spinner, but never get to he redirect screen nor the actual DM.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to notifications
2. Click on accepts
3. Wait forever
4. Wait some more
5. Navigate away from notifications, come back later, and the DM invite is still there.

**Expected behavior**
Accept the DM, get taken to the conv

[2021-01-07 16:08] tylershuster commented on #4240
But the issue here is not that. You want to enter `localhost:8080` into a *browser address bar*, not your dojo

[2021-01-07 16:12] hamjeck commented on #4240
@tylershuster  thank you! I totally just misread that. I thought Landscape was it's own application that needed to be launched through dojo for some reason.

[2021-01-07 16:12] #4240 closed

[2021-01-07 18:20] matildepark opened #4242 "hark: channels are constantly reset to muted state"
Unclear replication case — seemingly channels mute themselves on a recurring basis. Are we resetting mute status in an on-load?

[2021-01-07 18:20] matildepark commented on #4242
@tacryt-socryp If you can peek while looking at #4217 would be great.

[2021-01-07 18:22] tylershuster commented on #4242
I also encounter this

[2021-01-07 18:37] tacryt-socryp commented on #4242
Weird, will look at.

[2021-01-07 20:00] tacryt-socryp commented on #4217
I've figured it out. Fix incoming.

[2021-01-07 20:50] tylershuster opened #4245 "publish: line breaks ignored in comments"
When you write a comment with line breaks, they are ignored when viewing that comment. They still exist when you go to edit the comment.

[2021-01-07 21:37] tacryt-socryp commented on #4242
I really don't understand this one. I think it could be Line 178-183 of `%hark-graph-hook`, but I'm really not sure. Passing on this one until next week when @liam-fitzgerald can take a look.

[2021-01-07 23:29] custom-jonathan commented on #4211
Landscape wouldn't load for me, and based on the ames packets lost indicators I was getting, I figured I'd run the spider kill thing; and landscape loaded and is working again. I'm seeing:

[code]
so I figured I'd drop in to share some feedback.

[2021-01-08 00:53] matildepark commented on #4211
That would be the negative assertion ` ?<  (~(has by contacts) ship)` in `++  handle-add`. So you're trying to process a duplicate 'add contact' from someone else and crashing instead of doing so?

[2021-01-08 15:33] timlucmiptev opened #4247 "Mentioning an @p doesn't work if followed by punctuation"
**Describe the bug**
If you try to write `~timluc-miptev` in chat to mention me, but follow it with a comma or other punctuation (e.g. `@timluc-miptev, what's up man?`), Landscape doesn't create the mention/notification.

[2021-01-08 16:37] matildepark commented on #4247
Duplicate of #4183.

[2021-01-08 16:37] #4247 closed

[2021-01-08 17:18] matildepark commented on #4241
Isn't this a flagday thing?

[2021-01-08 18:09] custom-jonathan commented on #4241
I didn't use flagday, myself. Seems like I'm not able to accept new ones from folks who might be reaching out to me for the first time (like, asking for a group invite instead of going through my public group for example).

[2021-01-08 18:11] matildepark commented on #4241
Do you see anything in JS console or Dojo when you press "Accept"? I can accept DMs from randos on my ship, wondering if we have any feedback here.

[2021-01-08 18:17] custom-jonathan commented on #4241
I had one DM left that I hadn't deleted. Just clicked accept. Landscape took me to Redirecting where it's been hanging out for awhile. Dojo said ~lanet is ok. Then nothing. In the browser console I see this:

[code]

[2021-01-08 18:26] matildepark commented on #4241
That's just a positive assertion for read status. Kinda loud though.

[2021-01-08 18:34] custom-jonathan commented on #4241
After pressing accept, I went back to my group and tried posting something. Stayed grayed out. Ran `:spider|kill` again, and there were some print outs, and then I could post again to landscape. But nothing else showed up.

[2021-01-08 18:35] matildepark commented on #4241
Sounding like #4211...we're waiting for the graph from people who may be offline and it tanks your ship.

[2021-01-08 18:36] custom-jonathan commented on #4241
Who are these weirdos who turn their ships off?

Good to know, though.

[2021-01-08 19:49] matildepark commented on #4179
When I look at the inbox and there's remote content (eg. YouTube) and scroll even a little bit the remote content flickers in and out *very rapidly* — as though we were triggering a rerender nonstop anytime we were scrolling.

[2021-01-08 21:15] tylershuster commented on #4228
Might as well assign this one to me

[2021-01-09 00:31] eamsden commented on #1934
Hi all,

I've been approved for a grant to try to make this happen.
https://grants.urbit.org/proposals/626138244-docker-image-for-cloud-container-orchestration

I'm creating an alternate nix dockerTools.buildImage build that will have "smart" loading from a volume:
- If the volume mount contains a `.key` file, it will boot a ship with that key.
- If the volume mount contains a pier, it will start

[2021-01-09 01:13] ohAitch commented on #1934
Is this going to be based on https://hub.docker.com/r/asssaf/urbit?

[2021-01-09 01:22] eamsden commented on #1934
@ohAitch

No, I don't plan to derive from that image or base the design off of it. The image implementation is mostly done already. It is being built by nix (like the present one in this repository). It won't require any scripts or other interaction, making it suitable as a more-or-less one-click deploy on container hosting services, without needing any custom scripting.

[2021-01-09 20:46] lycurgus opened #4257 "Boot hangs on M1 macs"
**Describe the bug**
Startup hangs when urbit is run on an M1-based Apple machine.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `urbit -w sampel-palnet -k /path/to/keyfile` on an M1 mac
2. Note that the output stops after:
[code]

**Expected behaviour**
Boot should proceed normally.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System (please supply

[2021-01-09 22:37] gilletteonmeheleparim commented on #4241
who are the weirdos who keep their computers wake when they sleep

[2021-01-10 07:38] zodcreator commented on #4257
Yep, same problem here.

[2021-01-10 17:39] tylershuster opened #4258 "interface: custom avatars not appearing in profile overlay"
In the below image, the overlay popup should have a custom avatar, but it does not:

<img width="486" alt="image" src="https://user-images.githubusercontent.com/3999320/104130801-ac087f00-5327-11eb-9a6c-70b446f8d786.png">

[2021-01-10 17:54] matildepark commented on #4202
Post #4252 just wanted to write the findings here.

So, our linear graphs have multi-content graph nodes. And this basically comes down to whether newlines should be within one `text` message or whether we should separate newline'd content with sibling `text` messages.

Right now on livenet we cut up messages per newline in subsequent `text` messages; but if you, say, mention someone and keep typi

[2021-01-10 18:08] tacryt-socryp commented on #4202
This seems sane. I don't think there's a need for multiple contiguous %text elements. Best to use it for different categories of content than for formatting.

[2021-01-10 18:14] noqcks opened #4259 "Landscape Blank after login"
I recently downloaded a new keypair, removed my old pier, and booted. My ship hasn't been booted since the breach in early Dec.

Can't seem to see any errors server side?

[code]

Landscape is blank with the following errors in devtools

![image](https://user-images.githubusercontent.com/4740147/104131705-23e5a200-5346-11eb-938f-e77bc241958b.png)

[2021-01-10 18:20] matildepark commented on #4259
Shift+Refresh and clear your cache, you have an old channel.js still in cache

[2021-01-10 18:27] #4259 closed

[2021-01-10 20:48] tylershuster commented on #4202
I agree that each message should retain in a continuous entity when it is passed to the back end. However, I have opined elsewhere that graph store makes it sensible to add the different content types as sub nodes of the initial node, which would allow us to retain the special formatting￼. Does this seem sane for the chat application?￼

[2021-01-10 20:58] tylershuster commented on #4202
[code]

[2021-01-10 21:07] tylershuster commented on #4202
This might even allow for a "gallery" style view of a chat when you could see all the sub nodes with "attachment" type

[2021-01-10 21:40] tacryt-socryp commented on #4202
I'd prefer not to do nesting that way, and make the following a [%mention, %text, %url].

[2021-01-10 23:33] matildepark commented on #4202
I’m hesitant to change up the graph validators if we can help it. So far this change it just front end.

[2021-01-11 01:13] tylershuster commented on #4202
I'll take a stab at the flex implementation

[2021-01-11 01:54] matildepark commented on #4202
This is actually a tokenize message change I think.

—
~haddef-sigwen
https://urbit.org

[2021-01-11 14:42] Fang- commented on #4202
Chat-cli has dealt with newline characters fine since #2901.

[2021-01-11 17:49] joemfb commented on #4257
M1 macs will require their own release binaries, right now we're only building for x86-64.

If any M1 pilots are game, I'd be curious to know if our current build works locally without changes.

/cc @brendanhay

[2021-01-11 18:07] ohAitch commented on #4257
Curious if anyone has tried running it under  arch -x86_64

On Mon, Jan 11, 2021 at 09:49, Joe Bryan <notifications@github.com> wrote:

[2021-01-11 20:45] louisbirla commented on #4257
I use an M1 mac and `./urbit -c mycomet` (from the install page) hung. `arch -x86_64 ./urbit -c mycomet` also hung.

[2021-01-11 22:40] rabsef-bicrym commented on #4110
I think I'm getting this too:
[code]
events like that litter my cli.

[2021-01-11 23:23] #4183 closed

[2021-01-11 23:23] #4212 closed

[2021-01-11 23:23] #4218 closed

[2021-01-11 23:23] #4199 closed

[2021-01-11 23:23] #4207 closed

[2021-01-11 23:23] #4217 closed

[2021-01-11 23:23] #4245 closed

[2021-01-11 23:23] #4204 closed

[2021-01-11 23:23] #4219 closed

[2021-01-12 00:03] botter-nidnul commented on #4257
No easy way to build it yet, the [aarch64-darwin version of nix](https://github.com/NixOS/nixpkgs/issues/95903) is still extremely experimental.

[2021-01-12 07:01] thefloweringash commented on #4214
Which version of nixpkgs is this? The initial support for Big Sur in (https://github.com/NixOS/nixpkgs/pull/98541) should be enough for most use cases, and has been in `nixpkgs-unstable` for a short while. There's an upcoming change still in `staging` that fixes bootstraping (https://github.com/NixOS/nixpkgs/pull/107013), but it shouldn't matter here.

[2021-01-12 10:31] mike-cr opened #4272 "deleting a comment on a link or note gives no feedback"
**Describe the bug**
If you hit delete on your comment, nothing seems to happen. It does in fact delete it, but you have to navigate away and back again to see that it's gone

**To Reproduce**
Steps to reproduce the behavior:
1. Comment on link or note in collection or notebook
2. click delete
3. observe nothing seems to have happened
4. reopen comments and see it has in fact been deleted

**Expec

[2021-01-12 12:07] mike-cr opened #4273 "chat: including a ship name in codeblock markdown breaks the codeblock"
**Describe the bug**
if you do like \`~tinnus-napbus\`, the ship name linkification makes it not a code block
**To Reproduce**
Steps to reproduce the behavior:
1. Post a ship name in a codeblock in chat
2. observe the ship name is linkified and it's not a codeblock

**Expected behavior**
ship names shouldn't be linkified if they're in a codeblock

**Desktop (please complete the following informati

[2021-01-12 12:20] mike-cr commented on #4206
:spider|kill seems to have fixed this

[2021-01-12 12:20] #4206 closed

[2021-01-12 14:09] mike-cr opened #4274 "sending |moon from herb breaks lens"
**Describe the bug**

I did `herb -d "|moon"` and dojo printed:
[code]

after which all subsequent herb requests return:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. sent |moon from herb
2. kill herb and then send (add 1 1)
3. observe 500 error

**Expected behaviour**
it shouldn't permanently 500 if it can't handle something

**System (please supply the following information, if

[2021-01-12 14:43] mike-cr commented on #4274
seems it explodes on `|hi`s aswell, seems it doesn't like pipes or hood generators

[2021-01-12 17:45] tylershuster commented on #4272
I'll take this

[2021-01-12 18:50] matildepark commented on #4273
We're supposed to check that:

https://github.com/urbit/urbit/blob/2d50075bfb7b1d0c017d725dff9dc172d4aa8c63/pkg/interface/src/logic/lib/tokenizeMessage.js#L55

So the code block logic in that file is wonky I suppose.

[2021-01-12 18:55] matildepark commented on #4273
Oh, because you're doing an inline code block. Ok, that might be simpler.

[2021-01-12 20:48] matildepark commented on #4242
Fixed in https://github.com/urbit/urbit/pull/4263

[2021-01-12 20:48] #4242 closed

[2021-01-12 20:49] matildepark commented on #4235
Can no longer replicate.

[2021-01-12 20:49] #4235 closed

[2021-01-12 20:49] matildepark commented on #4208
Fixed in #4255.

[2021-01-12 20:49] #4208 closed

[2021-01-12 20:49] matildepark commented on #4201
Fixed in #4262.

[2021-01-12 20:49] #4201 closed

[2021-01-12 20:50] matildepark commented on #4191
Fixed in #4261.

[2021-01-12 20:50] #4191 closed

[2021-01-12 20:51] matildepark commented on #4188
Fixed in #4269.

[2021-01-12 20:51] #4188 closed

[2021-01-12 20:52] matildepark commented on #4164
Fixed: #4216, #4261.

[2021-01-12 20:52] #4164 closed

[2021-01-12 20:54] matildepark commented on #4200
Can no longer replicate, re-open if you see it again.

[2021-01-12 20:54] #4200 closed

[2021-01-12 20:56] matildepark commented on #4175
@pconroy Did you boot a ship with the keyfile twice, as happened in 4146?

[2021-01-12 20:56] matildepark commented on #4153
Ping @liam-fitzgerald

[2021-01-12 20:58] matildepark commented on #3968
Haven't seen this in new era as of yet ... re-open if we see it again.

[2021-01-12 20:58] #3968 closed

[2021-01-12 21:00] matildepark commented on #4148
@philipcmonk @tacryt-socryp Did you figure this one out? I recall a group session between you two happening.

[2021-01-12 21:04] matildepark commented on #4140
@liam-fitzgerald @tacryt-socryp Do we know how to reset the metadata here?

[2021-01-12 21:06] ixv commented on #4140
this issue went away for me, but if it still exists out there somewhere I imagine the sane stuff will fix it.

[2021-01-12 21:11] matildepark commented on #4214
Didn't mean to summon you, @thefloweringash. I'm afraid I don't know much about Nix — I'm assuming 'stable' on all counts, since all we do is install Nix and then use it for the install here (as you can see in the repo's readme). Is there a quick way to update the install for Big Sur? Updating nix itself didn't change anything.

[2021-01-12 21:12] matildepark commented on #4140
Oh, so you had delayed propagation. Annoying.

[2021-01-12 21:12] #4140 closed

[2021-01-12 21:14] matildepark commented on #4214
Do we have to change this? https://github.com/urbit/urbit/blob/6095402687860de1cc54e403fdf5fc0440a8e1f0/nix/sources.json#L98-L108

[2021-01-12 22:40] tacryt-socryp commented on #4148
Didn't figure it out! Pairing session was for a different bug

[2021-01-12 22:53] matildepark commented on #4273
Er — can't replicate?
<img width="444" alt="image" src="https://user-images.githubusercontent.com/20846414/104384183-07409a00-54ff-11eb-8304-a99654ee2317.png">

[2021-01-12 23:31] liam-fitzgerald commented on #4148
....? The stack trace points to a simple `~&` statement, so I'm absolutely baffled as to how that could crash. Perhaps a crash in the pretty printer?

[2021-01-12 23:34] matildepark commented on #4148
Did you rewind to December 12, 2020's version of that  hook

[2021-01-12 23:46] liam-fitzgerald commented on #4148
yep

[2021-01-12 23:49] liam-fitzgerald commented on #4148
oh nvm, it was even earlier. This is now fixed because we no-op if we don't have a group

https://github.com/urbit/urbit/blob/2d6913794f611093feefc8895294dcb2d07ec7a0/pkg/arvo/app/hark-graph-hook.hoon#L198

https://github.com/urbit/urbit/blob/3f224b13b7198f89ef4dbc537182207ee74ccce6/pkg/arvo/app/hark-graph-hook.hoon#L197

[2021-01-12 23:49] #4148 closed

[2021-01-13 00:01] liam-fitzgerald commented on #4153
Can you post the results of `:group-store +dbug [%state '(~(get by groups) [~ship-host %collection-name])']`
~ship-host and %collection-name should be the last two elements of the url when you navigate to the collection.

[2021-01-13 00:02] liam-fitzgerald commented on #4153
@noops888

[2021-01-13 02:32] mike-cr commented on #4273
ok I tried again and it sweems more specific, these all do it:

` ~tinnus-napbus`
`abc ~tinnus-napbus`
`abc ~tinnus-napbus/`
`abc /~tinnus-napbus/`
`abc ////////////////~tinnus-napbus///////////////`
`abc ~tinnus-napbus!`
`abc !~tinnus-napbus!`
`abc !!!!!!!!!!!!!~tinnus-napbus!!!!!!!!!!!!!!`

[2021-01-13 02:34] mike-cr commented on #4273
also underscores seem to break it like ! and /

[2021-01-13 02:36] mike-cr commented on #4273
so @p MUST be at the end of the inline codeblock, MAY have certain special characters on either side of it, MUST have a space before it, and MAY have more stuff before that space

[2021-01-13 09:20] mike-cr commented on #4273
hmm it seems this happens with urls as well, like `abc http://example.com`

[2021-01-13 10:03] mike-cr opened #4280 "chat: mention punctuation handling renders !~sampel-palnet as ~sampel-palnet!"
**Describe the bug**
punctuation preffixed to a mention is rendered suffixed to the mention
`!!!!!!!!!~sampel-palnet` becomes `~sampel-palnet!!!!!!!!!` and
`!!!~sampel-palnet;;;` becomes `~sampel-palnet!!!;;;`

**To Reproduce**
Steps to reproduce the behavior:
1. prefix punctuation to mention
2. observe said punctuation now suffixed

**Expected behavior**
punctuation should stay where it belongs

[2021-01-13 15:42] pconroy commented on #4175
Yes, I booted twice, but from different key files.

What do I need to do to fix this issue?

On Tue, Jan 12, 2021 at 8:56 PM matildepark <notifications@github.com>
wrote:

[2021-01-13 16:19] matildepark commented on #4175
You'll have to perform a personal breach and boot with that keyfile only once. Ensure the other copies of the ship aren't running. See [here](https://urbit.org/docs/tutorials/guide-to-breaches/).

[2021-01-13 20:19] matildepark commented on #2880
No replications left as far as I can tell.

[2021-01-13 20:19] #2880 closed

[2021-01-13 20:20] matildepark commented on #3003
Closing as we have message sequencing and you can see messages load into the correct sequence if they're late to display.

[2021-01-13 20:20] #3003 closed

[2021-01-13 20:21] matildepark commented on #2993
Closing as Hark has rendered this issue obsolete.

[2021-01-13 20:21] #2993 closed

[2021-01-13 20:25] matildepark commented on #3474
This issue is obsoleted by how graph-store loads in its content.

[2021-01-13 20:25] #3474 closed

[2021-01-13 20:27] matildepark commented on #2944
There is an ongoing issue where we need more visual indication when loading content (work in #4268 and #4106), but OP's root issue is no longer relevant.

[2021-01-13 20:27] #2944 closed

[2021-01-13 20:50] matildepark commented on #1184
Can't replicate this if I boot a fakezod at foo and a fakebus at bar within seconds of each other. Do you mean making two of the same patp in different folders?

[2021-01-13 20:58] matildepark commented on #3477
Fixed in #3604.

[2021-01-13 20:58] #3477 closed

[2021-01-13 20:59] matildepark commented on #3203
Too stale to be actionable; new era shouldn't produce this issue in group-store and imported data can use provided workaround instructions above.

[2021-01-13 20:59] #3203 closed

[2021-01-13 21:00] matildepark commented on #3194
Potentially fixed by #4266 (fewer clogs).

[2021-01-13 21:01] matildepark commented on #3215
Root issue fixed.

[2021-01-13 21:01] #3215 closed

[2021-01-13 21:02] matildepark commented on #3221
Ping @tylershuster! Since we migrated, heh.

[2021-01-13 21:05] tylershuster commented on #3221
Yes this is a problem

[2021-01-13 21:08] baudtack opened #4281 "Landscape regularly wont show chats in a group that are already joined"
**Describe the bug**
Every once and  a while, in a way that I can not find a clear reproduction for, landscape will "forget" that I have already joined channels in a group and will show me the join channel button again. Sometimes, it will also remember that I am part of a group, but will only show me as having joined one channel. That channel generally only shows the last few messages and anything

[2021-01-13 21:10] matildepark commented on #4281
You're getting forcibly disconnected and reconnected, wiping your state and replenishing it with some additional quirks. Might be from clogs.

[2021-01-13 21:11] baudtack commented on #4281
![landscape-busted-3](https://user-images.githubusercontent.com/32079/104510979-e0d33b00-55a0-11eb-87d6-04ab5a6477a9.png)

the above happens also when i open leap

[2021-01-13 21:13] baudtack commented on #4281
[code]
I am getting a few of these but not an extremely large number.

[2021-01-13 21:35] matildepark commented on #3250
Progress is currently being handled here: https://github.com/urbit/landscape/issues/197

[2021-01-13 21:35] #3250 closed

[2021-01-13 21:37] matildepark commented on #3704
Progress is currently being tracked in https://github.com/urbit/landscape/issues/197.

[2021-01-13 21:37] #3704 closed

[2021-01-13 21:39] matildepark commented on #3813
@vvisigoth Are you still facing this? Presuming not.

[2021-01-13 21:42] matildepark commented on #3640
@tylershuster Are you able to peek at this? It seems like the chat scroll is slightly bigger than the visible box for the scroll handler here.

[2021-01-13 21:43] tylershuster commented on #3640
Yes

[2021-01-13 21:45] matildepark commented on #3637
Can't replicate.

[2021-01-13 21:50] matildepark commented on #3811
Your base hash reflects urbit-os-v1.0.60; 1.0.62 introduced a scroll fix for this. I currently can't replicate in Safari or Brave — scrolling works as expected. Marking as fixed by #3737.

[2021-01-13 21:50] #3811 closed

[2021-01-13 21:54] matildepark commented on #3957
Progress is currently being tracked in https://github.com/urbit/landscape/issues/197.

[2021-01-13 21:54] #3957 closed

[2021-01-13 21:58] matildepark commented on #4026
As filed — this is working as intended, not a bug. As design feedback — the DM experience, start to finish, is being renovated in https://github.com/urbit/landscape/issues/196.

[2021-01-13 21:58] #4026 closed

[2021-01-13 22:00] matildepark commented on #4034
I'd peek at this if I had an Android device. There is an emulator for this, right?

[2021-01-13 22:03] matildepark commented on #4054
I need a better reproduction on this, because Chrome and Safari alike autofocus when I access a chat. Are you clicking from sidebar?

[2021-01-13 22:33] tylershuster commented on #4034
Android Studio

[2021-01-13 22:35] tylershuster commented on #4034
https://stackoverflow.com/questions/36753548/keycode-on-android-is-always-229

[2021-01-13 22:35] tylershuster commented on #4034
How annoying is that

[2021-01-13 23:05] matildepark commented on #4034
I think webterm is pretty controlled, isn't it? I don't think we can just grab the character before the caret.

[2021-01-13 23:10] Fang- commented on #4034
I'm not sure what that question means. Judging from the SO link:

Isn't that just a matter of lightly modifying [this function](https://github.com/urbit/urbit/blob/6095402687860de1cc54e403fdf5fc0440a8e1f0/pkg/interface/src/views/apps/term/components/input.js#L24)?

[2021-01-13 23:44] baudtack commented on #4281
It does also appear to eventually resolve itself if there is only one landscape tab open.

[2021-01-14 02:19] galenwp commented on #4054
I was clicking from the sidebar, but it looks fixed now.

On Wed, Jan 13, 2021 at 2:03 PM matildepark <notifications@github.com>
wrote:

[2021-01-14 02:20] #4054 closed

[2021-01-14 08:19] gilletteonmeheleparim commented on #2880
oot but imo this clock looked nicer than current one. we need themes

[2021-01-14 17:09] tylershuster opened #4287 "dev stream: cannot access landscape"
When accessing landscape on the dev stream, I get a blank screen, and a 404 for the javascript. I've had this before, so I usually run `:glob %kick` in the dojo and it clears it up. But now I get the following error running that command:

[code]

[2021-01-14 17:23] matildepark commented on #4287
Sounds like an issue with glob more than dev stream. `:spider|kill` then `:glob %kick`?

[2021-01-14 17:24] matildepark commented on #4287
You'd have to run the first ... a few times. Probably many times. You can see your current running spider threads in the debug console.

[2021-01-14 17:28] tylershuster commented on #4287
...if I could access it!

[2021-01-14 17:28] tylershuster commented on #4287
Ok, I'm back.

[2021-01-14 17:28] #4287 closed

[2021-01-14 17:29] matildepark commented on #4287
`~debug` is separate from Landscape.

[2021-01-14 17:31] tylershuster commented on #4287
It failed to load as well

[2021-01-14 17:32] matildepark commented on #4287
You have never run it? You usually have to `|start %dbug` first.

[2021-01-14 17:32] tylershuster commented on #4287
Who do you think I am

[2021-01-14 21:01] tacryt-socryp commented on #4110
Fixed as of #4266.

[2021-01-14 21:01] #4110 closed

[2021-01-14 23:24] matildepark opened #4290 "hark: inactive channels occasionally produce false unreads"
Four independent confirmations of the issue in UC General.

Seemingly only happened today, so likely side effect from #4278?

[2021-01-15 02:34] mike-cr opened #4294 "Unmanaged channel with same name as group displayed as though managed by group"
**Describe the bug**
If you have an unmanaged chat/notebook/collection named `test`, and then create a group named `test`, the unmanaged channel is displayed as though it were managed by that group. If you actually click on the channel in the group, it takes you to the DMs page and displays it there, so it doesn't seem like it's *actually* managed - just displays as such

**To Reproduce**
Steps to

[2021-01-15 02:50] matildepark commented on #4294
I don’t think this is an issue for much longer, we patched the namespacing a while ago. I wonder if we could check this in sidebar though.

[2021-01-15 17:17] vvisigoth opened #4295 "-1 notification in window title"
commit: urbit/urbit@9ab7e68
<img width="136" alt="Screen Shot 2021-01-12 at 2 57 00 PM" src="https://user-images.githubusercontent.com/1609955/104379298-8675a400-54e6-11eb-976f-14ba27a8d15d.png">

[2021-01-16 00:10] tacryt-socryp opened #4297 "e.suspendedFocus.focus is not a function"
e.suspendedFocus is undefined

[2021-01-16 00:17] matildepark commented on #4297
Across refreshes?

[2021-01-16 00:29] tylershuster commented on #4297
This should be fixed on dev stream

[2021-01-16 00:31] matildepark commented on #4297
What was the pr to fix that? This has only ever been reported as a spotty one off.

[2021-01-16 00:32] tylershuster commented on #4297
https://github.com/urbit/urbit/blob/86dd68a7cc4c2c834905e5d944c8ef8df7cf6e31/pkg/interface/src/logic/state/local.tsx#L34

[2021-01-16 00:33] tylershuster commented on #4297
#4279

[2021-01-16 06:19] timlucmiptev commented on #4280
Also should add that `~sample-palnet...` doesn't work.

[2021-01-16 13:00] galenwp commented on #4211
Just had this problem myself. `:spider|kill` seemed to solve it.

[2021-01-16 15:27] tylershuster opened #4298 "chat: line breaks ignored in quotes"
As entered:
[code]

As rendered:
<img width="854" alt="image" src="https://user-images.githubusercontent.com/3999320/104815880-5111d480-57cc-11eb-8ff7-f089e34ebad0.png">

[2021-01-16 15:28] tylershuster commented on #4298
damn it inserted a typo too

[2021-01-17 17:40] matildepark opened #4300 "drag and drop no longer functional"
Regression as of #4032.

[2021-01-17 19:48] tylershuster commented on #4300
Across the board?

[2021-01-17 19:50] matildepark commented on #4300
Well, at least in Chat, on Safari.

[2021-01-17 19:52] tylershuster commented on #4300
I'll check it out tomorrow

[2021-01-18 02:16] eamsden opened #4302 "Vere should automatically disable TTY assumptions if STDIN is closed"
**Describe the bug**
Presently, if Urbit/Vere is started in an environment with a closed STDIN handle (`0` file descriptor) it will print a warning to use
the `-t` flag, and then exit.

Vere should print a warning if it detects this condition, but then disable its TTY assumptions and proceed to start the ship from the pier or keyfile.

**To Reproduce**
Steps to reproduce the behaviour:
1. Invoke U

[2021-01-18 04:41] liam-fitzgerald commented on #4295
struggling to reproduce this time, would appreciate a repro from anyone that's experience this in the last couple of days

[2021-01-18 06:51] HalifaxShadow opened #4303 "Spider causes excess use of resources, needs to be killed to recover ship functionality"
Hi, at approximately 0830 local time for reasons which I am not able to pinpoint my ship began to consume large amounts of resources on my vps.  At first I thought its failure to load and Gateway Timeout (error 504) was related to internet connectivity or potential blacklisting of my domain, but after troubleshooting various guesses I determined that the load on the VPS was way outside of the norm

[2021-01-18 06:52] matildepark commented on #4303
Duplicate of #4211. We should probably step an intermediate fix up.

[2021-01-18 06:52] #4303 closed

[2021-01-18 06:56] HalifaxShadow commented on #4303
Thank you for the attention to this, @matildepark

[2021-01-18 15:04] afknapping opened #4304 "Notebook comment field eats parts of URI"
**Describe the bug**

When I paste parts of an URI into a comment of a notebook post, parts of it disappear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `[your-ship]/~landscape/ship/~bitbet-bolbel/urbit-community/resource/publish/ship/~bitpyx-dildus/feature-requests/note/170141184504869057133346113426223915859`

2. Paste `~landscape/ship/~bitbet-bolbel/urbit-community/resource/publ

[2021-01-18 16:54] eamsden commented on #4302
https://github.com/urbit/urbit/blob/master/pkg/urbit/vere/io/term.c#L138-L143

This is the branch in vere that is taken when `-t` is passed. Perhaps a check should be made as well to see if STDIN is closed, and take this branch, possibly printing an info or warning message?

[2021-01-18 19:53] matildepark commented on #4304
It’s odd how that’s producing a false positive on detecting a mention, given how tokenise message works, but we can look.

—
~haddef-sigwen
https://urbit.org

[2021-01-18 19:58] matildepark opened #4305 "chat: sending a message while someone else is sending a message eats the message"
Seemingly a race condition? If I send a message at the exact same time as someone else, theirs arrives but mine never does. If I refresh, it shows it was never added to the graph.

Secondarily, there have been situations where I've sent a message in reply to someone else but the message gets posted *before* theirs. Possibly our clocks are out of sync or something, I can't think of why else that wo

[2021-01-18 23:54] eglaysher commented on #4300
I am intermittently also having problems dragging things into the collections app. From the inspector:

[code]

I'm a bit baffled by the behaviour, since I could upload three images to this collection, but then it stopped working on the fourth.

[2021-01-19 00:47] ynx0 opened #4306 "Getting multiple error messages about failed graph-store migrations"
**Describe the bug**
When looking at the dojo, seemingly at random, there is red text printed notifying me of failed migration of a certain resource to graph-store.

**Examples**
[code]

**To Reproduce**
1. ???

**Expected behaviour**
No error messages

**System (please supply the following information, if relevant):**
 - OS: Ubuntu 20.04
 - Vere: v1.0-rc1
 - Urbit OS: landscape bleeding
 - `%base

[2021-01-19 04:26] hathec-pilsyx opened #4307 "Running +ls after a |commit results in dojo becoming unusable until after pressing backspace"
**Describe the bug**
After creating a text file in Linux  within my mounted %sandbox desk, if I then run "+ls %" to check the results of the commit, I wind up with a situation similar to below, where I get some error messages, followed by "%dy-edit-busy" resulting from any keypress until I hit backspace:

`

=% /~hathec-pilsyx/sandbox/~2021.1.19..01.31.32..d654
[ %clay-sing-indirect-data
  desk=%s

[2021-01-19 07:12] timlucmiptev opened #4308 "Can't kick pending members"
**Describe the bug**
I have a private group with ~30 pending members. When I "kick" a pending member from the Participants dialog, it shows "Done", but the invite still shows as pending, and the user isn't removed, even after hard refreshing the page.

Base hash: `fienr`

[2021-01-19 16:44] vvisigoth opened #4309 "can't join channels in a group that I'm a member of"
(filing for another ship ~riglec-hadmug)

**Describe the bug**
ship successfully joins a group, but can't join any channels within group

**To Reproduce**
1. try to join a channel
2. It fails

**Expected behavior**
join channels in group

[code]

[2021-01-19 16:44] vvisigoth commented on #4309
cc @matildepark I also saw something similar on twitter

[2021-01-19 16:45] vvisigoth commented on #4309
![image](https://user-images.githubusercontent.com/1609955/105065376-6ba1b300-5a43-11eb-9846-3c53dc7f7e58.png)

[2021-01-19 17:51] vvisigoth commented on #4309
I've been talking to ~timlep-habfep and he has no problem joining another group and a channel in said group, so this might be a UC issue.

[2021-01-19 18:16] mdecerbo commented on #4309
Sorry if this is a dumb question, but what does "UC" mean in this context?

[2021-01-19 19:05] tylershuster commented on #4309
"Urbit Community" — the group at `~bitbet-bolbel/urbit-community`

[2021-01-19 21:51] philipcmonk commented on #4274
Herb doesn't allow the `|foo` syntax sugar.  This is syntax for `:hood +hood/foo`, so you can use `herb -p hood -d '+hood/foo'`.

Currently the only way to recover from an errant herb request is to run `:lens %cancel` at the dojo (annoyingly, this can't be done from herb, though it would be pretty easy to add).

[2021-01-19 22:09] philipcmonk commented on #4307
I can confirm this issue, it appears to be the `=dir /=sandbox=` line that's the main issue.  It's pinning the version to a particular time (which is why it appears in the prompt), and we apparently can't build files against old versions.  The two fixes we need are:

- Make `=dir /=sandbox=` track the head of the desk instead of pinning to a time
- Allow building old stuff -- you should be able to

[2021-01-19 22:11] ohAitch commented on #4307
Do we know the problem with building files at old versions?

[2021-01-19 22:25] philipcmonk commented on #4307
Mechanically: https://github.com/urbit/urbit/blob/78bb7658478941ef6eba6ee0e0cb7656017ed011/pkg/arvo/sys/vane/clay.hoon#L3415-L3420

Note that while in theory this only applies to ford operations, +read-x depends on ford for mark definitions, so this appears to affect %cx as well, which is not good.

Practically, with the post-fusion expanded desk definition, building an old file means you should r

[2021-01-19 22:29] ohAitch commented on #4307
…no `%cx` makes clay a non-revision-controlled file system, quite
(I guess you can always make a new desk to "tag" a specific case? But interface-wise)

[2021-01-20 00:26] matildepark commented on #4295
Stepping down priority until we get a subsequent reproduction.

[2021-01-20 00:53] #4290 closed

[2021-01-20 04:57] hathec-pilsyx commented on #4307
That does appear to prevent the problem. Thanks for the workaround!

[2021-01-20 07:47] afknapping commented on #4304
might be related:

![image](https://user-images.githubusercontent.com/170145/105143331-fe9e2400-5afb-11eb-8b57-97b06579e1a9.png)

`~landscape/ship/~bitbet-bolbel/urbit-community/resource/publish/ship/~nibset-napwyn/q-a/note/170141184504871701117754877674526951342`

[2021-01-20 13:39] deploradude opened #4311 "Negative number for notifications in browser tab"
**Describe the bug**
A clear and concise description of what the bug is.

I have a negative number of notifications in my browser banner.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

Browser.

2. Click on '....'

Nothing

3. Scroll down to '....'

Don't need to.

4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

Expect to hav

[2021-01-20 16:36] matildepark commented on #4311
Duplicate of #4295.

[2021-01-20 16:36] #4311 closed

[2021-01-20 16:37] matildepark commented on #4295
As per the evidence in #4311 I’m curious if this is related to the reducer after a reconnection.

[2021-01-20 20:05] matildepark commented on #4211
As GitHub mentions above, #4303 ran into this. Freenode's host also ran into this.

<img width="511" alt="image" src="https://user-images.githubusercontent.com/20846414/105228718-e8f72180-5b30-11eb-9995-10b872c94dc4.png">

@liam-fitzgerald has a band-aid fix in mind, though it's not PR'd yet. We want it out sooner than later, and it should supersede #4239.

[2021-01-20 20:22] urcades opened #4313 "Leap: Unexpected/incorrect order of results in Leap results"
Simply: When I search for `tlon` in Leap, I see `Tlon Support` first and `Tlon` second — generally speaking, I'd expect this to be reversed per alphabetical sorting or complication of the additional word, correct?

This is what I see:

<img width="655" alt="Screen Shot 2020-10-22 at 12 14 58 AM" src="https://user-images.githubusercontent.com/1195363/96824147-22b67000-13fc-11eb-9b8f-a469a2a2d5aa.pn

[2021-01-20 20:42] matildepark commented on #4305
Related issue for evidence: https://github.com/urbit/landscape/issues/254

@tacryt-socryp I heard you explain this a bit in Interface, could you leave a note for posterity here?

[2021-01-20 20:43] urcades opened #4315 "Leap: We should place the insertion point/cursor into Leap's input field when it is invoked"
commit: urbit/urbit@a4155c2

This is really a bug – the ability to simply type after invoking Leap is a crucial part of its UX, anything else is broken.

[2021-01-20 20:44] matildepark commented on #4315
Previous work here: https://github.com/urbit/urbit/pull/3551

[2021-01-20 20:45] galenwp opened #4316 "Stack trace when opening a notebook"
commit: d441d82

Not sure what this is. When I click on a notebook in the 'Structure' group I get the following stack trace:

[code]

[2021-01-20 22:10] arawnx opened #4317 "Scrolling is inverted, but only sometimes"
I use vimium, so the k/j keys are what I use to scroll up and down. The video below has screenkey enabled, the keys on the bottom of the screen are what I press in real-time. Typically, pressing j should scroll down and k should scroll up. Unexpectedly, the behavior is inverted when using the chat application on Landscape (but not elsewhere). See below:

https://user-images.githubusercontent.com/2

[2021-01-20 22:11] urcades opened #4318 "landscape navigation: when using the browser's "back" button to navigate to a previous channel, the screen goes blank"
commit: urbit/urbit@a4155c2

I've been noticing more frequently that when I attempt to use my browser's (safari) built-in ability to "go back" or "go forward", channels which previously rendered fine are now blanking out, and remaining this way, as seen in this image:

<img width="1401" alt="Screen Shot 2021-01-20 at 11 07 55 AM" src="https://user-images.githubusercontent.com/1195363/105202396-f18

[2021-01-20 22:12] jtobin opened #4319 "Pasting large monospace and then scrolling up garbles text"
commit: urbit/urbit@3e17c67

To reproduce, try pasting [this](https://gist.github.com/jtobin/036d9f433f9da368d654a1afade9aa3b) into a monospace block in Landscape, and then scroll up.  I observed the following:

![](https://jtobin.s3-ap-southeast-2.amazonaws.com/Screen-Shot-2021-01-15-16-52-31.28.png)

[2021-01-20 22:14] matildepark commented on #4241
Treating this as a duplicate of #4211.

[2021-01-20 22:14] #4241 closed

[2021-01-20 22:16] matildepark commented on #4306
@tacryt-socryp this is just gradual backoff of join attempts from the previous era migration, correct?

[2021-01-20 22:17] tacryt-socryp commented on #4306
Correct, this is not a bug.

[2021-01-20 22:17] matildepark commented on #4309
Closing this as per out of band conversation in Tlon Support — the channels they were attempting to join were not groups.

[2021-01-20 22:17] #4309 closed

[2021-01-20 22:21] matildepark commented on #4306
@ynx0 While the console print here was a bad copy/paste from Publish's migration, what you're looking at is it giving up on joining a Chat channel that migrated to graph-store after 24 negative acknowledgements — the channel presumably was not recreated.

[2021-01-20 22:24] tylershuster commented on #4297
Is this still extant on dev?

[2021-01-20 22:24] matildepark commented on #4298
This is fixed as of #4289. Just gonna close this one prematurely as it is therefore a duplicate of #4202.

<img width="450" alt="image" src="https://user-images.githubusercontent.com/20846414/105248384-519bc980-5b44-11eb-8082-f24827f3993f.png">

[2021-01-20 22:24] #4298 closed

[2021-01-20 22:25] matildepark commented on #4297
It is not, I'm just ensuring every issue has metadata.

[2021-01-20 22:37] matildepark commented on #3813
Stale, closing.

[2021-01-20 22:37] #3813 closed

[2021-01-20 22:39] matildepark commented on #4175
@pconroy Resolved issue?

[2021-01-20 22:59] tacryt-socryp commented on #4305
This is due to trusting client timestamps. We should modify the graph-push-hook to set a timestamp from the host ship based on the mark of the incoming graph update.

[2021-01-20 23:22] ynx0 commented on #4306
Thanks for helping me understand!

[2021-01-21 01:27] tacryt-socryp commented on #4305
Discussed this with Liam. He confirmed my approach. Will take a look next week once I've gotten the contact-store work into review.

[2021-01-21 03:51] tylershuster commented on #4300
@matildepark what version of Safari? This is not a problem for me

https://user-images.githubusercontent.com/3999320/105277739-d98bce80-5b58-11eb-8824-31e8ac02777f.mov

[2021-01-21 03:53] tylershuster commented on #4300
@eglaysher this may be a file size issue — we need to chunk uploading better

[2021-01-21 21:23] ryjm commented on #4300
@eglaysher

I had this problem with large files too, turns out i needed a more expansive cors policy, namely exposing the etags header. in DO, you can't configure this in settings, you need to upload a cors policy manually.

here's mine:

[code]

and i uploaded with `s3cmd setcors s3://bucket`

there's still an issue with the resulting link missing an https:// prefix though (at least on DO).

[2021-01-21 22:53] matildepark opened #4323 "hark: next page of notifications does not load in"
via @vvisigoth, makes it seem 'empty' with a faulty indicator.

![IMG-1470](https://user-images.githubusercontent.com/20846414/105422276-7447e400-5c11-11eb-9c8e-4881b9f0afd8.PNG)

[2021-01-21 22:57] matildepark commented on #4300
This works now? 🤨 Okay.

@eglaysher issue is filed under (potentially) #4007 but might be resolved by the above workaround.

[2021-01-21 22:57] #4300 closed

[2021-01-22 00:25] #3329 closed

[2021-01-22 00:25] #4202 closed

[2021-01-22 20:48] rabsef-bicrym opened #4325 "Dismiss Hover Doesn't Immediately Trigger after Prior Dismissal"
**Describe the bug**
When clicking dismiss on a notification but keeping your cursor in the same place, the next notification that slots up to the prior notifications position does not immediately display the `unmute dismiss` options.  One must move one's cursor away from that panel and then back to get `dismiss` to show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to notifications wi

[2021-01-22 22:43] matildepark commented on #4297
Fixed as of #4279.

[2021-01-22 22:43] #4297 closed

[2021-01-22 22:46] matildepark commented on #4258
Fixed in #4277.

[2021-01-22 22:46] #4258 closed

[2021-01-22 22:48] matildepark commented on #4211
Bandaid fixed in #4239 (latter commit), holistic fix due in #4268.

[2021-01-22 22:48] #4211 closed

[2021-01-22 23:06] custom-jonathan opened #4329 "Pending Invite Number Doesn't Match Amount"
**Describe the bug**
The "pending" indicator for my group says 12, but there are only 5 planets showing up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to group participants.
2. Click on pending
3. See error

**Expected behavior**
The number of pending invites shown in the "pending" tab to equal the number of planets in the queue.

**Screenshots**
![brave_YkM49hqxrT](https://user-imag

[2021-01-25 20:41] tylershuster commented on #3493
This should be re-opened and renamed. It's a subpixel rounding error that has recently popped up for me as well.

[2021-01-25 20:42] matildepark commented on #3493
Probably because the datestamp is a different font size. You could step it down and see if it persists?

[2021-01-26 21:00] drbeefsupreme commented on #3982
https://github.com/urbit/support/wiki/loom:-clear-timer-failed-Invalid-argument-with-WSL-WSL2,-Landscape-not-working

[2021-01-27 00:12] juaningan commented on #4113
Hi, any news about this? Is there any branch where this development is happening?

[2021-01-27 06:39] philipcmonk commented on #4113
Yes, development is in #4124, which just got approved today, so we're hoping to release it this week.

[2021-01-29 13:03] praxeo commented on #2798
I had this issue and was able to "fix" it by removing the chk folder and restarting.

[2021-01-29 23:57] philipcmonk commented on #4113
urbit-king is back in the latest release: https://github.com/urbit/urbit/releases/tag/urbit-v1.1

[2021-01-30 01:28] juaningan commented on #4113
Thanks so much my experimental hosting its up again!

[2021-01-30 01:28] #4113 closed

[2021-01-30 01:29] mguidetti opened #4346 "Ship won't boot after v1.1 urbit-king. Assertion 'c3y == u3r_safe_chub(lan, &lan_d)'"
**Describe the bug**
After briefly trying out the new v1.1 haskell urbit-king binary, I'm now unable to boot my ship with either ./urbit-king or or ./urbit.

My first run on urbit-king seemed to go fine, but I shut it down after noticing the web ui wasn't running on the port I wanted (it was on 8080 instead of 80).

When I try to boot again with urbit-king, I now receive this error and am spit bac

[2021-01-30 02:15] philipcmonk commented on #4346
Are you able to run it with the old urbit-v1.0 binary?

On Fri, Jan 29, 2021, 17:29 Michael Guidetti <notifications@github.com>
wrote:

[2021-01-30 02:19] mguidetti commented on #4346
Ah sorry I forgot to mention that I did try this afterwards with the 1.0 binary, but still received the same errors I pasted above.

[2021-01-30 02:27] mguidetti commented on #4346
Ah, I actually had tried v1.0 before and forgot to mention it. I did try it and was receiving the same error.

However I just tried again with v1.0 and after first receiving the same error again, I tried a few more times and now it seems to be booting correctly, but then aborting with the same assertion message as before after a few minutes.

I did receive this new message about eth-watchter once

[2021-01-30 02:33] philipcmonk commented on #4346
Sounds like a malformed lane is getting stored somewhere, hmm.  Shouldn't be too hard to track down, I might give you some binaries with extra logging available.

In the meantime, do you have any logs in `~/.cache/urbit` ?  Could you check if there's any errors at the end of the most recent one?

[2021-01-30 02:34] philipcmonk commented on #4346
Also, just to verify: you were running on v1.0 until today, right?

[2021-01-30 02:38] mguidetti commented on #4346
Yes, until today I was running v1.0
I couldn't resist the curiosity of a new version number and now look what I've done, lol.

I have a number of logs in ~/.cache, all prefixed with king-

the most recent has just this line:
`Unable to acquire lock file: "mirmus-dozryx//.vere.lock": mirmus-dozryx/`

[2021-01-30 02:42] mguidetti commented on #4346
there are a number of identical logs with just that line, the most recent that doesn't match says this

[code]

[2021-01-30 02:44] philipcmonk commented on #4346
That line suggests you were trying to run it while it was already running, though it's possible the lockfile was left over from the crash.  If you run `cat mirmus-dozryx/.vere.lock` it'll give you a process ID.  Check if that process is running, and if it's not you can remove the file and then try running urbit-king again.  Try running it with `--no-ames` to see if that makes it avoid crashing at

[2021-01-30 02:52] mguidetti commented on #4346
the pid in .vere.lock wasnt running so I removed the file as you suggested.
booted up with `urbit-king run --no-ames mirmus-dozryx` and it seems to be working!

It's still on 8080 but I can live with that for now, hah.

[2021-01-30 02:52] philipcmonk commented on #4346
What happens if you boot it without `--no-ames`?  That flag turns off networking.

[2021-01-30 02:53] philipcmonk commented on #4346
For port 80 you probably need `sudo setcap 'cap_net_bind_service=+ep' ./urbit-king`

[2021-01-30 02:55] mguidetti commented on #4346
Ah yes I didn't think to do that for the new binary, my mistake.
And things seem to be ok after removing the `--no-ames` I can access channels and all that in landscape like normal

[2021-01-30 02:56] philipcmonk commented on #4346
Ah, I've just reproduced this locally.  It seems to be specifically an issue when switching from `urbit-king` to `urbit`.  As long as you stay on urbit-king you should be fine going forward.  If you use `urbit` it'll crash and you'll have to delete the lockfile again.  I'll try to track down the root issue.

[2021-01-30 02:58] mguidetti commented on #4346
Okay great. I'll stay put on `urbit-king`.

Thank you for your help. I hope this leads to some useful urbit dev, and wasn't just a waste of time fixing my clumsiness!
Best of luck.

[2021-01-30 03:31] philipcmonk commented on #4346
Yes, there's a real bug here.  @pilfer-pandex and I have identified the issue and we're quite confident there's no long-term damage.  We'll work on a solution, but it may be a couple days until it can be released.

To summarize:

If you run a ship on `urbit-king`, then if you later run it on `urbit`, it'll crash with `'c3y == u3r_safe_chub(lan, &lan_d)'`.  The workaround is:

- Ensure you're not s

[2021-01-30 03:39] philipcmonk opened #4348 "king: Prints libnuma warning on startup"
On Ubuntu at startup of `urbit-king`, I get this warning.  Several others have reported it.  It hasn't seemed to cause any further issues, though, so maybe it should probably just be silenced?

`libnuma: Warning: Unable to determine max cpu (sched_getaffinity: Function not implemented); guessing...`

cc @pilfer-pandex

[2021-01-30 03:43] pilfer-pandex commented on #4348
I know the haskell runtime checks how many cpus there are to decide how many os threads to make. My first inclination is that this means it's not able to do that? If so, it's probably worth figuring out why, since the system won't be as performant.

[2021-01-30 03:53] pilfer-pandex commented on #4346
Thanks @mguidetti and @philipcmonk. Here's a brief account of what's going on:

There are two formats for representing addresses in ames: AmesAddress, pair of ipv4 and port which is (or should be) encoded as a 6 byte atom, and AmesDest, an (each @pgalaxy @uxaddrr) where the @uxaddr is the 6 bytes from before. The problem arose because I continued to use AD in the events sent to arvo rather than sw

[2021-01-30 04:01] ynx0 commented on #4348
idk if this helps but I tracked down the original source code for `numactl` which `urbit-king` seems to be hitting:

https://github.com/numactl/numactl/blob/f96c96af7fbf2779b15f66f03b10315a24fb4f5a/libnuma.c#L558-L574

I checked `apt` and I seem to have `libnuma1` installed, and installing `libnuma-dev` didn't seem to fix it either.

[2021-01-30 11:59] juaningan opened #4349 "Empty base hash when change OTA source to parent star"
Hi, I'm runnning 3 ships in same machine, using `urbit-king` port mapping feature. The ships are `~fillur` and 2 planet childs `~sorfel-dalsub` and `~soctux-sontyd`.

Yesterday with `urbit-king` new release I finally make the december network breack for the 2 planets. But now the behavior is inconsistent.

`~soctux-sontyd` take some time but finally download OTAs from parent star `~fillur` and its

[2021-02-02 08:55] tinnus-napbus opened #4360 "Feature Request: Some kind of permission store rather than hard-coded moon privileges"
**Problem**
Some people wanna hand out moons to friends/family but currently everything is `?>  (team:title our.bol src.bol)` so it's a big security risk and modifying every single app is annoying and beyond most people.

**Proposed Solution**
Create some kind of central permission store where you can explicitly allow/deny your moons and/or specific ships without having to modify source. Maybe mak

[2021-02-02 15:19] ynx0 opened #4361 "urbit-king fails silently when `.vere.lock` already exists, even when no process is running"
When trying to boot my ship with `urbit-king`, the program fails silently and exits, printing only `libnuma: Warning: Unable to determine max cpu (sched_getaffinity: Function not implemented); guessing...`

I ran the process with all the debug flags I could find (`--verbose --log-to-stderr --log-debug --trace`). Here's the output:

[code]

The culprit appears to be a leftover vere lockfile, as I h

[2021-02-02 16:15] vvisigoth commented on #4361
cc @pilfer-pandex do you want to add a label or something for KH issues?

[2021-02-02 17:34] #4274 closed

[2021-02-02 18:11] pilfer-pandex commented on #4361
There is, "king haskell"

—
~pilfer-pandex

On Tue, Feb 2, 2021 at 8:15 AM Anthony Arroyo <notifications@github.com>
wrote:

[2021-02-02 18:17] pilfer-pandex commented on #4348
Astonishingly, if I google for the quoted"libnuma: Warning: Unable to determine max cpu", the only hits I get are this bug and ci stuff related to urbit.

[2021-02-02 19:55] ynx0 commented on #4348
Yeah, when I was searching I found pretty much next to nothing as well. Even searching for "haskell libnuma" yields zilch. Must be a weird edge case?

[2021-02-03 21:30] ynx0 opened #4371 "urbit-king appears unresponsive when failing to bind to eyre port"
**Describe the bug**
When trying to bind to port 80 without the proper privileges, the urbit process became unresponsive. It also occurs when you do have proper privileges and the port is already bound.

**To Reproduce**
Steps to reproduce the behaviour:
1. Using `urbit-king` to boot a pier
2. Try to bind to a port that you are not able to do so (already bound, insufficient privileges)
3. Observe

[2021-02-03 22:47] pilfer-pandex opened #4373 "vere: Vere should never crash on a bad effect from arvo"
In ames.c, we recently observed a crash when a lane in an incoming effect is malformed. In #4364, we fixed this specific problem, but it is likely that similar things exist elsewhere. As a general policy @belisarius222 feels (and I agree, incidentally), that no matter what noun comes out of an arvo, we should not crash. This issue represents this work item.

In king haskell, this policy is already

[2021-02-03 22:55] pilfer-pandex commented on #4371
No worries, and thanks for pinging me! I'll take a look.

[2021-02-05 07:48] pilfer-pandex commented on #4371
@ynx0, gonna cut a release most likely tomorrow fixing the can't-go-back-to-vere bug. I think that's urgent enough to go out before this work here gets done, so I'll solve what's here in the next release, which probably won't be too far off.

[2021-02-05 07:51] #4361 closed

[2021-02-05 07:51] #4346 closed

[2021-02-05 07:53] pilfer-pandex opened #4385 "king: investigate messages at tail of ship creation"
At the end of a `king new` run, one sees the following

[code]

This suggests something not quite correct is going on (even though it's functionally not a problem). At the very least, these messages disturb the user, and should be removed.

[2021-02-05 14:20] ynx0 commented on #4371
Sounds good! It’s more of a QoL bug than anything really 😃

[2021-02-08 08:35] josh612 opened #4394 "User unable to join my groups"
**Describe the bug**

The same as that reported in https://github.com/urbit/urbit/issues/4050 although now with a different ship, which makes me think it may be _my_ ship.  That is to say: another ship is trying to join my groups and cannot.  I can |hi several other ships but cannot |hi my own galaxy, zod, etc, though other ships confirm they can |hi them.

**Expected behavior**
Other ship (in thi

[2021-02-08 18:59] matildepark commented on #4394
I'm trying to consider what the possible issues are here. Did you boot your ship twice with the same keyfile? Do you have the ship running in two locations? Is the ship running twice on different screen sessions? (shouldn't be possible)

If someone *breached* and then could talk to you, that's because the breached ship was talking to you for the first time. But if your ship is at issue here, then

[2021-02-09 03:46] josh612 commented on #4394
I don't think so re. the keyfile but I think it's been 9 months (I think?) since that last breach and I was certainly even more stupid about urbit then than I am now, if that's possible.  Progress!  Point being, I might have reused the keyfile way back then but certainly haven't in the several months preceding the Dec. network wide breach.  One thing that I've been doing from the beginning is runn

[2021-02-09 10:13] pilwex-migsun opened #4402 "Unable to load Landscape"
**Describe the bug**
Landscape doesn't load. Browser fails to load this script with 404 error: http://localhost:8080/~landscape/js/bundle/index.c5df4039d68847ffe61c.js.
/~debug is accessible.

With C Urbit (version 1.0), Dojo outputs this error after booting the ship:
[code]

`:glob %kick` doesn't help and ends in this output:
[code]

Spider shows only one thread, like:
`glob--0vjk.3v3qs.ap1gp.jrf

[2021-02-10 02:28] josh612 commented on #4394
I'm just going to breach and set up fresh with best practices.  Thanks.

[2021-02-10 02:28] #4394 closed

[2021-02-12 00:48] philipcmonk opened #4424 "ames: temporary %strange-current crash"
Several ships exhibited this crash recently.  In each case, it only happened once.  Also, I verified afterward that no flows still had that `current` and none appeared to be stuck.  I expect this means the crash is triggered on an out-of-order acknowledgment, and resolved when the in-order ack arrives.

Fairly recently we allowed Ames to print stack traces in this sort of case, so it's likely this

[2021-02-12 01:49] tylershuster opened #4426 "Can't load Landscape and lots of log errors"
Landscape doesn't load at all and I have a lot of these in the console:

[code]

[2021-02-12 01:50] matildepark commented on #4426
Duplicate of https://github.com/urbit/landscape/issues/403

[2021-02-12 01:50] #4426 closed

[2021-02-12 01:54] tylershuster commented on #4426
Is it? Mine is `%contact-pull-hook`

[2021-02-12 01:54] matildepark commented on #4426
Yeah, basically.

[2021-02-12 06:24] tylershuster opened #4431 "constant ames since second of last three OTAs"
My ship is running, but inaccessible due to constant `/«ames»`. Occasional:

[code]

[2021-02-12 06:29] matildepark commented on #4431
Isn't the 3rd supposed to address this specific thing? And you just wait it out? @liam-fitzgerald

[2021-02-12 06:30] liam-fitzgerald commented on #4431
Are you on latest hash?

[2021-02-12 06:33] tylershuster commented on #4431
Right, I'm on the second. Base hash....I don't know, I can't do anything. I'm on the dev stream if that helps. also getting:

[code]

[2021-02-12 06:36] matildepark commented on #4431
I think you can just

[code]

in this case, if you can force those commands in

[2021-02-12 06:38] liam-fitzgerald commented on #4431
Yeah the metadata-store crash is on the devase, which means that it's being built against a stale /sur file. You might have more success using herb, if squeezing in keystrokes is causing trouble.

[2021-02-12 06:52] tylershuster commented on #4431
I got those in but it's still hanging. I'll pick this up in the morning. Maybe it'll "fix itself"

[2021-02-12 07:23] pilwex-migsun commented on #4402
Receiving the latest OTA, some errors popped up that seem related. Adding them here for more context

[code]

[2021-02-12 07:31] matildepark commented on #4402
Believe it or not that’s all expected in this release and you just gotta `:glob %kick`.

[2021-02-12 07:37] pilwex-migsun commented on #4402
doesn't seem to work
[code]

[2021-02-12 08:16] philipcmonk commented on #4431
For future reference, running in -L is easier than using herb for this sort
of situation.

On Thu, Feb 11, 2021, 22:52 Tyler Shuster <notifications@github.com> wrote:

[2021-02-12 09:39] #4402 closed

[2021-02-12 13:28] minderfolden commented on #4431
I'm getting this, too. I tried running `|fade %metadata-hook` and `:goad %force` several minutes ago, but nothing has straightened itself out. Here's what `+trouble` shows me:

[code]

[2021-02-12 13:56] matildepark commented on #4431
I’m noting that the people with remaining issues on this seem to have sponsors running big groups. I feel like the sponsors are still backed up? Does it help to switch ota to marzod temporarily?

[2021-02-12 14:19] minderfolden commented on #4431
I switched to ~marzod and still have the `<<ames>>` spin of death. And I get this:

[code]

[2021-02-12 14:21] matildepark commented on #4431
You only gotta do that once.

[2021-02-12 14:22] matildepark commented on #4431
I believe the Ames spinner is what the last of the OTAs is meant to address. Give it time to come in.

[2021-02-12 15:25] tylershuster commented on #4431
I'm still getting it after running all night. Should I switch from the dev stream?

[2021-02-12 15:26] matildepark commented on #4431
@tylershuster Just for the record, are you or your star running any big groups? All the other cases involve that. I'm writing up some instructions on how we got ~bitbet out of this jam, please standby.

[2021-02-12 15:27] tylershuster commented on #4431
No not really. I mean, I use my ship heavily for development so there's probably a lot of superfluous events but I don't host much

[2021-02-12 15:30] matildepark commented on #4431
Are you in a ton of groups? Could also be that.

[2021-02-12 15:34] tylershuster commented on #4431
I'm in like 40

[2021-02-12 15:40] matildepark commented on #4431
As per @liam-fitzgerald:

I looked through bitbet and it seems like we just applied the OTA direct with -L, so here's how to do that.

Assuming you have your home desk mounted, otherwise mount it first!:

1. Shut down your ship. (Ctrl+D or Ctrl+Z if it’s really clogged up)
2. `wget https://github.com/urbit/urbit/archive/urbit-os-v2.26.tar.gz`
3. `tar xzf urbit-os-v2.26.tar.gz`
4. `rsync -zr —delet

[2021-02-12 15:44] tylershuster commented on #4431
o7

will report back

[2021-02-12 15:48] tylershuster commented on #4431
It works! two notes: you've got a ligature at the beginning of `-delete` and `-L` needs to go before the planet. Thanks for the help

[2021-02-12 15:48] #4431 closed

[2021-02-12 15:49] matildepark commented on #4431
... my OS automatically makes two dashes into an em dash, sorry.

[2021-02-12 15:50] tylershuster commented on #4431
Oh well I only put one in. Er. It works?

[2021-02-12 15:55] minderfolden commented on #4431
Will that process work if I'm running the raspberry pi binary? Don't want to nuke anything by rushing in.

[2021-02-12 15:56] matildepark commented on #4431
Yes.

[2021-02-12 15:56] ngzax commented on #4431
My star, ~darlur, which hosts bookends a reasonably large group is pegging the cpu. tried the commands above w/o success. running the 1.2 binary.

[code]

[2021-02-12 15:58] matildepark commented on #4431
I mean bitbet still had to get through all its packets but they weren't accumulating after that. And it works now, with 3000 members. So you may have to just hold on.

[2021-02-12 16:00] ngzax commented on #4431
ok. getting things like this:

[code]

[2021-02-12 16:01] matildepark commented on #4431
Yeah, strange current's known, @philipcmonk seems to think it's harmless? #4424

[2021-02-12 16:05] JohnELester commented on #4431
~dasfeb is overwhelmed. I even moved the pier off the RPi temporarily to a beefy Digital Ocean droplet to see if the additional horsepower could help.  CPU is still pegged.

![3fe7f4a17425b5acc380775919b34031](https://user-images.githubusercontent.com/25461543/107791635-2d39a400-6d22-11eb-9657-ae8f8479f898.png)

And when I run `+trouble` I get this:

[code]

[2021-02-12 16:07] matildepark commented on #4431
Can you clarify if you did the instructions above? It will still have to get through its packets afterward, but it'll slowly clear up. This fix prevents further accumulation.

[2021-02-12 16:10] JohnELester commented on #4431
@matildepark can you clarify and repost the instructions?  Looks like there were some typos that @ngzax pointed out, and I definitely don't want to be typing in anything wrong.

[2021-02-12 16:11] matildepark commented on #4431
Amended

[2021-02-12 16:21] JohnELester commented on #4431
@matildepark I got to step 6 `|commit %home` and thing ran and eventually I saw this.

Did something go wrong?  I'm holding at this point...

[code]

[2021-02-12 16:28] matildepark commented on #4431
Seems fine, it's just glob getting noisy because it was restarted by goad. You can start your ship normally now.

[2021-02-12 17:00] JohnELester commented on #4431
OK, thanks @matildepark.  I started ~dasfeb up normally and now see this:

[ [%base-hash ~]
  [%sour-hash 0v0]
  [%home-hash 0vb.cpjee.dfnq3.fjkd1.3anf0.j5h2i.5b9j8.jbk3t.kqsbq.beok8.s0m9i]
  [%kids-hash 0val3lg.t6fo9.7rpch.goejj.jm6om.ohb0m.es10f.vmqe2.20m8s.atord]
  [%glob-hash 0v3.t4lg5.84a6h.2bi2s.ni2p9.32uor %done]
  [%our ship=~dasfeb point='15663' life=[~ 4] rift=[~ 3]]
  [%sponsor ship=~fe

[2021-02-12 17:04] ngzax commented on #4431
If I am on `6q1bi` do I still need to run the steps above? Isn't that the current latest?

[2021-02-12 18:09] matildepark commented on #4431
You may just have to wait while you get through the remaining packets then or you may have to goad, personally unsure

[2021-02-12 18:17] mdecerbo opened #4433 ""Join a chat" instructions do not work; "j" in ";join" not accepted"
**Describe the bug**
The docs at https://urbit.org/using/operations/using-your-ship/#joining-a-chat say:
_Join the Urbit Community from Dojo using_ `:group-store|join ~bitbet-bolbel/urbit-community`
When I attempt to type that at my dojo prompt, I get as far as the last "l" in `~bitbet-bolbel`.
Attempting to type the slash after `~bitbet-bolbel` fails and rings the terminal bell.
Therefore I am un

[2021-02-12 18:20] matildepark commented on #4433
First half of this is being tracked in https://github.com/urbit/landscape/issues/287

[2021-02-12 18:31] minderfolden commented on #4431
I had 2.103-ish fragements to receive, and the ship got them all eventually. `+trouble` looks good.

[code]

[2021-02-12 18:46] mdecerbo commented on #4433
And, running `;view ~bitbet-bolbel/urbit-community` at the `chat-cli/` resulted in the following error and apparent crash:
[code]

After that, my terminal switched from the `chat-cli/` prompt to the `dojo>` prompt, and pressing `Ctrl-X` no longer had any effect, that is, pressing `Ctrl-X` did not make the `chat-cli/` prompt appear.

[2021-02-12 19:25] matildepark commented on #4433
Urbit Community isn't a chat.

[2021-02-12 19:38] mdecerbo commented on #4433
Thanks @matildepark ! If Urbit Community is not a chat, what is it? Where can I find a taxonomy of chats and things-one-can-join-that-are-not chats?

[2021-02-12 19:44] matildepark commented on #4433
It's a group; `:chat-cli` is currently more or less a viewer for chats we're already in more than a fully-featured discovery agent. Seems like something we could include one day.

[2021-02-12 20:08] mdecerbo commented on #4433
Sorry, I phrased my question unclearly. Apparently there are both groups and chats. Are there other things one may join? Is the relationship between groups, chats, and any other things that may exist described anywhere?

[2021-02-12 20:42] joemfb commented on #4214
I've been able to move past this, by locally pointing to the current nixpkgs master as follows:

[code]

[2021-02-12 23:12] JohnELester commented on #4431
Updates have gone through, and ~dasfeb is usable.

But the CPU is still pegged at 100%.

This is what I see when I do `+trouble`

[code]

[2021-02-12 23:17] mdecerbo commented on #4433
...but at least `|unlink %chat-cli` followed by `|link %chat-cli` restored the ability to enter the chat-cli with `Ctrl-X`.

[2021-02-13 00:59] joemfb commented on #4431
#4434 should help.

[2021-02-13 04:56] tinnus-napbus opened #4437 "<<ames>> constantly and large amount of packets dropped"
**Describe the bug**
Ship is constantly blocked with <\<ames\>>, can't access landscape or anything.

occassionally see:
`ames: packet dropped (12000 total)` with various amounts there

**To Reproduce**
Steps to reproduce the behaviour:
1. unsure

**Expected behaviour**
shouldn't be happening

**System (please supply the following information, if relevant):**
 - OS: oracle linux 8
 - Vere: v1.2
 -

[2021-02-13 05:00] matildepark commented on #4437
You or your star hosting any groups?

[2021-02-13 05:01] tinnus-napbus commented on #4437
I don't host groups & I don't think my star does either (`~nibfeb`)

[2021-02-13 05:05] matildepark commented on #4437
Mind dumping +trouble? I wonder what your home is.

[2021-02-13 05:10] tinnus-napbus commented on #4437
[code]

[2021-02-13 05:12] matildepark commented on #4437
I can't really understand why you'd be processing a ton of packets. @liam-fitzgerald or @tacryt-socryp would know more

[2021-02-13 05:13] liam-fitzgerald commented on #4437
can you give a scrape of `+verb`?

[2021-02-13 05:14] liam-fitzgerald commented on #4437
and also `:contact-store +dbug [%state '~(wyt by rolodex)']` would be nice.

[2021-02-13 05:50] tinnus-napbus commented on #4437
`+verb` is `%loud` but do you instead mean `|verb`? If so I can't run it while the ship is connected to the network cos everything's blocked, I have to shut it down and start it with -L to run dojo commands

[code]

Also it just occurred to me that I had my profile image set to a url-encoded svg, I wonder if that's clogging things up. I've changed it to a simple link to the svg on my s3 instance,

[2021-02-13 05:52] tinnus-napbus commented on #4437
wait no I can enable `|verb` in while in -L and then restart with networking

[2021-02-13 06:13] tinnus-napbus commented on #4437
hmm not getting any `|verb` junk it's just <\<ames\>>ing and dojo's blocked so I can't run it again

[2021-02-13 06:34] tinnus-napbus commented on #4437
ok it finally worked it's a lot of this type of thing:

[code]

[2021-02-13 06:36] tinnus-napbus commented on #4437
hmm it's for a whole lot of groups I'm not even a member of

[2021-02-13 06:46] tinnus-napbus commented on #4437
oh it's the previews, it seems to be stuck in some sort of loop getting the group previews

[2021-02-13 06:48] matildepark commented on #4437
I can’t remember exactly but I think we grab the previews on a subscription to a group’s contacts? So if a group kicks and resubs due to networking backlog we’ll get those over and over too? Idk. The others may correct.

[2021-02-13 08:30] tinnus-napbus commented on #4437
`:goad %force` seems to have stopped the complete blocking at least, but `|verb` output is still a flurry of stuff:

https://asciinema.org/a/dWI5rAIaoQeEjZb7Bi6FkOIVJ

[2021-02-13 12:17] tinnus-napbus opened #4439 "sane removes unmanaged channels and self-hosted groups"
**Describe the bug**
if you `|start %sane` and run `-sane` your unmanaged channels and self-hosted groups disappear. Unsure if all self-hosted groups disappear or just the ones with only yourself as a member

**To Reproduce**
Steps to reproduce the behaviour:
1. `|start %sane`
2. `-sane`
3. Unmanaged channels and self-hosted groups now gone

**Expected behaviour**
shouldn't remove these

**System

[2021-02-13 15:57] minderfolden opened #4440 "Weird hash"
**Describe the bug**
My star has a weird hash, and my planet got it too. I searched in here and in the dev email list but I couldn't find anything. Tried merging with the star's sponsor `~bus`  and the same hash remained.

**To Reproduce**
Steps to reproduce the behaviour:
1. Woke up to this, so I don't know.

**Expected behaviour**
A clear and concise description of what you expected to happen.

[2021-02-13 17:51] botter-nidnul commented on #4440
Sounds like this https://github.com/urbit/urbit/issues/3932#issuecomment-742877047

[2021-02-14 20:49] botter-nidnul opened #4442 "comets and moons not allowed to use :acme"
https://github.com/urbit/urbit/blob/79f461f5c9ecfb7bf45ee55061332beec2775f98/pkg/arvo/app/acme.hoon#L1397

It seems comets and moons are not allowed to use `:acme`, and it deceptively fails when run on them, accepting the command but not actually following through.

I don't quite understand why this limitation is here. Was `:acme` just expected to be used only for arvo.network addresses? It's usef

[2021-02-15 13:15] ngzax commented on #4431
Ok. I am now on `` and it appears that the continuous 100% cpu has stopped. I am still periodically receiving ''storms" of these types of messages and cpu briefly pegs during them:

[code]

[2021-02-15 23:59] liam-fitzgerald commented on #4433
Fwiw, `:group-store|join` is not the correct way to join a group. You actually want `:group-view &group-view-action [%join [~bitbet-bolbel %urbit-community] ~bitbet-bolbel]`

[2021-02-16 00:03] philipcmonk commented on #4431
Since nothing has changed in Ames proper, I expect this crash is a
(semantically harmless) latent bug that you only see when you use the Ames
more often. We should fix it, but even more importantly we should ensure
that we understand what all is going over Ames and make sure we're not
sending a ton of useless packets.

On Mon, Feb 15, 2021, 06:16 Daryl Richter <notifications@github.com> wrote:

[2021-02-16 01:04] liam-fitzgerald opened #4444 "eyre: facts from the same event come in backwards"
**Describe the bug**
If multiple facts are given on the same subscription in the same event, eyre will give them in reverse order i.e. last emitted first.

**To Reproduce**
inside the reduce method of `GroupReducer` in `pkg/interface/src/logic/reducers/group-update.ts`, add a `console.log(data)` below `if(data) {`. Then boot up a devserver and point it at a ship. Create a group through landscape.

[2021-02-16 03:52] philipcmonk commented on #4444
Worth inspecting this in |verb, since this can be caused by our depth-first
move evaluation. For example, suppose the thread sends a move which causes
an ack plus a move to eyre, then the ack goes back to the thread which
immediately sends another move which also sends a move to eyre. Then the
second move will reach eyre before the first one, since the second one is a
descendant of the ack, which

[2021-02-16 16:19] ant0n-anon commented on #4431
i'm having  similar issues. add in some "call:failed", "bar-stack=~[~[//ames]]", and then "%poke %hear" with craziness. it's constant and led to two crashes yesterday. i'm up for now.

[2021-02-16 17:00] Fang- commented on #4444
Hmm, I'd think that if eyre sends them out of order, that means it's _received_ them out of order. It receives & processes facts (rather, `sign:agent:gall`) one at a time, so I think the ordering is outside its control.

Happy to take a deeper look, if what @philipcmonk described turns out to not be the case.

[2021-02-16 20:28] wundrellama opened #4448 "Ship non-functional after power failure"
**Describe the bug**
After a power failure, my ship starts, but is nonfunctional. I am unable to access landscape from machines on the same LAN or the machine hosting Urbit. I am able to SSH into it,

Unfamiliar behavior in dojo when entering basic commands:
[code]
or
[code]
attempting to enter anything else into the Dojo after that gives `%dy-edit-busy`
While backspacing out of that works, I stil

[2021-02-16 20:40] wundrellama commented on #4448
Figured it out. System clock was fubar'd. Date had been reset to Feb 2, 2021, time was also wrong. Resync'd with ntp, relaunched ship, and everything seems to be working properly now.

[2021-02-16 20:40] #4448 closed

[2021-02-16 23:12] matildepark commented on #2851
@ixv context on why I poked you about this, from our Watercooler chat over weekend...

@belisarius222:

[code]

@liam-fitzgerald:

[code]

[2021-02-17 01:15] joemfb commented on #4442
Sorry I missed this, @botter-nidnul -- it's just an artifact of the old, automatic (never fully realized) arvo.network implementation.

[2021-02-18 03:31] mdecerbo commented on #4433
Thanks. Is there is a reference somewhere describing chats, groups, and any other things that exist within urbit?

[2021-02-19 12:13] Fang- commented on #4169
Fixed as of #4176.

[2021-02-19 12:13] #4169 closed

[2021-02-19 16:49] mattlevan commented on #1442
Bumping this, I'm trying to get a planet of mine accessible via `mastyr-lomwyd.arvo.network`. Here's what I'm seeing:

[code]

[2021-02-19 18:51] philipcmonk commented on #4440
I agree with @botter-nidnul, those commands should fix it.  Does that solve it for you?

[2021-02-19 19:00] philipcmonk commented on #4360
I strongly agree with this.  It'd be nice if people could just hand out moons as easy non-sovereign "invites" for people to try it out without having to commit to buying a planet, storing keys, etc.  And that's not possible as long as `team:title` just checks if it's a moon.  Jael should just store a set of trusted moons, and `|moon` should take a trusted/untrusted flag.  Not too much work.

[2021-02-19 20:07] philipcmonk commented on #4349
Sorry for not getting back to you.  When you change OTA source, base-hash will usually be null for a little bit until it finishes downloading a copy of the new source's %kids desk.  After that it should be normal.

Your home and kids desks probably have a few files that were in the pill but not the OTA.  These commands should resolve that: https://github.com/urbit/urbit/issues/3932#issuecomment-74

[2021-02-19 22:41] 1a3orn opened #4464 "Bug: Nock 9 with axis of 1 crashes."
**Describe the bug**
Entering ` .*([3 0 1] [9 1 [0 1]])` into the CL gives "hoon expression failed"

**Expected behaviour**
`.*([3 0 1] [3 0 1])` --> `0`

**System**
 - I get this on my I don't-think-yet haskell-king linux droplet (6s4iq), and also on urbit-king Mac comet with hash of ~.

**Additional context**
I thought this was my not understanding the code, but ~sigryn-habrex and ~master-morzod

[2021-02-19 23:24] Fang- commented on #1442
@mattlevan the dns requests are, unfortunately, still manually fulfilled. I just went through the queue, including your request. If the acme app doesn't retry automatically, simply running `:acme %retry` one more time should do the trick now.

[2021-02-19 23:29] mattlevan commented on #1442
It worked thanks @Fang- !

[2021-02-19 23:41] botter-nidnul commented on #2067
This should all be irrelevant now, since the hercules ci changes also included new nixpkgs pins. I've only built and executed non-static aarch64 binaries a couple of times since those changes, so I can't be 100% sure, but it's rational to assume the problem is gone.

[2021-02-19 23:41] #2067 closed

[2021-02-20 00:47] nlongname commented on #1155
I know this is years later, but I'm getting exactly the same issue:

`./urbit -c mycomet
~
urbit 1.2
boot: home is /home/nlongname/urbit/mycomet
loom: mapped 2048MB
lite: arvo formula 79925cca
lite: core 59f6958
lite: final state 59f6958
boot: downloading pill https://bootstrap.urbit.org/urbit-v1.2.pill
c3_rand getentropy: Function not implemented`

Running Ubuntu 16.04 on an Acer C720 chromebook.

[2021-02-20 04:11] abliss commented on #1155
@nlongname did you configure and build from source on that machine? you won't be able to run the pre-built binaries since they are configured on a machine with a newer kernel.

[2021-02-20 04:46] joemfb commented on #1155
FYI, with the from meson to nix, libent was brought into the monorepo (at `pkg/ent`). It's designed to configure the entropy source at build time, so you'd have to install nix and then build urbit locally for it work properly on an older kernel.

However, it might be better to wonder if we also configured the entropy source on startup (checking for `ENOSYS` on `getentropy()`, falling back to `/dev

[2021-02-20 06:01] mrdomino commented on #1155
Oh gosh, my past decisions are all coming back to me at once aren't they.

Possible solutions in order of my preference:

   1. Leave stuff as-is and let folks hotwire in /dev/urandom support on
   their own if they want to. (Folks who are interested in hotwiring: if I'm
   not mistaken, you can do this by just deleting everything except lines 44
   to 58 of pkg/ent/ent.c.)
   2. Screw it, just us

[2021-02-20 09:09] joemfb commented on #4464
Thanks for the report! I've PR'd a fix in #4468.

[2021-02-20 09:28] timlucmiptev commented on #4424
Just saw this issue...I get this crash every couple seconds on my ship. Happy to give ship access if that helps to repro.

[2021-02-22 10:02] timlucmiptev opened #4476 "base58 encode/decode: use byts, not @"
`en-base58` and `de-base58` in zuse currently take/produce atoms. This breaks on inputs that are intended to have leading zeros, such as all BTC P2PKH mainnet addresses, which start with a leading 0 as the version number.

Since base58 is only (akaik) used for Bitcoin interop, this should follow Bitcoin's idiom and take/produce `byts`.

Fwiw, bitcoin address parsing with the `@uc` aura currently h

[2021-02-22 19:23] #3598 closed

[2021-02-23 04:13] nlongname commented on #1155
I don't really know what I'm doing, so it's been a process of trial-and-error. When the pre-built binaries didn't work I built from source. When that didn't work, I tried the hotwire (pretty much exactly what @mrdomino said) and that worked. It seemed easier than messing around with configuration, but I could be wrong about that.

Personally, I'm not sure it's really worth changing anything; I'm t

[2021-02-23 04:20] mrdomino commented on #1155
Yay, I'm glad that worked!

On Mon, Feb 22, 2021 at 8:13 PM nlongname <notifications@github.com> wrote:

[2021-02-23 19:48] mrdomino commented on #1155
@joemfb thoughts?

[2021-02-23 20:54] tylershuster opened #4483 "npm: API Documentation"
Now that the api has been separated into `pkg/npm/api` and typed properly, it should also have comments on each method to explain what they do.

If there are to be used in other projects, it would help to have some kind of idea what each function does, that can be exposed using intellitype.

[2021-02-24 10:38] jalehman commented on #4424
I'm also having this issue.

A number of people are reporting difficulty communicating with my ship, which translates to a long "ghost message" period before everything gets sent.

Perhaps this is related?

[2021-02-25 18:42] forfel-norfel opened #4502 "Vere? doesn't correctly handle not having a loopback interface"
I realize it's a bit stupid, but I figured I'd report it, since it should give a proper error rather than failing the way it did.

v1.2 on Linux booting a new comet

<img width="388" alt="Screen Shot 2021-02-25 at 1 37 55 PM" src="https://user-images.githubusercontent.com/63629037/109200596-cf1fae80-776e-11eb-805b-f0daad76c028.png">

<img width="368" alt="Screen Shot 2021-02-25 at 1 38 23 PM" src=

[2021-02-26 12:01] pilwex-migsun opened #4511 "Landscape outage"
**Describe the bug**

Landscape has not been loading for several days. Inspecting network shows a react bundle fails to load: http://localhost:8080/~landscape/js/bundle/index.01423cd5af57c2f23adc.js.

/~debug is accessible.

 Spider always shows only one glob thread. `:glob %kick` or reloading agents doesn't help. Glob hash status gets stuck at `%waiting` after killing spider thread and `%trying`

[2021-03-02 05:05] tylershuster commented on #4483
I will take this

[2021-03-02 16:29] mirtyl-wacdec opened #4526 "Can't |hi a particular planet, even though he can |hi me (and we can both |hi all our sponsors)"
**Describe the bug**
I tried to join a group run by a certain planet but couldn't join. In trying to `|hi` him I found out it never succeeds; even though he can `|hi` me and join my groups. I can `|hi` successfully his star and galaxy sponsors, as he can mine. I can `|hi` literally everyone but that one planet.

**Expected behaviour**
To be able to connect to that ship.

**Screenshots**
If applica

[2021-03-03 00:36] lycurgus opened #4530 "eyre falls over with Network.Socket.accept: resource exhausted (No file descriptors available)"
**Describe the bug**
My ship stopped responding to web requests, and printed `Network.Socket.accept: resource exhausted (No file descriptors available)` in the dojo. I had to restart the ship to get it to respond again.

I'm not sure what the reproduction steps look like; my home internet connection is fairly unreliable so there might have been a lot of disconnects/reconnects from my machine (loca

[2021-03-03 06:37] joemfb commented on #4530
@pilfer-pandex, this resource leak may be related to the memory issues you're investigating.

[2021-03-03 06:42] #4437 closed

[2021-03-04 04:21] sorbel commented on #4530
Interesting. Lycurgus, what class of ship are you sailing? If a higher class, how many sponsees are you supporting?

[2021-03-04 04:58] pilfer-pandex commented on #4530
Interesting. Lycurgus, what class of ship are you sailing? If a higher class, how many sponsees are you supporting?

[2021-03-04 07:17] lycurgus commented on #4530
@pilfer-pandex just a planet (~monted-tallex). Not hosting any groups or anything like that, either..

[2021-03-04 08:13] philipcmonk opened #4542 "nock: Gate strangely re-running, corrupted"
Originally appearing in #4491, in this commit (https://github.com/urbit/urbit/commit/f3b8f059d7414c0c84cc8efe5e070bab3656e986), the `+load` function crashes because `old` has inexplicably changed from the previous state of clay to `*vane-sample`.  Additionally, printfs placed in the +load function run twice: once with the correct `old` and once with the incorrect `old`.  I can find no good reason

[2021-03-04 16:38] belisarius222 commented on #4542
The only thing I know of that might be able to cause this, other than an unknown bug in the bytecode, would be if +mule is somehow getting called in Nock without its jet activating. +mule logically runs a piece of code twice (once virtualized with error handling, and once unvirtualized that produces the right output type), and it's the jet that allows it to run only once.

If some unusual piece of

[2021-03-04 16:41] philipcmonk commented on #4542
Mule is not in the stack trace, but that's a good point that if a jet fails to run, it's possible for it to say "just run the nock".  I forget, is that just returning c3_none?

On Thu, Mar 04, 2021 at 8:38 AM, Ted Blackman < notifications@github.com > wrote:

[2021-03-04 21:54] philipcmonk commented on #4542
I called "bytecode error" too soon...  It turns out `|^` introduces a `$`, so our `..^$` should have been `..^^$`.  This meant we produced `+load` instead of the whole vane core, so the next time the vane was invoked, it was called with a `vane-sample`.  No nock issues.

[2021-03-04 21:54] #4542 closed

[2021-03-04 22:00] philipcmonk opened #4548 "observe-hook: "duplicate observer" crash"
Whenever clay changes (and probably zuse/lull/arvo/hoon), we get a "duplicate observer" crash.  `:goad %force` also triggers this.

It's a bad habit to normalize "harmless" stack traces on updates.

[code]

[2021-03-04 23:02] pilfer-pandex commented on #4530
@joemfb, I don't think this is related. I checked the file descriptors for ~def using /proc, and found only 30 open. Surely this is not a lot.

I'm a bit stumped by this issue and unsure how to proceed.

[2021-03-04 23:09] vvisigoth commented on #4542
phew
—
~poldec-tonteg
http://urbit.org

On Thu, Mar 4, 2021 at 3:55 PM Philip Monk <notifications@github.com> wrote:

[2021-03-05 04:57] philipcmonk commented on #4424
#4515 fixed the last instance of this we've seen.  Closing, but if anyone sees this when both sides are after v2.35, please reopen.

[2021-03-05 04:57] #4424 closed

[2021-03-06 23:59] lukebuehler opened #4560 "Make the start-urbit script more robust in the Docker image"
I cannot use the `tloncorp/urbit` Docker image in Kubernetes because the the cloud mounted volume creates a `lost+found` directory in the `/urbit` folder. This results in the wrong directory being picked up in the final few lines of the [`start-urbit` script](https://github.com/urbit/urbit/blob/master/nix/pkgs/docker-image/default.nix). Specifically, the `$dirname` variable ends up being set to "l

[2021-03-07 09:09] juped opened #4562 "urbit-king fills in 64 bits of subsecond time"
Where does this come from? The hardware femtosecond clock? This is a really bizarre difference.

Reproduction:
[code]

[2021-03-08 11:20] tinnus-napbus opened #4564 "ames: ~nibfeb fragment crashed %exit"
**Describe the bug**
I've been getting the message in the title like:

[code]
~nibfeb is my ota source. I tried changing to ~dasfeb but I still keep getting these errors from ~nibfeb. Someone in UC also mentioned they were getting this from ~batten

**To Reproduce**
Steps to reproduce the behaviour:
1. Unsure

**Expected behaviour**
Shouldn't get these messages

**System (please supply the followi