[2020-09-25 15:13] tylershuster opened #3571 "Can't boot after 1.0.51"
My ship was up all night through the two OTAs, and I woke up to find it bailed out. Now every time I boot I get this (after about a minute):

[code]
There's a little bit of replaying at the beginning but nothing out of the ordinary. Is there something I can do to fix this?

[2020-09-25 15:17] matildepark commented on #3571
Any luck with [this](https://github.com/urbit/urbit/pull/3235#issuecomment-693215064)?

[2020-09-25 15:23] tylershuster commented on #3571
it seems so.

[2020-09-25 15:23] #3571 closed

[2020-09-25 15:56] matildepark opened #3573 "chat: scroll jumps to top of chat when sending a message in firefox 68 ESR"
(Very specific!)

[2020-09-25 16:48] matildepark opened #3574 "links: cannot create new unmanaged collection"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Links, click "New Collection"
2. Enter a title, and press "Create".

**Expected behavior**

A blank links collection.

<img width="707" alt="image" src="https://user-images.githubusercontent.com/20846414/94294051-38d02e00-ff2d-11ea-9e80-c9d45d3e65bc.png">

[2020-09-25 19:15] urcades opened #3580 "Links: I cannot create a new collection in links."
**Describe the bug**
While attempting to create a new Links collection, I ran into an issue where the creation form would error out without any clear indication as to what was going on. When I refreshed the page, the form ceased to allow me to select a group to associate the channel with. I was not able to create a new collection. This is visible in the .gif I provided below.

**To Reproduce**
Ste

[2020-09-25 19:16] urcades commented on #3580
A smaller visual bug I noticed during the above:

<img width="382" alt="Screen Shot 2020-09-25 at 3 06 25 PM" src="https://user-images.githubusercontent.com/1195363/94307043-05e46500-ff42-11ea-8ff2-ce4c79b41912.png">

The z-index of the groups dropdown appear to be 'under' or 'lower' than the submission button.

[2020-09-25 19:17] matildepark commented on #3580
You're getting *EventSource* errors around this?

Might be related with #3578.

[2020-09-25 19:29] matildepark commented on #3580
Appears to be some issue where livenet ships haven't mounted spider but fresh ships have. We're on it alongside the chat stuff.

[2020-09-25 21:11] tylershuster opened #3583 "links: group dropdown appears below button"
<img width="457" alt="image" src="https://user-images.githubusercontent.com/3999320/94316284-ebf25480-ff38-11ea-89d5-cccb59963871.png">

[2020-09-25 21:13] tylershuster commented on #3580
I'm experiencing this as well. Looks like waiting is the key for now

[2020-09-25 21:14] matildepark commented on #3580
See #3582 for fix in progress, deployed once we can confirm it actually mounts

[2020-09-25 22:22] matildepark commented on #3580
Fixed in #3582.

[2020-09-25 22:22] #3580 closed

[2020-09-25 22:22] matildepark commented on #3574
Fixed in #3582.

[2020-09-25 22:22] #3574 closed

[2020-09-25 22:22] matildepark commented on #3568
Fixed in #3572.

[2020-09-25 22:22] #3568 closed

[2020-09-25 22:23] tylershuster commented on #3580
Cool, I added the z-index issue to another issue

[2020-09-25 22:45] tylershuster opened #3586 "chat: join button spacing is off"
<img width="1087" alt="image" src="https://user-images.githubusercontent.com/3999320/94322009-1c8cbb00-ff46-11ea-8049-4b154fbe264e.png">

**But** how would you even access this page manually? Do we just remove the button?

[2020-09-25 22:47] matildepark commented on #3586
There's a new join experience anyway with the groups layout where we can address this.

[2020-09-25 22:49] tylershuster commented on #3481
Confirmed regressed

[2020-09-25 23:12] tylershuster opened #3589 "chat: paste image stream no longer works in Firefox"
Pasting an image (not a URL, a stream) from the clipboard in macOS into chat from Firefox no longer works. It works on other browsers and it works in the Links app.

[2020-09-25 23:15] matildepark commented on #3500
Still at large! Just more subtle about it. Embed button appears, but embed info is gone and it doesn't open.

[2020-09-26 09:32] timlucmiptev commented on #3570
Ended up just breaching since I need my ship; will close this one.

[2020-09-26 09:32] #3570 closed

[2020-09-26 09:42] timlucmiptev opened #3592 "Can't convert chat to group chat"
**Describe the bug**
When I try to convert a non-group chat and add it to a group of mine, I get the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new chat (not in a group)
2. Go to that chat's settings and add it to an existing group you own
3. See error

**Desktop (please complete the following information):**
 - OS: MacOS 10.15.6
 - Browser: Brave
 - Base hash: `o

[2020-09-26 19:11] galenwp opened #3593 "publish: Cursor jumps to the end"
**Describe the bug**
While editing a publish post somewhere above the end of the text, the cursor will jump to the end of the document while typing

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a publish post
2. Paste in some text, put the cursor at the top
3. Type
4. See error

**Expected behavior**
The cursor staying in the same place.

[2020-09-26 21:19] vvisigoth commented on #3593
The issue seems to happen only while editing existing text, appending works
OK. I wonder if formik validation?

Confirmed borked on mobile safari, too.

On Sat, Sep 26, 2020 at 2:11 PM Galen Wolfe-Pauly <notifications@github.com>
wrote:

—
~poldec-tonteg
http://urbit.org

[2020-09-26 21:25] matildepark commented on #3593
We went back to CodeMirror vanilla in #3540 and it’s acting controlled or something. We can just look at the behaviour pre-#3337 and restore how it kept the cursor.

[2020-09-26 21:38] mike-cr opened #3594 "Chat no longer jumps to new messages line"
**Describe the bug**
Chat opens at the bottom rather than jumping to the green line

**To Reproduce**
Steps to reproduce the behavior:
1. Open chat with many new messages
2. Observe you're not at the green line

**Expected behavior**
Chat should jump to green line if there are new messages

**Desktop (please complete the following information):**
 - OS: arch linux 64-bit
 - Browser qutebrowser (ch

[2020-09-26 21:55] tylershuster commented on #3594
This is the designed new behavior as of the most recent update. You should see the banner at the top telling you that there are unread messages, which will not be marked as read until you scroll up to see the green line. @urcades￼

[2020-09-26 22:03] #3594 closed

[2020-09-26 22:52] matildepark commented on #3594
(Note that you can click the banner to jump up. Other messengers, if the backlog is very large, will bump you up not at  the bottom, but 1 page up, and let you click the banner to go further up; but you know, one thing at a time.)

[2020-09-26 23:16] pilfer-pandex commented on #3593
Ha, just came here to report this. Beat me by 4h, galen!

[2020-09-26 23:40] tylershuster opened #3596 "publish: editor inserts newline at beginning of document"
It seems to be only upon editing, and the newline does not appear upon merely viewing, but to reproduce:

1) Create a document in publish.
2) Save
3) Edit document
4) Note newline at beginning of editor.

[2020-09-26 23:50] ohAitch commented on #3593
I mean, presumably appending works exactly identically in that it also jumps the cursor to the end
Which just doesn't disrupt any workflow.

[2020-09-27 00:40] mike-cr opened #3597 "Twitter embeds don't work with ?s=xx query strings"
**Describe the bug**
Twitter embeds don't seem to work if the url includes a query string, and twitter seems to add ?s=21 or w/e when it's shared. This causes a large amount of twitter embeds to fail

**To Reproduce**
Steps to reproduce the behavior:
1. Paste twitter url with ?s=21 query string into chat
2. Click expand
3. Observe it doesn't work

**Expected behavior**
Embed should work

**Desktop

[2020-09-27 01:02] matildepark commented on #3597
If you refresh the page does it work? Just want to see if dupe of #3500.

[2020-09-27 01:06] mike-cr commented on #3597
yes upon refreshing the query strings have gone and the embeds work correctly

[2020-09-27 01:06] matildepark commented on #3597
Dupe of #3500. (Thanks for testing!)

[2020-09-27 01:06] #3597 closed

[2020-09-27 02:47] tylershuster commented on #3356
I wonder if it's worth adding search capability to the new virtual scroller component. I don't know exactly how it would work codewise but it would be a little search bar either at the top of, or invocable somehow on, the virtual list that searched through the text contents and scrolled to the matched place when found. It wouldn't be a full search for asynchronously loaded data, obviously, but at

[2020-09-27 05:10] joemfb opened #3598 "test: build failures in -test not identified in CI"
This came up in #3576: I added a core to the stdlib, mistakenly pushed a pill without said core, then added tests exercising the new functionality. The tests fail to build, but this fact is not observed by CI. Presumably this problem dates to the addition of `-test` with ford-fusion.

[2020-09-28 02:57] eglaysher commented on #3437
I've run `~littel-ponnys` with #3549 for a few days now, and while CPU usage is high at a consistent ~30% of a core, it's not several hundred percent of a core, so it's a clear improvement.

[2020-09-28 12:49] Fang- opened #3600 "Wet gate type definition used instead of callsite type, when addressed through $"
This is a clumsy title. Feel free to reword if you can do better.

From https://github.com/urbit/urbit/pull/3442#discussion_r495496085:

[code]

[2020-09-28 14:29] eglaysher commented on #3593
Am hitting this too. Really annoying.

[2020-09-28 14:40] belisarius222 commented on #3600
Looks like a bug to me.  Maybe @joemfb or @pilfer-pandex would have more insight.

[2020-09-28 15:08] tylershuster opened #3601 "chat: jumping on image load"
To reproduce:

Go to a chat with a lot of images in unread messages (more than the screen height). Click the unread messages banner to scroll up above the messages. Scroll down. As you scroll down, the images will load and cause the scroll to jump.

Why this is happening:

Because scroll position is calculated from the top of the window, load an image will cause its height to change, thus pushing

[2020-09-28 17:39] tylershuster opened #3605 "chat: group links with periods in them don't create links"
for example: ~forhet-losreb/comp.lang

How can we make the criteria for autolinking the same as the name verification check?

[2020-09-28 19:17] #3586 closed

[2020-09-28 20:19] tylershuster commented on #3605
Ok, this is actually different. You can create a group with a period in it, but if you try to directly visit the *same URL* that you get when you create the group, you get a white screen, presumably because it picks up the extension and tries to parse it as a file. Maybe we need to prevent the creation of groups with a period in them, but Arvo doesn't prevent this, so maybe it's a problem in how t

[2020-09-28 20:21] matildepark commented on #3605
We should just replace the dots with hyphens on FE, probably.

—
~haddef-sigwen
https://urbit.org

[2020-09-28 20:40] Fang- opened #3608 "Malformed chat-hook state is preventing OTA"
Copying over from #3581 for better visibility:

Trying to pull down the latest OTA fails for me with the following error. Apparently ~palfun hosts chat(s?) with no group associated with it.

https://github.com/urbit/urbit/blob/e17e508379fac7b87a331f15d47bdd72aeec6dbf/pkg/arvo/app/chat-hook.hoon#L912-L918

[code]

So I poked around the state of these things a bunch. This was kinda painful, chat-hoo

[2020-09-28 20:42] matildepark commented on #3608
We're going to have to talk about this today — probably have to amend the on-load for the next OTA and then properly archive these when graph-store gets Chat in it.

[2020-09-28 22:03] matildepark opened #3610 "chat: leaping to chat always shows joining screen"
via @galenwp. Presumably introduced after #3507? We want to redirect in cases where we have the chat, which shouldn't show the join screen at all.

[2020-09-29 00:13] tylershuster commented on #3610
I would be very surprised if that PR had anything to do with this issue. As you can see below, the links for each channel contain the `~join` parameter:

<img width="568" alt="image" src="https://user-images.githubusercontent.com/3999320/94497995-cde15a00-01ad-11eb-99ba-e18e9b221f57.png">

#3507 may have made the problem more visible by waiting until confirmation to redirect, but the underlying be

[2020-09-29 00:14] matildepark commented on #3610
Of course. We use the join parameter for everything in Leap because all the join flows have a catch to redirect if we have the channel.

[2020-09-29 00:18] tylershuster commented on #3610
Ok, it's basically this line that did it:

https://github.com/urbit/urbit/pull/3507/files#diff-0b782255eebc0e802da95cbb29fb3b42

Instead of immediately pushing state, it waits to join. That could definitely be incorrect — I mean theoretically it's correct but if it gets handled properly without producing this behavior might as well revert it (but still replace instead of push).

[2020-09-29 00:21] tylershuster commented on #3610
Update: removing this behavior reverts to the previous bad behavior of "leap to a channel to which we aren't subscribed, see the URL navigate, a flash of white, then a redirect to the bare /~chat screen"

[2020-09-29 00:21] tylershuster commented on #3610
We would need a way to check if we're already subscribed while on the join page to fix this.

[2020-09-29 00:32] Fang- commented on #3555
Just posted a [cors.txt](https://github.com/urbit/urbit/files/5295683/cors.txt) to [urbit-dev](https://groups.google.com/u/1/a/urbit.org/g/dev/c/bb82dwEJGzM).

[2020-09-29 00:33] tylershuster commented on #3555
I believe "king" is what the kids are saying

[2020-09-29 00:33] matildepark commented on #3555
(Honestly, topics like this should probably just be on urbit-dev anyway?)

[2020-09-29 00:49] #3555 closed

[2020-09-29 07:36] timlucmiptev opened #3617 "Can't change name of existing chat"
**Describe the bug**
When I try to change the name of an existing chat, it fails with the following error in devtools:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have a chat in a group
2. Open devtools to observe console
3. Change its name
4. See error

**Desktop (please complete the following information):**
 - OS: MacOS 10.15.6
 - Browser: Brave
 - Base hash: `oeaff`

[2020-09-29 18:02] matildepark commented on #3299
Chat no longer jumps at all.

[2020-09-29 18:02] #3299 closed

[2020-09-29 18:03] matildepark commented on #3298
The latter is the latest behaviour!

[2020-09-29 18:03] #3298 closed

[2020-09-29 18:05] matildepark commented on #3541
I actually don't encounter this.

[2020-09-29 18:06] tylershuster commented on #3541
I haven't seen it in livenet, only in testing. I'll close it unless it comes up again.

[2020-09-29 18:06] #3541 closed

[2020-09-29 18:07] matildepark commented on #2844
@Fang- If you can't reproduce this anytime recently it might be time to close — a lot of Publish got rewritten in the indigo-react refactor.

[2020-09-29 18:08] matildepark commented on #3151
Dupe of #3079.

[2020-09-29 18:08] #3151 closed

[2020-09-29 21:32] matildepark commented on #3596
I've seen this before — I think 5114cebfd7a58677c56a43aefa2053f4f77604b9 in #2432 was meant to fix this. Possible regression introduced in #3337.

[2020-09-30 00:42] tylershuster opened #3621 "landscape: constantly rerenders"
If you have react dev tools, go to profiling and turn on highlighting updates. If you do so, you will see something like this:

https://marpem-files.sfo2.digitaloceanspaces.com/radbur-sivmus/Screen%20Recording%202020-09-29%20at%205.40.38%20PM.mov

(livenet)

This happens everywhere, and a trace reveals that the top-level `<App />` component has this problem, with no observable change in props or s

[2020-09-30 00:44] matildepark commented on #3621
What do

—
~haddef-sigwen
https://urbit.org

[2020-09-30 00:55] tylershuster commented on #3621
Something in the global subscription causes this

[2020-09-30 01:01] tylershuster commented on #3621
Wow, this is weird. You may want to check your ship. I traced this down to a broken group that was constantly producing diffs like this:
[code]

I wasn't part of the group, but I was in a chat belonging to the group. When I left the chat, the problem stopped.

[2020-09-30 01:03] matildepark commented on #3621
Hmm. Still, shouldn’t we just aggressively memoise

—
~haddef-sigwen
https://urbit.org

[2020-09-30 01:05] tylershuster commented on #3621
Motto

[2020-09-30 01:06] tacryt-socryp commented on #3621
Constant diffs could still cause rerenders, I imagine, though I do like the idea of using more of memo

[2020-09-30 01:08] tylershuster commented on #3621
Uh, But the weird thing is that neither the props not the state were changing upon a deep diff on the didcomponentupdate hook. However the hook did detect that it was in fact updating￼

[2020-09-30 02:05] tylershuster commented on #3621
Wonder if this has anything to do with #3501

[2020-09-30 02:11] tylershuster opened #3622 "chat: jump to line after room has loaded"
Load a room with unread messages. Green line appears.

Scroll up above the line and wait for more messages to come in.

Click the banner to scroll to new messages and it will scroll to where new messages were when you loaded the room, instead of the actual new messages since last time you saw the line.

[2020-09-30 07:03] nohokum opened #3623 "Urbit crashed when I let my computer power down accidentally, continues to crash with bail: meme"
Hey y'all,

First off, apologies because (a) this occurred nearly a month ago and am not sure if recent releases might have fixed the problem and (b) I've never written an issue like this before, so I'm likely unable to describe the problem as well as would be ideal.

Just by eyeballing it, my issue appears to be similar to #3427, and thus may be affected by @joemfb 's fix at #3235

**Describe the

[2020-09-30 08:43] ohAitch opened #3624 "Float mul and div should have samples of .1 and not .0"
**Describe the bug**
In particular, `roll` by `mul:rs` should do the obvious thing.

**To Reproduce**
[code]

**Expected behaviour**
[code]
More generally, `a=_(sun 1) b=_(sun 1)` params in each of `div mul` and possibly `fma`, in each of `++rh ++rs ++rd ++rq` - mechanical change, mostly a question of how to stage it.

**System (please supply the following information, if relevant):**
 - OS: linux

[2020-09-30 14:26] ohAitch commented on #830
Curious, how does king-haskell fare on this front? Just for a simple case of "`` `*`.`` oops `^C`"

[2020-09-30 14:43] tylershuster opened #3627 "link to configure swap space broken"
If you try to boot urbit without enough swap space it says:
[code]
But that does not exist.

[2020-09-30 17:04] #2844 closed

[2020-09-30 17:49] joemfb commented on #3627
"cool uris don't change"

[2020-09-30 17:50] matildepark commented on #3627
We could just fix that.

[2020-10-01 14:02] jamesacklin commented on #3227
I still get the 0% tracking status, but I don't see the error I initially described. I'm in favor of closing this issue if it's also resolved for @darbyn-litbel

[2020-10-01 21:26] botter-nidnul opened #3629 "ames: "%ames-crash-on-packet-from" and "ames: packet failed" after personal breach"
**Describe the bug**
This appears to be a result of a handful of urbit ships not knowing that I breached and have new keys. I've seen another user in the discord with this error, who also began to experience this after a breach.

I've seen out-of-date key errors before, but none exactly like this. The closest mention I can find in these issues is #2156. Posting this here to document the errors pro

[2020-10-02 00:14] matildepark commented on #3500
This is not directly relevant but I think we should possibly whitelist / process this logic a bit better — embeds that have no content don't look very nice, and we just shouldn't show the button if we have nothing to show. We can probably proc the JSON response a little

[2020-10-02 00:38] tylershuster commented on #3500
Yeah, I think this is high-priority. When I get a few minutes I'll make this nice.

[2020-10-02 01:11] #1476 closed

[2020-10-02 01:11] #3583 closed

[2020-10-02 01:11] #3589 closed

[2020-10-02 01:11] #3617 closed

[2020-10-02 01:11] #3592 closed

[2020-10-02 01:11] #3593 closed

[2020-10-02 01:11] #3605 closed

[2020-10-02 03:23] #3481 closed

[2020-10-02 04:05] tylershuster commented on #3621
Closing due to being invisible to users and going to be addressed incrementally.

[2020-10-02 04:05] #3621 closed

[2020-10-02 14:33] matildepark commented on #3608
Fixed in #3631, #3581.

[2020-10-02 14:33] #3608 closed

[2020-10-02 17:28] vvisigoth opened #3635 "Leap crashes when no match (I think)"
**Describe the bug**
If I try to leap to something that I'm not sure exists, sometimes the page crashes. But this doesn't happen all the time so not sure.

**To Reproduce**
Steps to reproduce the behavior:
1. ctrl + /
2. type in "hadd" (on my ship)
3. page crashes

**Expected behavior**
Bonk or otherwise tell me no matches have been found.

**Screenshots**
<img width="1045" alt="Screen Shot 2020-1

[2020-10-02 17:30] tylershuster commented on #3635
#3634

[2020-10-02 20:36] tylershuster opened #3637 "chat: funky editing behavior"
Start by watching this video:

https://marpem-files.sfo2.digitaloceanspaces.com/radbur-sivmus/Screen%20Recording%202020-10-02%20at%201.32.58%20PM.mov

I was copying text from one chat to another. I had formatted it previously, and I wanted to keep that formatting. I pasted it and began to add the markdown. But after I added the first backtick, the whole thing went haywire as you can see.

[2020-10-03 07:18] ohAitch commented on #1680
Ran into this in #3536 - `abs` is even in the [underlying `++fl` engine](https://github.com/urbit/urbit/blob/5b9da64/pkg/arvo/sys/hoon.hoon#L2549-L2552), it just didn't seem to make it into `++ff` or from there `++rs` etc. Missing jets?

[2020-10-03 07:57] ohAitch commented on #1680
Looks like opencv softfloat [pulled](http://www.jhauser.us/arithmetic/SoftFloat.html) sin and cos in particular from [libfdm](http://www.netlib.org/fdlibm/readme), which looks to [contain](http://www.netlib.org/fdlibm/) everything in the "hard" list and a chunk of the "fairly trivial" list - depending on how mechanical the translation from native `float x,y; x*y` to `float32_t x,y; f32_mul(x,y)` i

[2020-10-03 15:34] Zaphod101010 opened #3640 "When clicking a user sigil in chat when there are only a couple messages, the user details are cropped."
**Describe the bug**
When clicking a user sigil in chat when there are only a couple messages, the user details appear behind the message input box, and you can only see the top part of the sigil.

**To Reproduce**
Join a chat that only has one or two messages.
Click on the user to display the popover details about the user

**Expected behavior**
User details should be visible.

**Screenshots**
![

[2020-10-03 20:52] rabsef-bicrym opened #3641 "Issue joining group, similar (but different stack trace) to #3227"
**Describe the bug**
I'm not able to use chat channels for groups hosted on ~hiddev-dannut (Hooniversity) at all - they seem to have broken around last Wednesday.  Upon trying to leave the group and kick myself from ~hiddev, I get a stack trace error as below.  It appears the stack trace only happens when I "leave" from my end, not when I kick from hiddev's end.  Additionally, if I "re-join" after

[2020-10-03 22:22] tylershuster opened #3642 "groups: mobile — no channels visible"
![IMG_316453956F0F-1](https://user-images.githubusercontent.com/3999320/95002746-40767f00-058c-11eb-9e4e-55d8409861af.jpeg)

[2020-10-03 22:23] tylershuster commented on #3642
Maybe this is fixed in the refactor?

[2020-10-04 00:15] matildepark commented on #3642
Did you click the little ‘channels’ link?

Sent from my iPhone

[2020-10-04 00:20] tylershuster commented on #3642
...no

Because it looked like a header

T

[2020-10-04 00:34] matildepark commented on #3642
Then this is design feedback remedied by the new groups layout incoming shortly!

[2020-10-04 00:34] #3642 closed

[2020-10-04 02:37] matildepark commented on #3466
[Any luck with this](https://subject.network/posts/configuring-s3-urbit/)?

[2020-10-04 02:51] custom-jonathan commented on #3466
Yep, worked like a charm.

[2020-10-04 06:32] joemfb commented on #3598
This applies to the `:test` app too, not just the `-test` thread (which is more egregious, since checking for build failures is the only purpose of the `:test` app).

`release/next-sys` currently has a build failure in the `%graph-update` mark (see https://travis-ci.org/github/urbit/urbit/jobs/732403775#L2422).

/cc @tacryt-socryp

[2020-10-04 13:06] matildepark commented on #3641
What’s ~hiddev’s +trouble output?

[2020-10-04 18:47] rabsef-bicrym commented on #3641
~hiddev has
[code]

[2020-10-04 19:42] matildepark commented on #3641
Hmm ok. Unsure about this case so far. @liam-fitzgerald do we know when this would fail like this?

[2020-10-05 03:09] liam-fitzgerald commented on #3641
Can I get output for
`:group-push-hook +dbug` `:group-push-hook +dbug %bowl` on ~hiddev
and `:group-pull-hook +dbug` `:group-pull-hook +dbug %bowl` on ~rabsef
Thanks!

[2020-10-05 14:25] rabsef-bicrym commented on #3641
group-pull-hook on ~rabsef:
[code]

group-pull-hook +dbug %bowl on ~rabsef:
[code]

Working on getting ~hiddev data.

[2020-10-05 19:46] Zaphod101010 opened #3645 "bail meme: out of loom"
**Describe the bug**
Ship crashes with error
[code]

I used the Mac binary to run meld from: https://github.com/urbit/urbit/pull/3235#issuecomment-693215064

Output of meld:
[code]

Started ship after meld, and it crashed again:
[code]

**System (please supply the following information, if relevant):**
 - OS: MacOS 10.15.7

**Additional context**
My pier is 15.68 GB, which seems kind of large.

[2020-10-06 18:09] belisarius222 commented on #3629
As long as this stops after a while, it's not indicative of an error condition.  After a breach, it can take a little while for other ships to learn of your new key, so they'll try to send packets to your old key, which fails.  Arguably this should be less verbose, but it's not a bug.

[2020-10-06 18:09] #3629 closed

[2020-10-06 18:31] ohAitch commented on #3629
Yeahh, printing a stack trace instead of at worst a single line sounds absolutely erroneous - this is not an error condition, it's a known network state. Reclaim terminal usability!

[2020-10-06 18:33] ohAitch commented on #3629
Tbf _implementationally_ an "I'm about to crash the event but don't spam the user about it" nock hint would be absolutely fine here.

[2020-10-06 18:41] joemfb commented on #3629
Note that that trace is printed every 1K crashes by default, `-v` prints all the time.

[2020-10-06 22:26] joemfb opened #3657 "u3: |fl jets have memory leaks, double-count GMP integers"
As discussed in #3656, `u3i_mp()` *transfers* its return, but the `|fl` jets incorrectly double-count these references in several places.

[2020-10-06 22:28] ohAitch commented on #3657
Rust rewrite of all the jets when ;)
We already have https://github.com/rsaarelm/urbit-u3-rs!

[2020-10-07 14:01] Sidfyl opened #3662 "Publish - Every member gets write permissions by default / whenever someone new subscribes"
I have a notebook on a public group, ~rivpyl-sidfyl/martian-cinema
Title is self-explanatory, there seems to be a bug with members' permissions.
I remember hearing the same issue from other people, so I'm pretty sure I'm not the only one affected by this.

[2020-10-07 14:09] matildepark commented on #3662
Seems like aggressive on-load behaviour ...

[2020-10-07 16:00] dylanirlbeck commented on #3645
Getting a very similar error for my fakezod:

[code]

[2020-10-07 16:16] tylershuster commented on #3645
Yeah this has become a really serious problem recently, since the `graph-store` update. I get it very often on my planet if I don't `|pack` like an army brat and my star runs pretty hot too.

[2020-10-07 16:17] matildepark commented on #3645
What's the main culprit in `|mass`?

[2020-10-07 16:19] tylershuster commented on #3645
[code]
so...channels.

[2020-10-07 17:39] eglaysher commented on #3187
Fixed by #3665.

[2020-10-07 17:39] #3187 closed

[2020-10-07 20:57] matildepark commented on #3641
pong @rabsef-bicrym

[2020-10-07 22:03] majcosta commented on #3253
I've had a similar problem, but I don't have any notebooks to the best of my knowledge.

This is a ship that was practically abandoned on my HD since at least February that I booted up again yesterday. I took the log output from the moment I ran `|ota (sein:title our now our) %kids` and am attaching it.
[log.txt](https://github.com/urbit/urbit/files/5344087/log.txt)

[2020-10-08 01:59] mursicale opened #3669 "Newly joined groups have no channels"
**Describe the bug**
Some groups after joining do not show any channels belonging to the group, and in the navigation sidebar the group shows up with `ship/<@p of host>/<name of group>`, rather than just `<name of group>`. The specific groups affected for me have been

- ~noltev-dabrud/---computer-music
- ~sorwet/veep-bleachers
- ~wicdev-wisryt/debate

Other than groups that I had to re-join becau

[2020-10-08 02:04] matildepark commented on #3669
I've also heard this happening infrequently with `~bollug-worlus/urbit-index` and Hooniversity (#3641) but we don't know the exact reproduction cases.

@liam-fitzgerald @tacryt-socryp Does smell like metadata-store issues, do we know of cases where these would now fail?

[2020-10-08 06:41] nimpun-doller opened #3672 "Chat: Twitter embeds reverse scrolling direction"
**Describe the bug**
*Note: on my system, rotating the mouse wheel clockwise (pulling back with my finger) scrolls the page down.*

When hovering over a Twitter embed with the pointer in Chat, the scrolling direction is reversed.  It also seems to have a smooth-scroll effect.
If the pointer is placed elsewhere, scrolling works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2020-10-08 09:13] ohAitch opened #3673 "Float jets: detect oversized arguments"
**Describe the bug**
When passing an e.g. 32-bit float core an atom >32 bits wide, it blindly operates on the bottom word, without first checking the input size is sane.

**To Reproduce**
[code]

**Expected behaviour**
[code]

**Additional context**
Obviously casting a double to an f32 is a convoluted example, but if lagoon turns into a full-blown `@rss` tensor type (guaranteed to be multiple word

[2020-10-08 13:46] Fang- commented on #3253
This looks like a thing @vvisigoth ran into yesterday. The problem here is that "scries in `+on-load` don't work when `/sys` changes", but chat-hook's on-load logic depends on being able to scry. We didn't push these mixed changes, so it didn't fail for everyone, but those trying to fast-forward-merge will hit this and be unable to continue.

One way you might be able to get out of this (depending

[2020-10-08 14:17] majcosta commented on #3253
"One way you might be able to get out of this (depending on how far behind you were), is pull the latest files down onto your local kids desk, then copy the /sys files over to home first, and only proceed with the full merge afterwards."

does this translate to `git clone` latest urbit repo, copy that sys directory to my `|mount %`'d pier's sys directory and then try `|ota (sein:title our now our)

[2020-10-08 16:02] tylershuster opened #3676 "cors-registry: send allowed methods and headers in preflight"
When authenticated, PUTting to a channel from an allowed origin results in this response:

[code]

Subscribing to that channel yields this one:

[code]

These are both set here:

https://github.com/urbit/urbit/blob/master/pkg/arvo/sys/vane/eyre.hoon#L597-L598

[According to MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Methods), `*` is not allowed as a respons

[2020-10-08 17:43] Fang- commented on #3253
I believe that'd work too, yes.

[2020-10-08 17:46] joemfb commented on #3673
This doesn't appear to be (specifically) a jet issue, the hoon appears to just `+cut` out the low bits of the input (in `+sea:ff`). I'm not sure this design is a problem, the operations are just defined on a larger domain than necessary. That could be a nice property, allowing the jet to avoid a branch. But the sanity check could also be nice. I'm not sure which is better.

/cc @frodwith

[2020-10-08 17:54] majcosta commented on #3253
OK.

I `git clone`'d urbit, `cp -R urbit/pkg/arvo/sys [my-mounted-pier-directory]`, booted my ship, `|ota (sein:title our now our) %kids` and had the same output

[2020-10-08 18:11] Fang- commented on #3253
After booting your ship and `cp`in in the changes, you need to run `|commit %home` for the copied-in changes to take effect.

[2020-10-08 18:25] majcosta commented on #3253
hah, I had a feeling I was missing something. well, after copying /sys and `commit`ing, I saw the contents of `commitlog.txt`, after the `|ota` command, it seems to have failed a lot faster, I've put the output into `otalog.txt`
[commitlog.txt](https://github.com/urbit/urbit/files/5350616/commitlog.txt)
[otalog.txt](https://github.com/urbit/urbit/files/5350617/otalog.txt)

[2020-10-08 18:32] Fang- commented on #3253
The plot thickens.

You pulled files from the master branch's latest commit (3d1ca6f), right? How long had your ship been offline for? The ford printfs here are a little bit weird. I had, perhaps incorrectly, assumed you were trying to pull down *just* the latest OTA, but the commit log here suggests that might not be the case.

Still, now that you have latest sys files (from master) I wouldn't ex

[2020-10-08 18:36] matildepark commented on #3253
IIRC from February —

—
~haddef-sigwen
https://urbit.org

[2020-10-08 18:41] majcosta commented on #3253
Yes. Also Matilde is correct, this ship was left unbooted a looong time.

[2020-10-08 19:45] ohAitch commented on #3673
Fair, I had not been meaning to imply a _mismatch_ here, just semantics change-request.

[2020-10-09 17:18] Fang- commented on #3253
Kind of surprised the `/sys`-only update you did applied cleanly then, hah.

I'm not sure why the `|ota` would still pick up new `/sys` changes. Only thing that comes to mind is trying to do `|ota %disable` followed by `|ota (sein:title our now our) %kids` again to make sure it's going off the latest state of your home desk, but that's just a guess.

Pinging @philipcmonk, who might be able to prov

[2020-10-09 17:54] majcosta commented on #3253
[code]

this was the output of `|ota %disable` didn't look like it worked so I stopped there

[2020-10-10 15:43] rabsef-bicrym commented on #3641
:group-push-hook +dbug
[code]

:group-push-hook +dbug %bowl
[code]

Sorry for the delay there - was having issues w/ remote access and could not get state thru web dojo

[2020-10-10 15:46] rabsef-bicrym commented on #3641
(also, I rekeyed the first one instead of copying it because I was having an issue w/ copy, so if spacing looks weird, blame it on me, not ~hiddev)

@matildepark pong received 👍

[2020-10-10 15:49] Zaphod101010 commented on #3645
my ship seems to be getting a slightly different error now.  It was bail meme, now it's bail oops.
[code]

[2020-10-10 22:33] Fang- commented on #3253
Oh, right. Since you're on an older version, you'll want to do just `|ota` (no arguments) to disable. The other steps should be the same.

[2020-10-11 16:30] t-e-r-m commented on #3645
I have the same issue. I breached a couple of months ago, and was using my moon exclusively. Switched to my planet yesterday (my planet was only relaying connections for my moon(s) before), and encountered this issue after my planet half-joined a group (I think). The name came up as `~ship/name/group` (literally "ship"). I did manage to leave it via landscape, but the error persisted.

Used the bu

[2020-10-11 22:40] wanhus-battul commented on #3427
Hey @joemfb apologies for taking so long to respond. I just re-ran the script after downloading the latest version of meld from your linked comment.

### Test Steps

I ran uniq on my pier with the following command:
`./a6a7b557a95cd246430ce68809d8188d40ae28f4-linux64/urbit-worker meld wanhus-battul`

The result was the following output:
[code]

This error was reproduced every time I ran the meld c

[2020-10-12 01:48] joemfb commented on #3427
@wanhus-battul, that "out of memory" error is an actual out-of-memory error -- `|meld` works by reallocating and deduplicating your state off the loom (urbit's custom memory arena). The loom has a fixed 2GB limit, but `|meld is limited only by your machine/vm/OS. So you'll want to try again on a machine with more ram -- I'd say at least 4GB (but 8GB would be better). If you're running on a cloud V

[2020-10-13 02:39] rabsef-bicrym commented on #3641
pinging @liam-fitzgerald - We're gonna start up class on Wednesday so it would be outstanding if you had any advice here.

[2020-10-13 22:40] vvisigoth commented on #3641
@liam-fitzgerald Can you interpret this data for us?

[2020-10-14 00:40] liam-fitzgerald commented on #3356
This is done and in `release/next-userspace

[2020-10-14 00:46] liam-fitzgerald commented on #3669
Hi @mursicale can you post the output from `+trouble` as well?

[2020-10-14 01:19] mursicale commented on #3669
yeparino:
[code]

[2020-10-14 01:28] liam-fitzgerald commented on #3669
Ok lovely, it looks like your ship didn't hasn't properly updated in a while. Can you run `|merge %home ~nibfeb %kids, =gem %that` and post the result?

[2020-10-14 01:39] matildepark commented on #3356
Fixed in #3626.

[2020-10-14 01:39] #3356 closed

[2020-10-14 01:39] mursicale commented on #3669
[code]
and then many similar errors to the earlier ones from default-agent saying unexpected response.

[2020-10-14 01:39] matildepark commented on #3610
Fixed in #3626.

[2020-10-14 01:39] #3610 closed

[2020-10-14 01:40] matildepark commented on #3417
Fixed in #3626.

[2020-10-14 01:40] #3417 closed

[2020-10-14 01:43] matildepark commented on #3669
Ah the chat-hook on-peek strikes again. @tacryt-socryp

[2020-10-14 02:05] matildepark opened #3704 "groups: any user can add channels"
Until we have a concrete group role story we should really just hide the ‘new channel’ button for any user who isn’t an admin.

[2020-10-14 02:39] lycurgus commented on #3493
I'm still seeing this, on `o3a14`. The effect seems more pronounced, possibly just because the text size has changed? I'm on Firefox 81, on Linux.

Let me know if you need any more information, or if I should raise a new issue...

[2020-10-14 08:57] Fang- opened #3705 "Leap results should prioritize exact matches"
I'm in a couple groups with "Tlon" in the name. One of them is called _just_ "Tlon". When I type "Tlon" into leap, I'd expect the exact match to come up first, however:

<img width="176" alt="image" src="https://user-images.githubusercontent.com/3829764/95966643-ac1ddf00-0e0b-11eb-8565-029290b4bd46.png">

It lists the longer names first. This is incorrect from both a "best match" and "alphabetical

[2020-10-14 09:22] Fang- opened #3706 "Leap should try matching against both group and channel names"
I'm in a couple different groups that have "general" chats. Trying to leap to down is an exercise in down-arrowing:

<img width="487" alt="image" src="https://user-images.githubusercontent.com/3829764/95969552-2c920f00-0e0f-11eb-8eee-0d3824d97468.png">

Trying to narrow the search by specifying (part of) the group name, however, completely removes the results, since it apparently only cares about

[2020-10-14 09:31] Fang- opened #3707 "Landscape input field don't support OS-native spellcheck"
This has been around for a while, but apparently no issue about it has been opened yet.

Input fields in landscape (chat, publish, etc) do not, for some reason, support the spellchecker functionality provided by the operating system. There is a "check spelling" item in the right-click menu, but it doesn't come paired with a "languages" selection like it does on Github (or any other input field any

[2020-10-14 10:21] Fang- commented on #3240
This is still annoying. I briefly looked into patching this some time ago, but it wasn't clear to me how to detect the "failed to apply" case. Anyone have thoughts on implementation of a fix here? @joemfb, @philipcmonk?

[2020-10-14 10:22] litmus-ritten opened #3708 "Chat text rendering regression on Webkit-based browsers"
**Describe the bug**
Text in the main chat pane varies in crispness depending on the scroll location when using Chat on a Webkit-based browser. This makes chat very hard on the eyes. Another user has reported blurriness on Firefox, however it is unclear as to whether this is the same problem, and I do not see similar behaviour. Sidebar looks fine.

**To Reproduce**
1. Access chat using a Webkit-ba

[2020-10-14 15:21] rabsef-bicrym commented on #3641
Additional color - after the new OTA I tried rejoining from ~rabsef and now can send but not receive messages in those channels.

[2020-10-14 15:28] JohnELester opened #3709 "Landscape clock is not rendering properly around sunrise"
The clock in Landscape is not rendering properly around the sunrise part of the donut.

 - OS: Windows 10
 - Browser: Chrome, Firefox, Brave
 - Base hash of your urbit ship: o3a14

![clock](https://user-images.githubusercontent.com/25461543/96010889-4da72f80-0e10-11eb-828d-ebbd456aa125.png)

[2020-10-14 15:36] rabsef-bicrym commented on #3641
Final note - closing - I was able to unsubscribe to the channel, resubscribe and now I can receive.

[2020-10-14 15:36] #3641 closed

[2020-10-14 16:05] pilwex-migsun opened #3710 "OTA fails to apply to %home because %chat-hook fails to upgrade"
Description
After the latest stable hash on our ship, `naoqh`, OTAs have failed to apply to our %home and %kids, while %base hash has kept up with the latest hash. This is the output of dojo:

kiln: applying OTA to %kids from %kids on ~marnus
zuse: ~disfed-fotnes
vane: %a ~maglet-masfet
vane: %b ~nocsed-radtul
vane: %c ~liblep-nosnyd
vane: %d ~havser-tagmug
vane: %e ~sitwyd-divrel
vane: %g ~tiddyn

[2020-10-14 16:53] belisarius222 commented on #3240
I've been meaning to write a proposal for how this should work.  I think it should work roughly like this:

- On each process restart and for each Unix mountpoint, Vere's first %into should be full (absolute).  Then Vere needs to wait for acknowledgment from Arvo that the first %into event has succeeded before switching from sending absolute (full) %into events to relative (diff) %into events; oth

[2020-10-14 17:05] tylershuster opened #3711 "landscape: constant polling"
This happens all the time in landscape. I don't think it should be.

![Screen Recording 2020-10-14 at 10 02 09 AM](https://user-images.githubusercontent.com/3999320/96021720-b092c980-0e04-11eb-9b82-80d6ec0785b2.gif)

[2020-10-14 17:08] tacryt-socryp commented on #3711
Server-side events not working well in HTTP 1.1 is a known issue. A good question, though, is what to do about it (either by changing our messaging, or otherwise)

[2020-10-14 17:36] joemfb commented on #3711
Those are PUTs, so isn't this eager acknowledgement as per #3671?

[2020-10-14 17:38] tylershuster commented on #3711
Here's the stack trace for one:
[code]

I did have problems with landscape constantly rerendering before, but I don't think there was outgoing stuff then.

[2020-10-14 17:53] kennyrowe commented on #3710
same issue

[2020-10-14 17:58] Fang- commented on #3240
Considering my first reaction to auto-commit on-boot was "oh no", I'd vastly prefer the latter, yeah. Getting flashbacks to doing ops on ~zod, rebooting it, and having it load in heavily outdated files... Re-setting mountpoint on-boot seems very much in line with having Clay be canonical.

[2020-10-14 17:59] philipcmonk commented on #3240
Clay already sends much more than an acknowledgment, it sends exactly the diff that it understood.  IMO the change should simply be from "update my cache with what I sent to clay in %into" to "update my cache with what clay sent me in %ergo".  I suspect it has to do something like that anyway for changes that originate in clay, so it might be as simple as removing the cache updates on %into.

IMO

[2020-10-14 18:05] ohAitch commented on #3240
On a philosophical level, if your ship turned off without successfully
syncing clay to unix, it probably crashed, and if your ship crashed, it's
fairly likely you want its clay to contain something other than what it
currently does. Perhaps in a manner where you cannot reliably access dojo.
I would have the flag be opt-in "send a commit along with the boot event"
however, unless we're talking abou

[2020-10-14 18:06] philipcmonk commented on #3240
Looking at the code, it seems like it already stores `mug_w` and `gum_w` as the mug of the last %into and %ergo, respectively.  We check against both, so it might be as simple as removing the `mug_w` check in `_unix_update_file`.

[2020-10-14 18:09] philipcmonk commented on #3240
Obviously, King Haskell should be reviewed for this as well.

[2020-10-14 18:44] lukebuehler commented on #3263
I just got the same error. I restarted my planet and then did `|pack`
I then tried to join ~dopzod/urbit-community and then got the same error again

[code]

[2020-10-14 19:21] belisarius222 commented on #3240
I think this is a good solution.

I agree.  I think it's conceptually cleanest to use the Clay state as the single ground source of truth unless manually overridden.  If my ship is having problems and I want to force it to run an %into immediately on restart, I think it's better to use an opt-in command-line argument to indicate that.  In addition to being conceptually cleaner, it has better prope

[2020-10-14 19:27] ohAitch commented on #3240
Maybe have the command-line flag take a path, even, so the into is just "in this mount in this subdirectory commit the tree looking like this, otherwise keep whatever". (Esp if that is easy to express using current partial diffs)

Re: commit bug, are you saying the current state of things is `|commit` takes a desk dojo argument but then discards/ignores it?

[2020-10-14 19:38] matildepark commented on #3711
Is this when disconnected or all the time? Eager acks shouldn't be just nonstop polling, no?

[2020-10-14 19:41] tylershuster commented on #3711
All day every day

[2020-10-14 19:43] matildepark commented on #3711
I don't see anything when I record in Safari, no network requests or anything.

[2020-10-14 20:56] tylershuster commented on #3711
I think this is related to https://github.com/urbit/urbit/issues/3621 and I will investigate accordingly

[2020-10-14 22:05] philipcmonk commented on #3240
Precisely.  Specifically it passes it to unix.c, which discards it.  This bug has existed for the entire existence of `|commit` as far as I can tell, but people rarely stumble upon it because they rarely have two desks mounted at the same time, or if they do they're only changing one of them so they don't notice the other commit.  Once in a while it bites you though!  I forget if this is fixed on

[2020-10-14 22:26] marcinja opened #3715 "Unable to publish new notebook"
**Describe the bug**
When I hit the "Create notebook" button it grays out and nothing happens. Having trouble with other features as well (e.g. joining chats)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Publishing
2. Click on New notebook
3. Entered a name "test"
4. Click "Create notebook"
5. "creating notebook..." spinner appears
6. Stuck here

**Expected behavior**

Notebook shou

[2020-10-14 22:28] matildepark commented on #3715
You appear to be running urbit-os-v1.0.14 from April 24th. Do you know who your sponsor star is?

[2020-10-14 22:30] marcinja commented on #3715
`[%sponsor ship=~sigpub `

[2020-10-14 22:44] tylershuster commented on #3711
Here's the event that keeps getting received over the `eventSource`:

[code]

[2020-10-14 22:46] matildepark commented on #3711
Oh is this another one of your busted groups?

—
~haddef-sigwen
https://urbit.org

[2020-10-14 22:47] tylershuster commented on #3711
Seems like it. Except I'm still getting it after deleting the group. how to leave

[2020-10-14 23:35] tylershuster opened #3716 "groups: cannot leave deleted group"
I created a group on my star, ~marpem ("poetry")

I joined it as my planet.

As noted in #3711, I was getting a bunch of spam from that group and it had been inactive/needed a refactor so I deleted it.

But I still get PUT spam on my ship and running `:group-store +dbug [%state '~(key by groups)']` still yields ` [entity=~marpem name=%poetry]` (among others) and `:metadata-store +dbug [%state '~(k

[2020-10-15 05:37] rcrdlbl opened #3720 "Landscape loading blank page after login screen"
**Describe the bug**
Attempting to use landscape – It displays the login screen successfully, after entering my +code (using either chrome or safari) I'm sent to a blank white page – the HTML looks like this:

[code]

The dev console is telling me that it failed to load the react JS bundle:
`Failed to load resource: the server responded with a status of 404 (missing) index.efcd373f796e88fce081.js`

[2020-10-15 06:16] salmun-nister commented on #3645
I've had a similar issue a few times this evening.

[code]
I have no idea if it's related, but I'm also seeing quite a few messages like these in dojo.

[code]

[2020-10-15 10:42] david-xlvrs commented on #3645
i am experiencing same issue after i half-joined and/or half-unsubscribed some of the channels/groups yesterday. my ship keeps crashing a few minutes after boot.

[code]

[2020-10-15 11:02] david-xlvrs commented on #3645
i also got this `error` while in `landscape`, but not sure if it's related:

[code]

screenshot:
<img width="793" alt="Screenshot 2020-10-15 at 12 57 59" src="https://user-images.githubusercontent.com/13003787/96114948-8ca7b480-0ee6-11eb-99b6-91dc828df84d.png">

[2020-10-15 14:06] t-e-r-m commented on #3645
Update to my previous comment: https://github.com/urbit/urbit/issues/3645#issuecomment-706730522

It seems the issue has been resolved for me. I used the stable binary after running `meld` from the binary mentioned in the OP and my planet stopped crashing, and I joined the group that was giving me trouble. It also OTA'd to `o3a14`, so maybe that played a role as well.

It's been running for over a

[2020-10-15 14:10] david-xlvrs commented on #3645
@t-e-r-m i am on `o3a14` but still crashing — what is `meld`?

[2020-10-15 15:05] mursicale commented on #3474
this seems to have gotten better for me after a few updates and a breach: I'm still working on my ota issues, but happily am able to scroll up again in Firefox

[2020-10-15 16:06] salmun-nister commented on #3645
booted up my moon and I'm seeing the same behavior

[code]

output of +trouble:
[code]

[2020-10-15 16:23] matildepark opened #3723 "chat: unmanaged chat creation should enforce previous 'direct message' behaviour"
- Right now there is no 'new DM' route, which makes programmatically redirecting users to a new / pre-existing DM difficult
- unmanaged chat creation does not redirect people if there is a pre-existing DM hosted by *either party*
- unmanaged chat creation shouldn't even allow a user to name the chat

[2020-10-15 16:24] matildepark opened #3724 "channel creation should redirect to the created channel"

[2020-10-15 16:57] matildepark opened #3725 "chat: unmanaged chats successfully send invites on creation, but never arrive upon accept"

[2020-10-15 17:03] urcades commented on #3723
Design thoughts:

<img width="1190" alt="Screen Shot 2020-10-15 at 1 01 41 PM" src="https://user-images.githubusercontent.com/1195363/96162536-a5b06580-0ee6-11eb-8f2f-0b618998f9d0.png">

<img width="1217" alt="Screen Shot 2020-10-15 at 1 02 03 PM" src="https://user-images.githubusercontent.com/1195363/96162554-aa751980-0ee6-11eb-958d-a3f8c6118c4d.png">

Please do ignore the other general changes t

[2020-10-15 17:38] t-e-r-m commented on #3645
@david-xlvrs see https://github.com/urbit/urbit/pull/3235#issuecomment-693215064

[2020-10-15 19:39] salmun-nister commented on #3645
thanks @t-e-r-m. I tried that running meld with that binary (https://github.com/urbit/urbit/pull/3235#issuecomment-693215064) and it successfully completed. Unfortunately, I'm still crashing when running the urbit binary from that release and the latest stable binary release (v0.10.8).

[2020-10-15 20:51] tacryt-socryp opened #3729 "Make %glob support adding third party JS files"
Glob could be a general-purpose JS auto-updating tool with a little bit of work. This could potentially allow third party module support within Landscape.

[2020-10-15 22:53] joemfb commented on #3645
Hi All,

Sorry for the delayed response. I realize that the current state of our memory management tooling has not been fully explained in any one place, so I'll attempt to do so here.

First of all, the crash output of the current release is fraught, due to a) bad error messages and b) a crash-handling bug. Both problems will be fixed in the next release (https://github.com/urbit/urbit/pull/3471)

[2020-10-15 22:55] tacryt-socryp commented on #3704
Related: group admins should have the ability to remove channels from their group surfaced more readily.

[2020-10-15 23:19] #3317 closed

[2020-10-15 23:19] #3676 closed

[2020-10-15 23:19] #3710 closed

[2020-10-15 23:52] salmun-nister commented on #3645
Thank you very much @joemfb for the detailed response. The manual `|trim` process seems to have resolved my crash.

[2020-10-15 23:57] tylershuster commented on #3711
This appears to be fixed in the latest OTA...would love any insight why, closing issue regardless

[2020-10-16 00:07] tylershuster commented on #3711
But I haven't even received said OTA...?

[2020-10-16 00:42] kennyrowe opened #3730 "Failed to apply OTA `out of loom!`"
Can't boot `sicdev-pilnup` failed while apply OTA

[code]

[2020-10-16 00:55] tylershuster commented on #3711
red herring

[2020-10-16 01:05] nimpun-doller commented on #3672
Looks like this is fixed after the v1.0.59 OTA.

[2020-10-16 01:07] matildepark commented on #3672
Did we even touch this? @tylershuster

[2020-10-16 01:08] nimpun-doller commented on #3672
I was mistaken, this is still an issue after the v1.0.59 OTA

[2020-10-16 01:11] tylershuster commented on #3672
I was gonna say...

Just as a note, this is expected behavior due to how chat double-inverts its contents. That's not to say it's acceptable, but it might be a bugger to fix.

[2020-10-16 01:28] matildepark commented on #3725
Fixed in #3727.

[2020-10-16 01:28] #3725 closed

[2020-10-16 01:30] matildepark commented on #3500
This no longer appears to be at large, embeds are consistent.

[2020-10-16 01:30] #3500 closed

[2020-10-16 01:32] matildepark commented on #3065
This is an obsolete issue due to the new route format (eg. `/~publish` isn't ever navigated to), so refreshes should work fine now.

[2020-10-16 01:32] #3065 closed

[2020-10-16 01:35] matildepark commented on #1905
@Fang- #3625? 👀

[2020-10-16 03:25] joemfb commented on #3730
`bail: meme` is the relevant error here. closing as a duplicate of #3645, which has the latest details and instructions.

[2020-10-16 03:25] #3730 closed

[2020-10-16 04:26] matildepark opened #3731 "links: new items are appended to the bottom in a separate block from other content"
@galenwp:

[2020-10-16 04:27] matildepark opened #3732 "links: posting comments produces an error"
@galenwp:

<img width="979" alt="Screen Shot 2020-10-15 at 9 17 55 PM" src="https://user-images.githubusercontent.com/20846414/96213158-50a43c00-0f46-11eb-8fcd-26bd60f96647.png">

[2020-10-16 07:00] salmun-nister commented on #3720
What's the output of `+trouble`?

[2020-10-16 07:10] joemfb commented on #3570
@timlucmiptev, sorry for the delayed response. The only way to recover from persistent memory corruption is to remove the checkpoint (or restore a known-good, earlier checkpoint from backup) and replay the log.

Running out of disk space can trigger this kind of corruption, but there may be other causes as well. The checkpoint persistence implementation in u3 (`events.c`) will need to work to prov

[2020-10-16 07:12] joemfb commented on #3263
@lukebuehler, the latest info about recovering from this error is here: https://github.com/urbit/urbit/issues/3645#issuecomment-709631355.

[2020-10-16 07:18] joemfb commented on #3190
The latest recovery in instructions are now here: https://github.com/urbit/urbit/issues/3645#issuecomment-709631355

[2020-10-16 09:49] Fang- commented on #1905
Oh yeah, this was fixed (in Eyre) by #3625.

[2020-10-16 09:49] #1905 closed

[2020-10-16 14:20] tylershuster opened #3733 "chat: dancing messages redux"
Several users have reported shifting timestamps again, only this time it appears confined to Firefox on Linux.

To repeat: hovering over messages with timestamps causes them to shift by subpixel distances, resulting in unsettling behavior. This is caused by incorrect rendering of double-transformed text.

[2020-10-16 15:26] marcinja commented on #3715
@matildepark Is there a way to tell if my sponsor is "bad" so I know if I should escape to another one? Or anything I should try before doing that?

[2020-10-16 15:37] matildepark commented on #3715
You could try `|merge %base ~marzod %kids` to force an OTA but jumping that far ahead from April will be bumpy and take quite a while to process. The thing is that I'm unsure what ~sigpub is distributing or how you ended up with an Arvo this old, booting it only now.

[2020-10-16 16:06] yosoyubik opened #3735 "Landscape doesn't load any content"
**Describe the bug**
After the latest OTA `ht5ec` loading Landscape only shows home and profile tiles. After that, from dojo, I can see %eyre engaging («http») but pretty much blocks everything, so one can only ctrl+Z and boot again.

**Screenshots**

<img width="728" alt="Screen Shot 2020-10-16 at 5 38 38 PM" src="https://user-images.githubusercontent.com/1033194/96279011-77aa4e80-0fd6-11eb-87cb-

[2020-10-16 16:12] crides commented on #3317
I built and installed urbit on `release/next-sys`, which includes #3376, but it seems like the problem has not been fixed. I still get intermitent automatic revision increments (which also allocates RAM at around 1.5MB/sec which is really visible in `htop`), but I also run multiple `|autocommit`s because a lot of times `|autocommit` just doesn't work. How can I help debug this?

[2020-10-16 16:26] philipcmonk commented on #3735
Roughly how long does +trouble take? I suspect the mergebase calculation
has some bad worst case running time, which is used in +trouble and the
version shown on landscape. If you can go to a page that doesn't show the
version, maybe it will work fast?

On Fri, Oct 16, 2020, 09:06 jose <notifications@github.com> wrote:

[2020-10-16 16:27] matildepark commented on #3735
I believe we run the scry regardless since it’s in the highest-level App component.

—
~haddef-sigwen
https://urbit.org

[2020-10-16 16:42] philipcmonk commented on #3715
FYI this command will check the hash that another ship is distributing without having to download the whole commit: `-read %z ~sigpub %kids da+(sub now ~s10) /`

[2020-10-16 16:45] vvisigoth commented on #3735
I'm hitting this too

[2020-10-16 16:46] vvisigoth commented on #3735
And I'm hosted so I'm essentially offline.

[2020-10-16 16:50] vvisigoth commented on #3735
OK, well "takes 3 minutes and then 504s" is a pretty bad worst case. @philipcmonk do you know what the fix is here besides not running this from the FE?

[2020-10-16 17:01] philipcmonk commented on #3735
Basically I need to figure out why it's slow, it's also an issue for updates.  Fortunately I have a case on ~wicdev when merging from my parent to my own %kids, so I'm going to dig into that right now.

If for some reason I don't have a fix soon, yes, we could remove the version number in landscape.

[2020-10-16 18:23] codydh opened #3740 "Ship crashes: out of loom"
**Describe the bug**
Ship crashes with error:
[code]

I followed all steps here: https://github.com/urbit/urbit/issues/3645#issuecomment-709631355

My order of steps was:
- Booting without network access to run `|pack`
- Using the process to trigger `|trim`
- Using the alternate binary to `|meld`

This got me up and running for about 6–7 hours, after which I crashed with the same error.

**System

[2020-10-16 18:29] ohAitch commented on #3240
Ah, is unix.c responsible for desk<->mount mapping and not clay itself?

On Wed, Oct 14, 2020 at 16:05, Philip Monk <notifications@github.com> wrote:

[2020-10-16 18:52] tacryt-socryp opened #3741 "landscape: needs a color picker for sigils"
Most non-technical users do not know what a hex string is, and want a regular color picker.

[2020-10-16 18:54] tacryt-socryp opened #3742 "landscape: setting root profile should set profile everywhere"
"Contacts per group" doesn't really make sense, and should be architected to be more sane, allowing you to store one profile per ship you interact with.

[2020-10-16 18:55] philipcmonk commented on #3240
No, it's reflected in Clay as well, which handles it correctly, including complaining if that mount point doesn't exist.  The existence of the bug is clear from this, which handles `|commit`, with `mon` as the name of the mount point specified.

https://github.com/urbit/urbit/blob/8d0cfd13b7e2d8c551fb008482309d29a188562d/pkg/urbit/vere/io/unix.c#L608-L614

[2020-10-16 19:22] matildepark commented on #3742
I don't know if "abolishing group context together" maximalism is the answer either but "this needs another design and implementation pass," sure I guess

[2020-10-16 19:32] matildepark commented on #3732
@tacryt-socryp Mind peeking at this?

[2020-10-16 19:41] matildepark commented on #3731
Actually can you look at this as well @tacryt-socryp since you wrote this the first time

[2020-10-16 19:42] tacryt-socryp commented on #3731
This relates to @liam-fitzgerald's custom OrderedMap override of Map functionality. I thought it had been fixed, but apparently not.

[2020-10-16 19:44] tacryt-socryp commented on #3732
I'll take a look.

[2020-10-16 20:30] #3735 closed

[2020-10-16 21:30] philipcmonk commented on #3317
Hmm, I just booted a ship off master, now that `release/next-sys` has been added, and I can see that `|autocommit` is working (ie running every couple seconds) but the revision number is not increasing (per `.^(* %cw %)`).

Did you use `-B ~/urbit/bin/solid.pill` so it uses the pill on the branch you're on?  The public one is a couple weeks old I think, so it wouldn't have it.  Also I don't know i

[2020-10-16 21:41] crides commented on #3317
No I thought that the fix is a runtime fix, so I didn't think about updating the sources. I'll try that and let you know what I get.

[2020-10-16 21:44] vvisigoth commented on #3731
So this still broke, huh

[2020-10-16 21:45] vvisigoth commented on #3731
FWIW now it seems to not post at all

[2020-10-16 21:48] matildepark commented on #3731
I just tried in an unmanaged collection and it did actually append the latest entry to the top. Reproduction might be specific to the migrated collections? Unsure. What doesn't let you post?

[2020-10-16 21:50] vvisigoth commented on #3731
I tried to post a YT link in Tlon Music
—
~poldec-tonteg
http://urbit.org

On Fri, Oct 16, 2020 at 4:49 PM matildepark <notifications@github.com>
wrote:

[2020-10-16 22:40] joemfb commented on #3740
@codydh, your hitting an issue with (the absence of ) backpressure in  %eyre (our http server vane), specifically with regards to its SSE channels. A fix is in development in #3680. In the meantime, you should have `|trim` as of the last OTA; running it and then `|pack` should get you back on your feet (although you may need to keep doing that periodically until the fix is released).

[2020-10-19 01:41] litmus-ritten commented on #3708
This seems to have been fixed by the OTA which changes the chat text from grey to black. Therefore, I will close this issue.

[2020-10-19 01:41] #3708 closed

[2020-10-19 02:08] tylershuster commented on #3708
Given this resolution, I imagine this issue had something to do with subpixel rendering. Glad to know it's fixed.

[2020-10-19 08:42] sivner-figbus commented on #3645
My ship is broken. I'm getting regular "out of loom" crashes.

According to mass (see https://hatebin.com/gcjhvqkfqb ) I have 1.3GB of vane-e channels:
`        %channels: GB/1.310.520.720`
|trim followed by |pack doesn't free any significant amount of these; afterwards:
`        %channels: GB/1.309.383.072`

I can't "cram" or "meld" the box using the pre-release binaries mentioned above - full ou

[2020-10-19 13:55] Stillstellung opened #3748 "Joining channel in a group navigation error ("Cannot read property 'envelopes' of undefined")"
**Description**
Navigating away from a channel mid join attempt to do something else in Urbit Landscape, then navigating back to it, results in an error message.

**Reproduction Steps**
1) try to join channel in group
2) channel join taking long time
3) navigate to another element of group
4) click channel originally trying to join

**Expected behavior**
Un-joined channel is in a state where user

[2020-10-19 16:25] rabsef-bicrym opened #3750 "After 3235 Method, Landscape doesn't want to load fully (will after 5+ min)"
**Describe the bug**
serf memory error, download new binary and run per [https://github.com/urbit/urbit/pull/3235#issuecomment-693215064](url)
I am able to get into Landscape but it loads poorly/slowly and can take up to 5 min to display all of the expected content

**Screenshots**
Console doesn't seem to show anything interesting
![image](https://user-images.githubusercontent.com/52549148/9647887

[2020-10-19 16:27] matildepark commented on #3750
Can you output `+trouble` here? The last OTA fixed a very similar issue where getting the base hash could take a very, very long time to calculate.

[2020-10-19 16:29] rabsef-bicrym commented on #3750
Oh I'll bet that's it, as trouble is taking forever to run...  Will post shortly.

[2020-10-19 16:36] rabsef-bicrym commented on #3750
[code]

[2020-10-19 16:45] matildepark commented on #3750
That's 1.0.59. 1.0.60 has the fix (`akkc6`). Seems like ~livpub doesn't have it?

[2020-10-19 16:45] matildepark commented on #3750
Here's `+trouble` on ~pub, so seems like a livpub specific thing:

[code]

[2020-10-19 16:47] matildepark commented on #3750
To work around this you can sync an OTA from basically any other star (`|ota ~binzod %kids` or whatever), but if you know the livpub operator might be worth talking to them.

[2020-10-19 16:50] rabsef-bicrym commented on #3750
I think rabsef is surreptitiously syncing only from my star ~talwet so this sounds like it's entirely on me.  Thank you!

[2020-10-19 17:20] xiphiness opened #3751 "Eyre completely freezes ship, +trouble completely freezes ship"
+trouble completely freezes ship, and so does eyre. at first I noticed the eyre issue, then I wrote this issue, and I went to prepare base hash and well....

Opening landscape the only tiles I see are the home and ID tiles. <<http>> immediately starts spinning on my ship's dojo. It becomes entirely unresponsive, a new window cannot be opened, and it basically does this for a few days until I run o

[2020-10-19 17:21] matildepark commented on #3751
See the conversation here: https://github.com/urbit/urbit/issues/3750

[2020-10-19 17:23] xiphiness commented on #3751
Ah thanks much! Sounds very similar, so I'll close this issue and go over there if I have any more issues.

[2020-10-19 17:23] #3751 closed

[2020-10-19 18:43] rabsef-bicrym commented on #3750
Resolved per @matildepark 's advice.  Perfect!

[2020-10-19 22:10] xiphiness commented on #3750
I had this issue and triggered the OTA.
I've been behning for several hours after getting the OTA to start. rabsef said it only took 20 minutes, maybe there's some other issue on my end?

[2020-10-19 22:26] matildepark commented on #2992
Bumping this a bit because it's more pressing in our current groups layout, where links to the group persist but lead nowhere. @tacryt-socryp let's chat about how some of the metadata work you're thinking about might incorporate this?

[2020-10-19 22:54] xiphiness commented on #3750
oh also,
I've been getting
[code]

[2020-10-19 23:06] Fang- opened #3753 "Webchat input field retains content across channels"
Previously, the chat input field would retain its content for the specific channel that you were typing into. Emptying when you navigated away, then filling in with the "draft" message when you navigated back.

Now, when clicking a different chat from the sidebar, the input field's contents are retained, following you around wherever you go.

Upon leaping to a different chat however, the input fie

[2020-10-20 09:28] Fang- commented on #3753
The behavior seems fine after I navigate out and back into a group though: the text I drafted shows up again, and only for the appropriate channel.

[2020-10-20 13:30] xiphiness commented on #3750
Still behning!

[2020-10-20 15:53] neutralinsomniac commented on #3528
For what it's worth, I just ended up breaching and am now successfully updated to the latest OTA.

[2020-10-20 18:36] xiphiness commented on #3750
%take-that and %only-that merge both work to solve this quickly, so @rabsef-bicrym should close this issue now I think

[2020-10-20 18:38] #3750 closed

[2020-10-20 19:11] tacryt-socryp opened #3760 "Development ship always shows my ship ID rather than ~zod, ~bus, etc"
**Describe the bug**
Toward the end of last week, any time I attempt to run a local webpack server that points to ~zod running on localhost:80, it *does* point to the local web server, but somehow still shows display elements from my livenet ship, despite the fact that I've cleared localStorage and checked the cookies, and only see an urbauth--zod cookie. I don't know how this is possible or where

[2020-10-20 19:12] matildepark commented on #3760
When I encounter this I just force refresh a few times and it seems to clear it up fine.

[2020-10-20 19:18] tylershuster commented on #3760
I have had the same experience as Matilde. I did however have an odd experience while developing the TS library that was somewhat similar but inconsistent. I can't reproduce it but basically the cookies weren't getting set.

[2020-10-20 19:19] tacryt-socryp commented on #3760
note: in Safari, clearing cookies and localStorage is not enough, you also must "force empty cache" with Cmd+Opt+e, then refresh. Works for me now.

[2020-10-20 19:19] #3760 closed

[2020-10-20 21:50] matildepark opened #3763 "chat: profile overlay bottom scroll calculation is incorrect"
The profile overlay doesn't react to where we are in the scroll, popping out of view on bottom.

<img width="467" alt="image" src="https://user-images.githubusercontent.com/20846414/96647876-76da2b00-12fc-11eb-8802-e1f3bda3453c.png">

https://github.com/urbit/urbit/blob/d52753513fcf69330d57afa91ecbae5b5126e2ec/pkg/interface/src/views/apps/chat/components/overlay-sigil.js#L42-L43

https://github.co

[2020-10-20 23:03] ohAitch commented on #3240
Hm, as long as that's the only actually implemented action, can we make the mount-name argument optional? 😇

So that plain `|commit` means "just sync all active mountpoints".

[2020-10-21 01:17] ryjm opened #3765 "chat: input text gets deleted while chat texts are coming in"
**Describe the bug**
Input text gets deleted when incoming texts are coming in quickly.

**To Reproduce**
Type a bunch of messages while someone else tries to type a resopnse.

**Expected behavior**
Input text doesn't get deleted.

**Screenshots**
https://littel-wolfur.nyc3.digitaloceanspaces.com/littel-wolfur/123_1-1.mp4

[2020-10-21 01:19] ryjm commented on #3765
in the video, i'm sending messages into the chat while the other person is the one typing.

[2020-10-21 03:14] tylershuster commented on #3716
Well, this was weird. I think it was due to an ungrouped chat that became part of a group, but it had the same name and anyway it's at least fixed on `~radbur-sivmus` but there's some junk left on `~marpem` that I'll clean up later. Chalking this one up to mismanaged migration.

[2020-10-21 03:14] #3716 closed

[2020-10-21 03:15] tylershuster commented on #3711
Fixed busted group (see #3716) now this doesn't happen.

[2020-10-21 03:15] #3711 closed

[2020-10-21 18:16] tylershuster opened #3768 "groups: adding is obscured"
Currently the only way to add a group is to use leap. This seems suboptimal.

The current design exists:

<img width="659" alt="image" src="https://user-images.githubusercontent.com/3999320/96764932-d08b3580-138e-11eb-8940-8437f06ecd3b.png">

Should we add this or is there a reason it wasn't added?

[2020-10-21 18:49] matildepark commented on #3768
Just haven't gotten to it yet. Joining a group is just as obscured — I think both were intended to be a single modal, but they're independent routes that take up the full screen.

[2020-10-21 22:50] liam-fitzgerald commented on #3645
It's worth noting that `%eyre` will only free one channel per `|trim` event, so you may need to inject the event more than once to avoid a `bail:meme`

[2020-10-22 00:57] matildepark commented on #3724
Fixed in https://github.com/urbit/urbit/commit/373c44301fceea50b9feaa79f5c931704ae068da

[2020-10-22 18:00] matildepark opened #3777 "landscape: groupify form only available for unmanaged notebooks"
- Should be added to the channel settings page for other resources (if unmanaged)

[2020-10-22 18:33] joemfb opened #3778 "ames: fake ships are subject to forwarding loops"
I booted a fake zod/binzod/master-morzod (off of `release/next-vere`). After a couple minutes, my fake ~zod had forwarded over 400K packets.

[2020-10-22 18:39] matildepark commented on #2992
Implicit part of the modernisation work in urbit/landscape#72.

[2020-10-22 19:59] belisarius222 commented on #3778
As @joemfb and I discussed a little while ago, we should be able to fix this by adding a filter to Vere that rejects packets sent by our own process.  I think we could do this by filtering incoming packets from loopback on the port that we bound.

[2020-10-22 20:33] philipcmonk commented on #3778
I mean, who's to say they were sent by our own process.  The thing to do is to find out what exactly those packets are and trace who sent/forwarded them and why.  For example, are stars and planets trying to forward any packets?  If so, something earlier was broken.

[2020-10-22 21:00] belisarius222 commented on #3778
Hmm ... yeah I think for some reason I was under the misapprehension that UDP loopback would just broadcast, which would inevitably cause a forwarding loop.

I feel like these loops usually happen when one ship assumes a different ship's former IP and port.  Maybe when we hear a new lane for a ship, we should make sure to dissociate that lane from any other ships?

[2020-10-22 22:43] joemfb commented on #3778
I added debug printfs to #3764, and the cause was fairly obvious: galaxies can end up forwarding to themselves when they're forwarding on behalf of a ship they sponsor and don't have a route to that ship. I updated #3764 with to filter this case out of that runtime, but I believe the scry handler should be updated as well. I'll open a separate PR.

[2020-10-22 22:53] philipcmonk commented on #3778
Sounds like this could be happening on mainnet, is that right?  Would it have happened pre-stateless forwarding?

[2020-10-22 22:56] joemfb commented on #3778
This could definitely be happening on mainnet, but only with stateless forwarding I think:

https://github.com/urbit/urbit/blob/e3dcfc637291d922376eb84df87e9bfa6f9e8e7d/pkg/arvo/sys/vane/ames.hoon#L1564-L1569

[2020-10-22 23:28] galenwp commented on #3732
would love to get this fixed

[2020-10-22 23:28] galenwp commented on #3731
yeah, this would be good to fix

[2020-10-22 23:41] matildepark commented on #3732
Fix in #3781.

[2020-10-23 00:20] matildepark commented on #3731
This indeed only affects imported Link collections, whose items use a different timestamp than graph-store does, @liam-fitzgerald + I are on this just before deploy ...

[2020-10-23 02:09] matildepark commented on #3731
Temp fix in #3784 but we'll have to figure out a back-end migration.

[2020-10-23 02:30] #3748 closed

[2020-10-23 02:56] matildepark commented on #2828
Fixed in #3774.

[2020-10-23 02:56] #2828 closed

[2020-10-23 02:56] #3732 closed

[2020-10-23 02:56] #3731 closed

[2020-10-23 02:56] #3724 closed

[2020-10-23 02:57] matildepark commented on #3723
Fixed in #3773.

[2020-10-23 02:57] #3723 closed

[2020-10-23 02:57] matildepark commented on #3707
I was gonna say "Fixed in #3774" but it's not, because you're talking desktop OS.

[2020-10-23 02:58] matildepark commented on #3763
Duplicate of #3640.

[2020-10-23 02:58] #3763 closed

[2020-10-23 02:59] matildepark commented on #3051
@Fang- Can we close this (and possibly other related ones)?

[2020-10-23 03:31] ohAitch commented on #3778
There's generally a sense of "closer", where you go from a ship to its
parent star to its parent galaxy to the destination galaxy to the
destination star to the destination ship, right? Where you can skip across
hops if you have a lane(esp if any two in that list are the same
intermediary), but should never go backwards or stay in place.

On Thu, Oct 22, 2020 at 16:56, Joe Bryan <notifications@git

[2020-10-23 03:37] ohAitch commented on #3778
Destination < prefix of that destination < prefix followed by unrelated
bytes < prefix followed by more unrelated bytes < shorter prefix down to
zero (< same shorter prefix followed by unrelated bytes, up to a moon of a
planet of a star of a completely different galaxy)

On Thu, Oct 22, 2020 at 21:31, Anton Dyudin <antechno777@gmail.com> wrote:

[2020-10-23 03:49] tylershuster commented on #3707
Oh shoot. This would have been easy to slip in. Assign to @tylershuster wen

[2020-10-23 14:07] belisarius222 commented on #3778
@ohAitch What's the implication of thinking about this "closeness"?

[2020-10-23 15:37] tylershuster commented on #3707
I think this is solidly a #cantfix. These fields only appear on input fields including textareas — and in order for codemirror to do its fancy highlighting stuff, it needs to *not* be an input field, because you can't affect the formatting of input fields.

There *might* be a way to do this with custom elements which extend an input field but whose shadow dom applies formatting...? but in any case

[2020-10-23 17:05] matildepark commented on #3601
I somewhat suspect #3545's cure is worse than the disease. Safari's "scroll down" behaviour (as when reading a very long scrollback) is the jumpy behaviour we have alleviated for when scrolling up, and I recall it worked better before this specific fix.

[2020-10-23 17:08] matildepark commented on #3707
I think the fix here is to rise above CodeMirror

[2020-10-23 17:09] matildepark commented on #3707
Like, if people are going to use Publish for writing, it needs to do what writing does. You aren't coding in Publish. @liam-fitzgerald did a shot here with ProseMirror that may have been the right move but too much too soon. Idk. @g-a-v-i-n thoughts?

[2020-10-23 18:25] matildepark opened #3791 "settings: dragging and dropping tile order no longer works"
@urcades @g-a-v-i-n Do we even want to offer this in current groups world?

[2020-10-23 18:56] urcades commented on #3791
No, we should definitely cut it out, just go with an opinionated
progression of tiles. My feeling here, from left to right:

1. Home/Identity
2. Clock
3. Weather
4. Dojo

As it was revealed in our chat about landscape 2021, I think the idea of
how we surface identity and unmanaged channels is a bit up for further
definition, so we should just consider them as "the leftmost/fist items in
the grid"

[2020-10-23 19:05] matildepark commented on #3791
I am pretty sure that's the default (or at least is how it is on my ship). So, "just delete this part of the profile"

[2020-10-23 19:20] urcades commented on #3791
Yeah!

—
~fabled-faster
https://urbit.org/

On Fri, Oct 23, 2020 at 3:05 PM matildepark <notifications@github.com>
wrote:

[2020-10-23 20:59] Fang- commented on #3051
Yes, I think such cases shouldn't pop up anymore now.

[2020-10-23 20:59] #3051 closed

[2020-10-23 21:04] matildepark commented on #3706
Starting to look into this ... basically, so far our search is not very smart.

https://github.com/urbit/urbit/blob/235bfbbd2faf3184481558bad09108a8f69e91c3/pkg/interface/src/views/components/leap/Omnibox.js#L149-L161

That's it — we check if each entry of each item substrings the query. We lowercase them both for the comparison. For what you're suggesting we'd need to rewrite a lot of this I thin

[2020-10-23 21:24] tylershuster commented on #3706
What about something like https://fusejs.io/

[2020-10-23 21:26] tylershuster commented on #3706
...I should probably just try this

[2020-10-25 13:31] vcs12322 opened #3800 "Cannot delete user-created groups"
**Describe the bug**
If I create a group in the new landscape, then when I try to delete the group, it isn't working, and the tile remains and if you try to delete it again, the settings popup doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the Home tile and click the dropdown to create a Group
2. Go to that group's settings and click the red "Delete this group"
3. The gr

[2020-10-25 15:56] matildepark commented on #3800
Wait, you’re running 1.0.60. We had a few updates since then (not that I think it’ll resolve this, though it would provide a more informative stack trace, ironically.)

Do you see anything specific when you run `|ota (sein:title our now our) %kids`?

[2020-10-25 21:18] vcs12322 commented on #3800
The OTA responded:
kiln: restarting OTA sync from %kids on ~marnus
kiln: cancelling OTA sync from %kids on ~marnus
kiln: starting OTA sync from %kids on ~marnus

kiln: activated OTA from %kids on ~marnus
but the problem persists.
+trouble returned:
~[0vj.qold4.9lvpo.19vs5.ighng.hgov7.1bbq9.87ks3.eeo4m.28moq.akkc6]

[2020-10-26 00:28] liam-fitzgerald opened #3801 "chat: hoon-in-chat scrolling does not work correctly"
**Describe the bug**
`%code` messages (i.e. executable hoon, not markdown code formatting) cannot be scrolled with a scroll wheel at all.

**Expected behavior**

`%code` messages should be able to be scrolled with the scroll wheel.

**Desktop (please complete the following information):**
Chrome/OSX/Latest base hash

**Additional context**
related: #3672
cc: @tylershuster

[2020-10-26 00:30] matildepark commented on #3801
Does #3797 resolve this? — We could fix it there

[2020-10-26 12:25] codydh commented on #3740
@joemfb I was able to run those to temporarily get running again, but it recurred so I wound up breaching. Thanks for the help!

[2020-10-26 12:25] #3740 closed

[2020-10-26 13:38] galenwp commented on #3800
I have this problem as well on `kprsf`

[2020-10-26 16:24] matildepark commented on #3800
Just tried to replicate. Basically this is what we see:

1. Create a group.
2. Delete the group.
3. The group *is* deleted but the metadata is not. So it's still on the home screen. (At large since #2992.)

<img width="673" alt="image" src="https://user-images.githubusercontent.com/20846414/97199026-ebdab400-1785-11eb-82dc-f326524fef3e.png">

This is on slate to fix inside urbit/landscape#72 (@tac

[2020-10-26 17:12] vcs12322 commented on #3800
Ah ok, sounds good. It's definitely a bit of a pain but the workaround isn't really strictly necessary tbh.

I also noticed a perhaps related issue that when I create a channel in my Home tile, if I delete it, it looks like it's a channel in a group that I just need to be reinvited to.. then if I click the blue join, it gives an error. Based on your explanation it sounds like a similar metadata is

[2020-10-27 01:16] tacryt-socryp opened #3803 "groups ui: only show “invite to group” button if you have permission to do so"

[2020-10-27 01:16] tacryt-socryp opened #3804 "text input in invite to dm should auto-focus"

[2020-10-27 01:17] tacryt-socryp opened #3805 "show “Home” in most recent groups menu for faster access"

[2020-10-27 04:41] wanhus-battul commented on #3427
Hey @joemfb
I'e copied my pier from the droplet that was hosting it to my desktop pc and ran meld again. This time it was successful as you expected.

I'll close this case now as everything is working. Thanks a ton for your help!

[2020-10-27 04:41] #3427 closed

[2020-10-27 05:04] jessewh commented on #3396
I am having a similar issue to the above.

Describe the bug Tried to join a group (Community) in Landscape, got spinning wheel and no eventual response on landscape followed by endless stack trace.
To Reproduce Steps to reproduce the behaviour:
1. Tried to join group
2. Wait
3. Errors
Expected behaviour Join the group. Note that I have tried `|cancel` and `|cancel %force` which I expect is the rea

[2020-10-27 15:52] tylershuster commented on #3672
I *think* #3802 fixes this. Haven't actually seen this in the wild. @nimpun-doller do you have a URL to a tweet which, embedded, exhibits this behavior?

[2020-10-27 15:54] tylershuster commented on #2880
@gilletteonmeheleparim @Fang- Does this still occur with the new clock calculations?

[2020-10-27 15:56] tylershuster commented on #2501
This is obsolete, right? Or at least superseded by https://github.com/urbit/landscape/issues/122

[2020-10-27 16:00] Fang- commented on #2880
Hard to say, it's not May anymore. Getting other kinds of rendering jank but the black part matches up with reality at least.

<img width="139" alt="image" src="https://user-images.githubusercontent.com/3829764/97328104-f4aab300-1875-11eb-9002-badc480fe877.png">

[2020-10-27 16:02] tylershuster commented on #2880
Ok, that's fixed in #3788

[2020-10-27 16:30] matildepark commented on #3805
I actually thought the same thing — since "All Groups" goes to our launch screen and the Home icon immediately about it does the same, the top item should be "Home" or whatever we choose to name it. @urcades?

[2020-10-27 16:52] matildepark commented on #2501
@tylershuster the root cause of this issue was that archived notebooks were invisible to the user but still showed unread counts in the tile, because the tile count didn't distinguish. The unread count was provided by the back-end so it wasn't an easy fix, so we removed unread counts entirely from the tiles. The fix for this, IMO, is the graph-store migration + the archive story.

[2020-10-27 16:52] matildepark commented on #2880
Yeah it's not good to have the rendering jank but I find it sort of pretty.

[2020-10-27 19:45] arawnx opened #3811 "Notebook Does Not Have Scrolling Functionality"
**Describe the bug**
Scrolling while editing a Notebook post does not do anything, and navigating with the arrow keys does not behave as expected (jumps only every ~4 lines and doe not go to the beginning nor end of the post)

**To Reproduce**
Steps to reproduce the behavior:
1. Make a Notebook post
2. Edit it
3. Enter however many newlines are required to fill up the view height
4. Try scrolling

[2020-10-27 21:30] matildepark opened #3813 "groups: inviting group members as an admin doesn't work"
via @vvisigoth. Related work: #3803.

[2020-10-27 22:38] tylershuster commented on #2634
Hoon side done, working on front end.

@urcades we now have the following codes for weather:

https://github.com/chubin/wttr.in/blob/master/lib/constants.py#L4-L51

Compare with:

https://github.com/urbit/urbit/blob/master/pkg/interface/src/views/apps/launch/components/tiles/weather.js#L56-L87

Would appreciate insight on what do do here — note most significantly that there aren't variants for nig

[2020-10-28 00:34] Sneagan opened #3817 "FE Fails to Update Messages or Send Status"
**Describe the bug**
My messages remain greyed out in FE after seeing them in the terminal dojo, and new messages do not appear in FE without a refresh despite appearing in terminal dojo.

**To Reproduce**
Steps to reproduce the behavior:
1. Enter any chat room
2. Send message
3. Observe message in grey in FE
4. Observe message appear in host terminal dojo
5. Observe responses in terminal dojo
6.

[2020-10-28 12:22] Sneagan commented on #3817
Adding the following lines to my Nginx reverse proxy resolved these issues:

[code]

[2020-10-28 12:22] #3817 closed

[2020-10-28 16:22] ohAitch commented on #3778
Something of a termination proof: if each time a packet is routed to moves towards a destination, there's a maximum of 7 hops (moon -> planet -> star -> galaxy -> galaxy -> star -> planet -> moon), with no possible loops.

[2020-10-28 16:54] matildepark opened #3821 "home: Can't send an invite for a new DM , no error in console"
via @vvisigoth.

[2020-10-28 17:34] vvisigoth commented on #3821
Also just tried to _receive_ an invite from the same ship and got this.

[code]

[2020-10-28 17:44] eglaysher opened #3822 "king-haskell: shutting down doesn't free http port"
If you shut down king haskell normally, and then start it up immediately after, the http port changes because the old port wasn't freed up correctly. It looks like we aren't properly shutting down the http server.

My current hypothesis about what's going on: In Eyre.hs, we do call a kill STM action which is supposed to signal to kill the server...but we don't actually wait for the result of that

[2020-10-28 19:18] urcades opened #3824 "Groups: Invite modal input + submit bug"
I'm relaying a bug noted by @belisarius222:

In the "Invite to Group" popover interface, the following bug was noted:

- If you paste in a `@p` into the field, and press "Send", the modal disappears as though the invite is sent, but it does not send

It seems to be that one must actually select a filtered `@p` from the dropdown in order for a 'send' to actually register.

There are two UX issues h

[2020-10-28 20:34] matildepark opened #3825 "groups: new created group doesn't show admin controls until refresh"
Create a group. You'll find you can't add channels until the next refresh.

Here are the two updates we get from the back-end:

<img width="483" alt="image" src="https://user-images.githubusercontent.com/20846414/97493348-381b2500-193b-11eb-918d-c298f50c064f.png">

Note no `addTag` update. Because we aren't passed as an admin until we get it from `initialGroup` updates, users can't do anything wit

[2020-10-28 21:56] matildepark opened #3826 "landscape: DM redirect logic inconsistently finds the DM"
When we create or redirect to a DM we use `dm--` between two ships to detect if it exists. If the DM has a custom name, it will never be matched. We should either:

- Smooth the UX to *forbid* naming single-user DMs, or;
- Enforce that deterministic path name upon creation if we know the DM is named and has a single user, or;
- Assess the correct DM by assessing user lists

[2020-10-28 22:37] joemfb commented on #2062
Fixed in #2057

[2020-10-28 22:37] #2062 closed

[2020-10-28 22:42] joemfb commented on #2467
`|pack` (and other commands) can be run directly from `urbit-worker` as of `v0.10.8`, and `|meld` will be supported in the same way in `v0.10.9`.

[2020-10-28 22:42] #2467 closed

[2020-10-28 22:43] joemfb commented on #2267
@philipcmonk, this issue should be obsolete as of ford-fusion, correct?

[2020-10-28 22:57] joemfb commented on #3407
The titular issue here (ames error printf frequency) is fixed in #3693.

[2020-10-28 23:08] #3362 closed

[2020-10-29 00:35] urcades opened #3827 "dojo: "+moon" generator does not work"
I'm trying to set up a moon for local computing, but it's looking like our `+moon` generator doesn't work in the webdojo:

<img width="238" alt="Screen Shot 2020-10-28 at 8 33 46 PM" src="https://user-images.githubusercontent.com/1195363/97511256-0adf6e80-195d-11eb-9dda-b9cfc0ea2bc1.png">

[2020-10-29 00:36] matildepark commented on #3827
It’s |moon.

—
~haddef-sigwen
https://urbit.org

[2020-10-29 06:21] jessewh commented on #3396
As an update, after another breach this seems to have sorted itself. Immediately after firing the ship up I did receive the error message:

[code]
multiple times but it is gone now (after about a day) and I can join groups again.

[2020-10-29 17:50] nimpun-doller commented on #3672
@tylershuster sure, it seems to happen on any embed, including YouTube, but here's some recent links:

https://twitter.com/lrvick/status/1320246266270519297?s=09
https://www.youtube.com/watch?v=Qe1_NdPw9ms

[2020-10-29 17:57] tylershuster commented on #3672
Thanks; I thought you meant that scrollbars *inside* embeds worked incorrectly. I see the behavior now and I think it's an easy fix.

[2020-10-29 18:23] tylershuster commented on #3672
Update: not an easy fix.

The core issue here is that the iframe is a world unto itself — trapping and acting upon events without heed to the parent document. Unless, of course, it involves scrolling the parent document up, which is exactly what we want to counteract. The problem is that because the iframe is a different origin, we have no control over the events that happen within it.

My initial

[2020-10-29 18:26] philipcmonk opened #3831 "eyre, landscape: Fetching backlog and marking as unread not working"
**Describe the bug**
Both of these have stopped working, and a refresh/hard refresh doesn't seem to be fixing it.  I also don't have any messages since about 1am (ten hours ago) last night

**To Reproduce**
Steps to reproduce the behavior:
1. Open chat channel, try to scroll up
2. Note that it doesn't scroll up, and further that nothing can be marked as unread (automatically or manually)

**Screen

[2020-10-29 18:32] philipcmonk commented on #3831
Same thing happens in incognito mode btw

[2020-10-29 20:12] Fang- commented on #3831
I suspect #3799 might fix this. Looks like I accidentally merged that into master, causing the stack trace to not line up with what's on master on gh. Should... probably revert that and cherry-pick on top of next-sys.

[2020-10-29 23:58] matildepark opened #3838 "publish: confirm before navigating away from new / edit post"
via @galenwp.

[2020-10-30 00:00] tylershuster commented on #3838
Sounds like this would be good to go in a "prevent destruction" PR with https://github.com/urbit/landscape/issues/68

[2020-10-30 00:01] matildepark commented on #3838
aye

[2020-10-30 00:09] matildepark commented on #3838
@galenwp:

[2020-10-30 00:12] tylershuster commented on #3838
Urbit really is the LSD of the 2000s

[2020-10-30 00:41] tylershuster opened #3839 "clock: fringing"
<img width="751" alt="image" src="https://user-images.githubusercontent.com/3999320/97646833-f60ee380-1a0d-11eb-9296-584654b9f437.png">

[2020-10-30 00:55] #3596 closed

[2020-10-30 00:55] #3791 closed

[2020-10-30 00:55] #3804 closed

[2020-10-30 00:55] #3805 closed

[2020-10-30 00:55] #3045 closed

[2020-10-30 00:55] #3384 closed

[2020-10-30 00:55] #3801 closed

[2020-10-30 00:55] #3825 closed

[2020-10-30 01:41] tylershuster opened #3841 "publish: "1 revisions""
not exactly correct

[2020-10-30 01:50] matildepark commented on #2671
Obsolesced by #3473.

[2020-10-30 01:50] #2671 closed

[2020-10-30 01:51] matildepark commented on #2780
Obsolesced by #3473.

[2020-10-30 01:51] #2780 closed

[2020-10-30 01:51] matildepark commented on #3079
Obsolesced by #3473 (no longer susceptible to Clay overwriting notebooks).

[2020-10-30 01:51] #3079 closed

[2020-10-30 01:52] matildepark commented on #3215
@Sidfyl persists?

[2020-10-30 01:52] matildepark commented on #3396
Original problem resolved. Obsolesced by #3473.

[2020-10-30 01:52] #3396 closed

[2020-10-30 01:53] matildepark commented on #3662
This should definitely no longer be the case (though the users would be grandfathered in as writers from Publish). @Sidfyl confirm?

[2020-10-30 01:54] matildepark commented on #3715
Closing since not a livenet issue.

[2020-10-30 01:54] #3715 closed

[2020-10-30 01:54] matildepark commented on #2040
@Fang- persists? Can't tell if this is a (RIP) Publish issue or Gall or what.

[2020-10-30 02:02] Sidfyl commented on #3215
Kind of confusing for me to troubleshoot because I seem to have no problem creating new posts in general. But there was this specific post (that I deleted and reposted several times) that kept going blank.

All my publish posts are embedded gifs, all from the same source, and this one was simply two embeds, nothing special otherwise.
A subscriber confirmed that that single post was blank for him t

[2020-10-30 02:12] Sidfyl commented on #3662
<img width="1023" alt="Screenshot 2020-10-30 at 02 12 04" src="https://user-images.githubusercontent.com/63191757/97651998-54ab8000-1a55-11eb-97b9-aebaba2128c5.png">

just tried to make a new post, got this.

[2020-10-30 02:13] Sidfyl commented on #3215
<img width="1023" alt="Screenshot 2020-10-30 at 02 12 04" src="https://user-images.githubusercontent.com/63191757/97652036-6bea6d80-1a55-11eb-995a-fe044ee0648e.png">

just tried to make a new post, got this.

[2020-10-30 02:14] Sidfyl commented on #3662
would you please join ~rivpyl-sidfyl/martian-cinema so I can confirm it?

[2020-10-30 02:24] matildepark commented on #3215
On that ... appears to be due to the `@da` changes in the past day we were juggling.

[2020-10-30 07:39] urcades commented on #3805
An additional point for this item: the "Circle" icon should be replaced with the home icon, so it's more clear the areas are equivalent.

[2020-10-30 10:48] Fang- commented on #2040
I think this was a publish issue, so let's close this.

[2020-10-30 10:48] #2040 closed

[2020-10-30 14:23] eglaysher commented on #3822
Fixed by #3823

[2020-10-30 16:44] matildepark opened #3844 "publish: Editing a post causes endless spinner, but edit shows on refresh"
Via @vvisigoth.

[2020-10-30 16:47] matildepark opened #3845 "publish: no way to add or remove writers in new settings layout"
May need design input. @urcades

[2020-10-30 16:58] urcades commented on #3845
I will give this some thought!

—
~fabled-faster
https://urbit.org/

On Fri, Oct 30, 2020 at 12:47 PM, matildepark < notifications@github.com > wrote:

[2020-10-30 19:22] JohnELester opened #3846 "publish, links: user can't edit or delete their own comments"
A user can't edit or delete their own comments on notebook posts.

Expected Behavior:
A user should be able to delete or edit their own comments on notebook posts.

Repro:
1. Go to any existing notebook.
2. Go to a post in that notebook.
3. Post a comment.
4. Go back to your comment.  You''ll see a Delete option that can't be clicked, and there is no Edit/Update option.

 - OS: Windows 10
 - Brows

[2020-10-30 19:23] matildepark commented on #3846
I believe this also applies to Links.

[2020-10-30 19:31] JohnELester commented on #3846
I think it's critical for users to be able to edit/update their own comments in key community notebooks like the UC Bulletin Board.  Otherwise old information will become stale with no way for the comments to be updated by the people who posted them.

[2020-10-30 20:13] belisarius222 opened #3847 "chat messages don't show as pending"
**Describe the bug**

Report from another user:

**To Reproduce**
unknown

**Expected behavior**
chat message shows as pending

**Screenshots**
none

**Desktop (please complete the following information):**
unknown

**Smartphone (please complete the following information):**
unknown

**Additional context**
the chat host ship goes down sometimes; not sure if related

[2020-10-30 20:18] tylershuster commented on #3847
This is *probably* not correct. What I *expect* is happening is that the message is sending, then due to the longstanding message ordering bug the message is showing `n` numbers up in the backlog, and is showing as pending there. I see this a lot but I only know to look for it because of how much sleep I've lost over it. I expect that this will be a non-issue when graph-store fixes, and will be un

[2020-11-01 15:35] fonnyx commented on #3466
I have it working now. The problem was not having these two things match:

![](https://cdn.discordapp.com/attachments/737692203429789737/767120667166113832/2020-10-17_15-23.png)

[2020-11-01 15:35] #3466 closed

[2020-11-01 18:49] galenwp commented on #3846
Very much agree. This is essential

[2020-11-01 20:05] tacryt-socryp commented on #3846
I disagree, but am interested in discussing. Revisions should be added to various parts of these data structures sparingly, as they make referential transparency of the graph more difficult (cc: @belisarius222). It seems to me that sharing available blogs and chatrooms can be done in a more native way and should be solved for as its own problem.

[2020-11-01 20:09] matildepark commented on #3846
I do agree that it should be solved as its own problem but I don’t think it’s acceptable UX to have once only comments (the permissions here are also weird but we’ll do a holistic pass on that). I should have communicated better in this regard. We can talk soon about this in our weekly but I’d be interested in hearing the challenge it presents as well.

[2020-11-01 20:17] vvisigoth commented on #3846
Especially since the pattern of editing has been established already.

This is a regression and should be treated as such.

On Sun, Nov 1, 2020 at 2:09 PM matildepark <notifications@github.com> wrote:

--
—
~poldec-tonteg
http://urbit.org

[2020-11-01 20:47] galenwp commented on #3846
It's incredibly weird to think that comments on a post would be 'only once', or that I can't delete them.

It's also really not a matter of 'agree' or 'disagree' or whether referential transparency is preserved. What does this feel like to the user? It feels broken and frustrating. Why? Apparently for some unrelated reason the user doesn't care about.

[2020-11-01 20:52] tylershuster commented on #3846
The theoretical issue that this concerns is about ownership of data, right? An edit to an existing comment in the context of a decentralized Service is not so much an edit as it is a request to edit.￼ The fact that we can edit what we have already sent to others is a feature, or more realistically a side effect of the current Internet architecture. You can't really take back what you have said to

[2020-11-01 21:06] galenwp commented on #3846
Some day, it may make sense to surface all of that complexity. It seems to
me that the prior, oversimplified version is perfectly alright for the time
being. If we want to surface something more holistic to the user, that’s
going to take design work and, in turn, time.

There are two choices: something that seems broken or something that isn’t
completely accurate. The latter causes problems in rar

[2020-11-01 21:13] ohAitch commented on #3846
users that what they send to other people is in fact permanent and requires
significant energy to amend, like it does in real life.

This seems entirely compatible with the UI being <grey>user retracted post
(click *here* to expand)</grey> and <small>Last *edited* ~2020.10.32</small>
without supporting hard delete - the internet is thankfully a textual
medium, not a verbal one, and it is entirely

[2020-11-02 02:13] tylershuster opened #3853 "chat: doesn't scroll down on Chrome when cursor is between messages"

[2020-11-02 15:56] matildepark commented on #3824
Tagging @tylershuster

[2020-11-02 16:30] tylershuster commented on #3824
Hm yes hello

[2020-11-02 19:31] devinmancuso opened #3857 "landscape: leaving a group dumps all channels, even if unjoined, into home workspace"
**Describe the bug**
Click on the _Settings_ and _Refresh_ icons produce errors and incorrect function calls when accessing channels I have never joined from groups I am no longer a member of.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a group by clicking on a link in a chat
2. Click on each channel in the group but do **not** join any of the channels in that group
3. Go to landsca

[2020-11-02 20:06] vvisigoth opened #3859 "publish: endless spinner on submitting post update"
**Describe the bug**
Updating an existing post doesn't terminate. But edit is propagated.

**To Reproduce**
1. Make a post
2. Click on "Update"
3. Update the post
4. Click save

**Expected behavior**
Edit is saved and returned to post screen

[2020-11-02 20:22] matildepark commented on #3859
Dupe of #3844.

[2020-11-02 20:22] #3859 closed

[2020-11-02 20:27] philipcmonk commented on #2267
Yes, this has been solved

[2020-11-02 20:27] #2267 closed

[2020-11-03 05:29] xiphiness opened #3868 "Irrelevant code or bug?"
The =/  paths isn't used in the +remove gate here. I'm still wrapping my head around the logic so can't say whether this =/ should be removed or if there is something wrong here. Thought I'd mention it.

https://github.com/urbit/urbit/blob/e279b080495f3af2020aab8ea8e84a36d326a9ea/pkg/arvo/lib/push-hook.hoon#L285

[2020-11-03 14:31] galenwp commented on #3853
i've been trying to figure out the repro for this for a while. nice catch

[2020-11-03 18:46] matildepark opened #3875 "groups: no UX or indication that "sharing your contact" must be done first"
- Join a group.
- Try to edit your information all at once.

In the case of sigil color, it'll autofill the field with a JS error. In the case of other fields, it'll seem to work fine until you Save, and it will spin forever.

You need to hit save with *no info typed in* first, then you can edit the avatar info.

But we should either do that invisibly for the user, or (perhaps preferably) surface

[2020-11-03 20:52] liam-fitzgerald commented on #3813
Just tried to repro on three fresh fakeships, was unable. Can I get further repro?

[2020-11-03 20:55] vvisigoth commented on #3813
Start a group on ship A, invite ship B, male ship B an admin. Ship B
invites ship C, no work (invite not sent).

On Tue, Nov 3, 2020 at 2:52 PM Liam Fitzgerald <notifications@github.com>
wrote:

--
—
~poldec-tonteg
http://urbit.org

[2020-11-03 22:10] tacryt-socryp commented on #3821
It crashes on line 428, which asserts that any ship that has a tag added to it must be in the group. Your group state must be malformed in some fashion... perhaps you have a leftover group from before a breach? Is there any way I can look at your ship to debug this?

[2020-11-03 22:28] tacryt-socryp commented on #3821
There appears to only be one place in the frontend that a tag can be added from: the group participants list. It appears that no parts of the backend explicitly add tags. Anthony, were you trying to add Gavin to some kind of participants list? I can't see any way that invites could affect this.

[2020-11-03 22:38] matildepark commented on #3821
Don't we add ourselves as admin (a tag) when making a group (like a DM)?

[2020-11-03 22:53] liam-fitzgerald commented on #3813
Yeah that's the exact procedure I followed. When was the last time you saw this bug?

[2020-11-03 22:54] matildepark commented on #3813
(Are #3813 and #3821 related?)

[2020-11-03 22:58] liam-fitzgerald commented on #3813
Yeah suspect AA may have busted group-store state.

[2020-11-03 23:00] tacryt-socryp commented on #3821
We do, using the %add-group arm, but it does it automatically without actually sending an %add-tag poke (thus the line of code in question, 428, would never be hit)

[2020-11-03 23:00] vvisigoth commented on #3813
FTR ~simfur-ritwed hit this too
—
~poldec-tonteg
http://urbit.org

On Tue, Nov 3, 2020 at 4:58 PM Liam Fitzgerald <notifications@github.com>
wrote:

[2020-11-04 22:50] baudtack opened #3890 "Eyre clogged"
**Describe the bug**
Started receiving a large number of these errors in the dojo

[code]

and am no longer able to send messages in landscape. I am able to receive new messages in landscape and send new messages in chat-cli.
@vvisigoth asked me to make an issue and tag @Fang- and @tacryt-socryp

[2020-11-05 01:00] Fang- commented on #3890
The printf is not an error per se, but if you're receiving a large number of those then that might be indicative of weirdness. Do these have consistent channel ids (the long string)? Does web console say anything about "open" and/or "event source error" often?

I wouldn't expect this to affect your ability to _send_ messages from landscape, but _would_ expect it to make receiving feel a bit rough.

[2020-11-05 01:05] baudtack commented on #3890
I am running the latest as verified with +trouble.

![console](https://user-images.githubusercontent.com/32079/98184653-bd648380-1ebf-11eb-9e24-e2fb690e428c.png)

they are not consistent but only happen when i actually have landscape open of course.

[code]

[2020-11-05 01:19] Fang- commented on #3890
Huh, if it's opening new channels all the time, I'm surprised you're not seeing any of this:

https://github.com/urbit/urbit/blob/e279b080495f3af2020aab8ea8e84a36d326a9ea/pkg/arvo/app/landscape/js/channel.js#L12-L14

Maybe I'm missing something and we switched away from channel.js, but it was updated recently, so I can't imagine...

At the very least, frontend opening new channels on-clog isn't ve

[2020-11-05 19:36] baudtack commented on #3890
Hrm. It seems to have resolved itself by having only one tab open over night? I wonder if this was triggered by having multiple landscape tabs open. Will try to reproduce.

[2020-11-05 20:14] baudtack commented on #3890
The behavior has reappeared after having multiple tabs open for about an hour.

[2020-11-05 20:51] baudtack commented on #3890
On sending a message in landscape, it will remain greyed out until i refresh a separate tab, at which point messages sent will show up in chat-cli. I just sent ~palfun a dm and 20+ minutes later it doesn't send, but when i refresh a separate tab, it showed up instantly in chat-cli.

[2020-11-06 01:01] galenwp opened #3896 "line-height of chat box should be the same as the line-height in the chat itself"
**Describe the bug**
Type a multi-line message in the chat box, notice that the lines are tight. Then send it, notice that the lines are a bit further apart

**Expected behavior**
line-height in the message box should be the same as what's shown in chat.

[2020-11-06 03:13] #3803 closed

[2020-11-06 03:13] #3838 closed

[2020-11-06 03:13] #3841 closed

[2020-11-06 03:13] #3853 closed

[2020-11-06 03:13] #3844 closed

[2020-11-06 03:13] #3868 closed

[2020-11-06 03:27] joemfb opened #3900 "build: darwin urbit-king release binary links against /nix-store"
From the latest `release/next-vere`:

[code]

It looks like `urbit-king` needs to be fixed up with `install_name_tool` as well:

https://github.com/urbit/urbit/blob/86b59c67c26af2566731fc0eb119fefadea915e2/nix/pkgs/urbit/default.nix#L57-L63

BTW, is it worth trying to use this directly from nixpkgs? I believe we should have access to it already:

https://github.com/NixOS/nixpkgs/blob/11fc05583669c

[2020-11-06 06:53] brendanhay commented on #3900
Definitely worth trying the `nixpkgs` version - I'll try that today.

[2020-11-08 09:46] gilletteonmeheleparim opened #3906 "“Array.from(...).flat is not a function”"
Landscape on mobile Brave browser left me an error
“Array.from(...).flat is not a function”

Stack trace
TypeError: Array.from(...).flat is not a function
    at r.value (http://159.89.27.103/~landscape/js/bundle/index.20fe6ee95061ade450fc.js:184:271039)
    at Pa (http://159.89.27.103/~landscape/js/bundle/index.20fe6ee95061ade450fc.js:37:69875)
    at Fa (http://159.89.27.103/~landscape/js/bundle

[2020-11-08 15:32] tylershuster commented on #3906
What were you doing at the time?

[2020-11-08 17:55] gilletteonmeheleparim commented on #3906
I logged in and this appeared at the home screen

On Sun, 8 Nov 2020 at 17:32, Tyler Shuster <notifications@github.com> wrote:

[2020-11-08 18:09] matildepark commented on #3906
Sounds like Leap crash.

—
~haddef-sigwen
https://urbit.org

[2020-11-09 23:43] baudtack commented on #3890
Idk, seems to have magically resolved itself.

[2020-11-09 23:43] #3890 closed

[2020-11-10 19:07] galenwp commented on #3890
I'm seeing similar behavior, but I get a longer stack trace:

[code]

[2020-11-10 22:40] liam-fitzgerald opened #3912 "graph-push-hook: Removing a member does not kick them from associated graphs"
Removing a member does not kick them from associated graphs

[2020-11-11 00:23] tacryt-socryp commented on #3912
This could easily be handled using a thread and the observe-hook.

[2020-11-12 01:08] vvisigoth opened #3917 "Notification should be on by default"
It's very difficult to figure out where/how to turn these on as it stands now.

[2020-11-12 01:09] matildepark commented on #3917
Patched in https://github.com/urbit/urbit/pull/3915/commits/f07b231e36192cecf026d22155a02499b7074823 — urbit/urbit is also for livenet issues.

[2020-11-12 01:09] #3917 closed

[2020-11-12 01:09] vvisigoth commented on #3917
cc @matildepark filed this on mobile and your hark template isn't popping up.

[2020-11-12 07:06] mike-cr opened #3920 "[notifications] opening a notification marked read toggles its read state"
**Describe the bug**
If you have a notification in yoiur inbox that's marked as read, opening it will toggle it back to unread

**To Reproduce**
1. Go to notifications inbox
2. Click on a message you're already marked as read
3. observe it's now unread

**Expected behavior**
opening a read notification should not mark it unread

**Desktop (please complete the following information):**
 - OS: arch

[2020-11-12 09:42] mike-cr opened #3921 "[Notifications] Notifications broken with “Cannot read property 'imageShown' of undefined”"
**Describe the bug**
Notifications broken with “Cannot read property 'imageShown' of undefined” after a notification containing an image I think.

**To Reproduce**
Steps to reproduce the behavior:
1. Maybe post an image in a channel you've unmuted???
2. Click on Notifications
3. See error and stack trace

**Expected behavior**
Should not crash

**Screenshots**
`“Cannot read property 'imageShown' o

[2020-11-12 13:49] custom-jonathan commented on #3921
Came to submit the same issue. Here's my stack trace:

[code]

[2020-11-12 14:32] galenwp commented on #3921
Same here. Stack trace looks more or less the same as what others see:

[code]

[2020-11-12 14:43] matildepark commented on #3921
https://github.com/urbit/urbit/pull/3922

—
~haddef-sigwen
https://urbit.org

[2020-11-12 15:51] matildepark commented on #3921
Fixed in #3922.

[2020-11-12 15:51] #3921 closed

[2020-11-12 16:42] vvisigoth opened #3923 "new channel: creating a new channel redirects to 404"
**Describe the bug**
When I make a new channel in a new group, it redirects to a 404 page after groupu creation. The channel does exist, though, on refresh/renav.

**To Reproduce**
1. Create a group
2. Create a channel of any type
3. See 404

**Expected behavior**
Redirected to empty channel

**Base**
`tdo1o`

[2020-11-12 16:45] vvisigoth opened #3924 "hark: accepting gropu invite from inbox doesn't redirect to group or give confirmation of success"
**Describe the bug**
If you accept a group invite in inbox, it just sits in the inbox. The tile does, however, appear on homescreen.

**To Reproduce**
1. Receive a group invite
2. Click accept
3. It disappears

**Expected behavior**
It should redirect to group (I think)

**Base**

`tdo1o`

[2020-11-12 16:46] vvisigoth opened #3925 "hark: DM invites don't appear in inbox, still appear in DMs+Drafts"
**Describe the bug**
If I am invited to a new DM, I don't receive a notification.

**To Reproduce**
1. Start a new DM
2. Invite shows up in DMs+Drafts
3. No invite in Inbox

**Expected behavior**
DM invites should appear in inbox

**Base**
`tdo1o`

[2020-11-12 16:56] vvisigoth opened #3926 "dms: after deleting a DM, can't start a new one with same participants"
**Describe the bug**
Let's say there's a DM between ~zod and ~nec, hosted on ~zod. ~zod deletes the DM, ~nec gets booted with a spinner (different issue). Then ~nec tries to make another DM with ~zod and it will just hang.

**To Reproduce**
See above

**Expected behavior**
DMs should clean up completely on deletion.

**Base**
`tdo1o`

[2020-11-12 17:18] tylershuster commented on #3924
I can take this one

[2020-11-12 17:18] tylershuster commented on #3923
I can take this one

[2020-11-12 23:34] chc4 opened #3928 "~rys is dying with bail: oops"
**Describe the bug**
`~rys` is repeatedly dying with:
[code]
I don't *think* this is #3645 since there is no `bail: meme`. It is also running with a current OTA, only connected to one talk channel, and only having like 4 ships under it. It also died once with `Assertion 'c3y == (( c3y == nor_o) ? u3a_north_is_normal(u3R, nov) : u3a_south_is_normal(u3R, nov))' failed in noun/allocate.c:1190` before

[2020-11-12 23:38] chc4 commented on #3928
(Is there some special galaxy sauce I should be running with? Even if this is normal `bail: meme` from running out of loom space, ~rys doesn't *do much*, so I'm confused how ~zod wouldnt be constantly hitting this..)

[2020-11-12 23:47] Fang- commented on #3928
I think the "out of loom" there is saying "this pointer is outside of memory" rather than "_out_ of memory". Note how it specifies the range of valid loom pointers. Disk space was gonna be my next guess, but if that's not it, unsure...

A release candidate of 0.10.9 has been running on most of our galaxies for quite some time without problems, and we're getting really close to releasing `release/n

[2020-11-12 23:49] chc4 commented on #3928
Yeah, I gathered that its deref'ing the pointer 0x438, which is not in the bounds of the loom. Just wasn't sure if thats because its trying to allocate, returning NULL, and then dereferencing NULL+0x438 somewhere (which would be...pretty weird?)

[2020-11-12 23:52] joemfb commented on #3928
Is there any relevant output before `pier: serf error: end of file`? Confusingly enough, all that means is "the serf process unexpectedly shutdown". To add insult to injury, the subsequent bail/crash/assertion failure is actually jut a segfault in the king process. Both of these problems were fixed in #3471, which is not yet released.

The other assertion you hit is quite surprising: it guards aga

[2020-11-12 23:55] chc4 commented on #3928
Before the first `serf error` was just ```
[%mailbox-kick i=%~.mailbox t=[i=~.~dopzod t=/urbit-help]]
%chat-hook-resubscribe
[code]

[2020-11-13 00:28] chc4 commented on #3928
`|meld` completed successfully (after I gave it more RAM). The output, if it's at all helpful:
[code]

Should the `total` still be 1.8gb? That's higher than the `total marked` from pre-meld `|mark`, and still awfully close to the 2gb limit.

[2020-11-13 00:31] joemfb commented on #3928
Run `|mass` again -- those `|meld` measurements are for the hash-cons arena, which is off-loom and discarded as soon as `|meld` completes.

I see now that the output is confusing, I'll think about how to make it clearer... I guess a `|pack`-style "gained: N" printf would help.

[2020-11-13 00:32] chc4 commented on #3928
Ah, `|mass` now outputs
[code]

500mb sounds much better than 1.8gb. I'll tentatively mark this closed, then, and hope whatever was causing memory blow-up doesn't happen again. Thanks for the help.

[2020-11-13 00:32] #3928 closed

[2020-11-13 04:39] mike-cr opened #3929 "Notifications show new notifications dot despite all being marked read"
**Describe the bug**
There's a blue dot next to the leap button despite all notifications being marked read. I think it might have got messed up by the since-fixed crash-on-remote-content bug

**To Reproduce**
Steps to reproduce the behavior:
1. Not sure...

**Expected behavior**
There should not be a blue dot if there are no unread notifications

**Desktop (please complete the following informati

[2020-11-13 10:11] Fang- commented on #3929
I got this too, even before seeing that remote content crash, so I don't think it's related.

[2020-11-13 13:47] sigilante opened #3931 "Notifications `oembedShown` error"
**Describe the bug**
Notifications error.  When I load the Notifications page through any access point I see the following error:

[code]

**To Reproduce**
Unknown

**Expected behavior**
No error

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser: Brave
 - Base hash of your urbit ship: `tdo1o`

[2020-11-13 17:01] vvisigoth commented on #3923
thanks @tylershuster

[2020-11-13 17:02] vvisigoth commented on #3929
I've seen this but now can't repro @liam-fitzgerald what should we do if we see this in the wild to at least isolate if it's on front end or back end.

[2020-11-13 17:03] vvisigoth commented on #3924
thanks @tylershuster

[2020-11-13 22:29] urcades opened #3939 "Groups: If you leave a group without unsubscribing from channels, channels don't seem to work upon rejoin"
When one leaves a group without unsubscribing from any of the contained channels, and decides to rejoin the group — it appears that channels are already subscribed to, yet do not seem to work correctly unless one unsubscribes, then resubscribes again.

There are two issues here:

1. There's an implication that channels are automatically subscribed to when rejoining a group — for a variety of reaso

[2020-11-14 17:20] botter-nidnul opened #3932 "OTA applied to a ship running boot pill hash produces unexpected %kids and %home hashes"
OTAs, when being applied to a ship running a boot pill hash, create %kids and %home desks with unexpected, novel hashes.

After booting a comet `+trouble` said:
[code]

After `|ota ~marzod %kids` was run and the latest OTA was downloaded and applied `+trouble` tells me this:

[code]

Here is output as the OTA merged and applied:
[code]

[2020-11-16 16:53] matildepark commented on #3925
I actually initially wrote it so that *all* invites of all types would go to notifications and then I decided to only do groups. Why? Uh, I don't know. So I can just restore that.

[2020-11-16 16:57] tylershuster opened #3938 "dev: Invites not appearing on dev server"
See below: On ~fyr, I've invited ~pem to a group (New Group [Test Fyr Group is old]). The invite shows on regular Landscape. It doesn't show on the dev server proxied version of landscape.

<img width="1783" alt="image" src="https://user-images.githubusercontent.com/3999320/99283271-a2f8a700-27e9-11eb-9fb5-e45824992c28.png">

[2020-11-16 16:58] matildepark commented on #3926
I encountered this doing tests on ~dabben-larbet and it's super annoying. Say ~haddef breached. Not only would that DM not clean up, but if I made a fresh one, or *if either of us make a fresh one*, the UX is just permanently broken. It'll dig up the chatlog from the first version but the other party won't get any messages.

This behaviour is because chat-hook doesn't delete resources ever, full s

[2020-11-16 17:03] matildepark commented on #3931
Any guess at the type of notification? I patched this for Chat, but I wasn't aware any other notification type even embedded content. It's possible it was a link in a collection.

[2020-11-16 17:07] matildepark commented on #3929
I can reproduce this often; I fix it by archiving all the notifications I can see, then refresh and come back and there's my new notification. I think #3935 fixes this though.

[2020-11-16 17:21] matildepark commented on #3939
This is a livenet bug, not a feature request and it goes in urbit/urbit.

@tacryt-socryp I believe this is just the metadata-store modernisation work?

[2020-11-16 17:30] matildepark commented on #3938
:8080 looks kinda old there — invite-store was rewritten recently (#3721), which could cause this.

[2020-11-16 17:30] tylershuster commented on #3938
Uh, so I need to boot from an updated pill?

[2020-11-16 17:31] matildepark commented on #3938
You could try booting with bin/solid.pill instead of the default one and see if this persists?

—
~haddef-sigwen
https://urbit.org

[2020-11-16 17:37] #3938 closed

[2020-11-16 18:12] tylershuster commented on #3923
This is only for chats, has to do with how resource URLs are constructed

[2020-11-16 19:27] tylershuster commented on #3923
@vvisigoth can you confirm this happens with collections and notebooks? Can't reproduce with them

[2020-11-16 19:45] philipcmonk commented on #3932
Very strange.  Can you merge ~marzod's `%kids` into a new `%scratch` desk, mount both that and home and then run in unix `diff -ruq pier/home pier/scratch`?  I wonder if there's some file we include in pills that's not in the OTA, and that used to get clobbered by the implicit initial `%that`, but now since it's a `%take-that` it doesn't.

[2020-11-16 20:58] botter-nidnul commented on #3932
[code]

[2020-11-16 21:16] philipcmonk commented on #3932
Looks like it's probably that.  None of those files are important, I think they were just removed in a later OTA.  The old behavior of clobbering your home desk on initial update avoided this, but it also meant if you made a change to home (eg publish a note) before getting your first update, it would get clobbered, which I think is worse.

I think the right solution is for boot pills to have a un

[2020-11-16 21:22] matildepark commented on #3932
Sorry about that — have been pruning stuff we no longer use as we go.

—
~haddef-sigwen
https://urbit.org

[2020-11-16 21:29] philipcmonk commented on #3932
It'll delete them properly for anyone who was already synced, it's just on initial sync.  For anyone that has this issue, you can always use the exact upstream by running `|merge %kids ~marzod %kids, =gem %only-that` and `|merge %home our %kids`

[2020-11-17 05:34] mike-cr commented on #3929
I tried archiving everything and now it crashes:

[code]

[2020-11-17 05:35] matildepark commented on #3929
Hmm. Another reproduction of the issue @urcades was facing ...

[2020-11-17 05:37] mike-cr commented on #3929
I had previously done :metadata-store [%cleanup ...] to get rid of some groups that hadn't been deleted properly, maybe it's related

[2020-11-17 05:37] matildepark commented on #3929
Ooo this is good info

[2020-11-17 16:10] Fang- commented on #3831
#3799 has since gone out to the network. @philipcmonk can you still reproduce?

[2020-11-17 16:29] #3822 closed

[2020-11-17 16:33] vvisigoth commented on #3929
big if true
—
~poldec-tonteg
http://urbit.org

On Mon, Nov 16, 2020 at 11:37 PM matildepark <notifications@github.com>
wrote:

[2020-11-17 21:37] jalehman opened #3945 "hark: notebook comment resulted in many notifications"
**Describe the bug**

<img width="708" alt="Screen Shot 2020-11-17 at 12 54 33 PM" src="https://user-images.githubusercontent.com/550978/99452664-d6265d80-28f1-11eb-8fe3-2ab8049ce560.png">

14 notifications were produced upon *supposed* submission of a comment. When I clicked one to go to the notebook there was no comment visible on the post.

Curiously, clicking these notifications is behaving as

[2020-11-17 22:40] matildepark commented on #3945
This is fixed by https://github.com/urbit/urbit/pull/3944.

[2020-11-17 22:42] matildepark opened #3946 "hark: new direct messages do not have notifications enabled"
We enabled notifications for existing DMs, but new DMs are muted.

[2020-11-17 23:17] jalehman commented on #3945
Dope.

[2020-11-17 23:17] #3945 closed

[2020-11-18 01:21] matildepark commented on #3926
Talked with @liam-fitzgerald in 1:1 for upcoming graph-store migration. I suggested:

- When migrating chats to graph-store, if there was nobody in the chat, migrate it as an archived graph;
- Facilitate some basic delineation of archived content in the sidebar;
- Add a catch in our "create or redirect to the DM" logic to check for `archived: false`

[2020-11-18 01:22] matildepark commented on #3926
I guess, additionally, we'll want to have left or deleted chats be thrown into that archive story as well.

[2020-11-18 01:58] liam-fitzgerald opened #3949 "graph-pull-hook: kick before receive causes killed subscription"
If the subscription to the host of a newly-joined graph is kicked before it can receive the initial update, then scrying for the update-log will fail, killing the subscription to the host.

cc: @tacryt-socryp

[2020-11-18 02:15] philipcmonk commented on #3831
Haven't seen this in a little while

[2020-11-18 02:15] #3831 closed

[2020-11-18 06:33] #3600 closed

[2020-11-18 07:43] timlucmiptev opened #3952 "OTA 1.0.71 Fails"
**Describe the bug**
OTA compiles kernel, then fails with:
[code]
**System (please supply the following information, if relevant):**
 - OS: Ubuntu 18.04
 - Urbit 1.0.70
 - hash: `tdolo`

[2020-11-18 07:59] joemfb commented on #3952
I ran into this, as did @philipcmonk. It looks like it was a latent issue caused by the publish migration (#3473). The `%publish-info` mark was "tombstoned", but files of that mark remained in %clay.

The file is obsolete as far as `:publish` is concerned, so you can just delete it:

[code]

And then manually trigger the merge:

[code]

Those steps worked for me, anyway. If you were hosting multip

[2020-11-18 08:13] jfranklin9000 commented on #3952
Same problem.  @joemfb's solution worked for me.

[2020-11-18 08:25] mike-cr commented on #3929
it seems there's a chat channel from a group I left that's still listed in chat-cli chats. :metadata-store [%cleanup ...] hasn't gotten rid of it and ;leave in chat-cli also does nothing. Is there a command that can properly purge this channel? I wonder whether it's this channel that's breaking notifications

[2020-11-18 10:40] timlucmiptev commented on #3952
Worked like a charm; I'll close this.

[2020-11-18 10:40] #3952 closed

[2020-11-18 16:12] matildepark commented on #3952
I personally handled this with a force merge, and if you have no third party applications, it should be just as fine.

[code]

[2020-11-18 18:12] matildepark commented on #3929
`:metadata-store [%cleanup` would actually cause the crash because it purges the metadata for the channel; but chat channels aren't opted-in by default to notifications unless they're DMs? Depending on the heuristic we used to identify DMs ...

[2020-11-18 18:36] matildepark commented on #3949
Apparently part of #3927.

[2020-11-18 19:46] chc4 commented on #3928
Update: It's now dying with
[code]
instead :(. The pointer it's crashing on is different each time, too, but I'm not sure if that rules out memory corruption in the memory checkpoint or not. I assume I should just replay my event log from scratch? @Fang-

[2020-11-18 19:49] joemfb commented on #3928
That's definitely an actual segfault -- do you have a core dump, and can you get a backtrace out of it?

[2020-11-18 19:55] sigilante commented on #3931
Probably links, yeah, I've been doing a lot with those lately.

[2020-11-18 20:00] chc4 commented on #3928
Ran it again and got a coredump, but the crash was just from
[code]
instead. If you're still interested, I can email it to you - where should I send it? Otherwise I can run again and get another `address x out of loom` for you, just don't want to be doing memory-corrupty-things if I don't have to.

[2020-11-18 20:04] joemfb commented on #3928
That's not a notable result (OOM in the allocator), but if you get another segfault you could send the core to joe [at] tlon.io. Are you running v0.10.8?

[2020-11-18 20:20] chc4 commented on #3928
I'm running `urbit-v0.10.9-rc1-x86_64-linux` (what Fang linked earlier in the thread).

[2020-11-18 20:24] matildepark commented on #3931
This should be fixed with #3941, going out tonight

[2020-11-18 20:25] chc4 commented on #3928
Ok, I can't get another segfault, it's just meme'ing. I ran `|meld` again and it just meme'd again right after, so just going to try event log replay it looks like.

[2020-11-18 21:19] minderfolden opened #3953 "Bifurcated Base Hash"
**Describe the bug**
I have double base hashes after trying a variety of merge strategies to get my OTA to land properly. My landscape's hash still indicates tdo1o.

**Expected behaviour**
A clean OTA as per usual.

**Screenshots**
[code]

**System (please supply the following information, if relevant):**
 - OS: Raspbian
 - Vere and Urbit OS versions running ~botter's binaries for raspberry pi
 -

[2020-11-18 21:21] JohnELester commented on #3953
![download (1)](https://user-images.githubusercontent.com/25461543/99589481-0a655100-29ba-11eb-9837-be836c33d77e.jpg)

[2020-11-18 21:23] custom-jonathan opened #3954 "Duplicate Ships In Invite Search Results"
**Describe the bug**
Every time I go to invite someone to my group, I see two ships of the exact same name in the search results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to group
2. Click on add people.
3. Paste in their ship name
4. See duplicated results.

**Expected behavior**
A single result of the correct name.

**Screenshots**
![image](https://user-images.githubusercontent.c

[2020-11-18 21:24] JohnELester commented on #3953
![snek](https://user-images.githubusercontent.com/25461543/99589839-8790c600-29ba-11eb-9f9f-75e1aecfbd4e.png)

[2020-11-18 21:25] matildepark commented on #3954
Duplicate of urbit/landscape#144, which really should be here as this is a livenet issue, so this one takes precedence.

[2020-11-18 21:55] tylershuster commented on #3954
I fixed this before, I can take it again

[2020-11-18 21:57] matildepark commented on #3954
In the **next few hours**?

`Accept`

`Decline`

[2020-11-18 21:59] tylershuster commented on #3954
`Challenge Accepted`

[2020-11-18 22:00] custom-jonathan commented on #3954
🎉

[2020-11-18 22:31] JohnELester opened #3957 "A Group Participant who is promoted to Admin has no option to leave the Group."
**Describe the bug**
A Group Participant who is promoted to Admin will no longer be given the option to leave the group.

**To Reproduce**
Steps to reproduce the behavior:
1. As a default Participant in a Group, you see the option to Leave the group on the Group Settings Page.
![leave group](https://user-images.githubusercontent.com/25461543/99595398-a72bec80-29c2-11eb-8ec5-c31af08db68b.png)

2. T

[2020-11-19 00:23] Sneagan commented on #3953
I have the same base hash issue, though my Landscape shows the correct `tqdqb` value.

[code]

OS: Ubuntu 16.04

[2020-11-19 03:50] #3925 closed

[2020-11-19 03:50] #3931 closed

[2020-11-19 03:50] #3875 closed

[2020-11-19 03:50] #3946 closed

[2020-11-19 03:50] #3954 closed

[2020-11-19 03:50] #3845 closed

[2020-11-19 04:23] mike-cr commented on #3929
hmmm the reason I ran `:metadata-store [%cleanup` was because when I left the group normally the disengrouped chat channel started showing up under DMs/drafts, so maybe it got subscribed to notifications when that happened

[2020-11-19 04:31] mike-cr commented on #3929
oh nice the new OTA seems to have fixed the problem somehow

[2020-11-19 04:31] #3929 closed

[2020-11-19 04:44] jhlkek opened #3961 "Can't open "DMs and Drafts": “Cannot read property 'lastUpdated' of undefined”"
In Landscape, when I try to open the "DMs and Drafts" tile, I get this message:

This happens with both Brave and Firefox on Linux. It's been going on for a week or two. Current base-hash is l77ub, glob-hash 3h881.

[2020-11-19 05:42] matildepark commented on #3846
Fixed in #3927.

[2020-11-19 05:42] #3846 closed

[2020-11-19 05:42] matildepark commented on #3961
Fixed in #3963.

[2020-11-19 05:42] #3961 closed

[2020-11-19 05:43] matildepark commented on #3924
Fixed in #3935.

[2020-11-19 05:43] #3924 closed

[2020-11-19 05:43] matildepark commented on #3920
Fixed in #3935.

[2020-11-19 05:43] #3920 closed

[2020-11-19 05:44] matildepark commented on #3777
Fixed in #3891.

[2020-11-19 05:44] #3777 closed

[2020-11-19 05:45] matildepark commented on #3800
Fixed in #3810.

[2020-11-19 05:45] #3800 closed

[2020-11-19 05:46] matildepark commented on #3662
No new post button.
<img width="542" alt="image" src="https://user-images.githubusercontent.com/20846414/99626654-ad40be00-2a00-11eb-897a-71f342173728.png">

[2020-11-19 05:46] #3662 closed

[2020-11-19 05:47] matildepark commented on #2501
With graph-store + hark unread counts are now opt-in and exclude archived content.

[2020-11-19 05:47] #2501 closed

[2020-11-19 05:48] #3827 closed

[2020-11-19 05:49] matildepark commented on #3949
Fixed in #3927 (@liam-fitzgerald might want to confirm, I'm unsure how to replicate).

[2020-11-19 05:49] #3949 closed

[2020-11-19 05:55] matildepark commented on #3447
Still at large. After deleting the group the notebook exists in the home workspace but redirects to the (now deleted) group workspace. Should just display the notebook archived.

<img width="1407" alt="image" src="https://user-images.githubusercontent.com/20846414/99627201-ceee7500-2a01-11eb-885e-54a45120a416.png">

[2020-11-19 05:55] liam-fitzgerald commented on #3949
fixed!

[2020-11-19 05:57] matildepark commented on #3191
I think as of `%take-that` being the default strategy this can be closed.

[2020-11-19 05:57] #3191 closed

[2020-11-19 13:45] Sneagan commented on #3953
One of the subsequent OTAs resolved this to a single value, but still in brackets:

`[ [%base-hash ~[0v7.t16i9.avhp4.pflq0.1c79d.rplo0.ho0i2.9ovj1.kddvj.e1snn.0kb4n]]`

[2020-11-19 13:53] JohnELester opened #3965 "When a Group Participant leaves a group, they are asked if they want to delete the Group."
**Describe the bug**
When a Group Participant click on the Leave button in the Group Settings page, they are asked if they want to delete the Group.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Group Settings page
2. Click on Leave button
3. Popup appears asking for confirmation to delete the group.

**Expected behavior**
Leaving a Group should trigger a confirmation to leave the Gr

[2020-11-19 14:15] custom-jonathan commented on #3953
I have the double bracket thing, and my kids hash is out of date. How does that happen?

[code]

[2020-11-19 14:16] JohnELester commented on #3965
And NO, I did not click OK to test it further. The idea of potentially deleting the U-C group made me pause, even if the chances were slim to none.

[2020-11-19 15:04] tylershuster commented on #3965
It wouldn't have deleted it, but I've had the same pause. And I tried! I can take this issue, as my code obviously didn't account for something here.

[2020-11-19 16:11] matildepark opened #3966 "links: comments are broken"
via @vvisigoth.

(We literally tested this last night? Apparently “music” doesn’t?)

(Possibly the host ship choked on older OTA and has the older collection format.)

[2020-11-19 16:42] matildepark commented on #3966
`|merge %home ~samzod %kids, =gem %only-that` simple as

[2020-11-19 16:42] vvisigoth commented on #3966
BTW it looks like others work, so your'e right it's probably just ~bitpyx. I wonder if it's safe to run an %only-that on this?

[2020-11-19 16:42] #3966 closed

[2020-11-19 17:17] wbobeirne commented on #1268
I'd really like to see a way to control this as well, it's very standard for most web server applications. I do a lot of development on my machine, and a lot of my projects also default to 8080, which means I don't really have a deterministic expectations for which port urbit or my projects will be running on. The only thing I've been able to think of to work around this is to run urbit in a docke

[2020-11-19 17:32] tacryt-socryp commented on #3966
Beautiful, thank you my frens

[2020-11-19 18:50] matildepark opened #3967 "hark: author mismatches in notifications"
Via Nick:

This precedes the latest OTAs last night, so unsure if still an issue.

[2020-11-19 18:50] matildepark opened #3968 "groups: cannot leave groups whose owner breached"
Via Nick:

[2020-11-19 18:51] matildepark opened #3969 "landscape: graph resources in sidebar don't get timestamp of latest notification"
via @vvisigoth.

I referred to this in #3935, so `lastUpdated` works with graph resources. Should work now that we can get notifications by index.

[2020-11-19 19:19] matildepark opened #3970 "ota: failing after tdo1o"
~dabben-larbet can't process the latest OTA, even when using `%only-that`. Likely to do with the comment revisioning work.

[code]

[2020-11-19 22:22] matildepark opened #3971 "hark, publish, links: comment and notifications mismatch"
Issues at multiple levels here.

1. I see multiple copies of content ... from the wrong author. I think they're comments, but they're displayed as notes.

<img width="733" alt="Screenshot 2020-11-19 at 5 17 31 PM" src="https://user-images.githubusercontent.com/20846414/99731095-68ae3480-2a8b-11eb-8e64-29f258b463f4.png">

2. There actually aren't any comments (unless they got deleted, but I don't k

[2020-11-20 00:12] patosullivan opened #3975 "New planet shows "eyre: failed tube from hark-update to json""
**Describe the bug**
I have a ship I've spun up in just the past few days. Seemingly after today's OTA update it has started printing this output to the terminal over and over:

`eyre: failed tube from hark-update to json`

It also pegs CPU usage at 100%.

If I hit `ctrl-c` this goes away and CPU usage goes back to normal, but the following is printed to the console:

[code]

**System (please supp

[2020-11-20 00:20] Fang- opened #3976 "graph-pull-hook crash, closing subscription"
Noticed this in my console backlog:

[code]

Apparently it crashed trying to do a scry? Not sure why this happened all of a sudden, that notebook wasn't even seeing any activity. It says `closing subscription`, so I worry it got into a bad state, even though Landscape is still showing it as normal.

[2020-11-20 00:42] matildepark opened #3977 "hark: dot persists if notification is auto-dismissed by being in the resource"
Replication —

1. See notification for a DM or something. It's the only notification.
2. Click the notification. Dot disappears.
3. The person sends another DM while you're in the chat itself. Dot appears.
4. Go to notifications — no actual unread notification is apparent.

[2020-11-20 00:43] matildepark commented on #3977
Refresh — and no dot! So this is a reducer issue maybe?

[2020-11-20 01:27] matildepark commented on #3857
tagging @tacryt-socryp for potential FE work to hide metadata for channels we never had (or any association with %sane work in #3416)

[2020-11-20 01:28] matildepark commented on #2634
Replacement in @tylershuster's #3814.

[2020-11-20 02:01] setenforce0 commented on #3733
I can confirm this issue on Chrome 86.0.4240.185 on Android 10. Took a video of it happening as well. http://0x0.st/i5UJ.mp4

This happens upon scrolling down a short amount.

[2020-11-20 14:27] brendes commented on #3733
Seeing this on Firefox 82.0.2 on macOS Catalina FWIW.

[2020-11-20 15:00] Sneagan commented on #3975
I have the same thing on a new planet spun up in the last couple of days. Here's my own `+trouble` output:

[code]

[2020-11-20 15:34] jalehman commented on #3928
I've run into the same issues. Here's what I saw:

First this:
<img width="1205" alt="Screen Shot 2020-11-18 at 7 33 54 PM" src="https://user-images.githubusercontent.com/550978/99817803-609dd580-2b1b-11eb-8e29-2a1930cd7913.png">

After rebooting and waiting, I get this:
<img width="605" alt="Screen Shot 2020-11-18 at 7 39 17 PM" src="https://user-images.githubusercontent.com/550978/99817834-6f848

[2020-11-20 16:06] vvisigoth commented on #3977
Can cosign that it clears on refresh. Some reducer jank.

[2020-11-20 16:09] vvisigoth commented on #3975
@philipcmonk @Fang- can you take a look at this?

[2020-11-20 16:13] jessewh opened #3982 "WSL2 loom: clear timer failed (Comet / dev ship)"
**Describe the bug**
On booting either a comet or fake ship it seems to boot comfortably to the point where the dojo and chat work and I can see the ship and enter the code on localhost:8080. But continuously get the output below and landscape stops after entering the code (screen just remains blank white).

**To Reproduce**
Steps to reproduce the behaviour:
1. Boot comet or fake ship

**Expected

[2020-11-20 16:31] belisarius222 opened #3983 "group notifications persist until refresh"
**Describe the bug**

Even after visiting the channels in question and manually clearing notifications from the inbox page, groups still show the same (nonzero) number of notifications.  This appears to affect all groups.  Reloading the page fixes it.

**Desktop (please complete the following information):**
 - OS: MacOS 10.13.6
 - Browser: chrome
 - Base hash of your urbit ship: kb4n

[2020-11-20 16:32] tacryt-socryp commented on #3857
Going to hit this now by implementing a thread in `observe-hook`

[2020-11-20 18:58] Fang- commented on #3975
The message here just means Eyre attempted and failed to convert a hark-update to json. The CPU usage probably comes from it trying this very often, for many updates/notifications. Ctrl-C-ing interrupts the attempts, but refreshing landscape opens a new subscriptions, sending this info all over again.

Unclear why this would crash though. The mark itself just calls out to the library:

https://git

[2020-11-20 19:13] tylershuster commented on #3839
This can't be fixed by us. It's an artifact of how browsers (Safari, mostly) render SVG masks. I tried a few approaches which would have fixed it if it were one or another element being slightly smaller and causing a gap, etc to no avail. The only fix for this (to disable anti-aliasing) causes more problems than it fixes.

[2020-11-20 19:13] #3839 closed

[2020-11-20 19:50] joemfb commented on #3928
`bail:meme` can be a transient error, if computing some event pushes you to the memory threshold, but doesn't affect persistent state. `bail:meme` is always treated as a fatal error for a bunch of contingent implementation reasons that need to be fixed, to cover this scenario.

If `bail:meme` happens repeatedly, or on restart, the only solution is `|pack` or `|meld` (either in dojo, or directly th

[2020-11-20 19:57] custom-jonathan opened #3987 "Posted messages going into middle of timeline & persistent posting indicators"
**Describe the bug**
When I hit enter to post a message, the grey text will be placed somewhere in the middle of the stream. Sometimes the gray text persists even after they have clearly come through.

**Expected behavior**
Post, it's gray at the bottom until it turns white as the next message at the bottom of the stream.

**Screenshots**
![image](https://user-images.githubusercontent.com/51895363

[2020-11-20 20:03] philipcmonk commented on #1268
The upcoming "King Haskell" release has this feature.  Some people use it already, but its official release has slipped several times, unfortunately.

[2020-11-20 20:04] tylershuster commented on #3987
This will be fixed upon chat's migration to graph-store (or shortly thereafter)

Basically, the "order" property of the message is not validated, and so while the host of the message may have one order, your client may have another. It results in glitches like this. It's really annoying.

[2020-11-20 20:35] custom-jonathan commented on #3987
Thanks!

[2020-11-20 21:05] ohAitch opened #3988 "Chat flickers on mixed-content embed"
**Describe the bug**
![2020-11-20 13 53 01](https://user-images.githubusercontent.com/1857414/99848938-e6c81500-2b37-11eb-92f6-730d0d05f31b.gif)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Development' channel of 'Urbit Community'
3. Scroll back to `03:50 pm ~2020.11.19` (MST)
4. See error

**Expected behavior**
"Not this"? Any chat messages on-screen should be rendered on said sc

[2020-11-20 21:29] tacryt-socryp commented on #3970
This is quite unpleasant. I removed the initially offending publish comments from the filesystem, and now it's crashing via some other part of the filesystem. Still debugging.

[2020-11-20 21:34] vvisigoth commented on #3970
Is there a way you can debug this with -L or similar? There's lots of stuff
on this ship that would be a PITA to lose.
—
~poldec-tonteg
http://urbit.org

On Fri, Nov 20, 2020 at 3:30 PM L <notifications@github.com> wrote:

[2020-11-20 21:36] tacryt-socryp commented on #3970
I'm very confused by this bug, particularly the spider stacktrace. I'm not seeing anything of note in this trace that seems related to the graph-validator work other than the single wire... I'm wondering whether it's actually due to spider storing vases that have cards in them that had a type upgrade of the card or something similar... Is anyone available to pair on this? I don't know where to go

[2020-11-20 21:42] joemfb commented on #3970
Assuming this is the version, that's a missing thread:

https://github.com/urbit/urbit/blob/a9d6811299fc520e4f46f4abdc626de536261a75/pkg/arvo/app/spider.hoon#L395

[2020-11-20 21:47] tacryt-socryp commented on #3970
Interesting. I've gotten some more info from running it with |verb. It hits a %goof

[code]

[2020-11-20 21:51] tacryt-socryp commented on #3970
It appears that the stop-thread is being invoked here: https://github.com/urbit/urbit/blob/a9d6811299fc520e4f46f4abdc626de536261a75/pkg/arvo/app/spider.hoon#L169

[2020-11-20 22:06] jalehman commented on #3928
I had tried running the `|meld` generator from within the ship and ran into the hash_cons allocation issue. Running it from `urbit-worker` (with `./urbit-worker meld <pier>`) had no such trouble.

It looks like the `meld` cleared up the issue. The star has been back online for the past couple of hours—I'll let you know if dies for concerning reasons again. Thanks a ton for the help!

[2020-11-20 22:37] tacryt-socryp commented on #3970
We should push out #3990 as a hotfix: https://github.com/urbit/urbit/pull/3990

[2020-11-20 22:39] philipcmonk commented on #3970
Spider doesn't store any vases or cards.  On upgrade it just kills all threads.

I'd like to know what thread has someone disappeared from `tid.state` while still hanging around in `running.any` or `starting.any`.

[2020-11-20 23:07] philipcmonk commented on #3970
Pretty sure `running` and `starting` are backward in +on-load.  You want to kill the `starting` threads before the `running` ones because they might be children of the `running` ones.  I can't see how that could cause this issue, though.

[2020-11-21 06:58] mike-cr opened #3992 ""Drop a file to upload" strange behaviour"
**Describe the bug**
If you highlight text in a chat channel then drag & drop it, the "drop a file to upload" overlay sometimes gets stuck and it's difficult to get rid of. It happens if you drop it somewhere it thinks is invalid where the cursor says no. It seems the invalid locations are related to the content beneath the overlay.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chat

[2020-11-21 07:02] mike-cr commented on #3992
this problem crops up semi-regularly cos I tend to mindlessly highlight text as I'm reading a page (idk why) and I'll unintentionally drag & drop it

[2020-11-21 07:14] mike-cr commented on #3992
ok I installed chromium and it doesn't have the problem either, so this is just qutebrowser being weird I guess. It actually seems like qutebrowser changes the cursor to invalid when it's moving rather than being related to the chat content -- it seems not to be able to drop while in motion. Dunno if this is something you guys can fix

[2020-11-21 14:14] timlucmiptev commented on #3983
Exactly the same issue here, same browser and hash. Consistently reproducible.

[2020-11-21 15:05] tylershuster commented on #3992
Yeah, this is possible to fix — probably don't need to worry about handling drag-and-drops when the user drags in text.

[2020-11-21 15:16] mike-cr opened #3993 "When I leave a group, the channels appear in DMs/Drafts"
**Describe the bug**
When I leave a group, some of the channels appear under DMs/Drafts

**To Reproduce**
Not sure

**Expected behavior**
Channels should go along with group

**Desktop (please complete the following information):**
 - OS: Arch linux
 - Browser : qutebrowser
 - Base hash: 0kb4n

**Additional context**
:metadata-store [%cleanup ...] gets rid of them

[2020-11-21 16:13] ryjm commented on #3976
Also seeing this with a couple notebooks.

[code]

[2020-11-21 16:58] tylershuster commented on #3993
Dupe of https://github.com/urbit/urbit/issues/3857

[2020-11-22 00:28] galenwp opened #3996 "Creating a Collection with an existing name errors"
**Describe the bug**
When I create a new collection, in a new group, with the same name as a collection in another group, I get:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a group, create a collection in it called 'Collection'
2. Create another group, create a collection in it called 'Collection'
3. There you go

**Expected behavior**
To be able to re use names in differe

[2020-11-22 01:25] tacryt-socryp commented on #3996
Sounds like we should add back the frontend logic around appending random numbers to the end of the resource ID. Must have gotten removed somehow during our rewrites.

[2020-11-22 01:37] tylershuster commented on #3996
Honestly I hate the automatic random numbering. Can we check to see if an unnumbered collection exists first?

[2020-11-22 22:48] DawnPaladin opened #3999 "Can't open notebooks"
**Describe the bug**
I just breached and re-downloaded Urbit. When I click a notebook, I get an endless loading indicator.

No warning messages appear in my browser console. When I open the developer tools and go to the Network tab, I see that clicking the notebook doesn't even cause Firefox to send a network request.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up new Urbit planet
2.

[2020-11-22 22:51] DawnPaladin commented on #3999
That base hash looks weird to me, so here's the full contents of my +trouble:

[code]

[2020-11-23 00:20] patosullivan commented on #3975
Having the problem reoccur every time I refresh the landscape is becoming an issue. I'm guessing the only way to fix it might be breaching and starting over? If there's anything else I should try, let me know.

[2020-11-23 03:44] liam-fitzgerald commented on #3975
I can't find @Sneagan 's bash hash anywhere in recent files, so maybe need to force an update? @patosullivan could I get you to confirm that running `-build-file %/mar/hark/update/hoon` does not print a stack trace?

[2020-11-23 04:01] patosullivan commented on #3975
@liam-fitzgerald it does print this:

[code]

[2020-11-23 04:04] patosullivan commented on #3975
Sorry,  ran that command from the terminal within the web app on my phone, looks like the formatting didn't come along when I pasted it. I'll run the command again on a real terminal tomorrow.

[2020-11-23 04:16] liam-fitzgerald commented on #3975
@patosullivan could you try running `:goad %force` and see if that fixes it? Failing that, could you run the following and post the output of the last two? It might contain some personal stuff, feel free to redact anything you don't want publically. Alternatively, you could just email it to me  ( liam.fitzgerald@tlon.io )
`=hark -build-file %/lib/hark/store/hoon`
`.^(update:hark %gx /(scot %p our)

[2020-11-23 04:24] botter-nidnul commented on #3982
This is an error seen in WSL1, not WSL2.

Even after upgrading Windows to a version with WSL2, if you had a pre-existing distro installed it won't be upgraded to WSL2 automatically, and new distros installed after the upgrade might still default to WSL1 without running a command to change the default version.

To fix this, run the following in a Windows console:
`wsl --list --verbose` to discover

[2020-11-23 11:51] jessewh commented on #3982
Thanks! This worked perfect. Closing issue.

[2020-11-23 11:51] #3982 closed

[2020-11-23 13:13] patosullivan commented on #3975
`:goad %force` did it, thanks! Would you mind explaining what that command does?

[2020-11-23 15:55] gilletteonmeheleparim commented on #3906
error gone after I upgraded my Brave browser. I guess I hadn't updated it since 2019 version where Array.prototype.flat() wasn't supported yet
guess can be closed

[2020-11-23 15:55] #3906 closed

[2020-11-23 16:22] matildepark commented on #3988
@tylershuster looks like some sort of threshold is being crossed and uncrossed in loading / unloading content?

[2020-11-23 16:24] tylershuster commented on #3988
Yes, to expand I would guess that this has something to do with cached height values in the virtual scroller, where the loaded content reflows the layout beyond its expected size.

[2020-11-23 16:27] matildepark commented on #3983
Duplicate of #3977. (I suspect just one line is missing from a reducer for when we're in a room where it's partially dismissing but not decrementing the number of unreads.)

[2020-11-23 16:27] #3983 closed

[2020-11-23 16:27] #3993 closed

[2020-11-23 16:30] matildepark commented on #3996
Why does it matter? Nothing uses paths externally anymore but groups.

[2020-11-23 17:23] vvisigoth commented on #3977
What's the ETA on a fix here? Having a binary indicator that is always stuck in "On" is a pain.

[2020-11-23 17:24] matildepark commented on #3977
I’m gonna look at it today and try to ship it with whatever we ship this week.

—
~haddef-sigwen
https://urbit.org

[2020-11-23 17:26] matildepark commented on #3999
This is the boot pill for 1.0.67; which predates some changes to comments in graph-store resources, which would cause a fail to join. You’ll want to force an ota — try `|ota ~binzod %kids` if ~fiprun is falling behind…

—
~haddef-sigwen
https://urbit.org

[2020-11-23 17:29] galenwp opened #4001 "Inviting when a Link collection is open throws an error"
**Describe the bug**
With a link collection open, if I try to invite someone, I get a stack trace

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a link collection
2. Click on the invite icon
3. See error

[code]

**Expected behavior**
The invite box

**Screenshots**
<img width="1097" alt="Screen Shot 2020-11-23 at 9 27 42 AM" src="https://user-images.githubusercontent.com/1467211/9999

[2020-11-23 17:54] galenwp opened #4002 "Notifications dot when there are no notifications"
**Describe the bug**
I often see the notifications dot when there aren't actually any unread notifications.

**To Reproduce**
I can't figure out a completely reliable reproduction for this. It *seems* like what happens is that it always works after a refresh. Notifications are cleared when read, the tile indicators are correct.

Then, at some point, the dot stops going away and the tile indicators

[2020-11-23 17:55] matildepark commented on #4002
Duplicate of #3977.

[2020-11-23 17:55] #4002 closed

[2020-11-23 21:57] Fang- commented on #3992
It's possible for me to reproduce in Firefox by pressing escape to cancel the drag. The cursor lets go of whatever I was dragging, but the overlay remains. I'm forced to navigate to the homescreen to dismiss it.

[2020-11-23 23:20] matildepark opened #4003 "hark: note revisions notify as if new notes"
<img width="889" alt="image" src="https://user-images.githubusercontent.com/20846414/100026260-7845ba00-2db8-11eb-8204-6ef0377bb670.png">
<img width="353" alt="image" src="https://user-images.githubusercontent.com/20846414/100026276-7da30480-2db8-11eb-8bef-4bfdfba1d79b.png">

[2020-11-23 23:20] belisarius222 commented on #1268
It would be great to remove all unnecessary privileges from the Urbit daemon and worker processes.  Pull requests welcome :)

[2020-11-23 23:21] matildepark commented on #3976
I was noticing an issue where I added a note to a notebook but it never propagated to my ship until I left and rejoin. Wondering if this is that.

[2020-11-24 00:08] liam-fitzgerald opened #4004 "eyre: cannot access Last-Event-ID parameter in eventsource"
We can't send custom headers on EventSource requests in the browser, so we can't use the channel resume functionality. We could ideally send this as a query parameter or something like that, so we can actually resume these.

[2020-11-24 00:22] Fang- commented on #4004
Relevant reading is https://github.com/whatwg/html/issues/2177#issuecomment-332071504 (and the rest of that thread). tldr "needs implementer interest" but browser vendors think they have better things to do. Recommended solution that doesn't modify the server-side is to use `fetch()`-based event streaming.

Worth looking into, I'd avoid doing non-standard things on the Eyre side if we can help it.

[2020-11-24 01:02] matildepark commented on #3970
As an ops issue, this is solved; the broader issue is still at large. Will refile.

[2020-11-24 01:02] #3970 closed

[2020-11-24 01:02] tylershuster commented on #4004
In my TS lib I've accessed `event.lastEventId` without problem. Is this something else?

[2020-11-24 01:03] ohAitch commented on #4004
I think this is access *for writing* when resuming connections. Which in theory the browser is supposed to do for you?

[2020-11-24 01:06] matildepark opened #4005 "spider: running thread not in process tree"
Issue was flagged in #3970 investigation.

As per https://github.com/urbit/urbit/pull/3990#issuecomment-731459098:

[2020-11-24 01:21] matildepark commented on #4001
This is fixed in https://github.com/urbit/urbit/pull/3995.

[2020-11-24 01:58] matildepark commented on #3977
This seems like a back-end issue actually! We aren't sending the front-end `read` updates from the back-end when we send `read-index` over the API (as Chat does each message). @liam-fitzgerald

[2020-11-24 02:11] liam-fitzgerald commented on #4004
Yeah it's for resuming interrupted eventsources, instead of having to restart all subscriptions

[2020-11-24 12:40] galenwp opened #4007 "File upload doesn't allow audio"
**Describe the bug**
Uploading a `.wav` fails on a link

**To Reproduce**
Steps to reproduce the behavior:
1. Connect S3
2. Try uploading a .wav file to a link collection
3. Nothing happens

**Expected behavior**
The .wav being uploaded and linked to.

[2020-11-24 13:08] galenwp opened #4008 "Publish doesn't have a loading state"
**Describe the bug**
When I open a publish notebook, even one of my own, there's a moment where I'm not sure if it's loading or the contents have disappeared.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a notebook
2. Feel uncertain for a moment as the screen is blank
3. See it load

**Expected behavior**
Some visual indication that it's loading.

[2020-11-24 15:06] vvisigoth commented on #4007
What is console error?
—
~poldec-tonteg
http://urbit.org

On Tue, Nov 24, 2020 at 6:40 AM Galen Wolfe-Pauly <notifications@github.com>
wrote:

[2020-11-24 15:13] vvisigoth commented on #3969
what is the ETA on this fix?

[2020-11-24 15:14] vvisigoth commented on #3977
@liam-fitzgerald please save us.

[2020-11-24 17:19] matildepark commented on #4007
Can't replicate —
<img width="959" alt="image" src="https://user-images.githubusercontent.com/20846414/100129212-4469a380-2e4f-11eb-8ab6-a6109d2bcfdc.png">

Possibly what you're referring to is that the .wav is *too big*, not that it's a .wav. @tylershuster Did we ever figure that one out?

[2020-11-24 17:20] matildepark commented on #3969
Will follow up tn, this is probably a fast one.

[2020-11-24 17:21] tylershuster commented on #4007
I think it's this https://github.com/aws/aws-sdk-js/issues/2083 but it's not solved

[2020-11-24 17:34] matildepark commented on #4007
So we have to chunk upload?

[2020-11-24 17:48] tylershuster commented on #4007
Yeah, I'm pretty sure that's the case.

[2020-11-24 20:39] vvisigoth opened #4012 "hark: adding nodes produces multiple notifications or unreads"
**Describe the bug**
Instead of receiving one notification per comment, I get several

**To Reproduce**
Steps to reproduce the behavior:
1. Post a link in a collection
2. Someone makes a comment
3. Get ~3x notifications per comment

**Expected behavior**
One comment = one notification

![Screen Shot 2020-11-24 at 2 32 00 PM](https://user-images.githubusercontent.com/1609955/100148819-e34bcb00-2e62

[2020-11-24 20:40] matildepark commented on #4012
Somewhat separate but somewhat related to #3971.

[2020-11-24 20:44] galenwp commented on #4007
Yeah it was like 200MB

[2020-11-24 21:06] matildepark opened #4013 "graph: subscription to resource silently dies"
**Describe the bug**

It's possible to get in a state where we silently don't receive updates from a collection or notebook while appearing subscribed. This is only noticeable once the user attempts to add to the collection and never sees the entry propagate back.

Reproduction steps are unclear. Potentially related to mismatches between ships that did and did not respectively process #3927; or th

[2020-11-24 23:36] matildepark commented on #3976
For the reader at home — `~bollug-worlus` was on `tdo1o` until just now, so if we had exponential backoff subscriptions may have just died.

[2020-11-24 23:37] vvisigoth commented on #3976
oh that's less exciting
—
~poldec-tonteg
http://urbit.org

On Tue, Nov 24, 2020 at 5:37 PM matildepark <notifications@github.com>
wrote:

[2020-11-25 00:18] lrettig opened #4015 "Assertion 'c3y == u3a_north_is_normal(u3R, nov)' failed in noun/allocate.c:1161"
I just encountered an error very similar to one that @joemfb described in #3928 as concerning:

[code]

`bail:meme` can be a transient error, if computing some event pushes you to the memory threshold, but doesn't affect persistent state. `bail:meme` is always treated as a fatal error for a bunch of contingent implementation reasons that need to be fixed, to cover this scenario.

If `bail:meme` ha

[2020-11-25 04:19] liam-fitzgerald commented on #3971
confirmed with `-read %z ~librex-dozryc %kids da+now /`,  still on `tdo1o` making the graphs act funny.

[2020-11-25 04:32] liam-fitzgerald commented on #3976
anyone affected by this crash, could you run
`:graph-store +dbug [%state '(~(dif in ~(key by update-logs)) ~(key by graphs))']`
and
`:graph-store +dbug [%state '(~(dif in ~(key by graphs)) ~(key by update-logs))']

and poast results

[2020-11-25 04:49] liam-fitzgerald commented on #3975
It reloads all of your gall agents (your apps). `hark-store` (the notifications store) keeps a resource-indexed cache of notifications to improve query times as the core datastructure is time-indexed. This cache is rebuilt when we reload the app, so we can just migrate the main datastructure and then rebuild the cache, instead of having to increase the complexity of migration logic. So `:goad %for

[2020-11-25 05:01] liam-fitzgerald commented on #4012
largely sure that this a result of stale versions of landscape. just forced the ota on ~bitpyx-dildus, any other hosts known to repro this issue?

[2020-11-25 15:30] timlucmiptev opened #4026 "new DM connection only shows in Notifications"
**Describe the bug**
When I receive a DM request, it only shows up in the notifications screen--I don't see anything in the DMs screen. This is probably undesired behavior given that people may have long backlogs of notifications, but DM requests are, in a sense, "urgent".

[2020-11-25 16:17] vvisigoth commented on #4026
Would sorting invites to top of notifications work?
—
~poldec-tonteg
http://urbit.org

On Wed, Nov 25, 2020 at 9:30 AM timlucmiptev <notifications@github.com>
wrote:

[2020-11-25 16:17] matildepark commented on #4026
We already do that. Invites are always at the top.

[2020-11-25 16:20] vvisigoth commented on #4015
huh. @philipcmonk @joemfb any insights here?

[2020-11-25 16:20] tylershuster commented on #4026
What about adding a green dot to leap as well?

[2020-11-25 16:26] vvisigoth commented on #4026
more dots!
—
~poldec-tonteg
http://urbit.org

On Wed, Nov 25, 2020 at 10:21 AM Tyler Shuster <notifications@github.com>
wrote:

[2020-11-25 16:28] matildepark commented on #4026
Truth be told, I don’t think this is an issue. They appear in the inbox because they’re high priority. They’re always at the top. Doing it in two places is confusing; more notifiers dulls the effect.

@urcades design opinion?

[2020-11-25 16:34] vvisigoth commented on #4026
The root problem is probably that due to the always-on dot and maybe other
issues, notifications get too noisy and people don't check them. Hark must
still earn the trust of the people.
—
~poldec-tonteg
http://urbit.org

On Wed, Nov 25, 2020 at 10:28 AM matildepark <notifications@github.com>
wrote:

[2020-11-25 16:57] galenwp commented on #4026
i kind of like the idea of the dot changing color or being visually different somehow.

[2020-11-25 17:06] urcades commented on #4026
It's a neat thought, but in practice things like simple color changes in status/state (especially between blue and green) are always too subtle for most people to perceive.

issues

I somewhat agree with this, given there's still issues around reading/clearing updates we're contending with, but even if these were completely patched up, there's still a disconnect of expectations here I think is wor

[2020-11-25 17:09] urcades commented on #4026
What I'm mostly gesturing at here is that we all know DMs are an interesting/special case in which one's awareness should be heightened — it really matters that someone is directly contacting me, vs posting in a group.

Sorting invites to the top of notifications is a fine rule that exemplifies this necessary heightening, but it's still removed from the actual space DMs occur in, and it's worth th

[2020-11-25 17:10] galenwp commented on #4026
i agree that changing the color of the dot is too subtle — you could have another dot, or some other decorator that indicates new invites.

they're totally separate things, but it makes sense to me to have a single 'inbox'.

[2020-11-25 17:11] tylershuster commented on #4026
I meant adding a dot. Ed's design of join being blue and create being green on the Home Screen in another issue got me thinking along the lines of color as metaphor. I agree that merely changing the color would be too subtle. I like the idea of adding the count to the DMs tile but it doesn't solve the original problem of invites being unavailable from that screen, and might make it worse if people

[2020-11-25 17:20] lrettig commented on #4015
Forgot this one:

[code]

[2020-11-25 22:08] lrettig commented on #4015
Just died with this error:

[code]

[2020-11-26 01:11] #3965 closed

[2020-11-26 01:11] #2634 closed

[2020-11-26 01:11] #3923 closed

[2020-11-26 01:11] #3996 closed

[2020-11-26 01:11] #4008 closed

[2020-11-26 01:11] #3768 closed

[2020-11-26 01:11] #3976 closed

[2020-11-26 02:00] tylershuster opened #4029 "hark: archiving notifications should mark messages as read and vice versa"
Right?

[2020-11-26 09:44] joemfb commented on #3982
@baudtack, @syzygyzer, this might be worth documenting more prominently.

[2020-11-26 12:19] lrettig commented on #4015
Got yet another error and another failure:

[code]

[2020-11-27 09:51] timlucmiptev commented on #4029
Definitely, alternatively there could be a "mark as read".

Also, to make this a catch-all for notifications issues: the new update works great for clearing notifications when I read a message in chat. However, it does not clear them when someone mentions me by name.

If that's a feature not a bug, there should be an option in Notifications to filter by mentions.

[2020-11-27 20:44] Fang- opened #4034 "webterm not processing all input on mobile"
Webterm works fine on desktop. On mobile though, I can only get it to process digits, backspace and return. Trying to input texts doesn't have any effect. This is on mobile Firefox on Android. There's probably some arcane detail about how it handles/annotates keypress events that messes up our too-primitive logic?

[2020-11-27 21:43] matildepark commented on #4029
Ah ha!

[2020-11-27 21:44] matildepark commented on #3977
At large for mentioned case:

Have seen this myself.

[2020-11-27 23:57] 153 opened #4035 ""swap" related bug?"
I downloaded urbit for my Slackware Linux distro.

When I attempted to launch a comet ( `./urbit -c goatse` ), I was given an error and told to see `urbit.org/using/install/#about-swap-space`. This anchor `#about-swap-space` does not seem to exist on the page.

[2020-11-28 00:30] tylershuster commented on #4035
Dupe of #3627

[2020-11-28 01:21] #4035 closed

[2020-11-29 20:14] Sneagan commented on #3975
This issue is no longer happening for me since the latest OTA. I have other issues now but I consider this one resolved. Thanks, all!

[2020-11-30 02:50] ynx0 opened #4037 "Unable to run any generator in dojo"
**Describe the bug**
In the current state of the ship, I am unable to `|merge %home` to force an ota, nor run any generators.

**Background**
I just recently booted my ship again from a long period of dormancy. While trying to `|ota ~marnus %kids` from `tdo1o` to the lastest, I hit the following error:

[code]

So I tried to delete the offending file/directory from linux by deleting the files from

[2020-11-30 03:45] #3975 closed

[2020-11-30 04:12] matildepark commented on #4037
Try `|rm`ing the publish-info file as specified here: https://github.com/urbit/urbit/issues/3952#issuecomment-729505849

[2020-11-30 14:01] syzygyzer commented on #3982
It might at least be time to have another conversation about how we support WSL in the docs. When we originally found out that Urbit ran fine we were sort of expecting lots of issues and so we weren't going to put more than the bare essentials on how to run it in the docs. But since it actually seems to have very few issues perhaps it should be reconsidered. I'll bring it up at the docs meeting to

[2020-11-30 14:40] ynx0 commented on #4037
@matildepark sorry if it wasn't clear but I actually tried doing that. I didn't know about that specific issue so I think I ran the `|rm` command incorrectly. Now my ship is in a state where I can neither run that command, nor any generators.

[2020-11-30 16:22] matildepark commented on #4037
Oh right you wrote that.

[2020-11-30 17:18] joemfb commented on #4037
/cc @philipcmonk

[2020-11-30 17:23] joemfb commented on #3627
/cc @syzygyzer, @baudtack

[2020-11-30 17:29] matildepark commented on #4034
What do you get [testing the keypresses here](http://keycode.info)? Seems like it's possible that `key.length` catch isn't flying on Android?

[2020-11-30 17:31] #4001 closed

[2020-11-30 17:32] matildepark commented on #4003
Fixed in #4017.

[2020-11-30 17:32] #4003 closed

[2020-11-30 17:33] matildepark commented on #3999
Not an issue; closing...

[2020-11-30 17:33] #3999 closed

[2020-11-30 17:35] matildepark commented on #3971
Messaged ~librex to update.

[2020-11-30 17:35] #3971 closed

[2020-11-30 17:36] matildepark commented on #3967
Reading this over this is almost certainly an OTA mismatch issue.

[2020-11-30 17:37] matildepark commented on #3987
Duplicate of #3847.

[2020-11-30 17:37] #3987 closed

[2020-11-30 17:44] matildepark commented on #3669
The root issue of the OTA crash here is fixed as per #3713, a fresh `|ota ~nibfeb %kids` should fix this.

[2020-11-30 17:44] #3669 closed

[2020-11-30 17:45] matildepark commented on #3939
Likely to be fixed in #3986.

[2020-11-30 18:02] matildepark commented on #3720
The base hash points to the day before's OTA which is normal. I'd imagine this resolved itself though `:glob %kick` would've fixed this. @rcrdlbl Can you update on whether this resolved itself?

[2020-11-30 18:47] Fang- commented on #4034
event.key: Unidentified
event.location: 0
event.which: 229
event.code is blank

[2020-11-30 18:49] matildepark commented on #4034
Well, that's certainly longer than `1`

[2020-11-30 19:05] tylershuster opened #4039 "s3: regression in per-ship folder uploading"
At one point, images for a ship would upload into `bucket.provider.com/sampel-palnet/image.jpg`.

This no longer happens, instead they go to `bucket.provider.com/image.jpg`.

[2020-11-30 19:05] vvisigoth commented on #4015
@lrettig I'm going to see if we can get some clues for you today at our infra meeting!

[2020-11-30 19:20] tylershuster commented on #4007
One thing getting in the way of me fixing this is that the S3 provider needs to expose the ETag header to process multipart files. [DigitalOcean does not have a GUI to do this](https://www.digitalocean.com/community/questions/spaces-unable-to-do-multipart-upload-in-js), which will get in the way of a lot of people's configuration.

[2020-11-30 19:33] tacryt-socryp opened #4040 ""kick from group" button doesn't work properly on participants screen"
The person who was kicked keeps a copy of the group and all its channels, but their entry in group-store no longer has them present as a member, whereas they should have their group removed and their channels archived.

In other words, they should receive both a `remove-members` and a `remove-group` update, but instead they only receive a `remove-members` update.

This seems as though we should ad

[2020-11-30 19:36] matildepark commented on #4007
Could we check for it and fall back? We could also refer people to these instructions.

[2020-11-30 19:37] matildepark commented on #4039
We have two different pieces of s3 upload logic — `s3.js` and `useS3.ts`, though they look basically the same to me.

[2020-11-30 19:40] matildepark commented on #4040
Related: #3912, somewhat related: urbit/landscape#167

[2020-11-30 19:54] tylershuster commented on #4039
Yes, they are pretty much the same. Liam created the hook version, which is nice, but not everything has been migrated to use it.￼

[2020-11-30 20:22] pilfer-pandex commented on #3369
@jtobin can you confirm that this is fixed on the new release/next-vere builds?

[2020-11-30 20:23] rcrdlbl commented on #3720
I honestly can’t remember if this issue is why I had to breach or it was something else — but it is resolved now

On Nov 30, 2020, at 1:03 PM, matildepark <notifications@github.com> wrote:

﻿

The base hash points to the day before's OTA which is normal. I'd imagine this resolved itself though :glob %kick would've fixed this. @rcrdlbl<https://github.com/rcrdlbl> Can you update on whether this reso

[2020-11-30 20:24] #3720 closed

[2020-11-30 20:30] tacryt-socryp opened #4041 "metadata is not cleaned up when you leave a group"

[2020-11-30 20:31] matildepark commented on #4041
Duplicate of #2992.

[2020-11-30 20:31] #4041 closed

[2020-11-30 21:12] jtobin commented on #3369
@pilfer-pandex Have you got a link to any linux64 tgz'd release binaries from that branch?  IIRC things worked fine when I built from scratch, just not in the release binaries.  I checked for `$COMMIT_HASH_FROM_NEXT_VERE-linux64.tgz` on bootstrap.urbit.org but couldn't find anything -- I can't remember what way they're packaged up exactly.

In the meantime @joemfb claims that #3806 fixes this issu

[2020-11-30 22:13] tylershuster commented on #4039
I can take this

[2020-11-30 23:42] syzygyzer commented on #3982
@jalehman

[2020-12-01 03:24] philipcmonk commented on #4037
Very strange, it acts as though the generator contents are gone, or as though it's asking for the wrong version number, eg a future one.  A few follow-ups:

- Do normal hoon expressions work, like `(add 2 3)` ?
- If so, what is the output of `.^(* %cw %)` ?  This will give us the version number, which we expect to match the `aeon` in the `%clay-sing-indirect-data` printf
- Again if hoon expression

[2020-12-01 03:31] mike-cr opened #4046 "Chat: new messages often get marked read immediately upon opening channel"
**Describe the bug**
Oftentimes I'll open a group with a number of channels, each with many unread messages - I'll click the first channel and it'll correctly show the unread messages banner and remain bolded until I mark read or hit the bottom, but with the rest of the channels it'll often mark all messages read as soon as I click on the channel

**To Reproduce**
Steps to reproduce the behavior:

[2020-12-01 03:33] matildepark commented on #4046
Not really a bug — marking read as you enter the channel is normal behaviour (rather, it's "when you see the new messages line or touch the bottom" and we auto-jump to that line if we can).

The thing is that that first load is often the load bearing one.

[2020-12-01 03:46] mike-cr commented on #4046
I see, didn't realise it was meant to do that. The problem is that it's very inconsistent as to whether it lands on the new message line. You can see when I click Development it clears the new messages but lands in a random place, so I have to manually hunt for the line. Even when the new messages banner remains, I often have to hit the jump-to-line button multiple times to actually land on it

[2020-12-01 03:54] mike-cr commented on #4046
I feel like maybe embeds are pushing things around but idk

[2020-12-01 14:26] josh612 opened #4050 "Trouble joining groups"
**Describe the bug**
mirtyl-wacdec is trying to join groups hosted by habsul-rignyr to no avail

**To Reproduce**
Steps to reproduce the behavior:
mirtyl-wacdec tries to join ~habsul-rignyr/urbit-asia or ~habsul-rignyr/the-stack-podcast

**Expected behavior**
Joining these groups

**Additional context**

Habsul has tried kicking out mirtyl (mirtyl was in the groups before)
Mirtyl has tried getting

[2020-12-01 15:40] ynx0 commented on #4037
Yes, things like `(add 2 3)` and `.` work.

`[76 170.141.184.504.790.560.476.024.354.621.414.703.104]`

`.^(arch %cy %/gen/hood)`: `[fil=~ dir={}]`
`.^(arch %cy %/gen)`: `[fil=~ dir={}]`

Looks like it do be dead :pensive:

[2020-12-01 15:42] ynx0 commented on #4037
Also, I am apparently still getting some chat messages and see <<behn>> spinning from time to time.

[2020-12-01 15:56] ynx0 commented on #4037
Ok so funny story: I was messing around in the dojo and started running random hoon expressions, and then I did this:
[code]

And somehow I can run the generators now .-.
Also, running ls yields
[code]
which seems to confirm that the `publish-info` file was deleted

Sorry I wasn't able to maintain the bugged state :\ I didn't think that would affect it. I'm gonna try `|ota`ing to see if I get back

[2020-12-01 16:25] ohAitch commented on #4037
As long as you have the event log it will in theory possible to replay it to back before you fixed it… esp after the breach when there won't be anyone on the network this could confuse haha

[2020-12-01 16:49] ynx0 commented on #4037
@ohAitch oh sweet. If you want I can upload whatever files are necessary to some kinda file store. For now I think I'm good because my base hash seems to be `rd3oe`. Closing because I guess I don't have the problem any more ¯\_(ツ)_/¯

[2020-12-01 16:49] #4037 closed

[2020-12-01 17:08] matildepark commented on #4050
Just to confirm — can ~mirtyl-wacdec join other groups? Does this just affect the groups on ~habsul-rignyr?

Both ships are confirmed to be on rd3oe.

I'd also be curious about the order here. You don't want to rid yourself of metadata until you leave the group. You'd want to leave the group, habsul would kick you as well, you'd clear metadata and then you'd rejoin.

[2020-12-01 17:21] matildepark commented on #4050
You could also try `:goad %force` on both ships, it's possible one or both are using older apps without even knowing it.

[2020-12-01 18:34] galenwp commented on #4046
I kind of like the idea of 'hitting the bottom' being the thing that marks as read without clicking the button.

[2020-12-01 18:35] matildepark commented on #4046
We decided on "seeing the line" as behaviour a little while ago in design revisions IIRC because we're otherwise teaching users to slam to the bottom to force a read. We want it to be invisible.

[2020-12-01 18:39] tacryt-socryp opened #4053 "Newly created group, trying to invite someone, get "Invalid Integer: NaN is not a valid exponent""

[2020-12-01 18:59] galenwp opened #4054 "Focus on the message box when I click on a chat"
**Describe the bug**
When I click on a chat, my cursor isn't focussed on the message box. I want to start typing, but I can't. When I Leap to a chat, it is. I like Leap, but sometimes I click.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a chat
2. Start typing
4. See error

**Expected behavior**
The cursor being in the message box when I click on a chat.

[2020-12-01 19:04] ohAitch commented on #4046
Kinda weird to say "you have 400 unread messages" then show you a screen with 20 and go "oh yeah you've clearly read all of them now". Just comparing to slack discord etc.

[2020-12-01 19:41] matildepark commented on #4054
What's your browser? I can't replicate this and we only disable autofocus on mobile devices.

[2020-12-01 19:44] matildepark commented on #4046
It doesn't. It does what slack and discord does, it loads one page back, shows the banner with the total amount, and either you scroll down and dismiss the banner, or you click the banner and it jumps you up a page.

[2020-12-01 19:48] matildepark commented on #4053
Need more information. This is from the landing page of the group? Because can't replicate.

<img width="896" alt="image" src="https://user-images.githubusercontent.com/20846414/100789252-3209df80-33e4-11eb-812e-963d9d888d38.png">

Are you clogged on OTAs? You're describing something quite similar to #4001, which we patched and released recently.

[2020-12-01 20:08] philipcmonk commented on #4046
FWIW I don't see that banner anymore if there's more than a page of unread messages.  The sidebar entry is bold until i scroll a tiny bit in any direction, and if I scroll up to the boundary of the new messages I see the line across marking the new messages.

[2020-12-01 20:10] matildepark opened #4056 "meta: add github actions for interface CI"
We currently use CI to test how Hoon changes compile in the urbit binaries; but if we're PRing just JS changes, or changes inside pkg/interface, we often just want to know "does this build in webpack," maybe even prompt to lint or something.

[2020-12-01 20:13] matildepark commented on #4046
That would be #3221, which I will re-open.

[2020-12-01 20:13] ohAitch commented on #4056
With nix, we can have a bunch of parallel "if any of arvo changed build a pill" "if any js or json changed build webpack" etc that are ~free in the alternate case, right?

[2020-12-01 20:14] matildepark commented on #3221
This is at large again — see https://github.com/urbit/urbit/issues/4046#issuecomment-736788787

[2020-12-01 20:15] tylershuster commented on #3221
I will take a look after chat migrates to graph-store

[2020-12-01 20:18] matildepark commented on #4046
I think *as filed* this is not a bug because "dismiss the unread when we see the line" is expected behaviour (as per discussion in #3594); but the behaviour PC describes here is a regression, so we'll treat that separately in its ticket. All other concerns are design feedback.

[2020-12-01 20:18] #4046 closed

[2020-12-01 20:37] vvisigoth commented on #3813
Is there any way to figure out if it is in fact my group store that is busted and if so to fix it?

[2020-12-01 20:52] joemfb commented on #4056
"Free" is not free (lots of downloading from cachix), but yes.

[2020-12-01 21:10] ohAitch commented on #4056
Surely for testing you could make a nix formula that produces just the compile log / result code, and download that :P

[2020-12-01 21:16] matildepark commented on #3969
I believe this is presently tied up in Hark changes that is being performed with Chat migration. @liam-fitzgerald

[2020-12-01 21:27] tacryt-socryp commented on #4053
Turns out my branch was 57 commits behind. All good.

[2020-12-01 21:27] #4053 closed

[2020-12-01 23:10] vvisigoth commented on #3969
Well at this rate, we're about to migrate the one thing that actually resorts.

[2020-12-02 00:19] liam-fitzgerald commented on #3813
`:group-store +dbug [%state '(~(got by groups) [~host %name])` on the host of the group and then check that you're an admin. I suspect that your group state is out of sync with the hosts. If true, `:group-pull-hook &pull-hook-action [%remove [~host %name]]` and then `:group-pull-hook &pull-hook-action [%add ~host ~host %name]` should fix it.

[2020-12-02 00:21] ohAitch commented on #3813
(missing a quote and bracket)

[2020-12-02 01:08] matildepark commented on #3926
OK so, checked in with @liam-fitzgerald. We thought about how to solve this for everyone, but the main clincher is that it affects import/export logic and we don't want to touch that while it's in test mode. What we think we should do is

- If you leave or delete a chat, because we have no conception of `archive` in chat-store, we should remove it from chat-hook, chat-store, etc. and write it to d

[2020-12-02 01:10] matildepark commented on #3826
The spirit of this issue is technically at large because DMs really *don't* redirect correctly due to having multiple DMs from different individual eras clogging our chat-store; the letter of the issue here isn't at large because we force DMs to be single-user, with the programmatic names. Still leaving open until we have this resolved definitively.

[2020-12-02 01:21] matildepark commented on #2856
Ancient thread. The problem of archived content has been punted way until, well, now. This is of course really not acceptable because it led to UX being inexplicably "broken" for ages.

On behalf of the team, I apologise for all those who had to deal with this invisible monster. It had hundreds of heads: any time any user who hosted, or was the only other participant in a resource breached; kicked

[2020-12-02 01:21] #2856 closed

[2020-12-02 08:46] timlucmiptev opened #4059 "Copying @p in chat drops the “~”"
When I click a username in chat to copy the @p, the leading sig isn’t included. This makes it awkward to use the new notification feature to mention people.

[2020-12-02 10:48] josh612 commented on #4050
Ok, the order was indeed that mirtyl left, habsul kicked, mirtyl cleared metadata and tried to rejoin.  We have both run :goad %force , but still no luck with mirtyl joining those groups.  Habsul is able to join mirtyl's groups and both are able to join other groups.

[2020-12-02 14:07] timlucmiptev opened #4061 "Filter notifications for mentions"
Notifications should have a section or filter for mentions as opposed to new messages.

Current behavior is that mentions get blommed into the new messages+mentions Notifications feed, but also don’t get cleared when messages are read in chat.

The right behavior is probably to not clear mentions when messages are read (as it is now), but also have a filter for mentions in the notifications sectio

[2020-12-02 14:38] jalehman commented on #4015
Did any clues emerge by any chance @vvisigoth?

[2020-12-02 14:56] lrettig commented on #4015
My ship was up for ~24 hours, then I got a handful of errors, then it just died again. See partial log below. Happy to try troubleshooting this together with someone if it would help.

[code]

[2020-12-02 14:59] Sidfyl opened #4062 "Ship shuts down when I join Urbit Community chats"
I've been having some trouble with the UC group.  I can join the group itself, but if I try to subscribe to any of its chats, my ship goes down with a bail:meme.

I've alredy tried to |pack and used the experimental binary with its recovery commands.

I'm on hash rd3oe, latest binary.

[2020-12-02 15:24] vvisigoth commented on #4061
this is breddy gud
—
~poldec-tonteg
http://urbit.org

On Wed, Dec 2, 2020 at 8:08 AM timlucmiptev <notifications@github.com>
wrote:

[2020-12-02 15:33] vvisigoth commented on #3926
Thanks all.
—
~poldec-tonteg
http://urbit.org

On Tue, Dec 1, 2020 at 7:08 PM matildepark <notifications@github.com> wrote:

[2020-12-02 15:39] vvisigoth commented on #4015
The TL;DR, which @joemfb will add color to, is that somehow you have not
only a corrupt checkpoint, but something on your ship is actually
corrupting your checkpoints. I've never seen this before.

@joemfb will give you more color, but I do think it'd be good to get a copy
of your pier to investigate what could possibly be causing this. Would you
be amenable to sending it in for a biopsy?

I'm not

[2020-12-02 17:04] vvisigoth opened #4063 "hark: I get a notification if I speak about myself in the 3rd person"
**Describe the bug**
I say my own name in chat and I get a notification

**To Reproduce**
Steps to reproduce the behavior:
1. IN chat
2. Mention yourself
3. Receive notification

**Expected behavior**
Filter notifications by self

![Screen Shot 2020-12-02 at 11 03 14 AM](https://user-images.githubusercontent.com/1609955/100905906-32f74b80-348e-11eb-9d34-46fa0375d846.png)

[2020-12-02 17:17] matildepark commented on #4059
I think what we really want is the return of the tab suggestions ...

[2020-12-02 17:21] matildepark commented on #4050
OK so next, let's leave those groups on ~mirtyl. On ~mirtyl, `|start %dbug` and go to your ship's URL + `/~debug` (eg. `http://localhost:8080/~debug` if you're running locally or what have you).

Click apps, click group-pull-hook, click 'query state' and dump here. We want to see if your ship thinks it's already listening for this group and isn't cleaning it up.

[2020-12-02 17:22] matildepark commented on #4062
`|unlink %chat-cli` and try again?

[2020-12-02 17:26] matildepark commented on #4061
Note that next release changes this as of urbit/urbit#4038.

This is technically a feature request requiring design input, so I'll move this over to the product board.

[2020-12-02 17:55] matildepark opened #4064 "groups: prefilled contact card errors on attempted share"

[2020-12-02 23:56] lrettig commented on #4015
Thanks, good to know. My pier is 26G, or 8-10G compressed, so that might be a little tricky. I can provide it if absolutely necessary but would be a little more into a screenshare session sometime, if that's a possibility.

Not really, other than that I'm running the prerelease binaries as mentioned above. I was running on vanilla Ubuntu before, and now on vanilla Debian 10.

[2020-12-03 01:07] Sidfyl commented on #4062
Nope, ames'd to death

[code]

[2020-12-03 01:31] galenwp commented on #4054
Chrome Version 86.0.4240.198 (Official Build) (x86_64)

[2020-12-03 06:59] timlucmiptev commented on #4063
feature, not bug

[2020-12-03 20:20] tacryt-socryp commented on #4050
Try the following in dojo:

[code]

Fill in the appropriate host ship and group name. Should reset it!

[2020-12-03 23:38] matildepark opened #4073 "clock, weather: non-latlong weather locations wipe the clock"
**Reproduction**:

1. Set a non-latlong location as your location in Weather.

**Expected**:

Clock is clock. Has sunset and sunrise graphics.

**Actual**:

Clock blanks.

<img width="307" alt="image" src="https://user-images.githubusercontent.com/20846414/101101772-bef49a80-3596-11eb-9a70-7672c2e1c793.png">

[2020-12-04 00:28] tylershuster commented on #4073
Lol, of course. I know why this happens.

[2020-12-04 12:05] ycl924 commented on #4050
Thanks tacryt-socryp.

I was able to join ~habsul-rignyr/the-stack-podcast after running that command, and have joined the chat and talked with no issue.
But I'm still unable to join ~habsul-rignyr/urbit-asia.
When I try to join it just gives me a never ending spinner.

Curiously when I run query state on group-pull-hook after trying to join; the-stack-podcast (which I joined succesfully) shows up

[2020-12-04 21:52] tacryt-socryp commented on #3939
Confirmed to be fixed in #3986.

[2020-12-04 21:52] tacryt-socryp commented on #3912
Fixed in #4071.

[2020-12-04 21:53] tacryt-socryp commented on #3857
Fixed in #3986.

[2020-12-04 21:54] tacryt-socryp commented on #3447
Fixed by the automatic channel archiving and metadata deletion in #4044

[2020-12-04 21:55] tacryt-socryp commented on #3044
Fixed in #4058.

[2020-12-04 21:55] tacryt-socryp commented on #2992
Fixed in #4044.

[2020-12-04 21:56] tacryt-socryp commented on #2942
Fixed in #4058.

[2020-12-04 21:56] tacryt-socryp commented on #1864
Fixed in #4058.

[2020-12-05 00:56] #3824 closed

[2020-12-05 08:17] ycl924 commented on #2992
I have metadata remaining from groups I left, and :metadata-store [%cleanup /~ship/groupname] isn't helping (it still shows up on the debug page). I think that's what preventing me from rejoining the groups as stated in the other issue. What can I do?

[2020-12-05 16:58] Sidfyl commented on #4062
don't know if this is relevant, but I get a lot of this preceding my crashes:

[code]

[2020-12-06 00:35] philipcmonk opened #4086 "ames: giving up scry"
Getting this a bunch of these when booting a new ~zod on the mainnet-testnet while ~wicdev-wisryt is up.  It looks like the logic here is that if 5 scries fail in a row, we stop trying to scry.  ~wicdev imported its data from mainnet, is it possible that because it's trying to talk to a bunch of ships that don't exist yet on this network, this logic is interpreting that as reason to stop stateless

[2020-12-06 02:39] josh612 commented on #4050
Thanks very much for the help, all.  Closing this.

[2020-12-06 04:15] philipcmonk opened #4089 "`make install` error"
`make` works, but `make install` gives this error on Ubuntu, NixOS, and mac.

[code]

[2020-12-06 07:03] joemfb commented on #4089
I think this is caused by the presence of both `urbit` and `urbit-debug` derivations, which both produce a binary named `urbit-worker` (and also one named `urbit`?). I believe I heard that it can be worked by assigning priorities to the derivations.

/cc @eglaysher

[2020-12-06 07:05] joemfb commented on #3598
@belisarius222, bumping this. We've had repeated issues with bad merges due to spuriously successful CI results.

[2020-12-06 09:47] josh612 commented on #4050
Sorry, misread and thought it was resolved.  Reopened.

[2020-12-07 00:39] matildepark commented on #3044
Only close issues if they’re resolved on livenet.

[2020-12-07 20:53] matildepark commented on #4050
@ycl924 I suggest the following:

- `:group-store &group-action [%remove-group [~habsul-rignyr %urbit-asia] ~]`.
- `:group-pull-hook &pull-hook-action [%remove [~habsul-rignyr %urbit-asia]]`

Confirm with ~habsul that your ship is kicked from their end. Then attempt to rejoin.

[2020-12-07 20:55] matildepark commented on #2992
Given that all paths you're providing are seemingly doing *nothing* it's possible you're passing the wrong paths. That said I'm unsure a cleanup is necessary here. Metadata won't prohibit a group join.

[2020-12-07 21:01] tacryt-socryp commented on #2992
@ycl924 you could try [%cleanup /ship/~insert-ship/insert-group]

[2020-12-07 23:19] galenwp opened #4096 "landscape: two sigs in ship search invitations"
**Describe the bug**
Creating a chat channel with two members errors

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DMs and Drafts
2. Click on Create channel
3. Make it a chat, add two members, click 'Create channel'
4. See error

**Expected behavior**
The channel to be created

**Screenshots**
<img width="716" alt="Screen Shot 2020-12-07 at 3 18 29 PM" src="https://user-images.github

[2020-12-07 23:26] matildepark commented on #4096
- Can replicate on livenet
- Cannot replicate on lf/chat-graph

[2020-12-07 23:28] matildepark commented on #4096
Inadvertently will be fixed by #4058, but either way should be addressed by the next OTA.

[2020-12-07 23:33] galenwp commented on #4096
I'm on `5rf36`  — but you're saying that it'll be fixed by a post-breach ota?

[2020-12-07 23:34] matildepark commented on #4096
I'm saying even if #4058 somehow isn't done by the post-breach OTA I will fix it separately.

[2020-12-07 23:40] galenwp commented on #4096
oh got it. i misread your first comment as 'can't replicate on livenet'

[2020-12-08 02:43] matildepark commented on #4063
Fixed in #4058.

[2020-12-08 11:19] josh612 commented on #4050
~habsul has tried kicking from landscape a couple of times but I've noticed that once again mirtyl is in the list again later.  Just checked, mirtyl is there, tried kicking again, now just spinning with no confirmation.  Is there something to try from dojo?

[2020-12-08 11:59] josh612 commented on #4050
Was just able to kick according to landscape, so mirtyl tried to rejoin to no avail.  Mirtyl is back in the list on landscape so it's either because the kick didn't work properly or because of the failed rejoin.