[2020-05-20 17:46] joemfb commented on #2908
And of course, now I have > 800MB in free lists, which is its own kind of reward ...

[2020-05-20 18:04] loganallenc commented on #2908
I believe the problem is that in many cases messages are replicated and sent to all of the open channels. Could we do de-dupe nouns like we do in ames?

[2020-05-20 18:12] joemfb commented on #2908
There are two problems (at least ;)): %eyre has a (time-bounded) space leak, and the chat UI apparently loads arbitrary amounts of backlog.

The first would be mitigated by deduplication (and/or lazy serialization) and a shorter timeout (The feature also just might not be worth the risk at this stage).

The second would appear to require new UI pagination (as opposed to just API pagination) -- the

[2020-05-20 19:45] belisarius222 commented on #2908
Yeah, urbit-help kept jumping back in time when i loaded the page. Often I only had a few unread messages and my scroll position was at the bottom of the page, but for some reason next time I tried to load it, it would scroll me up by thousands of messages.

If it were only loading the actually unread messages, I suspect the Eyre space leak wouldn't be a problem.

—
~rovnys-ricfer
https://urbit.or

[2020-05-20 21:38] syzygyzer commented on #2132
This should be fixed with the Ford/Clay update due soon

[2020-05-20 21:38] #2132 closed

[2020-05-20 21:40] jfranklin9000 commented on #2880
Note that `-v` is a toggle.

[2020-05-20 22:30] ohAitch commented on #2132
Any specific PR that's attached to?

[2020-05-20 22:57] matildepark commented on #2132
It's not PR'd yet, but I believe it's `ford-fusion`.

[2020-05-20 23:04] ohAitch commented on #2132
May I dispute that this is a definition of "soon" sufficient to close issues on its basis? Or at least, the number "2313" should probably make it into a Ford Fusion test suite on this topic.

[2020-05-21 00:13] sigilante opened #2917 "@f aura support"
The [docs](https://urbit.org/docs/reference/hoon-expressions/rune/constants/) refer to an `@f` aura for use with loobeans.

Is this still supported?  It seems to fail with `%.y` and `&` style loobeans.

[code]

[2020-05-21 00:16] sigilante opened #2918 "Aura suffix utilization"
The [docs](https://urbit.org/docs/reference/hoon-expressions/rune/constants/) refer to capitalized aura suffixes to indicate bit width.

Is this feature simply redundant documentation for the programmer?  It doesn't seem to be coercive.

[code]

[2020-05-21 00:17] sigilante commented on #2918
And while I'm at it—would you prefer these sorts of documentation questions in urbit-dev or are issues fine?

[2020-05-21 00:21] ohAitch commented on #2918
None of the auras are coercive, except so far as the pretty printer is
concerned :)

But yeah, pure documentation / typechecking(you can't cast one size to
another, tho you can cast to and from unsized).

urbit/docs maybe?

On Wed, May 20, 2020 at 17:17, Sigilante <notifications@github.com> wrote:

[2020-05-21 02:04] liam-fitzgerald commented on #1981
This has been popping up for me again, but with a twist. Eyre works fine, but the CLI does not accept any input. Ctrl+D does nothing, and Ctrl+Z makes the quit process hang indefinitely until i kill -9 the urbit process

[2020-05-21 02:24] pilfer-pandex commented on #2861
What do you think are the correct semantics for handling variance in slab? You say that slab should say whether a limb "exists" in a type. (The doc comment on slab, such as it is, instead uses the equally unhelpful word "contains.") Obviously, the limbs in the context of a lead, zinc, or iron core should not exist. But what about the sample of a zinc or iron core? Well, they "exist" for reads but

[2020-05-21 02:28] pilfer-pandex commented on #2861
Another option would be to make the caller pass in a `?(%read %rite %both)`

[2020-05-21 02:30] pilfer-pandex commented on #2861
What does slob do, exactly? I got as far as `q.q.n.q.r.q.typ` and then ragequit.

[2020-05-21 02:36] ohAitch commented on #2861
"Has in the core itself", looks like? `$core` has a `++coil` which has a map of chapters by name(oh hey chapters have names now!); looks like `q.r.q.typ` is that map, so presumably the `q` of the `q.n` of the `q.r.q.typ` being iterated over is the map of arms in that chapter.

[2020-05-21 03:17] joemfb commented on #1981
@liam-fitzgerald, can you try running with the changes in #2919? It's compatible with the livenet.

[2020-05-21 03:18] joemfb commented on #2798
I have fixes as described above on a work-in-progress branch, but it's become very long-running, so I've additionally PR'd them in #2919.

[2020-05-21 04:45] liam-fitzgerald commented on #1981
looks good so far, will let you know if I run into anything further

[2020-05-21 05:54] joemfb commented on #2918
There's multiple layers to this question...

The first is, as @ohaitch points out, atom auras are soft, advisory types. It's not entirely wrong to think of them as printf format-string specifiers, participating in the type-system in a minimal way.

That way being that the nest: `@tas` nests in `@ta` nests in `@t`, while the inverse is false in each case (every aura in `@`). You can cast any atom t

[2020-05-21 05:57] joemfb commented on #2917
`@f` for loobeans and `@n` for `~` are awkwardly special-cased in the compiler, so you can't cast to them. But they are used:

[code]

[code]

[2020-05-21 05:58] joemfb commented on #2917
See #1504 for a previous (brief) discussion.

[2020-05-21 06:35] ohAitch commented on #2917
is ?? the dojo syntax for less pretty-printed type information

On Wed, May 20, 2020 at 10:58 PM Joe Bryan <notifications@github.com> wrote:

[2020-05-21 14:38] syzygyzer commented on #2132
I closed it at @vvisigoth's request, I'm not sure what the etiquette is on when issues should be closed.

[2020-05-21 16:20] sigilante commented on #2917
Got it, thanks.

[2020-05-21 16:20] #2917 closed

[2020-05-21 16:44] sigilante commented on #2918
That's very helpful, thank you.

I'll add the note, for any future readers, that the atom--aura syntax is further discussed in https://urbit.org/docs/reference/hoon-expressions/rune/constants/.

[2020-05-21 16:44] #2918 closed

[2020-05-21 20:55] matildepark commented on #2843
Merged in #2846.

[2020-05-21 20:55] #2843 closed

[2020-05-21 20:58] matildepark commented on #1456
Dreams do come true. This exists as of #2734.

[2020-05-21 20:58] #1456 closed

[2020-05-21 21:03] matildepark commented on #2024
Most recently fixed as of #2733; previous attempts included #2295, #2438, but we have redundant chat implementations to tide us over until Mozilla tackles their bug.

[2020-05-21 21:03] #2024 closed

[2020-05-21 21:04] matildepark commented on #2212
Fixed in #2221 but because it merged to os1-rc not master it didn't auto-close this issue.

[2020-05-21 21:04] #2212 closed

[2020-05-21 21:06] matildepark commented on #2257
Fixed in #2258, but since it was merged to os1-rc, not master, it didn't auto-close this issue.

[2020-05-21 21:06] #2257 closed

[2020-05-21 22:52] belisarius222 commented on #2861
Yes, +slob answers the question of whether a core type has an arm of the specified name.  It's not a general environment lookup like +slab.

As for how +slab should work, I think that depends on the use case.  Once Ford Fusion lands, there will be no calls to this function at all, so maybe we should just delete it.  It does seem like a basic utility, though, so if we keep it around I think it shou

[2020-05-21 22:55] pilfer-pandex commented on #2861
Great, I think this is the best option too. I'll make a pr to that effect on top of ford-fusion.

[2020-05-21 23:29] dclelland commented on #2903
Hi Joe, thanks for your detailed response!

I left the regular log replay running while I was away for the past week and it was still going (or hung...? I can't tell) when I got back.

Tried `v0.10-no-grab` just now and it couldn't work past the corruption:

[code]

Tried `ipc-redux-replay-recovery` and it failed very quickly:

[code]

[2020-05-22 19:16] Fang- commented on #2908
Temporary workaround for those getting bitten by this: you can run the following in dojo to clear the unread marker off any chat. (Of course replacing the path there with whatever chat is giving you trouble.)

[code]

[2020-05-23 14:57] tapset opened #2929 "My ship crashed with a bail: oops error"
tapset@DESKTOP-44L6O5K:~/urbit-v0.10.4-linux64$ ./urbit -w tapset-parnys -k /home/tapset/tapset-parnys-2.key
~
urbit 0.10.4
boot: home is /home/tapset/urbit-v0.10.4-linux64/tapset-parnys
loom: mapped 2048MB
lite: arvo formula 56587b84
lite: core 715fdde3
lite: final state 715fdde3
/home/tapset/tapset-parnys-2.key: Permission denied

bail: fail

recover: top: fail
address 0x1 out of loom!
loom: [0x

[2020-05-23 15:02] tapset commented on #2929
I am trying to boot my ship for the first time. I'm using Windows 10>Ubuntu 18.04.

[2020-05-23 19:21] philipcmonk commented on #2929
Looks like it can't read your keyfile. Is that the right path, and does
that user have the right permissions?

On Sat, May 23, 2020, 08:02 tapset <notifications@github.com> wrote:

[2020-05-24 08:28] dclelland commented on #2903
Huh, running `ipc-redux-replay-recovery` again now and it's getting much further; perhaps it didn't like that I was running it in a `screen` session...?

[2020-05-24 14:54] custom-jonathan opened #2931 "Group Publish Not Displaying Posts"
**Describe the bug**
Someone added a post to the group notebook, but doesn't show up.

**Expected behavior**
Anyone in the group adds a note, and it shows up in the notebook.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser Brave
 - `%base-hash 0vi.m33cm.0pvjs.j53ra.06tn4.klqk2.tjlo8.ev4pa.qgr2l.lecp5.0hgjj`

**Additional context**
I navigated to t

[2020-05-24 16:56] jeremytunnell opened #2933 "Http landing page for points has malformed header"
I've been trying to track uptime using uptimerobot.com.

It is showing my point as being DOWN when it is clearly up.  Using an http checker shows that my point is returning malformed headers "Parse Error" when I request the login page for my point.

[2020-05-25 00:34] lukechampine opened #2934 "Segfault when booting a custom comet"
I wrote a Unix-land program to generate a comet, but when I attempted to boot it, I got this:

[code]

[2020-05-25 07:50] yosoyubik opened #2935 "Float parser for JSON (+ne:dejs:format) fails when the input includes a +"
**Describe the bug**
`+ne:dejs:format` doesn't parse floating values with a `'+'`
(e.g.: `[%n p='8.660650844542463e+19']`).

**To Reproduce**
[code]

[2020-05-25 21:54] gusmacaulay commented on #2911
Update, this happened again, but once again moved north.bin out of the way and no problems.  3.6G of space available, could it be a temp space issue?

[2020-05-26 00:15] dclelland commented on #2903
After a couple days of babysitting the replay process - restarting from snapshots whenever something futzed out - I was able to replay past the event where the corruption happened and my planet is up and running again. Thanks a lot!

[2020-05-26 13:58] philipcmonk commented on #2931
For the author it shows up immediately regardless of whether it's gotten to the server yet.  Most likely issues are not being able to communicate or a stuck clay queue.  Maybe try |cancel %force to see if that's stuck.

On Sun, May 24, 2020 at 7:54 AM, custom-jonathan < notifications@github.com > wrote:

[2020-05-26 14:06] philipcmonk commented on #2934
Can you get a trace from the core?  Looks like you're on MacOS, so look in /cores for the most recent core, run `lldb -c /cores/core.XXXX` and then `bt`.

On Sun, May 24, 2020 at 5:34 PM, Luke Champine < notifications@github.com > wrote:

[2020-05-26 14:32] lukechampine commented on #2934
hmm, apparently MacOS doesn't generate core dumps by default anymore -- but this is easily reproducible, so I just ran it again under lldb:

[code]

[2020-05-26 14:37] matildepark commented on #2933
@vvisigoth uses an uptime monitor for a bunch of stuff — Any tips here?

[2020-05-26 15:00] jeremytunnell commented on #2933
To be clear, I'm reporting a bug here.

According to two separate services, the headers are malformed.

I'd separately appreciate any options for tracking uptime, but if you're not sending good headers that should be fixed.

[2020-05-26 15:01] matildepark commented on #2933
I’m aware of what you’re doing, Jeremy — was just curious how this was sidestepped before.

—
~haddef-sigwen
https://urbit.org

[2020-05-26 15:39] custom-jonathan commented on #2931
Did `|cancel` and got a queue length of 0. Rand `|cancel %force` just to make sure, and got the same response. Checked the notebook via Landscape after a hard refresh with the note still not showing up.

[2020-05-26 15:47] philipcmonk commented on #2933
@jeremytunnell What services are you using?  I just Googled "http checker" and tried a few and they didn't flag anything.  Not sure they trying to actually validate though.  I don't see "Parse Error" anywhere.

[2020-05-26 16:08] jeremytunnell commented on #2933
httpstatus.io shows "parse error" when I check the address of my galaxy landing page.

uptimerobot.com shows site is "down", when it is clearly up.

[2020-05-26 16:19] philipcmonk commented on #2934
I think that crash is saying it failed to open a pipe to the worker, likely because the worker crashed early on.  While we should give a better error message, I don't think your key is of the right format.  The following should work at the dojo:

[code]

That last line is only true for comets, of course.

[2020-05-26 16:29] matildepark commented on #2812
S3 branch is in master. @Fang- does this persist? If not feel free to close.

[2020-05-26 16:43] lukechampine commented on #2934
ah, I see the problem -- my "key" is the bare ed25519 key, whereas -G expects a `jam`'d `seed:able:jael`. Agreed re: better error message, but this seems pretty low priority. If you point me to the right place, perhaps I could take a stab at fixing it?

[2020-05-26 16:53] philipcmonk commented on #2934
Not sure how to catch this crash or any other ones during this stage of the boot process, but for this specific problem you could probably catch it in `_boothack_key` in vere/daemon.c, where we `u3ke_cue` the key that we got from either `-G` or `-k`.  If it's not a valid jammed noun, that'll give `0`.

[2020-05-26 16:58] matildepark commented on #2778
@galenwp Is this the scroll behaviour you were talking about out of band? Or are you annoyed by https://github.com/urbit/urbit/issues/2864?

[2020-05-26 17:01] philipcmonk commented on #2933
Hmm, httpstatus.io is working for me.  Are you using https?  Are you running on port 80?

[2020-05-26 17:03] jeremytunnell commented on #2933
Running http on port 80.

http://66.228.53.179/~/login?redirect=/

[2020-05-26 17:15] joemfb commented on #2933
Does it work with the redirect path url-encoded: `http://66.228.53.179/~/login?redirect=%2F`?

[2020-05-26 17:18] philipcmonk commented on #2933
I'm seeing this from yours:

[code]

Mine doesn't have the duplicated `content-length`, which looks like it was fixed in #2017.  Looks like you're running v0.10.0, try upgrading to v0.10.4.

[2020-05-26 17:19] jeremytunnell commented on #2933
Same deal.

![screenshot-httpstatus io-2020 05 (1)](https://user-images.githubusercontent.com/8051011/82930497-7eff8b80-9f53-11ea-8bef-4f62719afd5e.png)

[2020-05-26 17:22] philipcmonk commented on #2933
We OTA all updates except changes to the unix binary.  Those updates are pretty infrequent, the last one was from March 12: https://github.com/urbit/urbit/releases/tag/urbit-v0.10.4.

[2020-05-26 17:25] jeremytunnell commented on #2933
Ok, sorry, seems like I was confused.  I thought as long as you got all of the OTA updates, you're up to date.  I'll update.

[2020-05-26 17:25] joemfb commented on #2934
`u3ke_cue` and friends crash on an invalid jam-buffer. You can virtualize to catch these deterministic crashes with `u3m_soft()`. See `u3m_rock_load()` in `noun/manage.c` for an example of this pattern.

[2020-05-26 17:25] vvisigoth commented on #2933
i use the StackDriver (built in Google Cloud) uptime monitor for this and
have had no problems with all of our galaxies and stars. I do, however, use
the bare url (without the login redirect), does that give a different
response?

On Tue, May 26, 2020, 10:19 jeremytunnell <notifications@github.com> wrote:

[2020-05-26 17:27] joemfb commented on #2903
@dclelland, that's great to hear! Running in screen is definitely supported, but this code is still experimental. I'll look into that crash.

[2020-05-26 17:28] jeremytunnell commented on #2933
Sometimes using the bare url returns a redirect.

[2020-05-26 17:39] Fang- commented on #2812
Yeah this worked fine when I joined a new group recently.

[2020-05-26 17:39] #2812 closed

[2020-05-26 18:27] lukechampine commented on #2934
Fixed in https://github.com/urbit/urbit/pull/2938

[2020-05-26 18:27] #2934 closed

[2020-05-26 19:51] custom-jonathan commented on #2862
I love seeing my work pop up. X^D

[2020-05-26 21:01] galenwp commented on #2778
yeah, i think it's basically this. i open a chat, it starts in some weird position scrolled up.

[2020-05-26 21:06] matildepark commented on #2778
All chats or just chats with images? Is it #2883?

[2020-05-26 21:22] galenwp commented on #2778
okay, i think it's chats with images — but i also notice that i can't scroll the container if i'm not touching text

[2020-05-26 21:23] galenwp commented on #2778
And sometimes it seems like I can't scroll up at all.

[2020-05-26 21:30] custom-jonathan commented on #2931
Don't know if this helps but here are my publish hashes:
[code]

[2020-05-26 21:35] ixv commented on #2931
That does help. I would suggest mounting both base and home, and manually copying all the files from base to home.

[2020-05-26 21:36] ixv commented on #2931
Is this notebook hosted on your ship, or someone else's ship in the group?

[2020-05-26 22:01] custom-jonathan commented on #2931
This is a notebook hosted on my ship.

I've run `|mount %` before so my pier is visible to unix. Are you saying copy & paste all the files from "base" to "home" and overwriting everything there then running `|commit %home`? Or is it some other process?

[2020-05-26 22:03] ixv commented on #2931
Yeah, thats right. Normally I would suggest doing `|merge %home our %base, =gem %that`, but that would clobber your notebooks.

Also, can you make sure you have connectivity with the ship that tried to post?

[2020-05-26 22:11] philipcmonk commented on #2931
That command is expected to differ, right?  Since the notebooks are stored in app/publish

On Tue, May 26, 2020 at 3:03 PM, ixv < notifications@github.com > wrote:

[2020-05-26 22:12] custom-jonathan commented on #2931
`|hi`'d them with an instant success message.

[2020-05-26 22:13] ixv commented on #2931
@philipcmonk What should you run instead? I actually am not familiar with the different merge strategies aside from %that and %init.

[2020-05-26 22:15] matildepark commented on #2883
Turns out this is specifically a Safari issue because [scroll anchoring](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor/Guide_to_scroll_anchoring) generally is on by default and prevents content reflow outside the viewport. [Status is unclear](https://bugs.webkit.org/show_bug.cgi?id=171099).

[2020-05-26 22:17] custom-jonathan commented on #2931
(My non-group affiliated notebook has 200+ posts, so that would be a bummer to wipe them. X^D )

[2020-05-26 23:08] matildepark commented on #2801
@syzygyzer Does this persist?

[2020-05-27 00:43] #2935 closed

[2020-05-27 04:36] philipcmonk commented on #2872
This should be fixed in the OTA that just went out.  Re-open if this continues to be an issue.

[2020-05-27 04:36] #2872 closed

[2020-05-27 18:12] eglaysher opened #2942 "Chat messages missing around the time of a %mailbox-kick"
**Describe the bug**
Multiple times, I've seen landscape not render or acknowledge messages that show up on the console. I cannot reproduce this at will.

**Screenshots**
![Screen Shot 2020-05-27 at 11 02 40 AM](https://user-images.githubusercontent.com/40939/83056283-fc85d300-a009-11ea-9b88-7cb12f69ffee.png)

In this screenshot, notice that ~poldec-tonteg says two lines about going to the doctor

[2020-05-27 18:12] syzygyzer commented on #2801
Looks to be fixed now! @matildepark

[2020-05-27 18:15] #2801 closed

[2020-05-27 18:48] philipcmonk commented on #2931
It's publish.hoon that you want to check whether it's different, right?  If so, then try `.^(@uv %cz /=base=/app/publish/hoon)` and same for home and see if they're actually different.  If it's the js, then publish/js instead of publish/hoon.

Something you can do is merge into a new desk, try your merges there, and only after everything looks good, merge into %home.

[2020-05-27 18:51] philipcmonk commented on #2931
You can mount any/all of these desks and copy files directly.  For example, you can merge %init from %home to %scratch, then merge %that from %base to %scratch, then in unix copy the notebooks (in app/publish/notebooks i think) from %home to %scratch, commit that, and then merge (with no strategy, "auto") from %scratch back into %home

[2020-05-27 19:32] philipcmonk commented on #2942
I just ran into exactly this as well, and it also coincided with a mailbox-kick of the channel that lost the message.  Also on r920j.  I don't know if this is new or if I just never noticed it before, I rarely look in both the console and landscape.

[2020-05-27 19:50] syzygyzer commented on #2682
I acquired this problem after the latest OTA, hash `0vt.c8k0c.sce62.sg7d6.m5vtc.hk5p0.v0fen.5enp4.id5rp.h01cv.r92oj`. I have not breached in several months.

[2020-05-27 20:41] zalberico opened #2944 ""Past messages are being restored" forever"
**Describe the bug**

- After getting a planet chat no longer works in Firefox or Chrome, I  only see "Past messages are being restored" forever.
- Chat does work in the CLI, but I can't see the messages that I send (others can though, I was troubleshooting this with Tlon support).
-  I thought it may just take a while to load so I left it, but I was seeing the same loading screen after 40 hours.

[2020-05-27 20:48] matildepark commented on #2944
I wouldn’t say it has anything to do with Landscape itself; you seem to be getting everything from your ship fine. It seems to be between your ship and ~dopzod. If a comet can get messages but planets can’t that would seem like a key propagation issue, but last I heard ~dopzod had the latest Azimuth block.

@loganallenc @ixv Ideas?

And @zalberico have you tried joining any other rooms?

[2020-05-27 20:51] zalberico commented on #2944
I don't know about any other rooms to try (I think I need an invite to them?).

Tlon support thought the comet was working because it was on an older version (they said comets don't get OTA updates by default and it could have been on a version prior to a bug).

[2020-05-27 22:12] custom-jonathan commented on #2931
[code]

[2020-05-27 22:19] Fang- commented on #2942
I've been observing this for a while, I think there's two cases here: one where chat-cli still gets the messages, and one where it doesn't (ie you _completely_ miss some messages.

The latter is relatively easy to explain. I mailed to @loganallenc about it some time ago, I'll just paste that here:

For the "chat-cli hears the message but webchat doesn't" case, it's important to note that chat-cli

[2020-05-27 22:28] ohAitch commented on #2942
Huh, are you saying the "subscribe to updates" doesn't include the number
of messages you already have?

On Wed, May 27, 2020 at 15:19, Fang <notifications@github.com> wrote:

[2020-05-27 22:34] philipcmonk commented on #2942
IIRC, that decision for the frontend was made under time pressure with the idea to refactor later to either:

- allow adding an argument to %watch so you can pass in the number of messages you have, or
- subscribe to updates, receive a message saying "i will send you updates starting from `n`", and *then* you subscribe to backlog up to `n`.

[2020-05-28 04:32] zalberico commented on #2944
Is there a different room I should try?

[2020-05-28 04:34] matildepark commented on #2944
Sorry, just thinking. There’s `~/~paldev/nopub` for one.

[2020-05-28 05:48] zalberico commented on #2944
In Landscape it says `Joining chat...` forever.

There are errors in the console (this is on firefox):
<img width="582" alt="firefox_console" src="https://user-images.githubusercontent.com/441466/83103701-122be480-a06c-11ea-89de-8f76f610d46d.png">

I can also try to join via the CLI, do you have the right command for that (if I'm already in the urbit-help room in the CLI?)

Thanks for the help.

[2020-05-28 12:42] benjaminkwilliams commented on #2677
This hit me this morning.
![pack_bail_meme](https://user-images.githubusercontent.com/1291662/83142700-796e8680-a0b6-11ea-9450-0e2a7176e2b5.png)
are the binaries above still what I need to run?

[2020-05-28 15:42] matildepark commented on #2944
Er, what did you type in? Was it literally `~/~paldev/nopub`? The stack trace there makes me think it was a different path format.

[2020-05-28 15:45] zalberico commented on #2944
Ah my bad - I might have not typed the first `~/`, I’ll try again.

[2020-05-28 15:57] zalberico commented on #2944
Cool - I think that's working, I posted a message in there.

[2020-05-28 16:42] lukechampine commented on #1981
I'm experiencing similar problems. My ship is currently frozen with prompt:
[code]
Does not accept any input, except Ctrl-Z. I can also Ctrl-C sometimes, e.g. when «behn»ing. Restarting brings me back to the frozen `+` prompt. Output works fine. Landscape works fine, including dojo -- except for Chat, which gives a javascript error:
[code]
In fact, I found that `%chat-cli` was not running. I was a

[2020-05-28 18:21] vvisigoth commented on #2944
@zalberico if you haven't yet, can you run `+trouble` in the dojo and copy and paste the output?

[2020-05-28 18:28] vvisigoth commented on #2944
@zalberico would you mind jumping on a call with me today so that we can test this out? I'm having trouble reproducing.

[2020-05-28 18:46] zalberico commented on #2944
Trouble Output:
[code]

@vvisigoth - happy to jump on a call, you can find my email here: https://zalberico.com/

I'm WFH (Covid), but should have some time tonight if you're free - maybe 7pm PDT?

[2020-05-28 18:48] zalberico commented on #2944
Oh weird - `urbit-help` just started working now.

Is it possible it just took a *really* long time?

[2020-05-28 18:52] vvisigoth commented on #2944
if it took that long ... my god.
—
~poldec-tonteg
http://urbit.org

On Thu, May 28, 2020 at 11:48 AM Zach Alberico <notifications@github.com>
wrote:

[2020-05-28 18:52] philipcmonk commented on #2944
That's possible.  Also I just pushed https://github.com/urbit/urbit/releases/tag/urbit-os-v1.0.20 to ~dopzod like 30 minutes ago, so maybe you were affected by the bug that's fixing.  I didn't think you were, but it's hard to say.

[2020-05-28 18:57] zalberico commented on #2944
Interesting - I wonder if the other Twitter users that were hitting this are still waiting for messages to load or if things are currently working for them now too?

[2020-05-28 19:29] zalberico commented on #2944
I wonder if I had gotten the update yet at that point? (My ship just started <<behn>>-ing). I guess you can tell from the trouble output though. I'll be AFK for a bit (have to do some regular job work, but should be around later).

[2020-05-28 19:54] toast-eth commented on #2944
Same issue for me. Have rebooted since zalberico was successful but no change for me.

Tried to join ~/~dopzod/urbit-help (linked from Home welcome message) and ~/~paldev/nopub both are still stuck on 'Past messages are being restored'.

`+trouble` output shows:

[[p=~tarfer-ridnyx q=%home r=[%da p=~2020.5.28..07.19.29..c226]] s=/]
sync succeeded from %base on ~tarfer-ridnyx to %home
sync succeede

[2020-05-28 20:57] vvisigoth commented on #2944
@toast-eth it looks like this might be related to subscribing to urbit help before the PKI DL has been completed.

Can you try (from the CLI, chat-cli) to run `;leave ~/~dopzod/urbit-help` and then run `;join ~/~dopzod/urbit-help` ?

[2020-05-28 21:11] philipcmonk opened #2952 "Breach recovery issues"
TL;DR if a new ship joined urbit-help (or any channel) before it finished with azimuth-tracker's initial update (about 10 minutes after boot), then it may have (50% chance) ended up in a broken state where it doesn't receive messages from urbit-help.  Workaround is to ;leave ~/~dopzod/urbit-help from chat-cli and then try to join again (possibly twice).

I'm writing this up because I want to make

[2020-05-28 21:28] toast-eth commented on #2944
I've now successfully joined ~/~paldev/nopub. If someone can please write a message there to confirm?

But I'm a bit stuck within the CLI for ~/~dopzod/urbit-help
I have `~tarfer-ridnyx:chat-cli[~/~dopzod/urbit-help] `
Where I can't clear the `[~/~dopzod/urbit-help]` part

[2020-05-28 22:18] Fang- commented on #2944
@toast-eth ~paldev was frozen for a bit there, should be back up now.

As for the cli, that's just chat-cli indicating you're currently targetting urbit-help for messages. You can explicitly change your messaging target, but we also auto-set it when you run a `;join` command. If/when your join goes through successfully, it'll assign a glyph to make that a little less verbose.

In the mean time, yo

[2020-05-29 05:11] mccauli commented on #2944
I'm also having the same issue and it has not resolved itself yet. Output of `+trouble`

[code]

I attempted to leave urbit-help from the cli but got this

[code]

I also attempted to connect to `~/~paldev/nopub` and get the same `past messages are being restored` message.

[2020-05-29 05:45] belisarius222 commented on #2125
Just hit a 'weird-text' crash when joining ~/~dopzod/urbit-help.  I was still able to join successfully, though.  Not sure which text is implicated by the crash.

https://pastebin.com/nmz2W2Cy

[2020-05-29 05:56] belisarius222 opened #2955 "eth-watcher nonfatal crash on startup"
Just after breaching in bridge, I booted a fresh incarnation of ~rovnys-ricfer.  The boot succeeded, and I was eventually able to join urbit-help, but it did print this error on startup.  Not sure what to make of it.

https://pastebin.com/jHE9fmYF

[2020-05-29 06:13] philipcmonk commented on #2955
There's an initial goad (unnecessary), which restarts spider, killing all
threads. This delays getting keys by 5 minutes on startup, which is a
significant delay.

On Thu, May 28, 2020, 22:56 Ted Blackman <notifications@github.com> wrote:

[2020-05-29 09:20] Fang- commented on #2125
@belisarius222 this suggests you are running an older version of chat-cli. b35129e5 replaced the `%weird-text` crashes with a less noisy fallback message:

https://github.com/urbit/urbit/blob/18e396cf5383531f9ccdefc3090587f200268649/pkg/arvo/app/chat-cli.hoon#L1346-L1352

I saw you breached, and know we updated the pill very recently, so wonder how you got to be running outdated chat-cli...

[2020-05-29 15:17] gilletteonmeheleparim commented on #2682
same problem after breach yesterday. I think I also see new messages now with ~10 min latency

[2020-05-29 17:07] philipcmonk commented on #2944
@mccauli Your sponsor doesn't seem to be online, do you know if they ever have been?  If not, you should probably escape to another sponsor.  support@tlon.io can help with that.

[2020-05-29 21:14] custom-jonathan commented on #2931
Figured it wouldn't do anything but I tried the silver bullet for kicks. Went through the whole thing perfectly fine, but no change in being able to see the posts.

[2020-05-30 06:14] MnkyPwz commented on #2907
By chance, does anyone happen to have any feedback and or suggestions relating to this error?

[2020-05-30 11:43] Fang- commented on #2907
Sorry to leave you hanging @MnkyPwz! I'm no expert on the underlying mechanics here, but from looking at a couple similar issues:

Did you maybe run out of disk space while your planet was running? Does it some disk space available now?

I've seen "replay your event log" recommended as a fix for similar symptoms. I can't make any guarantees that it'll fix the issue, but could be worth a try, espec

[2020-05-30 16:30] tapset commented on #2929
Tried booting again and got this:

tapset@DESKTOP-44L6O5K:~/urbit-v0.10.4-linux64$ ./urbit -w tapset-parnys -G (my random key)
~
urbit 0.10.4
boot: home is /home/tapset/urbit-v0.10.4-linux64/tapset-parnys
loom: mapped 2048MB
lite: arvo formula 56587b84
lite: core 715fdde3
lite: final state 715fdde3
boot: downloading pill https://bootstrap.urbit.org/urbit-v0.10.4.pill
Assertion '!"plan: no pier"' f

[2020-05-30 23:22] somlus-savlev opened #2961 "I have a hunch: moons interfering with planet communications"
Hi there. discard this if it's nonsensical, but here's my story that gave rise to an "I wonder if there is an issue?" hypothesis:

I enjoyed quite a while of uber-stable communications which came to a close immediately after I launched a moon and had it running for a while.  I launched the moon to install the Canvas app (didn't get far and did not install it), but shortly thereafter, ~somlus-savle

[2020-05-31 02:59] philipcmonk commented on #2942
Now as far as I can tell I'm just not getting anything from anyone in landscape except one room.  No console errors.  I'm getting it fine in chat-cli.  Is there some way I can debug this with the debug console?  Eg where to look in the state/subscriptions for stuff that doesn't make sense?

[2020-05-31 03:09] philipcmonk commented on #2942
I can send messages from landscape.  Here's what I see in chat-view under the debug console when clicking "listen to verb" and sending a dotpost to urbit-help from landscape, which I see arrive in chat-cli but not in landscape:

<img width="1535" alt="Screen Shot 2020-05-30 at 8 01 56 PM" src="https://user-images.githubusercontent.com/5553176/83343532-9a9ac700-a2b0-11ea-8587-8b894ecd57d4.png">

Ok

[2020-05-31 06:02] toast-eth commented on #2944
Nothing is happening though. When I input leave or join command, the prompt just clears and nothing happens..

In fact, I can write any kind of gobbledygook at the prompt and the same thing happens. It just clears the prompt.

I don't think my leave or join commands are doing anything.

[2020-05-31 13:09] mccrudd3n commented on #2942
Just to add on:
I have also had a similar issue, I have recently followed the "Silver bullet" guide -> https://pastebin.com/SUQdJE9B, To push for the OTA update and had connection issue for several hours followed by a similar situation as described above, being able to send via cli but not landscape

[2020-05-31 21:01] philipcmonk opened #2963 "Should have a boot message warning users to not boot a ship twice"
Many new users don't realize it's super important to move your pier instead of booting it again with your key.  I doubt this can be effectively solved in documentation, so maybe we should have a prompt at boot that says "Type Y to confirm that you haven't started this ship anywhere else since you last personal breached" or similar.  Obviously skip this for fake ships, and there should be an argume

[2020-05-31 22:34] ohAitch commented on #2963
Some more elegant take on "and don't intend to delete it" may also be fitting
note that "at boot" can be "before sending any packets, after/while various things compiling" here

[2020-06-01 15:49] philipcmonk commented on #2961
Hmm, I doubt it.  Only thing I can think of is that when you start up a moon, it downloads the latest OTA from the planet (actually all previous OTAs, about 100MB), which can take quite a while and may slow down the planet until it's done.  This could make you drop some subscriptions because you don't respond fast enough, but they should all restart.

[2020-06-01 15:51] philipcmonk commented on #2929
Confusingly, "plan: no pier" means there is a pier directory already.  If you never successfully booted the ship (got to a dojo prompt), then delete the `tapset-parnys` directory and try again.  If you did successfully boot the ship, do *not* delete it (unless you decide to personal breach), just run`./urbit tapset-parnys`.

[2020-06-01 16:35] gilletteonmeheleparim opened #2964 "Leaving chat..."
`Leaving chat...` on Landscape takes forever
CLI shows: `--------------| del: ~/~dopzod/urbit-help`
and
`[%mailbox-kick i=%~.mailbox t=[i=~.~ t=/~dopzod/urbit-help]]`

[2020-06-01 16:36] gilletteonmeheleparim commented on #2964
it's when I'm trying to leave urbit-help to try rejoining because I'm not getting any more recent messages after 30th may

[2020-06-02 15:07] custom-jonathan commented on #2931
Would there be anything else I should try?

[2020-06-02 23:43] Fang- commented on #2870
Closed as of #2901.

[2020-06-02 23:43] #2870 closed

[2020-06-03 07:45] MnkyPwz commented on #2907
@Fang- thanks for your response. In fact, I did indeed run out of storage on my disk recently. So as you suspect, that very well might be my issue. I'll move some files onto an external hard drive, free up some space and give it another attempt. Hoping that solves it.

Also, yes, I've been able to boot up for the last few months. This was the first time I experienced anything like this, which is m

[2020-06-04 21:54] somlus-savlev commented on #2677
Hey there, somlus-savlev here. Had this issue, and unfortunately a replay will require about 200,000,000 events. I'm assuming that no matter what I would have to breach given the extreme time investment for that. would you agree?  I would love to somehow scrape the Art By Urbit group postings: Sigils and UrbArt.  LMK if you think there is any way for me to get online enough to get these.  Thank go

[2020-06-04 21:56] zalberico commented on #2723
@Fang- can I see your nginx config?

I'm trying to get this set up on a digital ocean box with my own domain with a let's encrypt cert behind nginx. I can log in, but a lot of the apps don't show up or work properly and I suspect it's because I don't know what the proper nginx config should look like.

[2020-06-04 21:58] vvisigoth opened #2975 "publish: can't create new notebook"
**Describe the bug**
Attempt to make a new notebook (managed and unmanaged), fails without error in either dojo or web console.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Create New Notebook
2. Enter valid name, description, ships
3. Spinner goes infinitely

**Expected behavior**
Notebook created and I can post.

**Desktop (please complete the following information):**
 - OS: MacO

[2020-06-04 22:00] matildepark commented on #2975
Off the top of my head, could also be a Clay issue.

[2020-06-04 22:07] ixv commented on #2975
Latest base hash is 0vr.v6l8h.ff979.hpr0m.uea2r.02fkf.26us8.or5j9.rgr57.6bgbi.9rbpn, which indicates that maybe your clay is stuck trying to do a merge. I would try running `|cancel` and see if that helps.

[2020-06-04 22:26] vvisigoth commented on #2975
oh snap

[2020-06-04 23:06] philipcmonk commented on #2677
If you have the .bak files, you should be able to follow the process here: https://github.com/urbit/urbit/issues/2677#issuecomment-627481880 using the binary you can download here (recovery):
https://github.com/urbit/urbit/issues/2677#issuecomment-617431649

[2020-06-05 00:09] somlus-savlev commented on #2677
Thank you, recovery complete.

Here is my |mass output

https://pastebin.com/EFi2kKVA

[2020-06-05 00:39] philipcmonk opened #2977 "gall: Outstanding ack queue empty"
A ship was regularly getting `arvo: replacement event (for %hear) failed` every 30 seconds, and it turned out to be an unusual crash in gall on line 629: https://pastebin.com/Mc3mJnMi

https://github.com/urbit/urbit/blob/79bbaec5e8b1d745136dd21ab9db77188eecec4a/pkg/arvo/sys/vane/gall.hoon#L622-L630

`outstanding` is a queue of the type of acknowledgment we expect to receive based on what type of m

[2020-06-05 13:00] somlus-savlev opened #2981 "Bridge "Add to invite group" using an email address freezes Bridge"
Somlus-savlev here. I am trying to use somlus-savlev to invite a person with a gmail address to urbit / gift them a planet. Somlus has an available planet from ~nibfeb (1 remaining planet in the pool).  As soon as I enter the email and click on "Add to invite group", that black background section freezes as does Bridge overall, and I cannot proceed.

Generate URL still does work.

[2020-06-05 13:21] Fang- commented on #2723
@zalberico below is a config I use right now. Based on [this advice](https://stackoverflow.com/a/13673298).

[code]

[2020-06-05 13:49] Fang- commented on #2981
Huh, strange. Is there anything of interest in the browser console when this happens?

[2020-06-05 13:57] Fang- commented on #2981
Actually, I can trivially reproduce this. It freezes, and the browser pops up saying that the page is slowing things down (generally means it's using lots of cpu).

Curiously, starting the debugger from that prompt causes asm.js to break for the duration of the _tab_, not just the window. On reload, it prints `asm.js type error: Disabled by debugger`.

CORS request to the onboarding-emails endpoin

[2020-06-05 14:01] Fang- commented on #2981
(Apologies for the reply-spamming.) I rebooted the onboarding-emails service and now it's doing fine again, at least on Ropsten. Did the same for mainnet, so assume this was it? Might've been a stale cert that was loaded into them, causing the CORS to fail.

In conclusion, I think this is just a matter of needing to fail more gracefully. Really strange that it just straight-up freezes.

[2020-06-05 15:43] matildepark commented on #2649
As of #2970 this is just a front end task to surface the functionality. Adding to our slate ...

[2020-06-05 16:21] galenwp opened #2982 "Loading /~chat is quite slow"
**Describe the bug**
When I try to load `/~chat` the page container loads pretty quickly, but it takes almost `2m` to load all the json. I'm not really sure what's going on. I'm in a good number of chats, but it's not *too* crazy.

Part of this issue is that there's really no loading indication while this happens. I think this is being tracked elsewhere, but if not I can create a separate issue.

[2020-06-05 16:26] matildepark commented on #2982
I have been having similar problems lately — specifically after the OTA near the end of last week. I had to downgrade to 10.3 to `|knob %hole %hush` so I could type anything.

I have a feeling this is lower-level than Landscape or even chat-store, I suspect it's a downstream effect of a general slowdown system-wide. @philipcmonk and @loganallenc any thoughts?

[2020-06-05 17:34] zalberico commented on #2723
Thanks!

This is my current config, I'll see if I get better results from using parts of yours.

My plan is to write up a guide to get this working once I have it figured out.

[code]

[2020-06-05 17:38] philipcmonk commented on #2982
I believe #2977 is a more serious performance issue than I originally thought.  Specifically, when this error occurs, we generate huge stack traces, which is quite slow.  If downgrading to 10.3 speeds it up significantly, this is likely the reason -- 10.3 processes stack traces more than once, so the impact is greater.

While we should get better at processing large stack traces, I suspect it's wo

[2020-06-05 18:46] galenwp opened #2983 "We should probably do some kind of smart scrolling"
Try this:

- Open a chat
- Scroll through the backlog until you've got a few hundred messages
- Inspect an element

It looks like we're actually rendering every message that just got put on the page. If a new message comes in, or we trigger a re-render somehow, we're going to re-render everything — which is slow.

I've noticed that if I leave urbit-help (or any other really active chat) open for t

[2020-06-05 18:53] zalberico commented on #2723
Awesome - adding the following config to mine fixed it!
[code]
Thanks!

[2020-06-05 18:55] galenwp commented on #1862
It'd be awesome to not only have this, but have some way to kick the SPA to reconnect without reloading. If that's too hard, just a button that refreshes could be good.

It'd also probably be good to lock inputs when you're disconnected, to avoid the peril of typing a message then realizing you're out of sync.

[2020-06-06 00:09] #2977 closed

[2020-06-06 00:50] rudle opened #2986 "infura.io returns 401 Unauthorized during comet startup"
**Describe the bug**
Unable to start a comet. After mining a comet ID, a request to infura.io returns HTTP 401.

**To Reproduce**
Steps to reproduce the behavior:
1. Download & extract Urbit 0.10.4 darwin binary
2. Try to start a comet as described by the documentation `./urbit -c mycomet`
3. Observe error message from infura.io

[code]

**Expected behavior**
I expected to be transported to a come

[2020-06-06 00:52] matildepark commented on #2986
Download 0.10.5 from urbit.org (just pushed a half hour ago) or boot 0.10.4 with [this flag](https://twitter.com/zodisok/status/1269023428612427778).

[2020-06-06 01:25] rudle commented on #2986
That helped! Thank you very much.

[2020-06-06 01:25] #2986 closed

[2020-06-06 05:39] loganallenc commented on #1862
The SPA should do this automatically.

[2020-06-06 17:50] galenwp commented on #2982
This appears to still be an issue for me, and I think my base hash is correct. The hashes of `/=base=/sys` and `/=home=/sys` are also the same, and I seem to still be getting `%hear` printfs.

[2020-06-06 18:02] galenwp commented on #1862
Reconnect? Or have a visual indicator?

[2020-06-06 19:07] loganallenc commented on #1862
Reconnect

[2020-06-07 03:22] galenwp commented on #1862
Still feel pretty strongly we need a visual indicator, or to lock inputs or something to that effect.

[2020-06-07 12:24] Fang- opened #2989 "=* tistar doesn't allow auto-naming"
For a while now, `=*` has allowed an optional type annotation for increased clarity:

[code]

While it shouldn't be too common, it feels kind of inconsistent how `=*` doesn't also allow auto-naming syntax, like `=/` does.

[code]

[2020-06-07 17:44] custom-jonathan commented on #2931
I'm on the most recent hash now, and the posts aren't showing up still even though they're in my pier.

[2020-06-08 13:09] galenwp opened #2992 "metadata-store: retains group metadata after deletion"
**Describe the bug**
When I go to filter on the 'Tlon' group, I see two results. Since we migrated the group at one point, I think this is the old one. But it no longer exists in my 'all groups' view.

**To Reproduce**
This seems specific to the Tlon group, and not to any deleted group

1. Click on the 'all groups' dropdown
2. Filter on 'Tlon'
3. See 'Tlon' twice
4. Click on the 'wrong' one and ha

[2020-06-08 13:41] dabblerdev opened #2993 "Message scroll appears with a large number of "new messages" many times, though these have been read previously."
This is ~somlus-savlev.  I have an issue where sometimes (but not always) when I refresh my browser or log back on I have a ton of "new messages" (like in the thousands, currently 10,345) but these are messages that I have already read or recognized in bulk as not new by clicking on "Mark as Read."

I'm not sure why the ship is resetting what it considers to be new. When this happens, the browser

[2020-06-08 14:47] Fang- commented on #2807
So I tried doing this. Even with @joemfb's help, it turned out to be decidedly non-trivial. h2o expects you to supply the new "prefix" to forward to. This prefix must include the domain name and optional port. The way `http.c` is currently set up, configuring the server to set up redirects like that would require a partial rewrite.

You could still do this on the eyre side, of course, which alread

[2020-06-08 15:35] galenwp commented on #2807
Can Urbit know that you're running over raw HTTP and warn you / link to instructions? That alone would be sufficient. Browsers often let you go to `http://` when `https://` is available.

[2020-06-08 16:03] matildepark commented on #2982
As of today how's it faring for you? This issue is now resolved for me. Everything is pretty fast and performant again.

[2020-06-08 16:09] matildepark commented on #1862
This task is in the 1.2 slate in terms of creating a visual indication. SPA branch should indeed reconnect automatically though.

[2020-06-08 16:15] matildepark commented on #2992
We're clearly retaining the `metadata-store` entry for the group (which is what we search through in that component). @loganallenc comments on appropriate behaviour?

[2020-06-08 16:18] matildepark commented on #2993
This is sort of similar to #2908 but with the addition that your ship isn't processing the `read` action we send as you scroll (or click that 'mark as read' button). Probably this starts because it has to get so many messages to the FE to render, but shouldn't it *eventually* process the read?

[2020-06-08 17:22] Fang- commented on #2993
fwiw I've also experienced the "things marked as unread again" behavior. Generally happens around OTAs or other kinds of downtime, and follows a curious pattern where all the chats affected are hosted by the same ship. Maybe a resubscribe-related bug? The host in question did lose their backlog at one point, so maybe the mismatch in backlog size is causing trouble?

[2020-06-08 17:22] ixv commented on #2931
Sorry to leave you hanging @custom-jonathan, its somewhat difficult to debug this from a distance. I would try running `:publish %reset-warp`. If that doesn't work, would you be willing to let me remote link your dojo and take a look?

[2020-06-08 17:27] matildepark commented on #2993
Intriguing point — would explain the "seeing messages multiple times" issue we saw last Friday...

[2020-06-08 19:17] philipcmonk commented on #2993
I see this regularly, more often than OTAs, but mostly since I switched to running on my laptop.  It happens from two ships that I know of, and only those.  And it happens always after my laptop was off.

[2020-06-08 19:54] galenwp commented on #2982
Yeah it does, weirdly, seem better. Do we know why?

[2020-06-08 19:57] matildepark commented on #2982
See @philipcmonk comment above?

[2020-06-08 19:58] galenwp commented on #2982
Sure, but I should have already had that change when it was still an issue? Fine to shrug this off — but it's always nice to know.

[2020-06-08 20:01] matildepark commented on #2982
It OTA'd around 5:30pm PST Friday, if I recall right. You posted that base hash comment about six hours earlier in the day than the actual OTA.

[2020-06-08 20:09] galenwp commented on #2982
I think that comment was from Saturday? Idk at least it's fixed

[2020-06-08 22:13] custom-jonathan commented on #2931
You're a wizard! What in the world was that?! Worked like a charm; thanks!

[2020-06-08 22:29] custom-jonathan commented on #2931
The old ones showed up, but the same issue happened as soon as I tried adding a note from my backup ship.

What do you need from me to poke around? Remote link sounds awesome.

[2020-06-08 23:16] philipcmonk commented on #2989
While we're at it can we please fix `=/`'s autonaming to support `=a=type`?

[2020-06-08 23:50] ixv commented on #2931
Hm, thats weird, `:publish %reset-warp` restarts the loop that publish runs to read files from clay, if it worked once and then failed immediately after then there's probably multiple issues here.

Did you happen to see any stack traces on either the host or your backup ship? I would try running  `|cancel` and then that `:publish %reset-warp` command again, and trying to post again, in case it was

[2020-06-09 00:08] galenwp commented on #2982
Okay, this is just confusing. It appears to have gotten worse again:

<img width="1552" alt="Screen Shot 2020-06-08 at 5 07 13 PM" src="https://user-images.githubusercontent.com/1467211/84091858-8fc7ec80-a9aa-11ea-9143-9d97862ed435.png">

I'm down to a ~60s load time — which still feels pretty sluggish.

[2020-06-09 00:09] galenwp commented on #2982
Base hash: `0vo.gn4kl.1krcq.ipc0t.rjh9e.ushp2.lccgn.vq4c0.vuduc.sc37r.t3p1l`

[2020-06-09 00:11] somlus-savlev commented on #2993
The host hiddev-dannut remains on nearly all of the time with rare restarts of the ship or the box. It is happening much more frequently than the number of OTAs or host ship (if by host we mean host of the chat). if by host we mean my ship / server ~somlus-savlev hosting my landscape app then it does indeed seem to correlate quite often with opening up a browser to see what's going on in urbit, no

[2020-06-09 00:59] custom-jonathan commented on #2931
I think it might be fixed? But there was a sync in the cue and I saw a couple publish things. Cleared them out, reset my warp, and tried a new post with a backup ship that went through. But I still opened the city gates for you to poke around just in case you see something I don't notice.

[2020-06-09 01:17] matildepark commented on #2982
Do you have any idea if your ship is hanging on something? And @loganallenc can you opine here?

—
~haddef-sigwen
https://urbit.org

[2020-06-09 11:37] timlucmiptev commented on #2982
Same issue here as @galenwp has, same hash (`t3p1l`).

I checked before loading Chat and there was nothing hanging on my ship. Took 21s for chats to load, 9 groups and 23 chats.

[2020-06-09 14:18] galenwp commented on #2982
I've made sure there isn't a spinner running when I refresh and measure.

[2020-06-09 16:30] matildepark commented on #1983
Pre-OS1 publish, no longer relevant.

[2020-06-09 16:30] #1983 closed

[2020-06-09 16:36] matildepark commented on #2331
This is a won't fix — I don't think we're going to go off the `flex-column-reverse` implementation anytime soon.

[2020-06-09 16:36] #2331 closed

[2020-06-09 16:38] matildepark commented on #2761
@Fang- status of this? You unassigned yourself a week ago.

[2020-06-09 16:45] vvisigoth commented on #2982
@galenwp can you do this again and see what the response on those long
requests is?
—
~poldec-tonteg
http://urbit.org

On Tue, Jun 9, 2020 at 7:18 AM Galen Wolfe-Pauly <notifications@github.com>
wrote:

[2020-06-09 16:45] Fang- commented on #2761
Good q. I'm not doing "perfect ota" work now. This seems probably fixed (from the breached ship's side) by @liam-fitzgerald gall export-import work.

[2020-06-09 17:34] galenwp commented on #2982
Now I appear to be back to quick load times. This is very weird. @timlucmiptev do you still have this issue?

[2020-06-09 18:05] vvisigoth commented on #2982
OK, can someone who sees this get the details from the long requests?

A
—
~poldec-tonteg
http://urbit.org

On Tue, Jun 9, 2020 at 10:34 AM Galen Wolfe-Pauly <notifications@github.com>
wrote:

[2020-06-09 19:14] vvisigoth commented on #2807
btw the automated hosting controller redirects by default.
—
~poldec-tonteg
http://urbit.org

On Mon, Jun 8, 2020 at 8:36 AM Galen Wolfe-Pauly <notifications@github.com>
wrote:

[2020-06-09 19:42] galenwp commented on #2982
Now I'm back up to ~20s. The requests that seem to take a long time don't have a response — they're PUT requests with a payload of something like:

[code]

What specific information do you need?

[2020-06-09 21:02] #2931 closed

[2020-06-10 01:30] matildepark opened #2996 "%not-mounted %home"
On 0.10.5 when I run `|mount %` it seemingly is performed successfully, but the 'home' folder doesn't show in the pier on Unix. If I `|commit %home` I get

[code]

Has behaviour changed around this? This has occurred on a moon and a fresh planet now.

[2020-06-10 02:53] loganallenc commented on #2982
Strange. Let me know if I should poke around in your ship @galenwp. I can look at it if you’d like. Am doubtful that this issue will be a long-term one, particularly since graph-store would eliminate it.

[2020-06-10 03:36] vvisigoth commented on #2982
How can we know if the load time would be helped by graph store if we don't
know whats causing it? Lets validate that.

On Tue, Jun 9, 2020 at 7:53 PM Logan <notifications@github.com> wrote:

--
—
~poldec-tonteg
http://urbit.org

[2020-06-10 22:45] philipcmonk commented on #2996
Most likely something's in your Clay cue, since mount/unmount are in the same queue.  If it's a fresh ship it's probably the initial OTA.  You can |cancel and run the merge manually later if you want (it'll still download and prime the cache in the background)

On Tue, Jun 09, 2020 at 6:30 PM, matildepark < notifications@github.com > wrote:

[2020-06-11 00:46] ryjm opened #3002 "Chats not showing up on CLI or Landscape"
**Describe the bug**
I joined ~dopzod/urbit-help after breaching and it wouldn't show up on landscape, so I tried leaving. `;chats` shows that it's gone, but `;what` shows it as still having a glyph binding, and I can't seem to re-join it via chat-cli or landscape.

All chats show up as blank in landscape as well, even though I can send messages through them (they show up on other planets, just no

[2020-06-11 01:01] ryjm commented on #3002
just joined urbit community and got this permission hook error:

[code]

but the chat history did show up. Still not seeing any history from other chats I've joined though.

[2020-06-11 02:53] matildepark commented on #3002
Note that it’s ~/~dopzod/urbit-help. Can you confirm which you joined?

The Urbit Community stuff is troubling. permission-hook failing completely is new to me.

—
~haddef-sigwen
https://urbit.org

[2020-06-11 03:06] ryjm commented on #3002
Oh yeah, I joined ~/~dopzod/urbit-help. That's what shows up when I do a `;what`.

[2020-06-11 03:15] ryjm opened #3003 "Missing messages on landscape"
**Describe the bug**
Messages to a chat on planet do not appear on another.

**Screenshots**

on ~littel-wolfur
![screenshot](https://user-images.githubusercontent.com/2065299/84340912-d0bd2e00-ab6f-11ea-9ca4-4f4d4e09fe7d.png)

on ~lisdun-modsup
![oHHJbQi (1)](https://user-images.githubusercontent.com/2065299/84340955-ed596600-ab6f-11ea-8af1-822269e42043.png)

[2020-06-11 03:16] ryjm commented on #3003
They do appear correctly ordered on a refresh.

[2020-06-11 07:11] mike-cr commented on #3002
I have the exact same issue with  ~darrux-landes/general having rejoined the Urbit Community group after a breach - also had a glyph in ;what but no chat in ;chat and am getting the permission-hook failure.

I'll note that while I got the permission-hook failure for ~darrux-landes/development as well I still managed to join that chat successfully so the permission-hook failure may be incidental. I

[2020-06-11 19:05] galenwp commented on #2982
Still seeing this today. @loganallenc you going to take a look? Or should I try someone else?

[2020-06-11 19:06] loganallenc commented on #2982
I’ll take a look now.

[2020-06-11 19:07] galenwp commented on #2982
Thanks

[2020-06-12 05:11] mikolajpp opened #3009 "Eth-watcher fails after rekeying the ship - can't sync the ship."
## What happened
I have booted my ship in the new era and due to some chat hiccups I decided to rekey it and boot from scratch again.
Now I have a new ownership address and tried booting using new key, but the result is  eth-watcher failing.
My ship is in the prompt, but ames gives no signs of life.

[code]

[2020-06-12 15:33] mikolajpp commented on #3009
Okay, closing this one. It took really long time of cautious waiting (~2h) until I dared to enter urbit-help chat, but now everything seems to work.

[2020-06-12 15:33] #3009 closed

[2020-06-13 08:06] mikolajpp opened #3015 "Web UI inaccessible"
**Describe the bug**
After a day of running the http UI has become inaccessible.
Sporadic `http`'s are no longer visible in the dojo.

**System (please supply the following information, if relevant):**
 - OS: linux64
 - Urbit 0.10.5
 - `0vu.niou0.tga8g.m8jo3.pbpr0.f3ih0.vkkhu.a0i7o.dhntn.82tm9.81dn2`

Additional my home is out of sync with base and is of hash
`%home-hash 0v4.0eh6c.nvtqb.joh0t.tb89

[2020-06-13 08:16] mikolajpp commented on #3015
The web UI unlocked itself with no apparent signs.
Base and home are still out of sync. All I can say about this for now that
during the hang the HTTP port was not even open, as per `netstat -tup` output.

Now that it works I can see in the list.

[2020-06-13 13:13] mikolajpp commented on #3015
After waking computer from sleep web UI no longer works. Here is the output of `netstat -tup | grep urbit`

[code]

So you see a lot of connections which are supposed to be closed, but urbit keeps them hanging.  These must be the connections resulting from frantic trials to open the web UI in the browser, which never succeded.

So far I have no reproducible solution for this. It seems to happen af

[2020-06-13 13:18] mikolajpp commented on #3015
Furthermore, after restartin the urbit process, I can see the following:
[code]

In total 12 connections closed, exact same number as the output from netstat above; indeed these connections are now gone, as netstat shows, but the problem is there aren't any connections opened by urbit.

In short, there is some strange bug which periodically messes with the open sockets.

The vere binary I am runni

[2020-06-13 13:43] mikolajpp commented on #3015
Okay, I have found the culprit. This is a new machine and for some reason
the setup wizard set the hostname, but did not put the entry for the hostname into `/etc/hosts`
which must have resulted in name resolution errors on urbit side.

Once I have added 127.0.0.1 entry to the /etc/hosts web UI is present just fine.

Although this is clearly a host misconfiguration issue, some of the time web UI w

[2020-06-13 14:23] mikolajpp opened #3016 "Invites visible in :invite-store never shows up in web UI"
**Describe the bug**

I have received an invite (in fact, two) for certain group.
The invites are visible in `:invite-store +dbug`

[code]

These invites never showed up in the web UI and manual attemps
to join the said channel result in permission failure.

`+trouble`:

[code]

[2020-06-13 14:30] mikolajpp commented on #3016
In the end I have received both invites. I have expected them to show up in chat UI too, but they were rightly only visible in the group interface. Congratulations on low noise UI design and closing.

[2020-06-13 14:30] #3016 closed

[2020-06-14 12:16] Matthias-Schaub commented on #2903
Hello,

I think I have the same issue. After replaying over 22 million events for over one week the same error message persists.

Any thoughts on what I could do to safe my planet?

[code]

[2020-06-15 15:46] matildepark commented on #3002
@ryjm @mike-cr Can you guys confirm current behaviour? It seems like there might've been 700 adds to Urbit Community during that time that gummed the works up?

[2020-06-15 18:16] tacryt-socryp opened #3019 "bail: oops on v0.10.6.rc1 upon booting into new binary"
**Describe the bug**
I switched from 0.10.4 to 0.10.6.rc1, and my ship wasn't responding to HTTP requests despite the terminal being responsive, so I pressed Ctrl+Z and got an immediate bail: oops.

**Expected behaviour**
For my ship not to crash.

**Screenshots**
<img width="570" alt="Screen Shot 2020-06-15 at 2 13 56 PM" src="https://user-images.githubusercontent.com/1377557/84691803-bdfd7d00-af

[2020-06-15 18:26] vvisigoth commented on #3019
I thought this binary had a different mapsize or somesuch. Does 10.5 work?

A

On Mon, Jun 15, 2020 at 11:17 AM Logan <notifications@github.com> wrote:

--
—
~poldec-tonteg
http://urbit.org

[2020-06-15 18:59] joemfb commented on #3019
I haven't seen this particular trace, but `ctrl-z` is a hack, implemented with a pile of hacks. Do you still have the core dump, and, if so, can you get the backtrace for every thread? It's `bt all` in LLDB, `thread apply all bt` in GDB.

[2020-06-15 23:07] abliss opened #3021 "Web interface doesn't work (Internal Server Error)"
**Describe the bug**
Trying to load localhost:12321 serves a `HTTP/1.1 500 hosed` status message.
**To Reproduce**
Steps to reproduce the behavior:
1. Download the urbit 0.10.5 tarball as per the instructions
2. Untar it and run it as per the instructions
3. Wait a couple hours(?) for it to finish booting up
4. Browse to localhost:12321 as per the instructions

**Expected behavior**
200 OK
**Scree

[2020-06-15 23:18] joemfb commented on #3021
`12321` is a local-only control plane service ("lens") -- we use for CI an hosting automation (see the "herb" client tool).

You'll want to use the HTTP server on port 80, or maybe 8080.

[2020-06-15 23:21] abliss commented on #3021
I see. The documentation says to "look for a line that says something like http: live (insecure, public) on 80. ". Perhaps there was another line about 8080, but it was lost in the first hour's scrollback, and the second one, for port 12321, was the only one I saw.

Perhaps the documentation should be clarified, and perhaps the 12321 port should serve some kind of useful message (instead of a 500

[2020-06-15 23:21] abliss commented on #3021
Port 8080 seems to be working. Thanks!

[2020-06-15 23:21] #3021 closed

[2020-06-15 23:26] joemfb commented on #3021
Yeah, I think all of the command-line output, the lens error response, and the docs could be better on this.

/cc @rmariani

[2020-06-16 03:18] mike-cr commented on #3002
yeah my ship suddenly subscribed to ~darrux-landes/general by itself a day after I'd given up trying. Seems maybe it was just gummed up

[2020-06-16 12:49] rabsef-bicrym commented on #2975
I'm on %base-hash and %home-hash 0vr.v6l8h.ff979.hpr0m.uea2r.02fkf.26us8.or5j9.rgr57.6bgbi.9rbpn and having the same experience.

Attempted to create notebook, not in a group, not creating a group, and with one invite, and it stalled @ the creating screen w/ the spinning cube indefinitely.

[2020-06-16 12:51] matildepark commented on #2975
Did you try running |cancel ?

[2020-06-16 12:55] rabsef-bicrym commented on #2975
Dang - thought I was safe in saying that due to correct base hash - you got me!  That worked

[2020-06-16 15:50] lvivier opened #3022 "HTTP 404 on first boot"
I had to breach and have been unable to boot either my planet or a comet because of an HTTP 404 getting the Ethereum gateway. I am on macOS with a fresh urbit 0.10.5 binary.

Is there another URL I should be passing to urbit with `-e`?

Terminal output:

[code]

**To Reproduce**

1. follow [Install + Setup](https://urbit.org/using/install/) instructions to boot a planet or comet
2. urbit exits aft

[2020-06-16 18:19] matildepark commented on #3022
We've been talking about this with ops — so far can't reproduce. Is this persisting for you? And what command are you using to boot?

[2020-06-16 19:30] lvivier commented on #3022
This is happening consistently for me. I've tried with my planet and keys and also as a comet like:

[code]

If I just curl the URL from my machine I do get a 404:

[code]

[2020-06-16 21:24] matildepark commented on #3022
We restarted the proxy. Any difference?

[2020-06-16 23:03] lvivier commented on #3022
@matildepark yes, I just tried again and got thru to dojo after a normal looking first boot. Thanks!

[2020-06-17 02:28] matildepark commented on #2897
Patched in https://github.com/urbit/urbit/commit/5757fd8f5d28db111ee3cfa614c5f96e5b322c8b, coming in with the SPA.

[2020-06-18 20:27] vvisigoth opened #3028 "New Chat with multiple invitees never sends an invite"
**Describe the bug**
Creating a new chat (unmanaged) with multiple members never sends an invite to members.

**To Reproduce**
Steps to reproduce the behavior:
1. Click "New Chat"
2. Creat a channel without a group, invite 2 ships.
3. The other ships will never get an invite and they don't show up in the "Members" section of settings for the channel

**Expected behavior**
All invitees get an invit

[2020-06-18 20:28] vvisigoth commented on #3028
This was first reported by @galenwp and ~simfur

[2020-06-18 20:42] matildepark commented on #3028
It's not just an invite thing, the permissions are also empty. I'm investigating.

[2020-06-18 20:58] matildepark commented on #3028
OK so:
- Creating an unmanaged chat in the new screen is deliberately *not* a "group DM" prompt. It's a "create a public chat" holdover for lobby rooms, until public groups have landed. Thus when you create a chat, it's a `channel` not a `village`. So its security settings are not "who is invited" but "who is not allowed into this room".
- However I don't see the chat members in the blacklist eith

[2020-06-18 21:00] matildepark commented on #3028
(A workaround for now, that I *think* would work, is if you created a single-person DM with someone and then added someone to the DM on the Members page.)

[2020-06-18 21:08] galenwp commented on #3028
The main thing that's confusing is that on the creation screen there is a field that says 'invite', and that doesn't propagate invites.

I would like to be able to have group DMs that aren't publicly readable at all (a few people in a chat that can't be readable, even if someone guesses the name). If we have public groups, do we need public channels?

[2020-06-18 21:09] matildepark commented on #3028
No. And when we have public groups then we won't have any public channels at all.

[2020-06-18 21:13] matildepark commented on #3028
Yes, the single person DM was the minimum viable implementation just before we froze for SPA work. They're coming, but that's outside the scope of this PR (which is why / if indeed `%channel` creation drops invited members).

[2020-06-18 22:11] galenwp commented on #3028
Okay, I think I understand. This might just be a design issue — since the creation form indicates you're 'inviting' people.

Also, I swear this used to work. I think that's why I was confused in the first place.

[2020-06-18 23:56] #2833 closed

[2020-06-18 23:56] #2889 closed

[2020-06-18 23:56] #2829 closed

[2020-06-18 23:56] #2897 closed

[2020-06-18 23:56] #2883 closed

[2020-06-19 03:35] glosta opened #3030 "Bridge Error"
TypeError: Cannot create property 'message' on string 'Node error: {"code":-32000,"message":"already known"}'
    at renderAdditionalInfo (https://bridge.urbit.org/static/js/main.b6a701ac.chunk.js:2322:385)
    at PassportTransfer (https://bridge.urbit.org/static/js/main.b6a701ac.chunk.js:2322:1914)
    at dh (https://bridge.urbit.org/static/js/2.a3f8391b.chunk.js:159072:7)
    at Jh (https://brid

[2020-06-19 07:48] liam-fitzgerald commented on #2567
@nartes-fasrum can you confirm that this was fixed with the latest OTA?

[2020-06-19 10:14] cmm opened #3032 "cannot subscribe to notebooks hosted by ~bitpyx-dildus"
**Describe the bug**
Hitting "Open" in Landscape opens a join screen with a spinning cursor that spins forever.
`:publish &publish-action [%subscribe ~bitpyx-dildus %community]` in dojo returns `>=`.
`:publish +dbug [%outgoing %ship ~bitpyx-dildus]` says `no matching subscriptions`.
same for `:publish +dbug [%incoming %ship our]`

`|hi`'ing `~bitpyx-dildus` works.

**To Reproduce**
Be `~midlyx-hat

[2020-06-19 15:41] urcades opened #3033 "Visual bug: Chat field/input items (sigil, hint text, "send code" button) are not vertically centered in field"
Refer to image below:

<img width="1130" alt="Screen Shot 2020-06-19 at 11 24 55 AM" src="https://user-images.githubusercontent.com/1195363/85150856-11c4da80-b221-11ea-9055-9d5e60f965a0.png">

Simply, these items should be vertically centered in the field in their default state. When the field grows (shown in the below image), element positioning works as originally designed:

<img width="1138" al

[2020-06-19 23:36] Fang- opened #3035 "Debug dashboard partially broken"
- "Interactive" actions, like subscribing to an app's `verb`, or poking spider, fail because `window.urb is undefined`.
- Tried loading ames details for ~dopzod, but the page crashed with `JSON fetch on /~debug/ames/peer/dopzod.json failed: TypeError: t.key.includes is not a function`

[2020-06-20 02:04] taalhavras opened #3036 "Lost communication with sponsor after downloading new binary"
**Describe the bug**
After downloading the 0.10.5 version of urbit I've had issues hi-ing my sponsor star and galaxy (~marnus and ~nus). While I can occasionally contact the galaxy, I've never been able to contact my star (though others can). This has caused a fair number of my chats/groups to become unusable (though not all). For example, I can use the urbit community development chat just fine,

[2020-06-22 16:41] syzygyzer opened #3039 "bail: oops error on boot following failed OTA from 2020.6.16"
**Describe the bug**
My planet, running on the v0.10.5 binary, crashed while processing an OTA, presumably the one from 2020.6.16 based on the stack trace below. The stack trace showed a number of messages saying `%duct-doesnt-refer-to-real-build`, `%ford-missing-build`, `%ford-take-rebuild`, and
[code]
going back more than a thousand lines during the OTA, and ending with
[code]

The subsequent bo

[2020-06-22 16:57] matildepark commented on #2865
In master with #3025.

[2020-06-22 16:57] #2865 closed

[2020-06-22 16:58] philipcmonk commented on #3039
Looks like out of memory while compiling, you have 820MB contiguous free, which is right on the edge of sufficient.  This would normally require a breach, but on Friday I came up with a way to compile with much less memory (~100MB for what you're doing, after that OTA you're working on it'll be more like 50MB).  I'm going to clean that up and release a new binary in the next day or two, and you sh

[2020-06-22 16:59] matildepark commented on #1664
We moved to Webpack and only require a single build command now, but we still don't do what OP suggests:

[2020-06-22 17:02] matildepark commented on #2982
@loganallenc @galenwp What's the status of this? How'd the investigation go?

[2020-06-22 17:03] loganallenc commented on #2982
See: https://github.com/urbit/urbit/pull/3034

[2020-06-22 17:09] vvisigoth commented on #2964
@gilletteonmeheleparim just checking on this, did the leave and join ever work? If not, can help debug.

[2020-06-22 18:02] ixv opened #3040 "publish: edit screen doesn't show the text"
When you go to edit a post, the textarea is empty.

[2020-06-22 18:56] #2975 closed

[2020-06-22 18:57] #2622 closed

[2020-06-22 19:00] ixv commented on #2218
Forgot about this issue. The reason we kept it as @tas after all is that @ta is not necessarily url safe.

[2020-06-22 19:00] #2218 closed

[2020-06-22 19:10] joemfb commented on #2218
@ixv, `@ta` certainly should be url-safe -- what was the issue?

[2020-06-22 19:20] gilletteonmeheleparim commented on #2964
unfortunately I can't remember exactly but I think I had to leave and join multiple times after I had waited some time after I did a continuity breach. it was probably this issue: #2952

[2020-06-23 04:16] ryjm opened #3043 "Lost app state after OTA"
**Describe the bug**
I had a gall app running on my ship, and it seems like the OTA just completely wiped it out, as both my home and base hash are now the exact same:

[code]

I was running the 0.10.5 binary.

**To Reproduce**
Steps to reproduce the behavior (to be clear, I haven't been able to reproduce this yet - my other ship running the same app has not yet received the OTA luckily, and I was

[2020-06-23 04:25] ryjm commented on #3043
err sorry, wrong tag - seems like more than a landscape issue.

[2020-06-23 05:14] philipcmonk commented on #3043
Very strange, did you happen to run |merge %home our %base, =gem %that or
another unusual merge command?

What happens if you run +ls /=home/NUM/app where NUM is the last few
revisions? Is your app there? You can get the most recent revision with
-:.^(* %cw %)

Your app state is almost certainly still there, though you may need to
re-add the app. You can copy it directly from the older revision to

[2020-06-23 07:56] timlucmiptev commented on #2982
Just checking in again after the latest OTA.

I currently have about 20-30s Chat load times on both IOS and OS X (in Brave), but it's very inconsistent--often the page will just not load at all until I do a full refresh. This is also true when navigating back to the Home screen.

[2020-06-23 12:39] ryjm commented on #3043
i'm fairly certain i did run an unusual merge command, as i was trying to get ~littel updated at some point and tried to force it. i was also trying to get it to sync from a moon and was playing with merges.

yup, that was the first thing i tried - it's definitely not there, tried every revision.

anyway, i'm gonna close this and chalk it up to the weirdness of the universe - i don't think there's

[2020-06-23 12:39] #3043 closed

[2020-06-23 13:57] liam-fitzgerald opened #3044 "chat: %kick on backlog subscription may return incomplete backlog"
If a %kick occurs for a reason other than the backlog finished loading, (i.e. ames backpresure) then chat-hook thinks it's received the full backlog and begins listening for new updates. This would cause the subscriber to be missing a series of messages. This has likely been asymptomatic due to the short lived nature of backlog subscriptions, but has been exacerbated by the recent pressure on the

[2020-06-23 14:27] Fang- commented on #3043
Regardless of clay-level/source code changes, the app should stay running within gall, right? In the same way that the app stays running on the old version if recompile fails. In other words, the app itself doesn't live in clay, only its source code does.

How did you notice the app lost its state? Were you able to poke it, or subscribe to it?

[2020-06-23 18:15] galenwp opened #3045 "Can't delete a link"
**Describe the bug**
There's no way to delete a link

**Expected behavior**
Some way to delete a link

**Additional context**
Best way to reproduce: post a link in the wrong channel, then try to delete it.

[2020-06-23 20:38] ryjm commented on #3043
yeah that's what was so weird - it completely disappeared. i refreshed landscape and the tile was gone.

i have been using / developing this app on multiple different ships, so the only explanation i can come up with is that i never actually committed after a breach (i've had to breach a couple of times this era), completely forgot, and then refreshed an old tab that was pointing to a different sh

[2020-06-23 22:46] Fang- commented on #3043
This doesn't mean the app was lost per se! Try going to `/~debug` in your web interface (maybe run `|start %dbug` if you hadn't yet), and looking under the "apps" section. Is your app still listed there? Is it still running (green marker)? If it uses `/lib/dbug`, you might even be able to look at its state right there.

The OTA changed some things about launch, and looks like it [only migrated tlo

[2020-06-23 23:02] ohAitch commented on #3043
psst can tile registration be clay-based yet

Why are we sending configuration as add/remove pokes with no version control

On Tue, Jun 23, 2020 at 15:47, Fang <notifications@github.com> wrote:

[2020-06-24 00:30] matildepark opened #3047 "file-server: Landscape is mounted at all first-level directories regardless of other endpoints"
In https://github.com/urbit/create-landscape-app/issues/42 a user reported that going straight to `/~myapp` gave a 404, but `/~myapp/index.html` worked, with malfunctioning behaviour. The latter was due to the react-router not anticipating the `index.html` of the URL. The former is importantly not an Eyre 404, but Landscape's:

![image](https://user-images.githubusercontent.com/20846414/85481656-3

[2020-06-24 01:24] loganallenc commented on #3047
@Fang- This looks to me like an Eyre issue with prioritization of path prefix binding. Should prioritize most specific prefix first, no?

[2020-06-24 01:33] matildepark commented on #3047
Out of band he indicated it didn't seem to be an Eyre issue:

![image](https://user-images.githubusercontent.com/20846414/85486720-34e0e880-b599-11ea-8e1a-0e558a42c7b6.png)

[2020-06-24 01:38] matildepark commented on #3047
Also want to note that `/~debug` doesn't go to Landscape; but it doesn't use `%file-server`, it just connects to Eyre directly.

[2020-06-24 01:54] matildepark commented on #3035
First is fixed by #3048. Honestly unsure about the latter one so far, though — it does seem to work on ~haddef when I go directly to it.

[2020-06-24 02:04] loganallenc commented on #3047
Since he’s verified that, I’ll look into it.

[2020-06-24 12:18] Fang- commented on #3035
I think I might already have fixed that in #2951, actually? But I don't see that change on master, could it have gotten lost somewhere along the merge/release process?

[2020-06-24 14:15] matildepark commented on #3035
It wasn’t lost, release/next-userspace just hasn’t been merged into master and released since May 2.

[2020-06-24 22:42] forfel-norfel commented on #2677
@joemfb Thanks for making those recovery builds available. They helped me recover my planet after I ran out of disk space.

I'm trying to recover from an unrelated issue now and I noticed that the replay version seems to keep all of the deleted north/south.bin.bak files open, so it slowly fills up the disk until it fails from a lack of disk space. Once the process terminates, there's lots of free

[2020-06-25 02:17] forfel-norfel opened #3051 "1.5GB of Eyre channels, most things now cause bail: meme"
I don't know what caused this.

[code]

[2020-06-25 04:26] mike-cr opened #3052 "the urbit binary ought to look for terminfo in standard locations"
If you wanna install urbit with a package manager on linux you must write some kind of wrapper script that executes it with the TERMINFO env-var or cd's over to another directory or some such thing so that it can find its terminfo files. It would be nice if it automatically looked in /usr/share/terminfo and other standard locations so that its binaries can by put in /usr/bin or wherever without ad

[2020-06-25 05:16] joemfb commented on #3052
This is a long-standing problem (ever since we started shipping static binaries), and I don't know how to handle it correctly --  cross-compiling ncurses is apparently quite involved.

But I have a much dumber solution in the works ... I have a branch (`ipc-redux`) that entirely removes the ncurses dependency and use of the terminfo database. Our terminal requirements are modest, so we can just di

[2020-06-25 05:25] joemfb commented on #3051
I ran into this as well. Those channels are persistent (timing out after `~h12`), and buffer output. I think there are some pathological retry cases in the interface that can request massive amounts of data (for instance, full backlog for long-lived chat channels). Luckily, the space will be reclaimed after the 12 hour timeout, so you'll just need to keep your ship idle until then. I'd just shut i

[2020-06-25 05:28] ohAitch commented on #3051
Does this mean chat on load receives 1.5GB of JSON in sufficiently large
channels, instead of requesting messages incrementally?

On Wed, Jun 24, 2020 at 22:25, Joe Bryan <notifications@github.com> wrote:

[2020-06-25 05:34] joemfb commented on #3051
No, it means that %eyre has (or had) open gall subscriptions across all of those channels which resulted in 1.5GB of serialized responses, which are persistently buffered until either a) acknowledged by the front-end or b) channel timeout. (Most of those serialized responses are probably json, and most of the subscriptions are probably for chat backlog.)

[2020-06-25 05:39] ohAitch commented on #3051
Ah, did the "after 10 unacked responses unsubscribe" logic in gall die
then? (I forget the exact number, but there definitely used to be the
backpressure mechanism you describe)

On Wed, Jun 24, 2020 at 22:34, Joe Bryan <notifications@github.com> wrote:

[2020-06-25 05:50] philipcmonk commented on #3051
Yes, that's gone and is now handled by each client vane. For example, Ames'
rule is >5 unacked messages and no contact for 30 seconds

On Wed, Jun 24, 2020, 22:39 Anton Dyudin <notifications@github.com> wrote:

[2020-06-25 05:57] ohAitch commented on #3051
Or (virtually) unhandled, in this case P:

Contact on that particular channel, or contact period? Could another ship
hypothetically have a hung channel client causing bufferbloat, as long as
some unrelated channel is running?

((Is the motivation for having subscription timeout be 12 hours something
along the lines of, the web chat client / chat subscription protocol
doesn't implement reconnects a

[2020-06-25 06:03] ohAitch commented on #3052
And if we need to do more involved terminal-agnostic escapes, there's
always libuncursed…

On Wed, Jun 24, 2020 at 22:17, Joe Bryan <notifications@github.com> wrote:

[2020-06-25 18:55] matildepark opened #3053 "landscape: multi-line sidebar entries are not vertically aligned"
The SPA rearchitecture enforced a line-height of 1.5 across the interface; there's been some hacking to restore a sense of alignment, and one such hack was changing sidebar items from `pv1` to `pb1`. However, this is clearly not enough to line things up. Do we change the line-height? Play with vertical alignment?

Affects sidebar in all applications, will have to be amended in all "sidebar-item" c

[2020-06-25 19:42] syzygyzer commented on #3039
Up and running again!

[2020-06-25 19:42] #3039 closed

[2020-06-25 20:17] syzygyzer commented on #3052
@joemfb that sounds like it might address this issue https://github.com/urbit/urbit/issues/1960 which continues to plague me. I would be happy to test once you get to that point, since it seems like a tricky issue to reproduce.

[2020-06-26 03:33] ryjm commented on #3043
update - the planet that was waiting for an OTA successfuly updated without wiping anything. so consider this an act of god.

[2020-06-26 10:46] Fang- opened #3055 "overlay-sigil.js using lots of cpu, even when not visible"
"Hmm webchat sure is using a lot of cpu just for being idly visible on my screen."

Looked at browser console and found it printing the following:

<img width="939" alt="image" src="https://user-images.githubusercontent.com/3829764/85848382-56b0ba00-b7a9-11ea-9e45-958d3c1a77b1.png">

Note the timestamps on those log entries. There were so many of these the browser console had trouble keeping up.

[2020-06-26 14:09] timlucmiptev opened #3056 "%file-server doesn't serve index.html by default in public dir"
**Description**
Directory being served publicly by `%file-server` doesn't serve `index.html` by default when I navigate to the route.

**To Reproduce**
Steps to reproduce the behaviour:
1. copy `index.html` into `/app/testdir/index.html`
2. `|commit %home`
3. Serve it publicly: `:file-server &file-server-action [%serve-dir /'~testdir' /app/testdir %.y]`
4. Navigate to `http://localhost/~testdir`

[2020-06-26 14:10] #3056 closed

[2020-06-26 14:10] timlucmiptev commented on #3056
Should put in OS1

[2020-06-26 14:11] timlucmiptev opened #3057 "%file-server doesn't serve index.html by default in public dir"
**Description**
Directory being served publicly by `%file-server` doesn't serve `index.html` by default when I navigate to the route.

**To Reproduce**
Steps to reproduce the behaviour:
1. copy `index.html` into `/app/testdir/index.html`
2. `|commit %home`
3. Serve it publicly: `:file-server &file-server-action [%serve-dir /'~testdir' /app/testdir %.y]`
4. Navigate to `http://localhost/~testdir`

[2020-06-26 14:15] matildepark commented on #3057
Duplicate of #3047.

[2020-06-26 14:15] #3057 closed

[2020-06-26 16:26] galenwp commented on #3055
Could this be related to the bug that just got fixed in urbit-ob?

On Fri, Jun 26, 2020 at 3:46 AM Fang <notifications@github.com> wrote:

[2020-06-26 16:47] syzygyzer commented on #1960
Someone commented in urbit-help the other day that compiling the binary yourself will make it use your system's own `terminfo`. I did so and finally I can run urbit in NixOS again! The days of creating a new fake zod every single day are now behind me (as it would always run the first time, the error would just arise when I tried to resume it later).

[2020-06-27 12:14] cmm commented on #3032
Thinking that upgrading to the new faster binary is a good occasion to revisit this, I tried to subscribe to `~bitpyx-dildus/feature-requests` again.

- `:publish +dbug [%outgoing %ship ~bitpyx-dildus]`:
`no matching subscriptions`
- `:publish +dbug [%incoming %ship our]`
``
[ path=/primary
  from=~midlyx-hatrys
  duct=~[/e/channel/subscription/1593246340087-d37bce/1 //http-server/0vp.pjviu/20/2]

[2020-06-27 16:37] mike-cr opened #3061 "armv7 (32-bit) build failure -Werror=pointer-to-int-cast"
[code]

[2020-06-27 18:26] botter-nidnul commented on #3061
I've run into this too, I think it's some kind of platform specific configuration bug in the toolchain. 32-bit arm never got much love, I get the impression there are lots of bugs out there in various tools & libraries that will affect the platform. AArch64 seems to be much better supported.

It's possible to at least [build for 32-bit arm using cross compilation](https://github.com/urbit/urbit/pu

[2020-06-27 20:31] custom-jonathan commented on #3040
I'm having this, too. I made a post, and when I try to edit it, the whole thing goes blank. Tried it on my single ~minder-folden notebook, my ~minder-folden-hosted group notebook, and it happens in both instances. I used my backup planet and made a post to the ~minder-folden hosted group notebook and it posted just fine, and I could change it, too. I tried the silver bullet and running `:publish r

[2020-06-27 21:53] matildepark commented on #3040
The patch isn’t live yet! It’s merged but it’s going out with Fusion.

[2020-06-27 22:18] custom-jonathan commented on #3040
Hooray Monday!

[2020-06-28 00:58] ryjm opened #3062 "Planet bail memeing soon after booting"
**Describe the bug**
After the most recent OTA, I haven't been able to keep my planet up longer than ~30 seconds. I can keep it up long enough to do a |verb though, so I tried doing that:

![screenshot](https://user-images.githubusercontent.com/2065299/85934981-d24d5c80-b8b8-11ea-979a-c915122ba798.png)

Let me know if there's anything more I can do to debug this. I've rebooted ~15 times all with t

[2020-06-29 04:05] alecbrick commented on #1981
I started experiencing these issues last night. My terminal started `behn`ing as if I was getting an OTA. This is odd, since the latest base hash (`7eqpf`) hasn't changed. Afterwards, I ended up in the same state as other people in this thread. I can't type anything into the terminal, and Landscape just gives a mostly blank screen (except for the Groups page, which I can click but not see any grou

[2020-06-29 05:11] #3061 closed

[2020-06-29 13:20] ryjm commented on #3062
strange... after not touching it over the weekend, it now boots up fine.

[2020-06-29 13:20] #3062 closed

[2020-06-29 15:58] matildepark commented on #3045
FTR @Fang- mentioned to me out of band he thinks graph store might obsolesce this issue.

(In general, I feel like the assignee should be recording "current status" for blocker, obsolescent project, etc. so we can look back and see why an issue from 2016 is ongoing.)

[2020-06-29 15:58] matildepark commented on #3003
Seems like a quirk between FE and ship?

[2020-06-29 16:00] matildepark commented on #2880
Ping @g-a-v-i-n (and @Fang- — is this getting worse?)

[2020-06-29 16:54] Fang- commented on #2880
idk what worse would be. My clock still looks like this:

<img width="124" alt="image" src="https://user-images.githubusercontent.com/3829764/86033773-c2a95180-ba39-11ea-91d8-a798892b05cf.png">

[2020-06-29 18:30] philipcmonk opened #3065 "Navigating to /~publish or children gives 404"
**Describe the bug**
I can navigate to `/~publish` by going to `/` and clicking links, but if I refresh the page it 404s.  This works fine with `/~chat`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/`
2. Click 'Publish'
3. Refresh

**Expected behavior**
See Publish.

**Desktop (please complete the following information):**
 - OS: Ubuntu 19.10
 - Browser: Chrome
 - Base hash of you

[2020-06-29 18:36] matildepark commented on #3065
I'm pretty sure this is non-deterministic and due to an on-load poke from Publish to file-server not going through ...

[2020-06-29 19:05] g-a-v-i-n commented on #2880
Mark, can you confirm that your weather lat/lon is your real lat/lon?

On Mon, Jun 29, 2020 at 9:54 AM Fang <notifications@github.com> wrote:

[2020-06-29 20:33] Fang- commented on #2880
It is. And, as per earlier comment, clock was displaying fine during winter.

[2020-06-29 23:15] #2723 closed

[2020-06-29 23:15] #3040 closed

[2020-06-30 00:46] matildepark commented on #3035
With both PRs now in master, closing this.

[2020-06-30 00:46] #3035 closed

[2020-06-30 00:47] #2996 closed

[2020-06-30 04:55] sipwex-barfus opened #3069 "Unable to Run +trouble after OTA"
**Describe the bug**

When I type `+trouble` in the dojo I get the following returned:

[code]

**To Reproduce**
I had recently(yesterday) breached starting anew with 0.10.7 due to consistent issues with my original ship. I had therefore started as "fresh" as one could prior to the OTA (797 fragments) today, having synced first to ~marzod, got no response or change, so I unsynced from ~marzod and

[2020-06-30 08:27] gilletteonmeheleparim commented on #2880
Can confirm

[2020-06-30 11:15] jtobin commented on #2886
Not an issue as of urbit-os-v1.0.24.

[2020-06-30 11:15] #2886 closed

[2020-06-30 16:52] galenwp opened #3073 "Links don't load"
**Describe the bug**
Links collections don't load

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a link collection
2. Watch as 'loading' continues forever

**Expected behavior**
Links loading

**Screenshots**
<img width="1076" alt="Screen Shot 2020-06-30 at 9 51 11 AM" src="https://user-images.githubusercontent.com/1467211/86154036-6422b880-bab7-11ea-80cc-5b6459f7219c.png">

**Desktop

[2020-06-30 17:30] matildepark commented on #3073
I somewhat suspect we just need to recompile the JS and ship it OTA — I can't replicate this on a fakezod off master, but it's clearly affecting me on livenet. Livenet didn't get JS changes last night.

[2020-06-30 17:47] vvisigoth commented on #3073
Let's test that OTAin'!
—
~poldec-tonteg
http://urbit.org

On Tue, Jun 30, 2020 at 10:30 AM matildepark <notifications@github.com>
wrote:

[2020-06-30 18:35] philipcmonk commented on #3073
Oh yeah I totally forgot to compile the JS, I haven't done a userspace release in a while.

On Tue, Jun 30, 2020 at 10:47 AM, Anthony Arroyo < notifications@github.com > wrote:

[2020-06-30 18:43] matildepark commented on #3073
It would've failed, see #3068.

[2020-06-30 19:08] cmm commented on #3032
Either the latest OTA or the community group's move away from ~dopzod seems to have cleared this, closing.

[2020-06-30 19:08] #3032 closed

[2020-06-30 19:26] ryjm opened #3075 "Unable to run commands in dojo"
**Describe the bug**
Can't run anything in dojo, getting `ford: gone (+call)` when i try to do anything (even navigating to landscape). Seems like the dummy ford vane somehow got reloaded into the ship state? I was running some hood commands `|reload`, `|reboot` before this happened. Maybe they were loaded from the old ship state before the OTA?
**To Reproduce**
Steps to reproduce the behaviour:
R

[2020-06-30 19:31] ryjm commented on #3075
looking through the scroll back, it was a `|reload %f` that did it.

[2020-06-30 19:36] belisarius222 commented on #3075
Those commands might be broken now. I'll check. In the meantime, I wonder if we could try to save your ship by pushing down a new OTA to it. Who's your sponsor?

—
~rovnys-ricfer
https://urbit.org

On Tue, Jun 30 2020 at 3:27 PM, Jake Miller < notifications@github.com > wrote:

[2020-06-30 19:37] ryjm commented on #3075
amazing, thank you! my sponsor is ~middev

[2020-06-30 19:46] ryjm commented on #3075
just confirmed that this is reproducible with `|reload %f` by running it on ~lisdun-modsup.

[2020-06-30 20:19] ryjm commented on #3075
tried manually triggering an OTA by changing `%kids` in ~middev (just added a line to ford.hoon), but that doesn't seem to have helped.

[2020-06-30 20:25] belisarius222 commented on #3075
Are you sure your ship applied the OTA before this?  If it did, your ford.hoon should be only fifteen lines or so, instead of 6,000.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jun 30, 2020 at 4:20 PM, Jake Miller < notifications@github.com > wrote:

[2020-06-30 20:30] ryjm commented on #3075
yeah it definitely was applied, that's where those `ford: gone` lines are coming from.

[2020-06-30 20:37] belisarius222 commented on #3075
Oh, right. The strange thing here is that running a dojo command would trigger a Ford build at all. Old, pre-fusion dojo used Ford, but post-fusion dojo doesn't try to talk to Ford at all. This makes me wonder if your dojo somehow reverted to the old one, or never properly upgraded.

I wonder if we could get something like a |verb trace out of your ship by hacking the runtime ...

—
~rovnys-ricfer

[2020-06-30 20:43] ryjm commented on #3075
it seems like herb sort of works, but it can't run any dojo commands:

WARNING <module> 442 - unrecognized response
<html><head><title>500 Internal Server Error</title></head><body><h1>Internal Server Error</h1><p>There was an error while handling the request for &quot;/&quot;.</p><code>/~littel-wolfur/home/0/app/lens/hoon:&lt;[38 3].[63 64]&gt;<br />/~littel-wolfur/home/0/app/lens/hoon:&lt;[37 3]

[2020-06-30 20:43] ryjm commented on #3075
That gall clay path is strange... seems like it's referencing an old version.

[2020-06-30 20:47] mikegogulski commented on #3069
+1

[2020-06-30 21:00] philipcmonk commented on #3069
If you were never able to get updates from ~litpub, `+trouble` will fail like that.  We need to switch that from looking for parent to looking for OTA.  Is everything else about it working alright?

[2020-06-30 21:08] Faolain commented on #3069
Interesting thanks @philipcmonk , and more or less, seem to have trouble joining any chats on Urbit Community even though I'm in the group (~bitbet-bolbel). I get a spinner on restoring past messages even when left for an entire day on one channel along with many `arvo: replacement event (for %hear) failed` messages in the dojo.

[2020-06-30 21:09] philipcmonk commented on #3069
@Faolain Can you run `|verb` until you get that message again and send the stack trace?  Run `|verb` again to turn it off.

[2020-06-30 21:17] Faolain commented on #3069
Done @philipcmonk , https://pastebin.com/ZcEgyUiD should have two events in there.

[2020-06-30 21:20] sipwex-barfus commented on #3069
Interesting thanks @philipcmonk , and more or less, seem to have trouble joining any chats on Urbit Community even though I'm in the group (~bitbet-bolbel). I get a spinner on restoring past messages even when left for an entire day on one channel along with many arvo: replacement event (for %hear) failed messages in the dojo.

Update Logs:
Should have two arvo replacement events in here https://p

[2020-06-30 21:22] philipcmonk commented on #3069
You have a couple of "dangling bones" with ~litpub, which means on those flows you can't make progress.  This is a known bug (#2359), but we haven't been able to track down what causes it, our best guess is something incorrect about breach handling, I know we found one place where that caused a problem.  Our only workarounds are to breach or switch to download updates from another ship.

cc @belis

[2020-06-30 21:25] sipwex-barfus commented on #3069
Ah hmm appreciate it philip. I had just breached prior to this so this was almost as fresh of an "install" as possible beyond having run `|sync %base ~binzod %kids` to get my updates from ~binzod (since ~litpub wasn't doing so for some reason). Any suggestions on how to proceed so that the same thing doesn't happen again?

[2020-06-30 21:28] philipcmonk commented on #3069
I'll take a look on ~binzod at those flows and see if I can track down what might be the cause

[2020-06-30 21:34] philipcmonk commented on #3069
Do you have the debug dashboard?  Can you run `|start %dbug`, navigate to `/~debug`, go to ames, search for ~binzod, and see if you have anything around bones 88 or 176?

When you breached, did you do anything to load old state?

[2020-06-30 21:38] philipcmonk commented on #3069
Oh wait I'm not thinking straight, ~binzod is communicating fine, it's ~litpub that we need to look up.  I forget who ~litpub is (@litpub ?), it would be great if they can do the same thing I said in the previous comment except searching for ~sipwex-barfus

[2020-06-30 21:40] sipwex-barfus commented on #3069
Not sure if this helps but it looks like I'm picking up the next OTA right now automatically (10.246 fragments downloading). Assuming this won't fix things?

When I breached didn't do anything special that I'm aware of, deleted old pier and "started fresh".

Should I still run the above debug but searching ~litpub?

[2020-06-30 21:45] philipcmonk commented on #3069
Good that you're getting the OTA correct, I expect you'll continue to get it correctly from ~binzod.  The dangling bones aren't a huge issue for you day-to-day, but they've been a nagging problem for months and now that we have the debug dashboard we can localize the problem.  I would still like to see if you have anything near those bones, yes, but ~litpub's side will have more info.  I reached o

[2020-06-30 21:47] sipwex-barfus commented on #3069
Appreciate it @philipcmonk, not necessarily sure what I should be looking for here but will paste the results.

![Screen Shot 2020-06-30 at 5 47 15 PM](https://user-images.githubusercontent.com/62186759/86180289-d0261080-baf9-11ea-898d-a297af93737f.png)

[2020-06-30 21:55] matildepark commented on #3073
Links now functional on livenet as of [1.0.25](https://github.com/urbit/urbit/releases/tag/urbit-os-v1.0.25), thanks for the report!

[2020-06-30 21:55] #3073 closed

[2020-06-30 21:57] matildepark commented on #3055
@Fang- I no longer have this issue as of [1.0.25](https://github.com/urbit/urbit/releases/tag/urbit-os-v1.0.25), can you confirm?

[2020-06-30 22:02] matildepark commented on #353
@joemfb @ohAitch Can't reproduce this, why is this still open?

[2020-06-30 22:09] matildepark commented on #1211
@belisarius222 @joemfb Is this one still pending? I know error handling is close(?), but this doesn't affect Landscape, should probably be renamed ...

[2020-06-30 22:12] matildepark commented on #1332
@Fang- Can I assign this to you to just include a printf based on @galenwp's comment?

[2020-06-30 22:12] joemfb commented on #353
`|mass` on `ipc-redux` is a recent example.

It'd be hard to say this is completely fixed without substantial work on the terminal subsystem. FWIW, a good portion of that has already been done in king haskell ...

[2020-06-30 22:14] matildepark commented on #1377
I know it's a faux pas to close the older issue, but this is superseded by #2649 (to close *all current sessions*, not just ours), has the back-end work in place as of #2970 and is part of our settings UI work this sprint. Thank you!

[2020-06-30 22:14] #1377 closed

[2020-06-30 22:14] joemfb commented on #1211
This is mostly fixed for timers, but `%drip` errors are still not handled.

[2020-06-30 22:15] matildepark commented on #1435
Closed by #3060 ?

[2020-06-30 22:20] matildepark commented on #1443
Obsolesced because we no longer allow for read-only chats. Permission-store itself is still in place and has related issues in #3028, though it's to be retired as of #2937.

[2020-06-30 22:20] #1443 closed

[2020-06-30 22:22] matildepark commented on #3028
This is assigned to @loganallenc because of the "%channel doesn't invite anybody" part in back-end; but the reported issue itself should be resolved once we no longer allow for unmanaged, public chats in #2937.

[2020-06-30 22:34] matildepark commented on #1538
We actually [have this now](https://github.com/urbit/urbit/blob/master/pkg/arvo/app/landscape/index.html#L11), it was introduced with the Chat redesign in late 2019; it's just a white icon for now.

[2020-06-30 22:34] #1538 closed

[2020-06-30 22:38] matildepark commented on #1541
Udon is, in the words of an engineer as of April 2020, "not actively supported, in use, or in development."

As for our use of Markdown in the FE ... it does, in fact, support tables:

![image](https://user-images.githubusercontent.com/20846414/86183771-c05dfa80-bb00-11ea-8631-2a2a8fa06ad0.png)

[2020-06-30 22:38] #1541 closed

[2020-06-30 22:41] matildepark commented on #1543
Udon is no longer in active use, support, or development across the system! Only in some fringe cases in the kernel. (And I cannot believe you wrote a website like this. It's like writing it in Notepad.)

[2020-06-30 22:41] #1543 closed

[2020-06-30 22:44] matildepark commented on #1557
See #1543, #1541.

[2020-06-30 22:47] matildepark commented on #1558
#1543, #1541, etc. (Though requiring newlines between headers and content isn't strictly a bug, just a style enforcement.)

[2020-06-30 22:47] #1558 closed

[2020-06-30 22:49] ohAitch commented on #1543
The *kernel*? Like, the udon parts, not just sail?

On Tue, Jun 30, 2020 at 15:48, matildepark <notifications@github.com> wrote:

[2020-06-30 22:52] matildepark commented on #1563
This issue is based on a pre-Eyre-rewrite interaction pattern for serving web content, and thus is obsolesced (as of June 2019, in fact).

You can currently serve content by poking `%file-server` with the folder on your `%home` desk and the endpoint you'd like to attach it to:

[code]

In which `/'~example'` is the endpoint you're serving it on, `/app/example` is the location of the files, and `%.

[2020-06-30 22:52] #1563 closed

[2020-06-30 22:53] matildepark commented on #1543
I honestly mix them up. I just mean the login page in Eyre.

[2020-06-30 22:55] matildepark commented on #1588
Checking on this. Allieviated by #3060?

[2020-06-30 22:58] matildepark commented on #1617
@Fang- both the referenced PRs for this issue are in master — are we good to close this?

[2020-06-30 22:59] matildepark commented on #1713
@philipcmonk ... was this just a downstream issue from #3054?

[2020-06-30 23:02] matildepark commented on #1849
ping @Fang-, given no additional reports and a decent hypothesis, this seems closable.

[2020-06-30 23:05] matildepark commented on #1898
I think Fusion was meant to specifically address stuff like this (or at least so that we don't need to goad anymore)? @belisarius222

[2020-06-30 23:07] matildepark commented on #1904
Both of these issues are fixed! See #3000.

[2020-06-30 23:07] #1904 closed

[2020-06-30 23:09] matildepark commented on #1937
This seems like a spurious "unreliable OTAs" issue that may now be alleviated...

[2020-06-30 23:14] ohAitch commented on #3075
Wait how does post-fusion dojo not talk to ford at all

Does /+ still work?

On Tue, Jun 30, 2020 at 13:48, Jake Miller <notifications@github.com> wrote:

[2020-06-30 23:17] matildepark commented on #2906
Fixed in #3031.

[2020-06-30 23:17] #2906 closed

[2020-06-30 23:21] matildepark commented on #2847
@joemfb I know there's probably a prioritisation for the solutions here, but this could just be considered a dupe of #1268. You know more here, though, so I defer.

[2020-06-30 23:25] joemfb commented on #2847
That looks right. (FWIW, king-haskell at least nominally supports specifying the http-port, and it'll be soft-released with ipc-redux.)

[2020-06-30 23:25] #2847 closed

[2020-06-30 23:28] philipcmonk commented on #3075
I expect you're going to need to inject a reset event, i think that's possible to do.

[2020-06-30 23:30] litpub commented on #3069
You can ping with @litpub - I'm monitoring ~ops more actively now too, saw your message there.

I flat out do not see anything for bones 88 or 176.

[2020-06-30 23:30] philipcmonk commented on #3075
Or I don't know, maybe it's not?  Maybe we could inject a new hoon.hoon and maybe that'll trigger gall to send a reset?

[2020-06-30 23:37] philipcmonk commented on #3069
Bones are flipped around some, i guess these are backward bones (from ~litpub's perspective), so 89 and 177 would be the relevant ones.  Can you expand the `snd` and `rcv` tabs for 89 and 177?

At any rate, ~litpub seems to have a lot more bones for ~sipwex than the reverse, which is very strange.  ~litpub, can you run `+keys ~sipwex-barfus`?  The other thing I'm wondering is whether last time ~si

[2020-06-30 23:42] joemfb commented on #1557
Udon is (still) built into the compiler, and we have more than a couple inconsistencies when it comes to detecting/enforcing EOF. So I think this is different from specific issues arising from obsolete front-end udon use-cases.

[2020-06-30 23:43] litpub commented on #3069
snd/rcv 89:

<img width="623" alt="Screen Shot 2020-06-30 at 7 42 00 PM" src="https://user-images.githubusercontent.com/61065763/86187450-0d3dd300-baf9-11ea-8b90-9e5bb7d484ef.png">

snd/rcv 177:

<img width="610" alt="Screen Shot 2020-06-30 at 7 42 13 PM" src="https://user-images.githubusercontent.com/61065763/86187451-0f079680-baf9-11ea-93d1-902f74852b9a.png">

[code]

which seems to match what's

[2020-06-30 23:44] Fang- commented on #3055
It's very much still there for me, after receiving ota and cache refreshing. Pausing the debugger ends me up in that same place (`updateContainerOffset()`), measuring performance is still filled with `setInterval` etc events...

[2020-06-30 23:45] philipcmonk commented on #3069
https://etherscan.io/tx/0x0709c36fc7f89635137a6de179986f3ae5165a7ca44df9fac93fd0ae193da758

It looks to me like the last time time ~sipwex-barfus changed keys they did *not* breach (note `discontinuous` is 0), which would explain why people they had talked are still trying to send the same messages to them.  This happens occasionally, so possibly this should be called out in Bridge more loudly.

@

[2020-06-30 23:47] matildepark commented on #3055
That’s bizarre — I’m not seeing it whatsoever whereas i was getting it nonstop. Do you have global store? (Navigate to chat, then to groups, then back to chat).

—
~haddef-sigwen
https://urbit.org

[2020-06-30 23:47] matildepark commented on #1557
Fair enough!

[2020-06-30 23:49] Fang- commented on #3055
Woah yes that works instantly and is _really_ nice. Good stuff.

[2020-06-30 23:55] matildepark commented on #3055
OK well that is technically bad because the issue persists but it doesn’t seem to be fixed by the incidental urbit-ob upgrade. Or are there just two issues here …

—
~haddef-sigwen
https://urbit.org

[2020-07-01 00:00] Fang- commented on #1332
I can probably do this for "localhost" urls. I'm not immediately sure if "ship.arvo.network" is possible though, would need to dive deep into http.c, eyre and dns again.

[2020-07-01 00:02] matildepark commented on #3055
Mmm, there may have been two issues — I do see what you mean, `updateContainerOffset()` is constantly being called for each component on screen and it uses about 8% CPU; before it was an infinite loop, tens of thousands of `null` scrollTops, around 40% or so CPU.

[2020-07-01 00:04] Fang- commented on #1617
Practically: I guess. Technically: not until frontend actually reports on its channel being closed and/or not being able to reopen another one and/or not being able to talk to the ship.

[2020-07-01 00:05] Fang- commented on #1849
Closing then. Thanks for filing anyway, @ronreg-ribdev! lmk if this still gives you trouble.

[2020-07-01 00:05] #1849 closed

[2020-07-01 00:05] philipcmonk commented on #1713
Yes

[2020-07-01 00:05] #1713 closed

[2020-07-01 00:09] philipcmonk commented on #1588
Ford is gone, and Clay handles this situation by letting you subscribe from multiple ducts, and cancelling the duct cancels all of them.  Unless there's an object, I'll close

[2020-07-01 00:09] #1588 closed

[2020-07-01 00:10] philipcmonk commented on #1435
yes

[2020-07-01 00:10] #1435 closed

[2020-07-01 00:17] belisarius222 commented on #3075
Seems worth a try.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jun 30, 2020 at 7:30 PM, Philip Monk < notifications@github.com > wrote:

[2020-07-01 00:22] belisarius222 commented on #1898
Yeah, I'd be inclined to close this unless someone has experienced something like it after ford-fusion.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jun 30, 2020 at 7:05 PM, matildepark < notifications@github.com > wrote:

[2020-07-01 00:22] ryjm commented on #3075
managed to break two other planets in a similar way - it seems like you can get your ship into a state where it's still using the old ford, even if your home hash is up to date. unfortunately, ran out of planets to test on.

how would i go about injecting a new hoon.hoon? can't get it in through herb or an OTA

[2020-07-01 00:26] joemfb commented on #1452
@belisarius222, this is no longer possible as of fusion, correct?

[2020-07-01 00:29] joemfb commented on #1547
Looks to be a duplicate of #1452.

/cc @belisarius222

[2020-07-01 00:30] belisarius222 commented on #1452
That's right; /- and /+ have been removed from dojo.  Eventually I'd like to put them back in and add the other new Ford runes, /= and /*, but since we now have the -build-file thread, that work was triaged.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jun 30, 2020 at 8:26 PM, Joe Bryan < notifications@github.com > wrote:

[2020-07-01 00:30] belisarius222 commented on #1547
Yes, it is.  Closing.

[2020-07-01 00:30] #1547 closed

[2020-07-01 00:30] #1452 closed

[2020-07-01 00:31] joemfb commented on #1406
This is fixed in #3064.

[2020-07-01 00:32] joemfb commented on #1544
This should be reviewed in light of fusion.

/cc @philipcmonk

[2020-07-01 00:33] ohAitch commented on #1452
I'm guessing &foo mark translation is dead as well? To what extend is dojo
now a pure zuse.hoon repl

On Tue, Jun 30, 2020 at 17:30, Ted Blackman <notifications@github.com>
wrote:

[2020-07-01 00:35] joemfb commented on #1732
#3041 was a significant accomplishment on this path.

[2020-07-01 00:35] joemfb commented on #1655
#3064 fixes this.

[2020-07-01 00:36] joemfb commented on #1629
While not a complete fix, #3041 significantly improves this situation.

[2020-07-01 00:39] joemfb commented on #1990
This was made obsolete by #2366.

[2020-07-01 00:39] #1990 closed

[2020-07-01 00:40] joemfb commented on #2203
#3064 fixes this.

[2020-07-01 00:41] joemfb commented on #2444
#3064 fixes this.

[2020-07-01 00:41] joemfb commented on #2418
#3064 fixes this.

[2020-07-01 00:42] joemfb commented on #2382
Fixed by fusion.

/cc @belisarius222

[2020-07-01 00:42] #2382 closed

[2020-07-01 00:44] joemfb commented on #2678
#3064 mostly fixes this (per i/o driver queues, specified prioritization order, ames' queue capped at 1K packets).

[2020-07-01 00:46] joemfb commented on #3019
This whole codepath has been rewritten in #3064, and should be much more reliable.

[2020-07-01 01:18] philipcmonk commented on #3075
FWIW I recommend people never run `|reload %f` now.  `|reset` is what you want, you need the whole update to succeed or fail.

@ryjm do you have any desks mounted?

[2020-07-01 01:24] ryjm commented on #3075
worth mentioning that this can break too your ship too if you ctrl-C it

yeah, my home desk.

[2020-07-01 01:39] philipcmonk commented on #3075
Great, try downloading this file and running urbit with `-I path/to/new-hoon.event` (that's a capital i).  https://drive.google.com/file/d/1evb3aVzCqtp7a5FTzqGK7JXqF9hs7q6A/view?usp=sharing

For posterity, this is what I used to generate the file:

[code]

I *think* if you don't have any desks mounted you can use `%$` instead of `%home`, but that would put it in `%base` before fusion, and that's n

[2020-07-01 01:42] philipcmonk commented on #1452
`&foo` works, generators in all their forms work, threads work.  I think it's just the ford runes that weren't ported over.

[2020-07-01 01:46] sipwex-barfus commented on #3069
Thanks so much everyone, so sorry for the wild goose chase. I guess with so many things going on/OTA's going out, breaches etc it became somewhat easy to conflate what could be causing what. Really appreciate it again.

As for the instructions it could be possible I didn't appropriately breach, I have a suggestion below for the instructions since they seem to differ from what is actually displayed

[2020-07-01 01:54] philipcmonk commented on #3069
Those look good to me, I might even underline "check the Breach Continuity box" or make it its own bullet.

[2020-07-01 01:56] philipcmonk commented on #1544
This is significantly better just by virtue of compiling most everything you need during the commit, crashing the event if it fails.  But more backstops would be nice.

[2020-07-01 02:01] ryjm commented on #3075
Thanks! Didn't take though - tried both %$ and %home.

[2020-07-01 02:05] philipcmonk commented on #3075
What happened, did it try to commit/reset/compile?  If it looks like it did nothing, you can run with `-v` to turn on `|verb` without a dojo.

[2020-07-01 02:08] ryjm commented on #3075
[code]
and then a bunch of ames stuff

[2020-07-01 02:10] sipwex-barfus commented on #3069
Went to edit the docs but they appear to be updated already in the repo, https://urbit.org/docs/tutorials/guide-to-breaches/ vs https://github.com/urbit/docs/blob/bc78fd93090eaf3699568e0267ef8d0f4145d7b2/tutorials/guide-to-breaches.md . Looks like someone on the urbit team just needs to push those changes to the live site (CI in the future ftw so that it's automatic :) )

[2020-07-01 02:12] #3069 closed

[2020-07-01 02:27] philipcmonk commented on #3075
Hmm, most likely your clay has a queue that it can't get through.  I tried creating an event to force reset the arvo kernel from outside arvo, but it looks like we don't actually have a way to do that.  IMO that would be a good feature.

I'm not sure if there's a way out of this except a breach.  The problem with the old Ford Turbo system was updates would sometimes be partially applied, which is

[2020-07-01 02:35] ryjm commented on #3075
damn! okay, i have a bunch of app state i'd like to export though - i can see it in the debug dashboard. if i just copy the state, is there a clever way to load it back in? could i use herb's import logic possibly?

[2020-07-01 02:39] philipcmonk commented on #3075
I don't know how much scrollback you have, but do you have `gall: %rote scry failed` in it somewhere?  I just saw that in someone else's and that's what made the update fail.  On Fusion, if your app fails to update, the commit is aborted, which is usually what you want but obviously caused a problem while transitioning away from Turbo.

You mean copy the state by just putting `.` or something in t

[2020-07-01 02:44] ryjm commented on #3075
perfect.

all my scrollback is lost now, but i'm pretty sure i know the culprit - i had srrs running, and with the removal of the old ford ruins it failed to compile. so i'm guessing gall tried to update it and failed, and since gall didn't have the change to update hood, running one of those commands probably used old ford and screwed with everything.

[2020-07-01 02:49] philipcmonk commented on #3075
Oh yeah, that's probably it.  The solution would have been to make srrs compile and then run`|reset`, but with ford reloaded out of existence, I don't know how to do that

[2020-07-01 02:50] philipcmonk commented on #3075
also @ixv and @liam-fitzgerald know more about how to preserve data across breaches

[2020-07-01 02:51] belisarius222 commented on #3075
Could we try replacing :srrs with a default app?  You could use the same exact code as in :invite-view.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jun 30, 2020 at 10:50 PM, Philip Monk < notifications@github.com > wrote:

[2020-07-01 02:53] philipcmonk commented on #3075
The problem is that he's reloaded the new dummy ford while everything else is running the old system, so pretty much anything he does turns into a failed ford message.  And we can't seem to inject stuff into clay, probably the queue got stuck (and can't |cancel without ford).

[2020-07-01 02:54] belisarius222 commented on #3075
As for force-reloading arvo from Vere … there is the external +load arm that the runtime can access.  It might not be too hard to add something like -I that runs that arm.  It would need to reload the vanes too, though, so I'm not sure that by itself would work...

—
~rovnys-ricfer
https://urbit.org

On Tue, Jun 30, 2020 at 10:50 PM, Ted Blackman < ted@tlon.io > wrote:

[2020-07-01 02:56] belisarius222 commented on #3075
Yeah, I'm not sure I know a way out of this, unfortunately.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jun 30, 2020 at 10:51 PM, Ted Blackman < ted@tlon.io > wrote:

[2020-07-01 03:02] ryjm commented on #3075
i'm noticing i can evaluate arbitrary hoon in the debug dashboard... could i force a reload from there? it's probably silo'd from the rest of arvo though huh...

[2020-07-01 03:03] philipcmonk commented on #3075
yeah the output is just sent the browser, no way to get an IO move out

[2020-07-01 03:08] ryjm commented on #3075
figured, oh well! thanks for all the help with this guys. once more into the breach...

[2020-07-01 03:09] liam-fitzgerald commented on #3075
I've just run into this on my own ship (sans `%reload %f`). Managed to hack around it with `rm -rf hastuc-dibtux/home/* && cp -r ./urbit/pkg/arvo/* hastuc-dibtux/home` and then running `|commit %home` in dojo. I wonder if you put the whole desk into an event if you could save it

[2020-07-01 03:26] joemfb commented on #1369
This is fixed in #3064.

[2020-07-01 03:27] joemfb commented on #1960
This is fixed in #3064.

[2020-07-01 03:28] joemfb commented on #3052
This is fixed in #3064.

[2020-07-01 05:31] sipwex-barfus commented on #3069
So sorry to chime in here again, I let the OTA run (110k fragments) so I stepped away and now seem to get the same error more or less. I'm positive I selected the checkbox to breach this time on a totally fresh pier (eth tx has discontinuous as true). Now I still get many `arvo: replacement event (for %hear) failed`. Looking through the scrollback on the terminal I see the following after the firs

[2020-07-01 05:46] belisarius222 commented on #3069
Can you run this?

=f -build-file /lib/sole/hoon

If you can, then you've received the ford fusion OTA and your system is at least somewhat coherent. If not, we'll have to look into it in more detail.

—
~rovnys-ricfer
https://urbit.org

On Wed, Jul 1 2020 at 1:31 AM, sipwex-barfus < notifications@github.com > wrote:

[2020-07-01 06:18] lycurgus opened #3077 "Able to talk in group Chat channels in spite of leaving the group"
**Describe the bug**
After leaving the Urbit Community group, the group and its chat channels are gone from Landscape but still appear via `;chats` in the CLI, and I can send/receive messages from them.

**To Reproduce**
Steps to reproduce the behavior:
1. Leave a group via Landscape
2. Go to Chat and note that the channels are correctly absent
3. Go to the CLI and note that the channels are still

[2020-07-01 06:18] sipwex-barfus commented on #3069
Just ran it @belisarius222 , no output(no error, nothing just goes back to terminal). Is this a good sign?

[2020-07-01 06:24] belisarius222 commented on #3069
Yes, it is! Sounds like you've entered the new world after all.

—
~rovnys-ricfer
https://urbit.org

On Wed, Jul 1 2020 at 2:19 AM, sipwex-barfus < notifications@github.com > wrote:

[2020-07-01 06:36] dpc commented on #1268
Is `urbit` going to drop priviledges if started as `root` user?

[2020-07-01 06:37] lycurgus commented on #3077
Just as a note, I was seeing basically the same behaviour as #2857 in terms the chats that I was unable to join - a "past messages are being restored" and then "select, create or join a chat". Maybe my group state was already broken and trying to leave just broke it more?

[2020-07-01 07:51] sipwex-barfus commented on #3069
Thanks again! So happy to hear :) very excited

[2020-07-01 09:25] sibwyl-batrep commented on #3075
Haven't done anything like @ryjm , but can't input anything in Dojo too...
Moreover, can’t access the landscape of the (locally) running ship. Localhost gives 404.
got the FordFusion OTA and rebooted after that. Sync was successful, but i can’t even input +trouble .

Console is all about "some-ship is ok".
But I've never get this stuff earlier:
[code]
Well, yes, vps which hosted my ship's arvo.net

[2020-07-01 11:35] sibwyl-batrep commented on #3075
Tried your thing, @liam-fitzgerald , (macOS Catalina, zsh) and the console gave me:
`no matches found: ./urbit/pkg/arvo/*`

[2020-07-01 14:43] Fang- commented on #2839
Hmm, still haven't been able to repro this, and just manually walking through the code doesn't turn up anything interesting. Are people still hitting this? @ixv, @somlus-savlev ?

The "wire not unique" printfs got slimmed down significantly in #2840. They should arguably not be happening in the first place, but I suspect any serious slowness would be gone at this point.

[2020-07-01 16:22] belisarius222 commented on #3075
Instead of `./urbit/pkg/arvo/*`, you'll need to clone this git repo and use `/path/to/repo/pkg/arvo/*`.  The idea is to delete all the files in the Unix mount folder of your ship's %home desk, then copy new files into that mount folder, then tell your ship about them by running `|commit %home` in the dojo.

[2020-07-01 17:12] sibwyl-batrep commented on #3075
@belisarius222 done the cloning. Removed the files, copied stuff from urbit-master.
After booting the ship replayed some events and started showing me:
[code]
But input/dojo is still unresponsive. :(
Don't wanna breaaaaaaaach.........

[2020-07-01 17:19] belisarius222 commented on #3075
I wonder if we could inject an %into event with -I to tell Arvo about the new filesystem.

—
~rovnys-ricfer
https://urbit.org

On Wed, Jul 1 2020 at 1:12 PM, sibwyl-batrep < notifications@github.com > wrote:

[2020-07-01 17:23] sibwyl-batrep commented on #3075
@belisarius222 Also tried (prior to replacing home) the @philipcmonk injection event. Didn't help either. But my log seems to be different from @ryjm one:

`ames: live on 0
injecting event: [0 %sync '0v1i.n3o33' 0]
["" %unix %blew //term/1 ~2020.7.1..15.29.12..45c8]
["|" %pass [%d %g] [[%deal [~sibwyl-batrep ~sibwyl-batrep] %hood %poke] /] ~[//term/1]]
["||" %give %g [%unto %poke-ack] i=/d t=~[//t

[2020-07-01 18:04] Fang- opened #3079 "Publish missing notebooks & can't subscribe"
Since the last OTA:
- a bunch of notebook disappeared from publish's sidebar,

I would've thought this was jank relating to the U-C group move, but this affects non-U-C notebooks too.

- can't seem to subscribe to new notebooks.

I've heard multiple reports of this. Someone tried joining my notebook, but couldn't get it to go through, despite us being able to `|hi` each other. When attempting to j

[2020-07-01 19:00] g-a-v-i-n commented on #2880
Ok, thank you

[2020-07-01 20:21] philipcmonk opened #3080 "chat: All unreads getting cleared occasionally"
**Describe the bug**
I saw this once during the Ford Fusion upgrade and once for sure this morning, a couple more times I think so but I'm not sure.  It affects all chats, and my best guess is that it's a side-effect of chat-trim-store

**To Reproduce**
Steps to reproduce the behavior:
1. Chat for a while
2. On refresh (not sure if you need refresh) sometimes all unread markers go away.

[2020-07-01 20:37] galenwp commented on #1332
My suggestion was just to say 'or' to leave it to the user to figure it out. It's meant to just be a suggestion.

[2020-07-01 22:20] loganallenc commented on #2839
I imagine this could have been fixed by the Linux sigsegv work Phil did.

[2020-07-02 03:47] lycurgus commented on #3077
By way of an update - ~simfur-ritwed re-added me to the group and it seems all is well now; I can access the channels that I wasn't previously able to. Apparently it may have been an issue with being in the old (dopzod) incarnation of the group, and those channels being ones that I joined via the old group.

I'm still not sure if it's expected behaviour that I was able to chat via CLI but not via

[2020-07-02 05:01] sibwyl-batrep commented on #3075
Anyway, thanks for the help to everyone. Breaching.

[2020-07-02 05:27] philipcmonk opened #3082 "eyre: Generators are called with the wrong arguments (or "who.json is broken")"
Navigating to /who.json (used by Bridge to see if a ship is running) gives

[code]

If you look at eyre and gen/who.hoon you see they don't agree on what arguments should be passed.  I think who.hoon is more correct because it makes the generator valid for the dojo as well, so i'd just add `[~ ~]` on the end of the arguments.

[2020-07-02 05:37] #3036 closed

[2020-07-02 15:59] mikegogulski commented on #3069
I was having the same problem as ~sipwex-barfus. +trouble didn't work, and didn't receive the OTA for v1.0.25.

I tried the breach/rekey/relaunch instructions as above, and now I've got a different problem on booting:
[code]

[2020-07-02 16:59] Fang- commented on #3069
@mikegogulski you're going to want to install the latest binary, and boot with that. We're on 0.10.7 now. It has a bunch of improvements, and also fixes the issue you're running into right now.

[2020-07-02 21:35] philipcmonk commented on #3082
I think I have a fix on the eyre side, but /who.json doesn't seem to get started on fakezods.  Does anyone know what's supposed to start that?

[2020-07-02 21:47] brianstrauch opened #3085 "Can't receive OTA updates from ~marpem"
**Describe the bug**
Can't receive OTA updates. Running `+trouble` gives me the base hash `0vi.m33cm.0pvjs.j53ra.06tn4.klqk2.tjlo8.ev4pa.qgr2l.lecp5.0hgjj` which is from May 20, and I constantly get this message: `arvo: replacement event (for %hear) failed`. I have tried to remedy the situation with the steps below:

**To Reproduce**
Steps to reproduce the behaviour:
1. `|cancel %base`
2. `|merge

[2020-07-02 21:49] brianstrauch commented on #2682
Same problem, haven't breached in well over a month.

[2020-07-02 21:56] gilletteonmeheleparim opened #3086 "any app I try to |start fails"
the error message I get for every app I try to |start %app:

[code]
(in this error I tried to |start %nrtx. I had the nrtx.hoon file in my home/app dir)

[2020-07-02 22:03] belisarius222 commented on #3086
If you run `+ls %/app`, do you see `/nrtx/hoon` in there?  I'm wondering if Vere failed to copy the file into your ship, in which case restarting the ship and running `|commit %home` again can resolve the issue.

—
~rovnys-ricfer
https://urbit.org

On Thu, Jul 02, 2020 at 5:56 PM, gilletteonmeheleparim < notifications@github.com > wrote:

[2020-07-03 00:14] philipcmonk commented on #3079
I see this same issue, on multiple groups.  I don't see the notebooks on the group page either.

On Wed, Jul 01, 2020 at 11:04 AM, Fang < notifications@github.com > wrote:

[2020-07-03 00:44] philipcmonk commented on #3085
Can you run |verb, wait until you get another "arvo: replacement event (for %hear) failed" error and send the stack trace that should be near it?  Then run |verb again to silence it.

On Thu, Jul 02, 2020 at 2:48 PM, Brian Strauch < notifications@github.com > wrote:

[2020-07-03 01:58] #3055 closed

[2020-07-03 01:58] #3082 closed

[2020-07-03 03:26] brianstrauch commented on #3085
@philipcmonk https://pastebin.com/4awfb4MH

[2020-07-03 04:01] rivmud-fabwen opened #3089 "planet crashed and cannot be booted again (Assertion '0 != u3R->ski.gul' failed in noun/manage.c:1121)"
**Describe the bug**
While I was away from my computer, ~rivmud-fabwen spontaneously crashed and exited back to the unix command line.  The logs show that it was receiving chat messages like normal until it logged a series of `arvo: replacement event (for %hear) failed
` events, then `Assertion '0 != u3R->ski.gul' failed in noun/manage.c:1121`, and exiting.  Booting the ship again results in the s

[2020-07-03 05:23] philipcmonk commented on #3089
This was due to insufficient virtualization of generators run by Eyre.  Specifically, `gen/acme/domain-validation.hoon` uses `.^`, so people who've used acme (https certificate handling) may run into this.

If your ship is crashing with this bug and you can't keep it up long enough to get the next OTA, download this file: https://drive.google.com/file/d/13rW6SFIQBnTx8tDFHERZSa9tiXj6GD_V/view?usp=s

[2020-07-03 06:31] #3089 closed

[2020-07-03 08:09] gilletteonmeheleparim commented on #3086
yes, it forgot to copy files over. thanks for help

[2020-07-03 08:09] #3086 closed

[2020-07-05 00:37] dpc opened #3093 "Bad Request: channel already bound"
My UI is all out of whack, and I've noticed that some requests return

[code]

My OS:

[code]

Any help would be appreciated. Thank you. :)

[2020-07-05 16:09] somlus-savlev opened #3094 "planet keeps crashing on launch"
Hello,

my planet ~somlus-savlev is not at about 45GB in size and keeps crashing on launch.  Here is a pastebin of the launch-crash sequence and messaging:

https://pastebin.com/B15qhnrE

In a prior crash it seems like I got an error that reported it had reached the 'end of the loom' or something like that.   in a possibly (?) related issue I was trying to launch a new ship as a workaround to gett

[2020-07-05 21:29] plsdlr commented on #3047
I have the same issue:  /~myapp doesn't get rendered and throws a 404, while /~myapp/index.html loads, but doesn't render correctly.

[2020-07-05 22:46] wderose commented on #2206
My ship is also looping on `subscribe wire not unique` and want to share my info:
[code]

Info:
[code]

[2020-07-05 23:09] frunjik commented on #3094
FWIW
I have the same experience -
urbit just ends with:

`work: fail: end of file Killed
`

[2020-07-06 08:36] forfel-norfel opened #3095 "urbit-worker keeps old .bak files open after deleting them, eating up lots of disk space"
I've tested this with the recovery builds from https://github.com/urbit/urbit/issues/2903#issuecomment-629553431 and https://github.com/urbit/urbit/issues/2677#issuecomment-617431649. This happens on Linux and macOS. I haven't confirmed with newer versions, but what I assume is the responsible code hasn't been updated recently.

I'm not sure how much of a problem it is during normal use, but it's

[2020-07-06 13:05] ryjm commented on #3080
I've also been seeing this.

[2020-07-06 13:31] matildepark commented on #3080
Our hypothesis, IIRC, was that this was due to the automatic chat-store trim — part of its behaviour was that it set all messages as read. After #3083 I wouldn’t expect this. (Although #3091 hasn’t gone out yet...)

I’m unsure when we get messages vs. message such that the trim may still happen occasionally and reset counts.

[2020-07-06 16:01] matildepark commented on #3093
@loganallenc Do we know about the 'channel already bound' case?

[2020-07-06 16:02] loganallenc commented on #3093
I’ll look into it. Could be a case of reusing the same channel UUID.

[2020-07-06 16:03] matildepark commented on #3077
Tagged @liam-fitzgerald because #2937 may address this in the coming days.

[2020-07-06 16:12] loganallenc commented on #3080
As soon as the aforementioned PR is live, this will no longer be an issue. (Mark fixed the %messages case)

[2020-07-06 16:25] vvisigoth commented on #3094
We'll take a look at the infura node!

[2020-07-06 18:16] philipcmonk commented on #3094
@somlus-savlev Those seem like two separate issues.  I'll restart our ethereum proxy, sometimes that seems to get stuck.

The bail: meme error is because even though you're using 900MB out of 2GB, you only have 42MB of contiguous free space, so anything except very small events can't succeed.  Last week I wrote a memory compaction algorithm that doesn't use the heap, which *should* get you out of

[2020-07-06 19:00] philipcmonk commented on #3095
Yeah, this is a real issue on the ipc-redux branch.  You don't want to delete them immediately because you can use them to recover if it dies in the middle, but you don't need more than the last one or two.

[2020-07-06 20:08] custom-jonathan commented on #3079
I'm having the same issue but with a group that my star is hosting. I moved the star to a raspberry pi, and I thought it was something to do with the move, but it seems like some people are able to join, but others are seeing a spinner, the group showing up then disappearing, being there in client but not on landscape, and receiving arvo replacement event for %hear errors, etc. Not sure it it's co

[2020-07-06 20:42] galenwp opened #3096 "Filtering on a group doesn't work"
**Describe the bug**
Type a group name into the groups filter, hit enter, the page breaks.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the groups dropdown
2. Type the groups name into the groups filter
3. Hit enter
4. Page goes blank

**Expected behavior**
Chats filtered on a group

**Screenshots**
<img width="1145" alt="Screen Shot 2020-07-06 at 1 25 50 PM" src="https://user-images

[2020-07-07 01:32] philipcmonk commented on #2359
For future reference one version of this I've seen several times is when a breach wasn't properly performed -- eg they didn't realize they couldn't just rm -rf, or they tried to breach but didn't have the "breach/discontinuous" box checked.

There may be another issue here, but the first thing is to check (ideally on both sides) what are the range of bones displayed in the debug dashboard.  If the

[2020-07-07 05:24] frunjik opened #3098 "Cannot join urbit-help after booting a new comet on 10.7"
**Describe the bug**
Booting a new comet fails on 10.7 - leaving it in an unknown state

**To Reproduce**
./urbit -c urbit_10_7

**Expected behaviour**
A fresh working comet

**Screenshots**
N/A (see log)

**System (please supply the following information, if relevant):**
 - OS: linux64 (ubuntu)
 - Vere version ?
 - Urbit OS version: 10.7
 - Your ship's `%base` hash (use `.^(@uv %cz /=base=)` to c

[2020-07-07 07:27] mocknotes commented on #3095
Approx. how much disk space would be recommended to use `ipc-redux-replay-recovery` binary. I want to get my ship running again and don't want to run out space during the replay process. My pier is currently 8GB.

[2020-07-07 13:22] custom-jonathan opened #3100 "Group Weirdness"
**Describe the bug**
Strange group behavior: Inviting ship (~roswet) could send to receiving ship (~minder-folden) and both can `|hi` each other. ~minder can accept invitation to the group, and the group channels are visible in group management area immediately after accepting. The group, however, does not show up in the group management page's left sidebar even after waiting awhile. The member cu

[2020-07-07 14:49] matildepark commented on #3100
Suspect this is a dupe of #2857, addressed by #2937. Though I would also ask that you ensured you removed your old ship from the group before reinviting?

[2020-07-07 14:54] Fang- commented on #3098
This looks like it worked more or less fine. It's just that we no longer use the `%base` desk, so it would give you `0v0` on new ships.

Is there anything about this comet that's not working as expected?

[2020-07-07 16:32] frunjik commented on #3098
I would expect to be able to join/see urbit-help ?

You are correct that it does not seem totally broken.
I can login (now) and get landscape up - but i cant join the chats, page is empty.

I think I got confused after trying to (unsuccessfully) breaching my main ship, leaving it in an unknown state.
So I wanted to join chat with a comet and ask for help, that not possible..

[2020-07-07 19:09] Fang- commented on #3098
Hmm, not sure why you wouldn't be able to join chat. Just in case, you tried joining `~/~dopzod/urbit-help`, right? Can you `|hi ~dopzod` successfully?

If you can't boot urbit/get connected, support@tlon.io is always there. If you want chat instead, you could try [pal.dev/lobby](https://pal.dev/lobby).

Yeah, we need to come up with a better `+trouble` implementation that can deal with cases like

[2020-07-07 19:18] frunjik commented on #3098
Yes - i can |hi ~dopzod successfully.
How do I join chat ~/~dopzod/urbit-help from dojo ?

I have indeed trouble getting my (original) ship back up and running.
I have tried several attempts but no success (and I have no clue what I'm doing).
I felt like asking support@tion.io is not a good (scalable) solution and was / am trying to figure it all out ...

So what would be the best way to get some

[2020-07-07 20:02] forfel-norfel commented on #3095
You might need a terabyte to do the entire thing non-stop.

For perspective, my data.mdb file is 5.5GB and it contains ~16 million events. I just had it replay from 2000001 to 2500000, which used up almost 6GB while it was running, because it was keeping 25 deleted copies of north.bin.bak open, so the space couldn't be reclaimed. north.bin was around 200MB near the start, but closer to 300MB by th

[2020-07-07 20:52] botter-nidnul opened #3101 "acme: unable to retrieve self-hosted domain validation token"
**Describe the bug**

I moved ~botter-nidnul to a new server (with new IP address) and breached.  Setcap was used to allow urbit to bind to ports below 1024, and http runs on port 80 (`http: live (insecure, public) on 80`)

After `-dns-address &dns-address [%if .178.170.10.5]` was processed and I confirmed that botter-nidnul.arvo.network was pointing to the correct address I went to setup https wi

[2020-07-07 21:00] #3098 closed

[2020-07-07 21:00] frunjik commented on #3098
Solved by manually entering the chat ship from landscape

[2020-07-07 21:10] Fang- commented on #3098
Think I just saw you post on urbit-help successfully. There's usually people around who can help there.

support@tlon.io may not be scalable, but we're pretty comfortable with the current load on that. Don't hesitate to get in touch, we'd be happy to help you! (:

[2020-07-07 21:30] tobyshorin commented on #2682
started having this issue after latest OTA, makes it impossible to issue commands

[2020-07-07 21:49] loganallenc commented on #2982
This is no longer an issue due to Phil's fix for libsigsegv, which caused allocation of memory to be excessively slow non-deterministically. https://github.com/urbit/urbit/pull/3054

[2020-07-07 21:49] #2982 closed

[2020-07-07 21:50] loganallenc commented on #3028
Closed by #2937.

[2020-07-07 21:51] loganallenc commented on #3080
Fixed by https://github.com/urbit/urbit/pull/3083

[2020-07-07 21:51] #3080 closed

[2020-07-07 22:12] vvisigoth commented on #2682
@philipcmonk is the best option here still to revert to 10.4? and use `|knob` ?

[2020-07-07 23:30] botter-nidnul commented on #3101
Another user reported running into the same problem on urbit-help, without doing the `:acme &path` command between `-dns-address &dns-address [%if .1.2.3.4]` and `:acme %retry`

[2020-07-07 23:37] Fang- commented on #3101
Does your home desk hash match the "base hash"? Alternatively, if home doesn't match, but kids does, are `.^(@uv %cz /=home=/sys)` and `.^(@uv %cz /=kids=/sys)` equivalent?

Someone else reported this to me about a week ago. I thought that https://github.com/urbit/urbit/issues/3089#issuecomment-653355919, which has since gone onto livenet, might have fixed this, so you want to make sure you have t

[2020-07-07 23:52] tacryt-socryp opened #3102 "|reset is broken on vanilla master"
Type `|reset` into a freshly booted ~zod or ~bus. Get a %net-need doesn't match a %net-have.

[2020-07-08 00:01] philipcmonk commented on #3102
Here's a trace of it failing with the laconic bit unset: https://pastebin.com/U5GLAULe

The issue is that gall's molting is triggered by a sign from gall/dojo instead of like usual from clay.  So gall tries to `%huck` the sign through behn so it can molt and then process the sign.  However, the sign includes the source vane which makes it trivially type-fail, but more generally `%huck` requires to

[2020-07-08 02:19] botter-nidnul commented on #3101
You were correct, /sys hashes don't match:

[code]
[code]

[%base-hash 0vc.5mb6v.nqu78.n190s.qdfcr.5o28s.kcf0q.nuem2.9d4p8.06sp7.dhk61]
[%home-hash 0vj.rea4s.613h7.iu7sr.vj4s3.84jhu.vkk0n.s4chk.v1cuf.46er0.tfcsa] (I have publish notebooks)
[%kids-hash 0vc.5mb6v.nqu78.n190s.qdfcr.5o28s.kcf0q.nuem2.9d4p8.06sp7.dhk61]

I've tried |merge %home our %kids with %fine %meet %mate and %meld strategies. Is

[2020-07-08 03:03] belisarius222 commented on #3102
This is my fault.  I'll fix it.

I do think hucking is the right thing to do here.  If we need to add $sign-arvo to behn's gifts, then I think that's just the price we pay for using it as a generic relay.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jul 07, 2020 at 8:01 PM, Philip Monk < notifications@github.com > wrote:

[2020-07-08 03:07] philipcmonk commented on #3102
One possibility is to have an explicit Behn sign `[%heck sign-arvo]` which Gall explicitly calls its own +take with.

[2020-07-08 03:41] belisarius222 commented on #3102
That's a cool idea.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jul 07, 2020 at 11:07 PM, Philip Monk < notifications@github.com > wrote:

[2020-07-08 03:45] belisarius222 commented on #3101
Ford Fusion broke `|reset`, and I haven't fixed it yet, so don't run that just yet.

You can check whether you at least got the Ford Fusion OTA (which was two or three OTAs ago) by running:
[code]
If that produces no errors, you've received that OTA.

[2020-07-08 04:03] botter-nidnul commented on #3101
I breached just after urbit-os-v1.0.25 was released and booted up with a Ford Fusion-having pill, so at least that much is good.

I'm interested in how to |merge to %home desks that don't want to be merged, without destroying things like publish notebooks in %home. Maybe that doesn't matter? I'm not certain what happens when the notebook files are removed from the desk, i.e. if the notebook is als

[2020-07-08 05:31] botter-nidnul commented on #3101
Yes, removing the notebook files from the %home desk with a `gem =%that` merge removes the notebook from the publish app.

Seems I was stuck on the 1.0.25 version from the boot pill and later OTAs were being downloaded but not merged. (I had noticed the %kids desk wasn't updating, I had to do `gem =%that` mergers from my sponsor to get it updated)

Immediately after the upgrade to 1.0.28:
[code]

[2020-07-08 16:18] matildepark commented on #2634
We have so much usage that basically Weather is inoperable for most users. I'd personally advocate moving to [OpenWeather](https://openweathermap.org/); but I have to look into what needs changing on back-end.

For example:

- Their request format for latlong isn't one string, it's [separated lat and long params](https://openweathermap.org/current#geo)
- Otherwise we should be ok just using "weath

[2020-07-08 20:18] rmariani opened #3111 "Messages do not get sent to chats from Landscape + arvo: replacement event (for %hear) failed"
**Describe the bug**

- My messages do not get sent to chats in Landscape. They stay greyed out.
- I repeatedly received `arvo: replacement event (for %hear) failed`. I know that this usually happens after a breach and clears up, but I breached over a week ago and this is still a problem.
- I was able to send messages for a little bit before I encountered this problem and after my breach.

**Scree

[2020-07-08 20:27] rmariani commented on #3111
Ok, looks like the messages are indeed sending from Landscape, but I cannot see them send on Landscape and I cannot see any other messages on Landscape.

<img width="1155" alt="Screen Shot 2020-07-08 at 1 26 50 PM" src="https://user-images.githubusercontent.com/10265578/86966878-b0f13980-c11e-11ea-9add-a125f421be54.png">

[2020-07-08 22:52] dpc commented on #3093
Is there anything I can collect that would be of any help? I am considering just breaching and wiping my ship.

[2020-07-08 23:06] philipcmonk commented on #3101
So you were able to merge `%that` from parent's %kids to your %kids?  If you merge from %kids to %home, what error does it give?  There was a brief time when it didn't print which files conflicted, which could be happening now.

Assuming that any changes you have to %home are in files which aren't in %kids, you can mount both, `cp pier/kids/* pier/home`, unmount %kids, then commit %home.  This sho

[2020-07-08 23:15] philipcmonk commented on #2682
No, ships running 10.4 may not be able to talk to more recent ships.

The thing to do is run `|verb` (warning: a lot of output) to see if you get a stack trace next time it happens and post that, and that'll give something we can actually debug.  Unfortunately this message simply means "an error occurred while processing a packet".

@tobyshorin Can you elaborate on "makes it impossible to issue co

[2020-07-09 01:44] lycurgus opened #3113 "Chat shows a spuriously large number of unread messages in the tab title"
**Describe the bug**
I have a few unread messages in urbit-help (counting on the CLI it looks like there are 7 that I haven't seen). I don't have unread messages in any other channels. The tab title shows "OS1 - Chat (2352)" which is much higher than it should be.

As new messages come in on other channels, the number increases as expected (e.g. with one new message in another channel I get 2353),

[2020-07-09 03:48] lycurgus commented on #3113
In what seems like a related occurrence, after some time (without having loaded urbit-help since reporting the issue, in the hopes of being able to provide some investigation/detail) I went back into Chat and while urbit-help is still marked as having unread messages, the tab title just reads "OS1 - Chat" with no unread count.

I'll continue to not load u-h via Landscape in case keeping the page i

[2020-07-09 07:29] lycurgus opened #3114 "Chat glyphs collide after joining enough channels"
**Describe the bug**
I'm a member of 28 chats. There are 27 unique glyphs available for applying to chats. As a result, two of my chats have the same glyph.

**To Reproduce**
Steps to reproduce the behavior:
1. Join 28 chats
2. Issue a `;what` in chat-cli
3. See that two chats have the same glyph

**Expected behavior**
Glyphs should not be applied to chats if all the available glyphs are already u

[2020-07-09 14:40] ryjm opened #3115 "tab completion in chat-cli completes without prefix char"
**Describe the bug**
In chat-cli, seem like the command tab completion triggers without the necessary prefix char (`;` in chat-cli) but not with it.

**To Reproduce**
Hit tab at a clear prompt in chat-cli, see completions for ; commands. Enter ; and hit tab, no more completions.

**Expected behaviour**
Should see completions after ;

**Notify maintainers**
@Fang-

I have a pretty simple fix for it

[2020-07-09 15:07] ryjm opened #3116 "bail:meme on a breach-peer"
[code]

I also noticed ~littel-wolfur was sending thousands of `%plea`s to ~middev, and I have over 9000 behn timers.

![image](https://user-images.githubusercontent.com/2065299/87057080-6cc07080-c1d4-11ea-90eb-ae0be3e7c53d.png)

[2020-07-09 15:57] Fang- commented on #3093
This seems like maybe a frontend/channel.js issue? Certainly not breach-worthy.

Have you tried cache-refreshing (usually ctrl-shift-r or similar) to make sure you're loading in the latest js? (I would expect it to have cleared by now, but just in case.)

Might be interesting to go to the debug dashboard at `/~debug` (maybe run `|start %dbug` if you haven't yet), click "eyre" in the sidebar, and s

[2020-07-09 16:22] Fang- commented on #3114
Yeah, chat-cli's glyphs kind of lose their luster once you start being in many chats. Then, I guess that holds true for chat-cli in general.

This can't be related to #3113, as chat-cli doesn't touch unread counts, and is just a client to chat-store, just like landscape is.

Do you have a proposal for expanding the space of available glyphs? If not, I'd be tempted to close this as "wontfix until w

[2020-07-09 16:25] dpc commented on #3093
I did notice that opening in incognito etc. fixes the issue, but after not too long it seems to reappear.

[2020-07-09 16:39] dpc commented on #3093
Yesterday I did some fighting an cleaning up. I left many rooms to see if it helps, rejoined some that I wanted most. I think there was an OTA a day earlier or even yesterday, and now things ... stabilized a bit?

[2020-07-09 16:50] ryjm commented on #3116
managed to get through this by compacting ala #3099, but i think it's only a matter of time before it bail memes again, as the timers are still there.

[2020-07-09 17:02] Fang- commented on #3116
9000+ timers is [a lot](https://www.cowcotland.com/images/news/2010/03/Its_over_9000.jpg), and it'd be good to find out why you have so many, but I doubt those are the root cause of your bail: meme.

Meme is strictly about memory. You were probably trying to process something big, and already had low amounts of memory available. You can run `|mass` and take a look at its output to get a sense of t

[2020-07-09 17:05] dpc commented on #3093
I'm going to close for now and reopen if I'm able to reproduce. Thanks!

[2020-07-09 18:42] ryjm commented on #3116
yeah so that's what i did at first, noticed my freelists were 450mb, compacted, and that fixed it. but i'm pretty sure everytime those timers go off, free lists goes up by a fair amount.

i'll try to measure it the next time it happens.

[2020-07-09 18:52] ryjm commented on #3116
nevermind, must've been something else.

my sweep is pretty high though - 950MB.

[2020-07-09 23:14] lycurgus commented on #3114
My suspicion of the relation to 3113 was rather that _Landscape_ was somehow getting confused by the duplicate glyphs and potentially misattributing something - but I suppose if it was something like that, I'd need to have thousands of unreads against some channel for it to get wrong, whereas it seems to be creating them out of thin air at present... Not to mention that I don't imagine Landscape's

[2020-07-10 18:30] dpc commented on #3093
I got my ship doman in arvo.network working, but the problems re-appear.

In JS console I see 404 errors from the ship.

[code]

I can't find that channel in the `~debug`, which matches the 404, I guess.

But then why would UI ask for it in the first place?

[2020-07-10 18:37] dpc commented on #3093
Something in Urbit is being confused when I use the domain names to access my ship, and the ssh tunnel to localhost works just fine.

First it's

![Screenshot from 2020-07-10 11-35-39](https://user-images.githubusercontent.com/9209/87187131-84195f80-c2a1-11ea-9f46-50f738c7dd1f.png)

then

![Screenshot from 2020-07-10 11-37-25](https://user-images.githubusercontent.com/9209/87187282-c5117400-c2a1-1

[2020-07-10 20:35] forfel-norfel opened #3117 "Pack doesn't work in some cases where I assume it should"
I've been running the `ipc-redux-replay-recovery` binary from https://github.com/urbit/urbit/issues/2903#issuecomment-629553431 on macOS to recover, running it in batches of 1m events, and it's worked well so far, until getting to 12720438.

Apparently I care more about fighting bugs than actually getting my planet running, since I opted not to breach back in May, or at any point since then.

I st

[2020-07-11 05:52] botter-nidnul commented on #3101
Thanks, manually merged in urbit-os-v1.0.28 to home on the unix side of things and then fixed the merge history with `|merge %home our %kids, =gem %this`. Hopefully OTAs will proceed normally now.

Still find it disturbing that `|commit`ing nothing more than a publish notebook onto my pristine boot pill home hash caused it to be unable to automerge, and even worse that the failure was mostly silen

[2020-07-11 05:52] #3101 closed

[2020-07-11 15:56] bcomnes commented on #2903
@dclelland I'm getting a similar situation, I can quickly get to my failure point using `ipc-redux-replay-recovery` but at a loss as to how to get past it.

Did you keep trying with the `-r 5000 -n 10000` flags (making it fail nearly immediately)? Or did you switch bins again?

Last few lines before crash:

[code]

[2020-07-11 17:23] finled-bansel opened #3118 "Weather tiles fails to render data"
**Describe the bug**
The weather app fails to render the responses from the ship and gets stuck showing `Loading, please check again later...`

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new development ship
2. Open Landscape
3. Enter some location for the weather app
4. Renders properly
5. Refresh.
6. Gets stuck on the `Loading, please check again later...` message

**Expected b

[2020-07-11 19:25] matildepark commented on #3118
As I said out of band:

![image](https://user-images.githubusercontent.com/20846414/87232139-b488f880-c38a-11ea-870c-aab14cdd0513.png)

[2020-07-11 20:25] bcomnes commented on #2903
Just replayed after clearing `./urb/roc` and `.urb/chk`, it now immediately crashes:

[code]

Any other steps I can take to try and make more progress?

[2020-07-11 21:34] bcomnes commented on #2903
Ok here is a weird detail, if I resize the window it crashes, but the urbit worker keeps going in the background.

[2020-07-11 21:58] jfranklin9000 commented on #2903
[code]
You deleted `./roc/10000.jam` when you deleted `./urb/roc`.

[2020-07-12 00:33] kennyrowe opened #3119 "Chat Subscriptions dropping"
I've been experiencing what seems to be subscriptions getting dropped. I can sometimes get chat messages if I refresh landscape but `|hi`ing a host ship seems to reconnect. example below.

I've seen a few other messages that imply this is happening for more than just me, but I can't confirm this.

[code]

[2020-07-12 20:26] h5gq3 opened #3120 "app installation error"
when I try to install srrs app on my planet's landscape, after entering command `:launch &launch-action [%add %srrs [[%basic 'srrs' '/~srrs/srrs.png' '/~srrs'] %.y]]`, I'm getting the following output:
[code]

I can't remember anymore what was the output when I did `|start %srrs` but what I currently have is just an empty tile slot on my landscape that renders nothing
I tried and could install srr

[2020-07-12 20:27] gilletteonmeheleparim commented on #3120
I opened the issue originally here: https://github.com/ryjm/srrs/issues/11

[2020-07-12 23:06] lycurgus commented on #3119
I'm seeing the same thing. I received no messages over the course of the weekend and had a flood of them come in after `|hi`-ing ~dopzod and ~darrux-landes (and that flood only contained messages from chats hosted by those two ships. Others are still presumably in the unsubscribed state).

[2020-07-13 00:56] kennyrowe commented on #3119
Ok so it’s not just me. The issue does not resolve itself by running |hi
but does download past messages

On Sun, Jul 12, 2020 at 16:07 lycurgus <notifications@github.com> wrote:

[2020-07-13 15:04] ryjm commented on #3120
i wonder if the OTA failed to apply to your home desk, since this seems to be using old ford?

i would try merging %base into %home again and see whether the OTA takes.

[2020-07-13 15:05] bcomnes commented on #2903
Ok, I got it working.  After clearing out `chk` and `roc`, I ran the `ipc-redux-replay-recovery` for ~3 days.  The key to success was never resizing the terminal which would make it crash (and if this does happen, clearing out any remaining urbit worker processes).

I mistook these crashes for failures, but they are not, just urbit being sensitive to term resizes.

Now I am back up and running.  S

[2020-07-13 17:25] kennyrowe commented on #3119
@lycurgus did this clear up for you? Sounds like ~zod was having issues. It seems to have cleared up for me

[2020-07-13 17:32] Fang- commented on #3114
It's only half a solution, but fwiw using a glyph bound to multiple targets select the most recently active target.

https://github.com/urbit/urbit/blob/69f8602e55c9467f6a8b714af5cd9ecd7224eb04/pkg/arvo/app/chat-cli.hoon#L421

There might be a command line renaissance on the horizon. No timeline yet, but I'm personally excited about giving people the cli apps they deserve.

[2020-07-13 17:53] Fang- commented on #3117
Did this auto-pack in between? You might be able to get past this if you can get a `|pack` to run at some point. #3099 makes improvements in that area. iirc auto-pack is still disabled on that branch, but maybe there's a flag for turning it back on?

Packing will get you a smaller rock, which you should be able to load in without bailing... assuming that's what the problem here is. Others might wa

[2020-07-13 17:56] #3100 closed

[2020-07-13 17:56] #3002 closed

[2020-07-13 17:57] matildepark commented on #3111
I am guessing you lost your channel but you could still poke, thus if you refreshed they would show up.

[2020-07-13 17:58] matildepark commented on #3111
If so, this is a dupe of #1862 and this can be closed in favour of it.

[2020-07-13 18:16] matildepark commented on #2828
From [CodeMirror release notes](https://codemirror.net/doc/releases.html), as of 5.55.0 / June 21:

- The editor no longer overrides the rendering of zero-width joiners (allowing combined emoji to be shown).

Next release of Landscape should patch this since we `npm install` on release.

[2020-07-13 19:55] dclelland commented on #2903
I can say that I also ran into the same issue when I was running `ipc-redux-replay-recovery` - couldn't so much as breathe on it or else it would crash.

[2020-07-13 20:17] #3111 closed

[2020-07-13 21:08] lycurgus commented on #3119
Yep, looking good for me now as well.

[2020-07-13 21:42] tobyshorin commented on #2682
my base hash ends hqci4, I understand that should match this if I do have the most recent update? but yes, `replacement event (for %hear) failed` spams my console. the only time I can reliably input any commands is right after restarting my ship. I will try sending you some stack traces

[2020-07-13 21:46] #3119 closed

[2020-07-13 23:45] philipcmonk commented on #2682
hqci4 is from April 2, so it's quite old now.  Your ship will need to update to the most recent hash.  This normally happens automatically, but various things can interfere with that (especially before the "Ford Fusion" update a couple weeks ago, and if you're constantly getting these errors that take a long time to process, it'll take forever to download it the normal way anyway.

So we'll need t

[2020-07-14 00:04] liam-fitzgerald commented on #3113
can you run `config:(~(got by inbox) /~/~dopzod/urbit-help)` in your debug dashboard, under apps > chat-store > query state? should look like this. your debug dashboard is at `/~debug` and you'll need to start it with `|start %dbug` in the dojo, if you haven't already.
![Screen Shot 2020-07-14 at 10 02 01 am](https://user-images.githubusercontent.com/46801558/87365280-2d6d9780-c5b9-11ea-9c92-d237b

[2020-07-14 00:11] lycurgus commented on #3113
Currently that gets me `[length=67.887 read=67.886]` - but I had opened urbit-help recently and the unread count is back to normal values, at least for now. I'll keep an eye on it and query the config if the unread counts go wild again. Anything else I should keep an eye out for?

[2020-07-14 00:52] liam-fitzgerald commented on #3113
...weird, ~dopzod itself only reports urbit-help as having ~3k messages. I'd be pretty shocked if these are all duplicates. This might be related to its recent breach. How long have you been in urbit-help for?

[2020-07-14 01:03] liam-fitzgerald commented on #2863
This is pretty usual react behaviour around duplicate keys. We can either
a) discard uuids as keys and use the index of the array until graph-store lands. This will cause minor perf issues because react it impairs react's diffing algorithm.
b) Dedupe messages JS-side
c) do nothing until graph-store lands, which will fix this.

[2020-07-14 01:15] lycurgus commented on #3113
I've been in urbit-help approximately since booting the ship into the current era, which was late January this year.

[2020-07-14 01:21] liam-fitzgerald commented on #3113
did you have to rejoin after ~dopzod breached?

[2020-07-14 01:25] lycurgus commented on #3113
I don't think so, no. I did have to leave and rejoin the Community group after it switched, but I stayed in urbit-help for the duration.

[2020-07-14 01:27] liam-fitzgerald commented on #3113
Leaving and rejoining urbit-help should fix your issue. If it pops up again after rejoining, then let me know and I'll look into it further.

[2020-07-14 01:29] lycurgus commented on #3113
Ok, will do. Just as a note, the higher count just came back, and the debug state query gave me `[length=70.882 read=67.886]`. Will do the leave and rejoin and see if it brings the count back down :)

[2020-07-14 01:34] lycurgus commented on #3113
Looks good after a leave and rejoin. I'll keep an eye on it but I think this one can be closed for now.

[2020-07-14 01:34] liam-fitzgerald commented on #3113
Thanks!

[2020-07-14 01:34] #3113 closed

[2020-07-14 13:24] gilletteonmeheleparim commented on #3120
how do you see the old ford usage? I was told home hash and base hash don't have to match as when you edit your landscape (install new apps, etc), the home hash changes. I'm not sure...
there might be another issue because an error was already at |start %srrs point where it should run even with non-latest versions? or no?

[2020-07-14 14:16] liam-fitzgerald commented on #2567
confirmed out of band to be closed

[2020-07-14 14:16] #2567 closed

[2020-07-14 14:23] matildepark commented on #2699
Out of band conversation about approach:
![image](https://user-images.githubusercontent.com/20846414/87437281-19776500-c5bc-11ea-9b95-d3935b7cc8f4.png)

[2020-07-14 14:55] tobyshorin commented on #2682
Thanks Philip. After I `|mount /=base=` seems like I should be seeing the /base/ directory inside my pier shouldn't I?
<img width="397" alt="Screen Shot 2020-07-14 at 10 54 19 AM" src="https://user-images.githubusercontent.com/8751378/87440935-868cf980-c5c0-11ea-8806-cfb3f78d8d18.png">

[2020-07-14 15:22] philipcmonk commented on #2682
Ah, if you don't, then try running |cancel %force several times until it
says cue-length=0

On Tue, Jul 14, 2020, 07:55 Toby Shorin <notifications@github.com> wrote:

[2020-07-14 19:00] ryjm commented on #3120
those `ford: %call execution failed` lines are from old ford i believe.

[2020-07-14 20:00] belisarius222 commented on #3120
Yes, that error message is indeed from old Ford.

—
~rovnys-ricfer
https://urbit.org

On Tue, Jul 14, 2020 at 3:00 PM, Jake Miller < notifications@github.com > wrote:

[2020-07-15 09:49] mikegogulski commented on #3069
Thanks, that fixed it.

[2020-07-15 14:58] gilletteonmeheleparim commented on #3120
is `|merge %home our %base` the command to do it? I did it and I'm getting a lot of these errors now after it's been merging for a while:
[code]

[2020-07-15 18:05] belisarius222 commented on #3120
It might be trying the ford fusion OTA, the first half of which will spit out lots of errors like that. I'd let it run for a while and see if it eventually reloads the kernel.

—
~rovnys-ricfer
https://urbit.org

On Wed, Jul 15 2020 at 11:07 AM, gilletteonmeheleparim < notifications@github.com > wrote:

[2020-07-15 20:29] vvisigoth opened #3132 "Paste broken in web dojo"
**Describe the bug**
Pasting something into the web dojo breaks input.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ~dojo
2. try to paste in some text
3. try to edit pasted text
4. nothing works

**Expected behavior**
Pasted text doesn't behave differently than normal text

**Additional context**
An error is shown when you paste
[code]

[2020-07-15 20:34] matildepark commented on #3132
Browser?

[2020-07-15 20:36] matildepark commented on #3132
Oh it's looking like [Babel did this](https://github.com/babel/babel/issues/5085), ok let me see how to amend the build.

[2020-07-18 23:26] SaulMoonves opened #3141 "planet errors after breach ames: larva: drain crash"
**Describe the bug**
I did a breach and created a new pier with my key file and I get a bunch of errors like:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1.breached continuity using bridge
2. ./urbit -p 12321 -w molten-magnum -k molten-magnum.key

**Expected behaviour**
Usually after some compilation I end up with a working pier

**Screenshots**
I attached a log file. Unfortunately

[2020-07-19 16:09] SaulMoonves commented on #3141
After waiting a long time, everything seems to have stabilized and an OTA was downloaded and applied.

[2020-07-19 16:09] #3141 closed

[2020-07-20 00:06] ixv commented on #3079
I suspect there are multiple issues here. Removing metadata associated with a defunct group fixed this problem for @philipcmonk

To do that, run `:metadata-store +dbug [%state '~(key by group-indices)']` to get a list of all the groups you have metadata for. If there are any groups in that list you know to be defunct, run `:metadata-store [%cleanup /group/path]` for it. Note that that list of grou

[2020-07-20 04:58] tylershuster commented on #3085
Much to my embarrassment, ~marpem has had some issues. I switched to another host and they do not seem to be managing it optimally. If I don't get this resolved soon, I'll have to do something else. This may not be an issue with urbit, but we haven't quite pinned down why it's happening.

[2020-07-21 02:00] philipcmonk commented on #3079
Another thing that worked for someone is navigating directly to the notebook by typing in the url, then clicking "unsubscribe".  This made the notebook re-appear in their group page.

[2020-07-21 09:29] dclelland commented on #3094
Suspect I'm running into a similar issue - my planet runs for only a wee bit before I hit

[code]

Full log: https://pastebin.com/JL8aYpPP

Would I be able to try out that PR?

[2020-07-21 10:57] dclelland commented on #3094
Oh, I found it, assume it's ready to go?

https://github.com/urbit/urbit/pull/3099

[2020-07-21 11:20] dclelland commented on #3094
I ran your new binary and my planet is still launching and crashing after a short while; here's the log: https://pastebin.com/nrtDwX6T

[2020-07-21 16:04] philipcmonk commented on #3094
Hmm, it looks to me like you did the right thing, can you run |mass now?

On Tue, Jul 21, 2020, 04:20 Daniel Clelland <notifications@github.com>
wrote:

[2020-07-21 20:25] #2818 closed

[2020-07-21 20:25] #3053 closed

[2020-07-21 20:25] #3096 closed

[2020-07-21 20:25] #2699 closed

[2020-07-21 20:25] #3118 closed

[2020-07-21 20:49] matildepark commented on #2983
I really want to focus on this this week because Urbit Community is c h o n k y

[2020-07-21 22:38] dclelland commented on #3094
I made the mistake of attempting to run `|pack` last night, and now it crashes consistently on startup, and additionally renames `north.bin` and `south.bin` to `north.bin.bak` and `south.bin.bak`.

https://pastebin.com/GhDpGvw3

`north.bin` is quite big, for the record.

[code]

Time to try replaying the event log with `ipc-redux-replay-recovery` perhaps...

[2020-07-22 05:00] philipcmonk commented on #3094
You shouldn't have to replay if you have the .bak files.  What you're going to want to do is rename the .bak files to not have ".bak" in the name and then disable |pack in the binary you're running.  I think this binary will work for you since it redefines `|pack` to do something less aggressive and much safer:

MacOS: https://bootstrap.urbit.org/a580f964166cd41bd618529a5982b8d84c2ac4e6-darwin.tgz

[2020-07-22 06:56] dclelland commented on #3094
Oh wow, thanks a lot Philip. Looks like that got me past the inadvertent `|pack` call.

Results from `|mass`: https://pastebin.com/7zsiWQp9

[2020-07-22 07:07] philipcmonk commented on #3094
Okay, it looks like you've got 1GB contiguous free space now, which is a
lot. It should run without crashing now.

On Tue, Jul 21, 2020, 23:56 Daniel Clelland <notifications@github.com>
wrote:

[2020-07-22 14:57] custom-jonathan commented on #3079
When you say `:metadata-store [%cleanup /group/path]` what part of this should I use, as I'm seeing a couple different ways of representing groups? (some with the t=/ part in it. I'm not sure how much to include, or what to leave out of the %cleanup command).

[code]

[2020-07-22 18:36] ixv commented on #3079
Ah, those are all paths suffering from an unfortunate rendering issue, the `i` and the `t` are both parts of the path, so for the first one for example it would be `/~minder-folden/---the-sanctorium`, the second one would be `/~/~timbud-sivtun/dm--minder-folden`

[2020-07-22 18:55] custom-jonathan commented on #3079
I ran debug, found the ~roswet group, ran the cleanup, didn't see anything after running the debug again. Reinvited ~minder-folden from ~roswet. Invite came through fine. Accepted the invite with ~minder-folden, and it still had the hiccup of ~minder-folden not displaying any of the custom avatars for members, nor having the group show up in my sidebar when I left and came back.

[2020-07-22 19:00] #2623 closed

[2020-07-22 19:00] #3132 closed

[2020-07-22 19:00] #3102 closed

[2020-07-22 19:35] philipcmonk commented on #3094
Looks like this is working for everyone now

[2020-07-22 19:35] #3094 closed

[2020-07-23 00:29] nrhtr opened #3151 "July 23rd/22nd OTAs both wiped most of my Publish subscriptions"
**Describe the bug**
The last two OTAs seem to have applied cleanly, except for the fact that many of my Publish subscriptions no longer show up in Landscape. After the first OTA, I re-joined a few but this latest OTA has wiped them again.

I still have all my group memberships, and this only appears to affect the Publish app. Rejoining each of the notebooks works to resolve this but it's a pain.

[2020-07-23 13:47] Zaphod101010 opened #3157 "Error during OTA. crud: %drip-fail event failed"
Failed update from 03noj -> jp5fi.

Stack trace: https://hatebin.com/hfdhgortiw

[2020-07-23 13:52] Zaphod101010 opened #3158 "unexpected scry into %group-store"
Error is here: https://hatebin.com/adikznjdny

[2020-07-23 13:54] sivner-figbus opened #3159 "Base hash displayed in Landscape doesn't match +trouble"
**Describe the bug**
As of today's OTA (it's 20200723 1400 UTC) the basehash displayed in dojo in response to "+trouble" does not match that displayed on the front page of Landscape.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'dojo'
2. Type '+trouble'
3. Observe '0vk.c90mr.psja5.f7gfu.e1fm1.dgt61.9iv7q.6ripd.dklhc.vr8lo.jp5fi'
4. Go to Landscape
5. Observe bottom left corner of sc

[2020-07-23 14:05] mike-cr opened #3160 "Group member list should sort by privilege"
The member list on the group settings page should put admins at top, then mods and so on. At the moment they're arbitrarily distributed in the member list

[2020-07-23 14:07] matildepark commented on #2828
Unfortunately still an issue, so I was wrong about that potential remedy.

[2020-07-23 15:34] matildepark commented on #3159
~sorpex presents a hint:

![image](https://user-images.githubusercontent.com/20846414/88306266-8683ac80-ccd8-11ea-8c4e-bf0f19d3147b.png)

[2020-07-23 16:20] jalehman opened #3161 "Chat channels formerly within specific groups now appear under Direct Messages"
**Describe the bug**
The channel `~darrux-landes/general` was formerly listed under the **Urbit Community** group, as it should be. After the Groups refactor (current base hash is `3p5fi`) it now appears under the Direct Messages section.

There were a few other chat channels that had appeared under Direct Messages from groups I'd left in the past, but I left them before thinking to file this repo

[2020-07-23 18:21] matildepark opened #3162 "chat-cli has issues with new groups"
Attempting to create a chat produces an error that implies sig-prepended paths are still in chat-cli.

[code]

The chat lists are a hodgepodge of path formats (`~/~ship/chat, `~//chat-name`, `~ship/chat`) ...

[2020-07-23 18:25] custom-jonathan opened #3163 "Subscribers Page Remains Blank"
**Describe the bug**
Click on "subscribers" of my notebook and the page remains blank regardless of refreshing, clearing cache, or restarting browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to notebook.
2. Click on subscribers.
3. See nothing.

**Expected behavior**
See the sidebar of notebooks along with the main area showing subscribers to the notebook.

**Screenshots**
If appl

[2020-07-23 18:29] matildepark commented on #3163
A patch awaits in #3153!

[2020-07-23 18:42] matildepark opened #3164 "chat: migrated direct messages only function for owner"
- If you owned the DM, the other user(s) appear in the members list and appear normally. You can send messages. Because they post to your ship, it appears functional.
- Other users in the DM cannot post any messages. They don't receive any, either.

This is a difficult problem to even isolate because if you delete the DM as the owner, the chat persists in their sidebar, and reinviting them will ju

[2020-07-23 18:52] matildepark commented on #3161
You may be right on this — the case as I've heard it recorded so far:
- The users were in the old UC before it migrated from ~dopzod to ~bitbet-bolbel
- The only chat this is happening to in any report is this General chat

My hypothesis without knowing your inbox state and your associations state is that the migration case dropped the Chat because it placed it in the old UC? What I would try:

1.

[2020-07-23 20:24] risruc-habteb commented on #3161
I had this behavior, followed direction above.

Upon rejoining UC, I saw the normal/full list of channels(including General).

I rejoined all chat channels, but General still shows up under DM's.

Also, 'General' now does not show up under the group's channels (it did when I first rejoined.)

[2020-07-23 22:10] somlus-savlev opened #3167 "Obliteration of group chat when a public chat of the same name exists on the same planet"
Hello,

There is a public chat "sigils" on somlus-savlev and also a private chat "sigils" in the "Art by Urbit" group on the same planet.  A recent OTA has resulted in the group chat "Sigils" disappearing for all ships who are subscribed to both the public chat and also the group chat.  Ships that are not subscribed to the public chat have not seen a disappearance of the group chat by that name.

[2020-07-24 01:27] liam-fitzgerald commented on #3157
would you mind providing the result of `:metadata-store +dbug [%state '~(key by group-indices)']` when run in dojo?

[2020-07-24 03:31] Zaphod101010 commented on #3157
[code]

[2020-07-24 03:48] matildepark commented on #3157
look at that clever minder-folden ...

[2020-07-24 03:56] philipcmonk opened #3172 "kh: Running urbit-king didn't use the urbit-worker that I downloaded"
I had an `urbit-worker` in `~/.nix-profile/bin`, which is in my path, so when I ran `./urbit-king run wicdev` it tried to use that one instead of the downloaded one.  It worked when I ran it as `PATH=.:$PATH ./urbit-king run wicdev`.  Maybe we should check the current directory even if it's not in the `$PATH`?

cc @pilfer-pandex

[2020-07-24 04:55] ohAitch commented on #3172
s/current directory/directory containing argv[0]/

On Thu, Jul 23, 2020 at 20:56, Philip Monk <notifications@github.com> wrote:

[2020-07-24 05:07] joemfb commented on #3172
Vere just spawns `concat(argv[0], "-worker"` -- king-haskell could similarly spawn `argv[0] | sed 's/king/worker'`, perhaps first checking that `argv[0]` ends with `urbit-king`. (In the meantime, there is a `--serf` argument that can be used to specify the path to an `urbit-worker` binary.)

With the terminfo hack removed, maybe we want to encourage people to add urbit to their $PATH, or install i

[2020-07-24 05:23] #3052 closed

[2020-07-24 05:23] #1960 closed

[2020-07-24 05:23] #1369 closed

[2020-07-24 05:24] #2418 closed

[2020-07-24 05:24] #2444 closed

[2020-07-24 05:24] #2203 closed

[2020-07-24 05:25] #1655 closed

[2020-07-24 05:25] #1406 closed

[2020-07-24 13:33] mike-cr opened #3175 "urbit-king doesn't print the http port in the dojo on boot"
**Describe the bug**
urbit-king doesn't print its http ports in the dojo when it boots, unlike the c king which says:
http: web interface live on http://localhost:8081
http: loopback live on http://localhost:12321
(or whatever)

**To Reproduce**
Steps to reproduce the behaviour:
1. spin up pier with urbit-king
2. look at what it spits out in the terminal

**Expected behaviour**
It should behave li

[2020-07-24 14:02] custom-jonathan commented on #3175
And when I start up with urbit-king, my packets take forever to send/receive anywhere other than the group I host.

[2020-07-24 14:09] eglaysher commented on #3172
Was able to temporarily work around this by running: `./urbit-king run --serf=./urbit-worker littel-ponnys/`

[2020-07-24 17:37] pilfer-pandex commented on #3172
Yeah, this is a known and longstanding problem, and there's basically no
good solution to it. (For example, Joe's `sed` solution fails if you've put
the binaries in a directory called "king" and started the program from the
parent directory with the command "king/urbit-king." Phil's "checking the
current directory" solution (which I think means consing "." onto PATH
before spawning the child proce

[2020-07-24 17:45] philipcmonk commented on #3172
The closest to the previous behavior would be to not use sed but just check
the last 10 characters of argv[0] are 'urbit-king' and change them to
'urbit-worker', which seems like it should work as long as you put both
binaries in the same directory and don't rename them (or alias them?).

The goal is just to make it work right 98% of the time, and if someone has
an unusual setup they can use --ser

[2020-07-24 17:52] joemfb commented on #3172
Yeah, I agree that we really just care about the happy path here. I've never heard if any issues with the way vere does this, and it covers all the cases we care about.

(And no, we shouldn't actually shell out to system utilities. This being haskell, I assume their are path parsers that let you precisely extract/match/replace the last path element, if you want to avoid finicky string manipulation

[2020-07-24 17:58] pilfer-pandex commented on #3172
What was this library?

On Fri, Jul 24, 2020 at 10:53 AM Joe Bryan <notifications@github.com> wrote:

[2020-07-24 18:00] joemfb commented on #3172
https://github.com/urbit/whereami

[2020-07-24 18:03] pilfer-pandex commented on #3172
This is a C library, no?

—
~pilfer-pandex

On Fri, Jul 24, 2020 at 11:00 AM Joe Bryan <notifications@github.com> wrote:

[2020-07-24 18:04] joemfb commented on #3172
Yeah, I was conveying the history of this functionality in vere.

[2020-07-24 18:15] joemfb commented on #2032
Closing per #2101 and the absence of subsequent reports.

[2020-07-24 18:15] #2032 closed

[2020-07-24 18:17] joemfb commented on #1981
Closing, as all known underlying issues have been fixed in #3064. Please re-open if process hangs reoccur.

[2020-07-24 18:17] #1981 closed

[2020-07-24 18:20] joemfb commented on #2721
Fixed in #2820.

[2020-07-24 18:20] #2721 closed

[2020-07-24 18:29] #3019 closed

[2020-07-24 18:37] joemfb commented on #2678
We'll probably want to revise the %ames limits in various ways, and we'll likely need to cap inbound http as well, but the current behavior is adequate. Closing as "resolved".

[2020-07-24 18:37] #2678 closed

[2020-07-24 19:51] eglaysher opened #3176 "king haskell ames messaging can be slow."
We have some reports from users (and me) that when starting king haskell, ames messages stop sending/receiving. I restarted ~littel-ponnys with `urbit-king` and then couldn't get send messages for 10 minutes, before I gave up, restarted with c vere, and the messages went out almost immediately.

I've seen reports of this on Urbit and mentioned offhand in a different bug:

---

And when I start up

[2020-07-24 20:05] pilfer-pandex commented on #3176
My understanding is that Elliot encountered this issue with the urbit-king in the 10.8 release. If you want to run KH experimentally, please use http://bootstrap.urbit.org/ipc-redux-rc1-darwin.tgz or http://bootstrap.urbit.org/ipc-redux-rc1-linux64.tgz as appropriate, and let me know if you still see this problem.

[2020-07-24 20:06] eglaysher opened #3177 "king haskell's log file is spammy and will fill up the disk."
I've been running king haskell for about 13 megabytes in ~20 minutes. Looking at the file, it looks like it's printing all the JSON being sent over the wire.

[2020-07-24 20:07] pilfer-pandex commented on #3175
@custom-jonathan, where did you get your binaries from? Does problem recur if you use http://bootstrap.urbit.org/ipc-redux-rc1-darwin.tgz or http://bootstrap.urbit.org/ipc-redux-rc1-linux64.tgz?

(Note: KH is still experimental, so be careful.)

[2020-07-24 20:09] eglaysher commented on #3176
One thing that could be a coincidence, but might be related is that there's a lot more "flapping" ("; ~x is not responding" "; ~x is ok" immediately after each other) on king haskell than there is on vere.

[2020-07-24 20:13] custom-jonathan commented on #3175
I got the binaries from the urbit.org installation setup for linux instructions. Straight copy/pasted them. I reverted to using just ./urbit for now. I'm willing to live life on the edge, but don't want to tinker with my main ship as I know just enough to really screw myself up!

[2020-07-24 20:28] matildepark commented on #3028
See above!

[2020-07-24 20:28] #3028 closed

[2020-07-24 20:29] matildepark commented on #3033
@urcades are we ... any better with this now? After #3067 I think this lined up.

[2020-07-24 20:30] matildepark commented on #2908
Fixed by #3023.

[2020-07-24 20:30] #2908 closed

[2020-07-24 20:32] matildepark commented on #2857
Fixed by #2937.

[2020-07-24 20:32] #2857 closed

[2020-07-24 20:33] matildepark commented on #2863
@Fang- #3122 included a potential fix for this — curious if this persists at all, even though it's hard to repro.

[2020-07-24 20:34] matildepark commented on #2811
Fixed by #2937 — you can leave and rejoin groups without hitting a contacts object desync.

[2020-07-24 20:34] #2811 closed

[2020-07-24 20:36] matildepark commented on #2783
Superseded by changes to create flow, as of #3133.

[2020-07-24 20:36] #2783 closed

[2020-07-24 20:37] matildepark commented on #2374
It doesn't! As of #3112. Thanks @Fang-

[2020-07-24 20:37] #2374 closed

[2020-07-24 20:39] matildepark commented on #1862
Fixed by #3138.

[2020-07-24 20:39] #1862 closed

[2020-07-24 20:40] matildepark commented on #1677
This is symptomatically fixed, in that you're really unlikely to hit this (we upped the limits), but I don't know if we fixed handling. Good to close @tacryt-socryp ?

[2020-07-24 20:41] tacryt-socryp commented on #1677
Handling was fixed too. Good to close!

[2020-07-24 20:41] #1677 closed

[2020-07-24 20:42] matildepark commented on #1664
@jtobin How are you feeling about this? The build process has changed significantly, we don't ship compiled JS in git anymore, development workflows use a dev-server and deployment uses a CDN. Webpack is installed with the `npm install`, so the build command only assumes npm.

[2020-07-24 20:43] matildepark commented on #1617
@Fang- dope, we did — #3138.

[2020-07-24 20:43] #1617 closed

[2020-07-24 20:44] Fang- commented on #2863
I did actually see this just today. I'd take a screenshot, but the chat it happened in also suffers from weird scrollback loading, so I can't get web to actually load the offending message now.

Will try to remember to report back when I encounter it again!

[2020-07-24 20:45] matildepark commented on #1332
A pseudo-fix, the best of all fixes, in #3092.

[2020-07-24 20:45] #1332 closed

[2020-07-24 21:09] mdecerbo opened #3179 "urbit crashes with core file, then unable to restart"
**Describe the bug**
A long-running urbit 0.10.7 session crashed with a core dump and issued `bail:meme` and `pier: work error: end of file` when I try to restart. I downloaded urbit 0.10.8 and got another core dump with different error messages.

**To Reproduce**
1. Notice that a core dump appeared at 0153 CET and a long-running urbit process terminated.
2. Attempt to restart with `urbit $SHIPNAM

[2020-07-24 21:18] philipcmonk commented on #3179
On v0.10.8, running `|pack` should fix this.  Do *not* run this on v0.10.7 (though if you do, you should be able to recover by killing the process and just booting on v0.10.8).

If it crashes before you have a chance to run `|pack`, you should be able recover by running from unix `urbit-worker pack $SHIPNAME`

[2020-07-24 21:18] philipcmonk commented on #3179
Also while the above should fix this, the output of `|mass` would be interesting to see what's using so much memory.

[2020-07-24 21:29] jtobin commented on #1664
Definitely safe to retire this one. :+1:

[2020-07-24 21:29] #1664 closed

[2020-07-24 21:42] jtobin commented on #1710
I think this one can be closed now that Landscape's minified JS is not included in Arvo's source.

[2020-07-24 21:42] #1710 closed

[2020-07-24 22:02] joemfb commented on #3176
@pilfer-pandex, the v0.10.8 release is the exact same thing as those rc1 binaries.

[2020-07-25 02:46] mdecerbo commented on #3179
Thanks for looking at this. I exited my web browser (the only other process consuming appreciable memory) and restarted urbit 10.8 in the hope of running `|mass`.

Unlike previously, urbit didn't crash immediately; but following `pier: live` the terminal displays a dojo prompt with a rotating cursor which doesn't respond to keystrokes. urbit-worker has been running at nearly 100% CPU for over four

[2020-07-25 05:34] mike-cr opened #3187 "king haskell kills ships when shutting down multiple ships"
**Describe the bug**
If haskell king is running multiple ships in daemon mode and you SIGTERM the king it seems to have to kill the ships rather than close them normally, so next time you start them they have to replay events.

**To Reproduce**
Steps to reproduce the behaviour:
1. urbit-king run -d -p \<port\> \<pier1\> \<pier2\>
2. killall urbit-king
3. examine urbit king output then restart ship

[2020-07-25 09:24] joemfb commented on #2861
Closing, as this #2923 released with ford fusion (merged in 3daecd8c1).

[2020-07-25 09:24] #2861 closed

[2020-07-26 14:50] famousj opened #3189 "Crash with symlink"
**Describe the bug**
Instead of running
[code]

I had created a symlink to the `urbit` executable.  When I tried running the symlink, it crashes.

**To Reproduce**
Steps to reproduce the behaviour:
1.  ln -s $PWD/urbit-v0.10.8-darwin/urbit .
2. ./urbit $PIER_NAME

**Expected behaviour**
The 0.10.8 executable just starts running

**Screenshots**
[code]

**System (please supply the following informa

[2020-07-26 22:43] deploradude opened #3190 "Crash on startup due to memory issues, not fixed with |pack"
**Describe the bug**
Receive this on startup, indicating full use of memory.  Only difference in recent days is importing ~400 entries of legacy internet 'blog.  Loaded once and used |pack as recommended, but then failed again.  Now bails every time.  Cannot run |mass as cannot access dojo.

urbit 0.10.8
boot: home is /home/span/urbit/docteg-mothep
loom: mapped 2048MB
lite: arvo formula 50147a8a
l

[2020-07-26 23:18] deploradude commented on #3190
Ubuntu 20

[2020-07-27 02:06] vvisigoth commented on #3187
Whoa good bug

On Fri, Jul 24, 2020 at 10:35 PM mike-cr <notifications@github.com> wrote:

--
—
~poldec-tonteg
http://urbit.org

[2020-07-27 04:27] matildepark opened #3191 "kiln: OTA to %home failed, waiting for next revision"
~bitpyx-dildus is on 1.0.29 (pre-groups refactor) still. I suspended and resumed the ship and used `|ota ~samzod %kids` to prompt the OTA again. It immediately responded:

[code]

Is there a reason it can't try 1.0.31, if 1.0.32 doesn't merge properly? @philipcmonk @liam-fitzgerald

[2020-07-27 04:32] liam-fitzgerald commented on #3191
This is a `%mate` conflict, which means that there's something preventing a merge. The conflict should just be some small debug printf or whatever that's been put in. I'll have a look at ~bitpyx. @philipcmonk is there any way to get an annotated conflict?

[2020-07-27 12:34] gilletteonmeheleparim commented on #2944
similar issue here. booted a comet and went to join urbit-help from landscape but it's not progressing past "Past messages are being restored"

[2020-07-27 13:52] Fang- opened #3193 "Weird behavior around salvaging public chats"
Recent OTAs broke public chats I was hosting (or, at least, made people drop their subscriptions to them). Figured this was a good opportunity to turn those chats into groups, but then ran into the following:

- Created a new group. Because its name was identical to the chat(?), the chat was automatically in the group's list of channels.
- Joined the group from my planet. This worked fine, but did

[2020-07-27 15:25] rbpaul commented on #3191
I have the same issue with the ota
    kiln: OTA to %home failed, waiting for next revision from %kids on ~ranten
    %mate-conflict

Also, when I run +trouble on ~walmer-bolfet, it returns:
    %base-hash . . . jp5fi
    %home-hash . . . 52688
    %kids-hash . . . 03noj

%home-hash 52688??

[2020-07-27 15:30] Fang- opened #3194 "Landscape stopped updating, but no "disconnected" indicator"
As it says on the can, landscape (chat) wasn't getting updates anymore. Unread markers weren't clearing when I browsed to them, new chat messages weren't coming in. I could still send, and would see that appear in chat-cli shortly after, but web wouldn't see them.

There was no indicator near the top of the screen, nor any interesting output in browser console.

[2020-07-27 15:40] rbpaul commented on #3069
I am also getting this "error" running trouble:

~motlyd-lonmes-walmer-bolfet:dojo> +trouble|
bail: 4
! /cs/~walmer-bolfet/kids/1/late/foo
[%dojo-lame %arvo-response]
! /cs/~walmer-bolfet/kids/1/late/foo
[%dojo-lame %arvo-response]
! /cs/~walmer-bolfet/kids/1/late/foo
[%dojo-lame %arvo-response]

Any fix?

[2020-07-27 16:10] mike-cr opened #3195 "Chat: Linkification of urls adds \n's, ignores backticks and breaks multiline messages"
**Describe the bug**
If you write the message `test http://example.com test` in chat it'll convert it to:

and it turns a multiline message like:

[code]
into:

that is, it appends the first word of the second line to the end of the url

additionally, it linkifies urls regardless of whether they're in backticks and so breaks formatting of code blocks

**To Reproduce**
Steps to reproduce the behavi

[2020-07-27 16:29] philipcmonk commented on #3190
It's very strange that it looks like it's running out of memory while replaying events.  If they didn't run out of memory the first time, why would they the second time?  Maybe it's because we send several events at once, and it doesn't have room to store them?  cc @joemfb

Can you run `./urbit-worker grab PIER`?  That runs |mass without having to actually start up, so hopefully that works.  Also

[2020-07-27 16:55] galenwp opened #3196 "Eyre errors, %eyre-no-channel"
**Describe the bug**
I see regular stream of

[code]

in my scrollback

**To Reproduce**
Steps to reproduce the behaviour:
Not sure exactly, but I imagine it's due to something Landscape-related

**Expected behaviour**
Not seeing these errors

**System (please supply the following information, if relevant):**
 - OS: Ubuntu
 - Vere and Urbit OS versions: 10.7 / `jp5fi`

[2020-07-27 16:59] deploradude commented on #3190
grab output:

`loom: mapped 2048MB
boot: protected loom
live: logical boot
boot: installed 268 jets
serf: measuring memory:
  warm jet state: B/288
  cold jet state: B/288
  hank cache: B/288
  battery hash cache: B/288
  hot jet state: KB/124.408
total jet stuff: KB/125.560
  bytecode cache: B/288
total nock stuff: B/288
  memoization cache: B/288
total road stuff: B/288
total marked: KB/126.136

[2020-07-27 17:00] deploradude commented on #3190
pack:

`loom: mapped 2048MB
boot: protected loom
live: logical boot
boot: installed 268 jets
urbit-worker: pack: gained: KB/13.900`

[2020-07-27 17:00] deploradude commented on #3190
Sorry for formatting

[2020-07-27 17:01] deploradude commented on #3190
![image](https://user-images.githubusercontent.com/66261425/88569969-3f175c00-d009-11ea-82e6-8870d43ceac5.jpeg)

[2020-07-27 17:07] deploradude commented on #3190
Just kidding ...

![image](https://user-images.githubusercontent.com/66261425/88570467-20659500-d00a-11ea-9ced-460f23916838.jpeg)

[2020-07-27 17:08] deploradude commented on #3190
![image](https://user-images.githubusercontent.com/66261425/88570548-3a9f7300-d00a-11ea-9c25-cc37aa1527c2.jpeg)

[2020-07-27 17:24] philipcmonk commented on #3191
I'm guessing ~bitpyx had an OTA manually copied in with no `%this` merge afterwards.  The solution is to copy the newest OTA manually into `%home` and then remember to run `|merge %home (sein:title our now our) %kids, =gem %this`.

[2020-07-27 17:25] matildepark commented on #3191
~novlud patched bitpyx, this is ok now.

—
~haddef-sigwen
https://urbit.org

[2020-07-27 17:30] matildepark commented on #3196
Still getting this, Galen? I think this was a side effect of an infinite loop we stumbled into propagating group updates on loop. It seems to have quieted on my ship.

—
~haddef-sigwen
https://urbit.org

[2020-07-27 17:32] matildepark commented on #3196
Ah, I still see some. Sorry — hosted ships have a slight delay it seems.

[2020-07-27 17:37] philipcmonk commented on #3191
Assuming he did this manually, I'll reiterate that this problem will show up on every OTA if we don't merge with `%this` afterward.

[2020-07-27 18:32] jtobin commented on #357
@joemfb Was this one resolved by #2285 afterwards?

[2020-07-27 18:36] matildepark commented on #3196
I think you're right that this happens during use of Landscape. In particular this happens when I navigate to another chat — we send a request to mark the chat read every time we click on a chat and scroll down or up IIRC, and that seems to instigate this for me.

[2020-07-27 18:36] jtobin commented on #1488
Is this one still relevant after recent work?

cc @joemfb @philipcmonk @belisarius222

[2020-07-27 18:44] philipcmonk commented on #1488
The title is fixed, but the comments are still not.  I.e. apps don't retain references to old kernels, but cold jet state does.

[2020-07-27 18:51] joemfb commented on #357
There's a fix on a branch (`na-release/next-vere`), but it'll require a breach to release it.

[2020-07-27 19:11] philipcmonk commented on #3069
This is fixed in an OTA, but not in the pill, so it'll still crash until you get your first OTA.  We'll probably push a new pill later this week.

[2020-07-27 19:13] philipcmonk commented on #3194
Have seen this occasionally as well.  FWIW I usually test this with a DM to myself.  LMK if there's anything I should check when this happens.

[2020-07-27 19:14] philipcmonk commented on #3189
It needs the `urbit-worker` binary to be accessible.  Your best bet is probably to symlink that into the same place as `urbit`.

[2020-07-27 20:23] tacryt-socryp commented on #3196
This occurs when a channel is sent a request from the JS but that channel does not exist or has already been cleaned up. The question here is: why is a nonexistent channel being sent requests? It doesn't cause any problems for this to occur, but we should start automatically establishing a new channel occasionally if we receive enough errors. Hmm... Will look into this behavior. Can't recreate on

[2020-07-27 21:30] sebinsua commented on #3189
I had the same issue and it was fixed by making sure each of the binaries was in the same location.

My error was caused because I did not realise there were multiple binaries. After I extracted the tarball I copied one of the binaries somewhere else and did not realise there were others.

[2020-07-27 22:32] tacryt-socryp commented on #3196
Marking as not an issue, as it’s expected (and fine) behavior.

[2020-07-27 22:36] joemfb commented on #3190
This is a *very* full loom, and already mostly compacted, so the |pack gains are minimal. Full deduplication would help here (ie, the previous |pack), but we don't yet have an implementation that can handle such a full memory arena.

I think @philipcmonk is right, this is failing because v0.10.8 batches replay events, and you're right up against the limit.

The basic recovery approach will be as f